<header data-header>
  {{ "JOURNAL_VOUCHER.TITLE" | translate }}
</header>

<main>
  <div class="row">
    <div class="col-xs-8">
      <div class="panel panel-primary">
        <div class="panel panel-heading">
          {{ "JOURNAL_VOUCHER.TITLE" | translate }}
        </div>
        <div class="panel-body">
          <form class="form-horizontal">

            <div class="form-group">
              <label class="control-label col-xs-2">{{ "COLUMNS.DESCRIPTION" | translate }}</label>
              <div class="col-xs-10">
                <input class="form-bhima" ng-model="data.description" required>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-6">
                <div class="form-group">
                  <label class="control-label col-xs-4">{{ "COLUMNS.DATE" | translate }}</label>
                  <div class="input-group col-xs-8">
                    <span class="input-group-addon">
                      <i class="glyphicon glyphicon-calendar"></i>
                    </span>
                    <input type="date" class="form-bhima" ng-model="data.date" required>
                  </div>
                </div>
              </div>

              <div class="col-xs-6">
                <div class="form-group">
                  <label class="control-label col-xs-4">
                    {{ "COLUMNS.REFERENCE" | translate }}
                  </label>
                  <div class="input-group col-xs-8">
                    <span class="input-group-addon">
                      <i class="glyphicon glyphicon-file"></i>
                    </span>
                    <input class="form-bhima" ng-model="data.reference" required>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group" ng-if="session.comment">
              <label class="control-label col-xs-2">{{ "COLUMNS.COMMENT" | translate }}</label>
              <div class="col-xs-10">
                <input class="form-bhima" ng-model="data.comment" required>
              </div>
            </div>

            <div class="form-group" ng-if="!session.comment">
              <p class="form-control-static col-sm-offset-2">
                <a ng-click="session.comment=!session.comment">
                  <i class="glyphicon glyphicon-list-alt"></i>
                  {{ "JOURNAL_VOUCHER.ADD_COMMENT" | translate }}
                </a>
              </p>
            </div>

          </form>
        </div>
        <table class="table table-condensed">
          <thead>
            <tr>
              <th style="width:50%">{{ "COLUMNS.ACCOUNT" | translate }}</th>
              <th>{{ "COLUMNS.DEBIT" | translate }}</th>
              <th>{{ "COLUMNS.CREDIT" | translate }}</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="row in data.rows">
              <td>
                <div class="input-group">
                  <span class="input-group-btn">
                    <a class="btn btn-sm btn-default" ng-click="row.selectEntity=!row.selectEntity">
                      <i class="glyphicon" ng-class="{ 'glyphicon-user' : !row.selectEntity, 'glyphicon-th-list': !!row.selectEntity}"></i>
                    </a>
                  </span>

                  <input
                    class="form-bhima"
                    ng-if="!row.selectEntity"
                    ng-model="row.account"
                    typeahead="account as account.account_number for account in accounts.data | filter:$viewValue | limitTo:8"
                    typeahead-on-select="selectAccount(row, account)"
                    typeahead-template-url="accountListItem.tmpl.html"
                    placeholder="{{ 'SELECT.ACCOUNT' | translate }}"
                  >

                  <input
                    class="form-bhima"
                    ng-if="!!row.selectEntity"
                    ng-model="row.deb_cred"
                    typeahead="e as e.text for e in entities | filter:{type : session.type} | filter:$viewValue | limitTo:8"
                    typeahead-on-select="selectDebCred(row)"
                    typeahead-template-url="entityListItem.tmpl.html"
                    placeholder="{{ 'SELECT.DEB_CRED_UUID' | translate }}"
                  >
                  <span class="input-group-btn dropdown" ng-if="!!row.selectEntity">
                    <a class="btn btn-default dropdown-toggle">
                      {{ session.type | uppercase }}
                      <span class="caret" data-caret="&#9660;"></span>
                    </a>
                    <ul class="dropdown-menu">
                      <li><a ng-click="session.type='d'">{{ "COLUMNS.DEBTOR" | translate }}</a></li>
                      <li><a ng-click="session.type='c'">{{ "COLUMNS.CREDITOR" | translate }}</a></li>
                    </ul>
                  </span>
                </div>
              </td>
              <td><input type="number" class="form-invoice" min="0" placeholder="0.00" ng-model="row.debit" ng-change="totalDebit()"></td>
              <td><input type="number" class="form-invoice" min="0" placeholder="0.00" ng-model="row.credit" ng-change="totalCredit()"></td>
              <td><a ng-click="remove($index)" class="danger" ng-if="data.rows.length>2"><i class="glyphicon glyphicon-trash"></i></a></td>
            </tr>
            <tr>
              <td></td>
              <td>{{ session.totalDebit || 0 }}</td>
              <td>{{ session.totalCredit || 0 }}</td>
              <td><i class="glyphicon" ng-class="{ 'glyphicon-ok-circle text-success' : session.totalDebit==session.totalCredit, 'glyphicon-ban-circle text-danger': session.totalDebit!=session.totalCredit }"></i></td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th colspan="4">
                <a ng-click="addRow()">
                  <i class="glyphicon glyphicon-plus-sign"></i>
                  {{ "JOURNAL_VOUCHER.ADD_ROW" | translate }}
                </a>
              </th>
            <tr>
          </tfoot>
        <table>
      </div>
    <div>
  </div>
</main>

<script type="text/ng-template" id="entityListItem.tmpl.html">
  <a class="clk">
    <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
  </a>
</script>

<script type="text/ng-template" id="accountListItem.tmpl.html">
  <a class="clk">
    <span ng-if="match.model.account_type=='title'" class="text-danger">
      <i class="glyphicon glyphicon-exclamation-sign"></i>
    </span>
    <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
    <span>-- {{ match.model.account_txt }}</span>
  </a>
</script>

