<header data-header>
  {{ 'SETTINGS.TITLE' | translate }}
</header>

<main>
  <div class="row">
    <div class="col-xs-5">
      <div class="form-group">
        <label for="select-language">{{ "SETTINGS.LANGUAGE" | translate }}</label>
        <select id="select-language" ng-options="language.id as language.name for language in SettingsCtrl.languages" ng-model="SettingsCtrl.language" ng-change="SettingsCtrl.updateLanguage()" class="form-bhima">
          <option value="" disabled="disabled" selected>{{ "SELECT.LANGUAGE" | translate }}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="select-default"></span> {{ "SETTINGS.HOME_PAGE" | translate }}</label>
        <select id="select-default" class="form-bhima">
          <option selected>{{ "SETTINGS.LAST_PAGE" | translate }}</option>
        </select>
      </div>
    </div>
  </div>

  <button ng-if="!!SettingsCtrl.url" class="btn btn-sm btn-default" ng-click="SettingsCtrl.back()">
    <span class="glyphicon glyphicon-circle-arrow-left"></span> {{ "UTIL.BACK" | translate }}
  </button>
</main>

