<!--Create Account stylesheet-->
<link rel="stylesheet" href="partials/accounts/create_account/create.css">

<!--Create Account Markup-->
<header>
  Account Management
</header>
<section class="underline">
  <!-- <button class="btn btn-default btn-sm">antyhing</button> -->
  <div class="pull-right">
    <button class="btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil"></span> Create Chart of Accounts</button>
  </div>
</section>

<div class="content">

  <!--Note that that column classes should be used with rows to ensure corred padding -->
  <div class="row">

    <div class="col-xs-8">
      <form>
        <div class="form-group">  

        </div>
      </form>
    </div>
    <div class="col-xs-4">
      <!--Accounts grid to be populated-->
      <div id="account_grid" class="grid"></div>
    </div>
  </div>
</div>

<section class="overline underline">
  <div class="pull-right">
    <button class="btn btn-default btn-sm"><span class="glyphicon glyphicon-floppy-save"></span> Save Changes</button>
  </div>
</section>