<!--Create Account Markup-->
<header>
  {{ "ACCOUNT.TITLE" | translate }} 
</header>

<section class="top-nav">
<!-- <button class="btn btn-default btn-sm">antyhing</button> -->
  <button ng-click="updateState('edit')" class="btn btn-default btn-sm">
    <span class="glyphicon glyphicon-plus"></span> {{ "ACCOUNT.ADD" | translate }}
  </button>
  <div class="pull-right">
      <button disabled class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-pencil"></span> {{ "ACCOUNT.CREATE" | translate }} 
      </button> 
      <a ng-href="#/reports/chart_of_accounts" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-list"></span> {{ "ACCOUNT.GENERATE" | translate }}
      </a>
  </div>
</section>

<div class="content">

  <!--Note that that column classes should be used with rows to ensure corred padding -->
  <div class="row">

    <div class="col-xs-3">
      <div ng-switch on="session.state">
        <div ng-switch-default>
          <div class="alert alert-info">
            <p>{{ "ACCOUNT.HELP_TXT_1" | translate }} <b>{{enterprise.name}}</b></p>
            <p>{{ "ACCOUNT.HELP_TXT_2" | translate }}.</p> 
            <p>{{ "ACCOUNT.HELP_TXT_3" | translate }}.</p>
          </div> 
        </div>

        <div ng-switch-when='edit'> 
          <div class="panel panel-default">
            <div class="panel-heading">
              {{ "ACCOUNT.NEW" | translate }}
            </div>
            <div class="panel-body">
              <form novalidate name="form">

                <div class="form-group">
                  <label for="title">{{ "ACCOUNT.ACCOUNT_TITLE" | translate }}</label>
                  <input required type="text" id="title" class="form-kapok" ng-model="newAccount.title">
                </div>

                <div class="form-group">
                  <label for="type">{{ "ACCOUNT.ACCOUNT_TYPE" | translate }}</label>
                  <select required  id="type" class="form-kapok" ng-options="c.type for c in model.accountType.data" ng-model="newAccount.type">
                    <!--Placeholder options-->
                    <!-- <option>Title</option> -->
                    <!-- <option>Balance Account</option> -->
                    <!-- <option>Income/Expense Account</option> -->
                  </select>
                </div>
                
                <div class="form-group">
                  <label for="number">{{ "ACCOUNT.ACCOUNT_NUMBER" | translate }}</label>
                  <input required type="text" id="number" class="form-kapok" ng-model="newAccount.number">
                </div>

                <div class="form-group">
                  <div class="radio">
                    <label>
                      <input type="radio" name="option_fixed" id="fixed" value="true" ng-model="newAccount.fixed" checked>
                      {{ "ACCOUNT.FIXED" | translate }}
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" name="option_variable" id="variable" value="false" ng-model="newAccount.fixed">
                      {{ "ACCOUNT.VARIABLE" | translate }} 
                    </label>
                  </div>
                </div> 
              </form>
            </div> <!--panel body-->
          </div> <!-- panel-->

          <div class="panel panel-default">
            <div class="panel-heading">
              {{ "ACCOUNT.ACCOUNT_GROUP" | translate }}
            </div>
            <div class="panel-body">
              <div class="form-group">
                <label for="parent" class="required">{{ "ACCOUNT.TITLE_ACCOUNT" | translate }}</label>
                <select required  id="parent" class="form-kapok" ng-options="c.account_txt for c in model.account.data | filter: {account_type_id: 3}" ng-model="newAccount.parent">
                  <!--Placeholder options-->
                  <option value="">{{ "ACCOUNT.ROOT_ACCOUNT"  | translate }}</option>
                </select>
              </div> 
            </div>
          </div> 
          <button ng-disabled="form.$invalid" ng-click="submitAccount(newAccount)" class="btn btn-success">
            {{ "FORM.SUBMIT" | translate }} 
          </button>
        </div>
      </div>
    </div> <!--ng-switch-->
    <div class="col-xs-9">
      <!--Accounts grid to be populated-->
      <div id="account_grid" class="grid" style="max-height: 480px"></div>
    </div>
  </div>
</div>

