<!--Create Account stylesheet-->
<link rel="stylesheet" href="partials/accounts/create_account/create.css">

<!--Create Account Markup-->
<header>
  Account Management
</header>
<section class="underline">
<!-- <button class="btn btn-default btn-sm">antyhing</button> -->
<button class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus"></span> Add Account</button>
  <div class="pull-right">
    <button disabled class="btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil"></span> Create Chart of Accounts</button>
  </div>
</section>

<div class="content">

  <!--Note that that column classes should be used with rows to ensure corred padding -->
  <div class="row">

    <div class="col-xs-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          New Account 
        </div>
        <div class="panel-body">
          <form novalidate name="form">
          <div class="form-group">
              <label for="title">Account Title</label>
              <input required type="text" id="title" class="form-kapok" ng-model="newAccount.title">
            </div>

            <div class="form-group">
              <label for="type">Account Type</label>
              <select required  id="type" class="form-kapok" ng-options="c.type for c in model['account_type'].data" ng-model="newAccount.type">
                <!--Placeholder options-->
                <!-- <option>Title</option> -->
                <!-- <option>Balance Account</option> -->
                <!-- <option>Income/Expense Account</option> -->
              </select>
            </div>
            
            <div class="form-group">
              <label for="number">Account Number</label>
              <input required type="text" id="number" class="form-kapok" ng-model="newAccount.number">
            </div>

            <div class="form-group">
              <div class="radio">
                <label>
                  <input type="radio" name="option_fixed" id="fixed" value="true" ng-model="newAccount.fixed" checked>
                  Fixed
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="option_variable" id="variable" value="false"
                          ng-model="newAccount.fixed">
                  Variable 
                </label>
              </div>
            </div> 
          </form>
        </div> <!--panel body-->
      </div> <!-- panel-->
      <div class="panel panel-default">
        <div class="panel-heading">
          Account Group (Title Account)
        </div>
        <div class="panel-body">
          <div class="form-group">
            <label for="parent">Title Account</label>
            <select required  id="parent" class="form-kapok" ng-options="c.account_txt for c in model['account'].data | filter: {account_type_id: 3}" ng-model="newAccount.parent">
              <!--Placeholder options-->
              <option value="*">Root</option>
            </select>
          </div> 
        </div>
      </div> 
      <button ng-disabled="form.$invalid" ng-click="submitAccount(newAccount)" class="btn btn-success">Submit</button>
    </div>
    <div class="col-xs-6">
      <!--Accounts grid to be populated-->
      <div id="account_grid" class="grid" style="max-height: 480px"></div>
    </div>
  </div>
</div>

<section class="overline underline">
  <div class="pull-right">
    <button class="btn btn-default btn-sm"><span class="glyphicon glyphicon-floppy-save"></span> Save Changes</button>
  </div>
</section>
