<header data-header>
  {{ "EMPLOYEE.TITLE" | translate }}
</header>

<main>
  <div class="row" style="height: 100%">
    <div class="col-xs-6" style="height: 100%">
      <div class="panel panel-default" style="height: 100%; overflow-y: auto;">
        <div class="panel-heading">
          {{ "EMPLOYEE.EMPLOYEES" | translate }}
        </div>
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>{{ "COLUMNS.NAME" | translate }}</th>
              <th>{{ "COLUMNS.CODE" | translate }}</th>
              <th>{{ "COLUMNS.CREDITOR_ID" | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in employee.data">
              <td>{{ item.name }}</td> 
              <td>{{ item.code }}</td>
              <td>{{ item.creditor_uuid }}</td>
            </tr>

            <tr ng-if="!employee.data.length">
              <td colspan="3"><div class="alert alert-warning square">{{ 'EMPLOYEE.NONE_FOUND' | translate }}</div></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-xs-6">
      <!-- <div ng&#45;switch&#45;default> -->
      <!--   <div class="alert alert&#45;info"> -->
      <!--     <h4>{{ "EMPLOYEE.TITLE" | translate }}</h4> -->
      <!--     <p>{{ "EMPLOYEE.DESCRIPTION" | translate }}.</p> -->
      <!--   </div> </div> -->
  
         <!-- <div ng&#45;switch&#45;when="route.create"> -->
        <div>
        <form class="form-horizontal" name="employeeForm" novalidate>
          <fieldset>
            <legend>{{ "EMPLOYEE.REGISTER" | translate }}</legend>

            <div class="form-group">
              <label class="col-xs-3 control-label required">{{ "COLUMNS.NAME" | translate }}:</label>
              <div class="col-xs-9">
                <input class="form-bhima" ng-model="session.employee.name" required>
              </div>
            </div> 

            <div class="form-group">
              <label class="col-xs-3 control-label required">{{ "EMPLOYEE.CREDITOR_GROUP" | translate }}:</label>
              <div class="col-xs-9">
                <select class="form-bhima" ng-model="session.creditor.group_uuid" ng-options="group.uuid as group.name for group in creditorGroup.data" required> 
                  <option value="" disabled="disabled">--- {{ "SELECT.CREDITOR_GROUP" | translate }} ---</option>
                  <!-- <option ng&#45;repeat="group in creditorGroup.data | orderBy:'name'" value="{{group.uuid}}"> -->
                  <!-- {{ group.name }} -->
                  <!-- </option> -->
                </select>
              </div>
            </div>
            
            <div class="form-group">
              <label class="col-xs-3 control-label required">{{ "COLUMNS.CODE" | translate }}:</label>
              <div class="col-xs-9">
                <input class="form-bhima" ng-model="session.employee.code" required>
              </div>
            </div> 
            
            <div class="form-group" >
              <label for="employee-dob" class="col-xs-3 control-label required">{{ "COLUMNS.DOB" | translate }}</label>
              <div class="col-xs-9">
                <input id="employee-dob" required type="date" class="form-bhima"  ng-model="session.employee.dob">
              </div>
            </div>

            <div class="pull-right">
              <button ng-disabled="employeeForm.$invalid" class="btn btn-success btn-sm" ng-click="registerEmployee()">
                {{ "FORM.SUBMIT" | translate }} 
              </button>
            </div>

          </fieldset>
        </form>
      </div>
    </div>
  </div>
</main>
