<header data-header>
  {{ "INVENTORY.MAIN.TITLE" | translate }}
</header>

<main>
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-primary"> 
        <div class="panel-heading">
          <span class="glyphicon glyphicon-cog"></span> {{ "INVENTORY.MAIN.OPTIONS" | translate }}
        </div>
        <div class="panel-body">
          <ul class="plain-list">
            <li ng-repeat="item in config">
              <span class="glyphicon {{ item.ico }}"></span>
              <a class="menu-item" ng-click="loadPath(item)">{{ item.key | translate }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</main>
