.opt-header {
  height: 50px;
  line-height: 50px;
  background : url('/css/img/linen_login.jpg');
  margin     : 0;
  color      : white;
}

.opt-header h3 {
  line-height: 50px;
  padding-left: 0.5em;
  margin: 0;
  float  : left;
}

.opt-header i {
  line-height: 50px;
  padding-right: 0.25em;
  margin:0;
  font-size: 1.5em;
  float: right;
}

.opt-content {
  list-style: none;
  overflow: hidden;
  max-height: 500px;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezeir(0,1,0.5,1);
}

.opt-content.hidden {
  max-height: 0;
}

.opt-content li {
  padding-top: 0.25em;
}

.opt-content li a:link,
.opt-content li a:active,
.opt-content li a:visited {
  color: black;
}

.opt-content li a:hover {
  text-decoration : none;
}

.opt-box {
  box-shadow  : 8px 8px 8px rgba(0,0,0,0.2);
  padding     : 0;
  margin-left : 10px;
}
