<header data-header>
  {{ "GROUP_INVOICE.TITLE" | translate }}
</header>

<nav>
  <!-- split button -->
  <!--
  <div class="btn-group">
    <button class="btn btn btn-primary" ng-class="{active : !!invoice.convention_id }">{{conventions.get(invoice.convention_id).name || "Choose Convention"}}</button>
    <button class="btn btn-sm btn-primary dropdown-toggle"><i class="glyphicon glyphicon-chevron-down"></i></button>
    <ul class="dropdown-menu">
      <li ng-repeat="convention in conventions.data">
        <a ng-click="setConvention(convention)" href="">{{convention.name}}</a>
      </li>
    </ul>
  </div>
  -->

  <span class="btn btn-sm btn-default" ng-show="!!selected.convention">{{ selected.convention.name }}</span>
</nav>

<main>

  <div class="row">

    <div class="col-xs-6" ng-switch="hasDebitor">

      <div ng-switch-default>
        <form class="form-horizontal">
          <fieldset>
            <legend>{{ "GROUP_INVOICE.SELECT_PAYMENT_DETAILS" | translate }}</legend>

            <div class="form-group">
              <label class="control-label col-xs-2">{{ "GROUP_INVOICE.GROUP" | translate }}: </label>
              <div class="col-xs-8">
                <select class="form-bhima" ng-model="selected.convention" ng-options="group as group.name for group in conventions.data">
                  <option value="">-- {{ "SELECT.DEBITOR_GROUP" | translate }} --</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-xs-2"> {{ "GROUP_INVOICE.DEBITOR" | translate }}:</label>
              <div class="col-xs-8">
                <select class="form-bhima" ng-model="selected.debitor" ng-options="debitor as debitor.text for debitor in debitors.data">
                  <option value="">-- {{ "SELECT.DEBITOR" | translate }}--</option>
                </select>
              </div>
            </div>

            <input class="btn btn-sm btn-success" type="submit" ng-click="setDebitor()" value="{{ 'FORM.CONTINUE' | translate }}" ng-disabled="!selected.debitor || !selected.convention">

          </fieldset>
        </form>
      </div>
      <div class="panel panel-default" ng-switch-when="true">
        <div class="panel-heading">
          <span class="glyphicon glyphicon-list"></span>
          <span> {{ "GROUP_INVOICE.SELECT_INVOICES" | translate }}</span>
        </div>
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>{{ "COLUMNS.INVOICE_ID" | translate }}</th>
              <th>{{ "COLUMNS.DEBITOR_ID" | translate }}</th>
              <th>{{ "COLUMNS.DATE" | translate }}</th>
              <th>{{ "COLUMNS.TOTAL" | translate }}</th>
              <th colspan="2" style="width:10%;">{{ "COLUMNS.ACTIONS" | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="invoice in invoices.data | filter:filter">
              <td>{{invoice.inv_po_id}}</td>
              <td>{{invoice.deb_cred_id}}</td>
              <td>{{invoice.trans_date | date}}</td>
              <td>{{invoice.balance | currency }}</td>
              <td><button class="btn btn-sm btn-default" ng-click="examineInvoice(invoice, $index)"><i class="glyphicon glyphicon-search"></i></button></td>
              <td><button class="btn btn-sm btn-default" ng-click="enqueue($index)"><i class="glyphicon glyphicon-plus"></i></button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-xs-6" ng-switch="action">

      <div ng-switch-when="info">
        <div class="alert alert-info">
          <h4>{{ "GROUP_INVOICE.TITLE" | translate }}</h4>
          <p>{{ "GROUP_INVOICE.HELP_TXT_1" | translate }}.</p>
        </div>
      </div>

      <div ng-switch-when="pay">
        <div class="panel panel-default">
          <div class="panel-heading">
            <span>{{ "GROUP_INVOICE.CONVENTION_INVOICE" | translate }}</span>
          </div>
          <div class="panel-body">
            <form name="payment" class="form-horizontal">
              <fieldset>
                <legend>{{ "GROUP_INVOICE.INVOICE_TITLE" | translate }} {{ selected.debitor.text }}</legend>

                <div class="form-group" >
                  <label class="col-xs-3">{{ "GROUP_INVOICE.INVOICE_ID" | translate }}</label>
                  <label class="col-xs-3">{{ "GROUP_INVOICE.COST" | translate }}</label>
                  <label class="">{{ "GROUP_INVOICE.AGREED" | translate }}</label>
                </div>

                <div class="form-group" ng-repeat="invoice in paying">
                  <p class="form-control-static col-xs-3">{{ invoice.inv_po_id }}</p>
                  <p class="form-control-static col-xs-3">{{ invoice.balance | currency}}</p>
                  <div class="col-xs-6 input-group">
                    <span class="input-group-addon">$</span>
                    <input type="number" class="form-bhima" ng-model="invoice.payment" min="0" max="{{invoice.balance}}">
                  </div>
                </div>

              </fieldset>

              <div class="form-group" style="border-top: 1px solid #ddd;">
                <label class="control-label col-xs-2">{{ "GROUP_INVOICE.BALANCE" | translate }}: </label>
                <p class="col-xs-4 form-control-static">{{ (paymentBalance | currency) || ("GROUP_INVOICE.ERROR_TXT_1" | translate) }}</p>
              </div>

            </form>
          </div>
        </div>

        <button class="btn btn-sm btn-success" ng-click="pay()">{{ "GROUP_INVOICE.PAY" | translate }}</button>
        <button class="btn btn-sm btn-danger" ng-click="dequeue()">{{ "GROUP_INVOICE.CANCEL" | translate }}</button>
      </div>

      <div ng-switch-when="confirm">
        <div class="panel panel-info">
          <div class="panel-heading">
            Payment Authorization
          </div>
          <div class="panel-body">

            <form name="authorization" class="form-horizontal">
              <fieldset>
                <legend>{{ "GROUP_INVOICE.INVOICE_TITLE" | translate }} {{ selected.debitor.text }}</legend>

                <div class="form-group" >
                  <label class="col-xs-3">{{ "GROUP_INVOICE.INVOICE_ID" | translate }}</label>
                  <label class="col-xs-3">{{ "GROUP_INVOICE.COST" | translate }}</label>
                  <label class="">{{ "GROUP_INVOICE.AGREED" | translate }}</label>
                </div>

                <div class="form-group" ng-repeat="invoice in paying">
                  <p class="form-control-static col-xs-3">{{ invoice.inv_po_id }}</p>
                  <p class="form-control-static col-xs-3">{{ invoice.balance | currency}}</p>
                  <p class="form-control-static">{{ invoice.payment | currency }}</p>
                </div>

              </fieldset>

              <div class="form-group">
                <label class="control-label col-xs-2">{{ "GROUP_INVOICE.BALANCE" | translate }}: </label>
                <p class="col-xs-2 form-control-static">{{ (paymentBalance | currency) || ("GROUP_INVOICE.ERROR_TXT_1" | translate) }}</p>
                <label class="control-label col-xs-2">{{ "GROUP_INVOICE.AUTHORIZED_BY" | translate }}:</label>
                <div class="col-xs-6">
                  <input class="form-bhima" ng-model="payment.authorized_by" >
                </div>
              </div>

            </form>
          </div>
        </div>

        <button ng-click="authorize()" class="btn btn-sm btn-success">{{ "GROUP_INVOICE.AUTHORIZE" | translate }}</button>
        <button ng-click="cancel()" class="btn btn-sm btn-danger">{{ "GROUP_INVOICE.CANCEL" | translate }}</button>
      </div>

      <div ng-switch-when="examine">
        <div class="panel panel-danger">
          <div class="panel-heading">
            <span class="glyphicon glyphicon-list-alt"></span>
            <span>{{ "GROUP_INVOICE.DETAILS" | translate }}</span>
          </div>
          <div class="panel-body">
            <form class="form-horizontal">
              <fieldset>

                <div class="form-group">
                  <label class="control-label col-xs-3">{{ "COLUMNS.INVOICE_ID" | translate }}</label>
                  <div class="col-xs-9">
                    <p class="form-control-static">{{examine.inv_po_id}}</p>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-xs-3">{{ "COLUMNS.DESCRIPTION" | translate }}</label>
                  <div class="col-xs-9">
                    <p class="form-control-static">{{ examine.description }}</p>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-xs-3">{{ "COLUMNS.INVOICE_DATE" | translate }}</label>
                  <div class="col-xs-9">
                    <p class="form-control-static">{{examine.trans_date | date}}</p>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-xs-3">{{ "COLUMNS.ACCOUNT_ID" | translate }}</label>
                  <div class="col-xs-9">
                    <p class="form-control-static">{{examine.account_id }}</p>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-xs-3">{{ "COLUMNS.DEBITOR" | translate }}</label>
                  <div class="col-xs-9">
                    <p class="form-control-static">{{ debitors.get(examine.deb_cred_id).text }}</p>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-xs-3">{{ "COLUMNS.BALANCE" | translate }}</label>
                  <div class="col-xs-9">
                    <p class="form-control-static">{{examine.balance | currency}}</p>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-xs-3">{{ "COLUMNS.COMMENT" | translate }}</label>
                  <div class="col-xs-9">
                    <p class="form-control-static">{{ examine.comment }}</p>
                  </div>
                </div>

              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
