<header data-header>
  {{ "CONFIG_ACCOUNTING.TITLE" | translate }}
</header>

<nav>
  <button class="btn btn-sm btn-default" ng-click="new()">
    <span class="glyphicon glyphicon-copyright-mark"></span>
     {{ "CONFIG_ACCOUNTING.ADD" | translate }}
  </button>
</nav>

<main>
  <div class="row">

    <div class="col-xs-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <span class="glyphicon glyphicon-copyright-mark"></span>
          {{ "CONFIG_ACCOUNTING.REGISTERED" | translate }}
        </div>
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>{{ "COLUMNS.NR" | translate}}</th>
              <th>{{ "COLUMNS.LABEL" | translate}}</th>
              <th>{{ "COLUMNS.ACCOUNT" | translate}}</th>
              <th colspan="4">{{ "COLUMNS.ACTIONS" | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="config_accounting in config_accountings.data">
              <td>{{$index + 1}}</td>
              <td>{{ config_accounting.label }}</td>
              <td>{{ config_accounting.account_number }}</td>
              <td><a class="action" ng-click="edit(config_accounting)"><span class="glyphicon glyphicon-pencil"></span></a></td>
              <td><a class="action danger" ng-click="delete(config_accounting)"><span class="glyphicon glyphicon-trash"></span></a></td>
            </tr>
            <tr ng-if="!config_accountings.data.length">
              <td colspan="4">{{ "CONFIG_ACCOUNTING.NO_CONFIG_ACCOUNTING" | translate }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-xs-6" ng-switch="session.action">
      <div class="alert alert-info" ng-switch-default>
        <h4>{{ "CONFIG_ACCOUNTING.TITLE" | translate }}</h4>
        <p>{{ "CONFIG_ACCOUNTING.ALERT" | translate }}</p>
      </div>

      <div ng-switch-when="new">
        <form novalidate class="form-horizontal">
          <legend><h3>{{ "CONFIG_ACCOUNTING.NEW_CONFIG" | translate }} </h3></legend>

          <div class="form-group">
            <label class="control-label col-xs-4 required">{{ "COLUMNS.LABEL" | translate }}</label>
            <div class="col-xs-7">
              <input ng-model="session.new.label" class="form-bhima" required="required">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-xs-4 required">{{ "COLUMNS.ACCOUNT" | translate }}</label>
            <div class="col-xs-7">
              <!--<input ng-model="session.new.account_id" class="form-bhima" required="required"> -->

              <select class="form-bhima" ng-model="session.new.account_id">
                <option ng-repeat="account in accounts" ng-value="account.id">{{account.account_number}} --- {{account.account_txt}}</option>
              </select>

            </div>
          </div>          

          <div class="form-group">
            <input type="submit" class="btn btn-sm btn-success" value="{{ 'FORM.SUBMIT' | translate }}" ng-click="save.new()">
            <input type="reset" class="btn btn-sm btn-default" value="{{ 'FORM.RESET' | translate }}" ng-click="reset()">
          </div>   
        </form>
      </div>

      <div ng-switch-when="edit">
        <form novalidate class="form-horizontal">
          <legend><h3>{{ "CONFIG_ACCOUNTING.UPDATE" | translate }} </h3></legend>

          <div class="form-group">
            <label class="control-label col-xs-4 required">{{ "COLUMNS.LABEL" | translate }}</label>
            <div class="col-xs-7">
              <input ng-model="session.edit.label" class="form-bhima" required="required">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-xs-4 required">{{ "COLUMNS.ACCOUNT" | translate }}</label>
            <div class="col-xs-7">
              <select class="form-bhima" ng-model="session.edit.account_id" ng-options="account.id as account.account_number + ' -- ' + account.account_txt for account in accounts">
                <option></option>
              </select>
            </div>
          </div>   

          <div class="form-group">
            <input type="submit" class="btn btn-sm btn-success" value="{{ 'FORM.SUBMIT' | translate }}" ng-click="save.edit()">
            <input type="reset" class="btn btn-sm btn-default" value="{{ 'FORM.RESET' | translate }}" ng-click="reset()">
          </div>   
        </form>
      </div>
    </div>
  </div>
</main>


