table.custom-report > thead > tr > th {
	font-size: 12px;
	padding: 5px;
}
table.custom-report > tbody > tr > td {
	font-size: 10px;
	padding: 5px;
}
table.custom-report.navy > thead > tr.heading {
	background-color: #036 !important; color:#FFF;
}
table.custom-report.navy tr td, 
table.custom-report.navy tr th {
	text-align: right;
	padding-right: 10px;
}
table.custom-report .text-left {
	text-align: left !important;
	padding-left: 10px;
}
table.custom-report .text-center {
	text-align: center !important;
}
table.custom-report.navy > tfoot > tr.footer {
	background-color: #ddd !important;
}