<header>
  <h4>{{ "DASHBOARD.FINANCE.TITLE" | translate }}<h4>
</header>

<main>
  <div class="row">
    <div class="col-md-8">
      <ng-include src="'partials/dashboard/finance/cashflow.html'"></ng-include>
    </div>

    <div class="col-md-4">
      <ng-include src="'partials/dashboard/finance/debtorgroup.html'"></ng-include>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading"></div>
        <div class="panel-body">
          This is cool.
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading"></div>
        <div class="panel-body">
          This is cool.
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading"></div>
        <div class="panel-body">
          This is cool.
        </div>
      </div>
    </div>
  </div>

</main>
