<div class="modal-content">
  <div class="modal-header">
    <h3 style="display:inline;">{{ 'TRIAL_BALANCE.TITLE' | translate }}</h3>
    <span class="pull-right">
      <a href="" class="btn btn-sm btn-default" ng-click="print()"><span class="glyphicon glyphicon-print"></span> {{ 'UTIL.PRINT' | translate }}</a>
    </span>
  </div>

  <div class="modal-body" ng-switch="!!errors">

    <div ng-switch-when="true">
      <div class="alert alert-danger">
        <h5>{{ 'TRIAL_BALANCE.ERROR_TEXT' | translate }}</h5>
        <table ng-repeat="error in errors">
          <tbody>
            <tr ng-click="error.examine=!error.examine" style="cursor:pointer;">
              <th><span class="glyphicon" ng-class="{'glyphicon-plus' : !error.examine, 'glyphicon-minus' : !!error.examine }"></span> </th>
              <th>{{ "ERROR." + error.code | translate }}</th>
              <td>{{ error.message }}.</td>
            </tr>
            <tbody ng-show="!!error.examine">
              <tr>
                <th></th>
                <th>{{ "COLUMNS.TRANSACTION_ID" | translate }}</th>
                <th>{{ "COLUMNS.LINE_ID" | translate }}</th>
              </tr>
              <tr ng-repeat="detail in error.details">
                <th></th>
                <th>{{ detail.trans_id }}</th>
                <td>{{ detail.uuid }}</td>
              </tr>
            </tbody>
          </tbody>
        </table>
      </div>
    </div>

    <div ng-switch-when="false" style="max-height: 350px; overflow: auto;">
      <table class="table table-bordered table-condensed" style="margin-bottom:0">
        <thead>
          <tr>
            <th>{{ 'TRIAL_BALANCE.ACCOUNT' | translate }}</th>
            <th>{{ 'TRIAL_BALANCE.BEFORE' | translate }}</th>
            <th>{{ 'TRIAL_BALANCE.DEBIT' | translate }}</th>
            <th>{{ 'TRIAL_BALANCE.CREDIT' | translate }}</th>
            <th>{{ 'TRIAL_BALANCE.AFTER' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="account in data | orderBy:'account_number'">
            <th>{{ account.account_number }}</th>
            <td>{{ account.balance | currency }}</td>
            <td>{{ account.debit | currency }}</td>
            <td>{{ account.credit | currency }}</td>
            <td>{{ account.balance + (account.credit-account.debit) | currency }}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th>{{ 'UTIL.TOTAL' | translate }}</th>
            <th>{{total.before | currency }}</th>
            <th>{{total.debit | currency }}</th>
            <th>{{total.credit | currency }}</th>
            <th>{{total.after | currency }}</th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

  <div class="modal-footer" style="margin-top: 0;">
    <button class="btn btn-sm btn-success" ng-disabled="hasErrors" ng-click="submit()">{{ 'TRIAL_BALANCE.BTN_TEXT' | translate }}</button>
    <button class="btn btn-sm btn-default" ng-click="cancel()">{{ 'UTIL.CANCEL' | translate }}</button>
  </div>
</div>
