<header data-header>
  {{ "STOCK.MOVEMENT.TITLE" | translate }}
</header>

<section class="top-nav">
  
  <div class="pull-left">

  </div>
  
  <div class="pull-right" style="margin-top: 6px;">
    {{session.depot.text}} <b>{{session.depot.reference ? '[' + session.depot.reference + ']' : ''}}</b>
  </div>
</section>
  
<div class="content">
  
  <div class="row" ng-if="session.invalid">
    <div class="col-xs-12">
      <div class="alert alert-danger">
        <span class="glyphicon glyphicon-remove-sign"></span> The page received invalid configuration data, please try again via Stock Management or contact the system administrator.
      </div>
    </div>
  </div>
  <div class="row" ng-if="session.configured">
    
    <div class="col-xs-12">
      
      <!-- Warnings -->
      <!-- One || Zero depos registered -->

      <div class="panel panel-default square">
        <div class="panel-heading square">
          <span class="glyphicon glyphicon-transfer"></span> {{ "STOCK.MOVEMENT.FORM" | translate }} 
          <span class='pull-right'>{{ session.doc.document_id }} </span>
        </div>
          
        <div class="panel-body">
          <!-- Main content area -->
          
          <div class="row">
            <div class="col-xs-5">
              <div class="panel square"
                   ng-class=
                   "{
                    'panel-success' : session.from,
                    'panel-warning' : !session.from
                   }"
                > 
                <div class="panel-heading square">
                  Depo_From 
                </div>

                <!-- <div class="panel&#45;body"> -->
                  <select 
                    class="form-bhima"
                    ng-model="session.from" 
                    ng-options="depot as depot.text for depot in depotMap.from.model.data"
                    >
                    <option value="" disabled>--Select a depo--</option>
                  </select>
                <!-- </div> -->
              </div>
            </div>

            <div class="col-xs-2">
              <div style="text-align: center; margin-top: 20px;">
                <span style="font-size: 30px;" class="glyphicon glyphicon-arrow-right"></span>
              </div> 
            </div>

            <div class="col-xs-5">
              <div class="panel square" 
                ng-class=
                "{
                  'panel-success' : session.to,
                  'panel-warning' : !session.to
                }"
                >
                <div class="panel-heading square">
                  Depo_To 
                </div>
                <!-- <div class="panel&#45;body"> -->
                  <select 
                    class="form-bhima"
                    ng-model="session.to"
                    ng-options="depot as depot.text for depot in depotMap.to.model.data"
                    >
                    <option value="">--Select a depo--</option>
                  </select>
                <!-- </div> -->
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <div class="panel panel-default square">
                <div class="panel-heading">
                  <span class="glyphicon glyphicon-list-alt"></span> Inventory
                </div>
          
                <table class="table table-bordered table-condensed">
                  <thead>
                    <tr>
                      <th>{{ "COLUMNS.TRACKING_NUMBER" | translate }}</th>
                      <th>{{ "COLUMNS.LOT_DETAILS" | translate }}</th>
                      <th>{{ "COLUMNS.TRANSFER_QUANTITY" | translate }}</th>
                      <th>{{ "COLUMNS.ACTIONS" | translate }}</th>
                  </thead>
                  <tbody>
                    <tr ng-if="row.error" ng-repeat-start="row in session.rows"
                      >
                      <td colspan="4">
                        <div class="alert alert-danger" style="margin-bottom: 0">
                          <span class="glyphicon glyphicon-remove-circle"></span> <b>[Lot {{row.lot.lot_number}}]</b> Invalid transfer quantity (max : {{row.lot.quantity}})
                        </div>
                      </td> 
                    </tr>
                    <tr ng-repeat-end>
                      <td >
                        <!-- <input  -->
                        <!--   class="form&#45;bhima" -->
                        <!--   placeholder="Search lots in {{session.depotFrom.text}}" -->
                        <!-- > -->
                        <select 
                          class="form-bhima"
                          ng-model="row.lot"
                          ng-options="lot as (lot.lot_number + ' (' + lot.code + ')') for lot in lots.data"
                          >
                          <option value="">--Select lot from {{session.from.text}}--</option>
                        </select>
                      </td>
                      <td>
                        <div ng-if="!row.lot"><span style="color: red;" class="glyphicon glyphicon-remove-circle"></span></div>
                        <div ng-if="row.lot">
                          <span style="color: green;" class="glyphicon glyphicon-ok-circle"></span> <b>Lot {{row.lot.lot_number}}</b>
                          <br>
                      
                          <table class="reportTable">
                            <tbody>
                              <tr>
                                <td>Item</td><td>{{row.lot.stock_description}}</td>
                              </tr>
                              <tr>
                                <td><b>Quantity</b></td><td><b>{{row.lot.quantity}}</b></td>
                              </tr>
                              <tr>
                                <td>Expiration Date</td><td>{{row.lot.expiration_date | date}}</td>
                              </tr>
                            </tbody>
                          </table>
                          
                       </div>
                      </td>
                      <td>
                        <!-- FIXME style hack -->
                        <div class="input-group" style="max-width: 200px">
                          <span class="input-group-addon"><span class="glyphicon glyphicon-remove-circle"></span></span>
                          <input disabled class="form-bhima" ng-model="row.quantity" type="number" min="0" required>
                        </div>  
                      </td>
                      <!-- <td> <input ng&#45;model="row.destination" required> -->
                      <!-- </td> -->
                      <td><a class="danger action" ng-click="removeRow($index)"><span class="glyphicon glyphicon-trash"></span></a></td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="4" style="text-align: right;"><a ng-click="addRow()" class="action"><span class="glyphicon glyphicon-plus"></span></a></td>
                    </tr>
                  </tfoot>
                </table>

              </div>
            </div>
          </div>
          
        </div> <!-- End main content panel body -->
      </div> <!-- End main content panel -->

    </div> <!-- End full width column -->
  </div> <!-- End row -->
</div>

<section class="bar-bottom">
  <div class="pull-right">
    <button class="btn btn-sm btn-success" ng-click="submit()" ng-disabled="!session.valid">
      {{ "FORM.SUBMIT" | translate }}
    </button>
  </div>
</section>
