<header>
  <span>Purchase Order Records</span>
</header>

<section class="top-nav">
  <div class="col-xs-4 hack-left">
    <input type="text" ng-model="purchase_filter.filter" class="form-bhima" placeholder="Filter Purchase Orders">
  </div>
  <div class="pull-right">
    <a class="btn btn-sm btn-default"><span class="glyphicon glyphicon-search"></span> Advanced Search</a>
  </div>
</section>
  
<div class="content">
  <div class="row">
    <div class="col-xs-12">

      <div ng-switch on="invoice_model.data.length">
        <div class="alert alert-info" ng-switch-when="0">
          No purchase orders found. Reference <strong><a href="/#/inventory/purchase">Purchase Orders</a></strong> to request a purchase order.
        </div>
        <div ng-switch-default></div>
      </div>
      <div class="invoice-table">
        <table class="table table-bordered">

          <thead>
          <tr>
            <th>{{ "COLUMNS.ID" | translate }}</th>
            <th>{{ "COLUMNS.DATE" | translate }}</th>
            <th>{{ "COLUMNS.AMOUNT" | translate }}</th>
            <th>{{ "COLUMNS.CREDITOR_ID" | translate }}</th>
            <th>{{ "COLUMNS.POSTED" | translate }}</th>
          </tr>
          </thead>

          <tbody>
          <tr ng-class='{rowSelected: selected.id==purchase.id}' ng-click="select(purchase.id)"
              ng-repeat="purchase in purchase_model.data | filter: purchase_filter.filter">

            <td>{{purchase.id}}</td>
            <td>{{purchase.invoice_date | date : 'EEEE, dd/MM/yyyy'}}</td>
            <td>{{purchase.cost | currency}}</td>
            <td>{{purchase.creditor_id}}</td>
            <!--Multiple ng-shows - mutually exclusive but not good practice-->
            <td><span ng-hide="purchase.posted" class="glyphicon glyphicon-minus"></span>

              <div ng-show="purchase.posted"><span class="posting glyphicon glyphicon-book"></span> Posting Journal</div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
    <!--div id="tableContent">
      <div ng-grid="gridOptions" class="table table-default p-grid"></div>
    </div-->
  </div>
</div>

<section class="bar-bottom">
  <div class="pull-right">
    <a ng-disabled='selected.posted!=0' ng-click="post()" class="btn btn-sm btn-default">
      <span class="glyphicon glyphicon-floppy-open"></span> Post to Journal</a>
  </div>
</section>
