<header data-header>
  {{ "STOCK.DISTRIBUTION_SERVICE_RECORDS.REVERSING_TITLE_SERVICE" | translate }}
</header>

<nav>
  <div class="pull-left">
    <ol class="breadcrumb" style="float: right;">
      <li><a href="#/"><span class="glyphicon glyphicon-home"></span></a></li>
      <li><a tabindex="-1" href="#/depots/">{{ "DEPOT.MAIN.TITLE" | translate }}</a></li>
      <li class="active">{{ "STOCK.DISTRIBUTION_SERVICE_RECORDS.REVERSING_TITLE_SERVICE" | translate }}</li>
    </ol>
  </div>

  <div class="pull-right" style="margin-top: 1px">
    <span ><b>{{depot.reference ? '[' + depot.reference + ']' : ''}} </b>
      {{depot.text}}</span>
  </div>

  <div class="pull-left">
    <span class="btn-group">
      <button ng-click="select(session.selected)" class="btn btn-sm btn-default">{{(session.selected.key | translate) || "..."}}</button>
      <button class="btn btn-sm btn-default dropdown-toggle"><span class="caret" data-caret="&#9660;"></span></button>

      <ul class="dropdown-menu">
        <li ng-repeat="item in period">
          <a class="clk" ng-click="select(item)">{{item.key | translate}}</a>
        </li>
      </ul>
    </span>
  </div>

  <div>
    <div class="col-xs-2">
      <input class="form-bhima" ng-change="reset()" type="date" ng-model="session.param.dateFrom" rows="20">
    </div>    
    <div class="col-xs-2" style="padding-right: 0px;">
      <input class="form-bhima" ng-change="reset()" type="date" ng-model="session.param.dateTo" rows="20">
    </div>
  </div>
</nav>

<div class="report report-compressed">
  <div class="reportBody">
    <div class="reportFrame" style="padding-top: 10px;">
      <h4 class="visible-print">{{ "STOCK.DISTRIBUTION_SERVICE_RECORDS.KEY" | translate }} <small>{{session.param.dateFrom | date}} - {{session.param.dateTo | date}}</small></h4>
        <table class="reportTable">
          <thead>
            <tr>
              <th>{{'COLUMNS.DATE' | translate}}</th>
              <th>{{'COLUMNS.DEPOT' | translate}}</th>
              <th>{{'COLUMNS.SERVICE' | translate}}</th>
              <th>{{'COLUMNS.NUM_ITEMS' | translate}}</th>
              <th class="hidden-print">{{ 'COLUMNS.ACTIONS' | translate }}</th>
              <th class="hidden-print">{{ 'COLUMNS.PROOF' | translate }}</th>
            </tr>
          </thead>

          <tbody>
            <tr ng-if="model.sale.data.length===0 && !session.searching">
              <td colspan="8">{{'SALERECORD.UNFOUND' | translate}} <strong><a href="/#/sales">{{'SALERECORD.PATIENT_SALE' | translate}}</a></strong> {{'SALERECORD.GENERATE' | translate}}</td>
            </tr>

            <tr ng-if="session.searching">
              <td colspan="8"> <span style="color: #428bca" class="glyphicon glyphicon-signal"></span></td>
            </tr>
            <tr ng-class="{'creditInvoice': invoice.reversingUuid}" ng-repeat="invoice in model.sale.data">
            <!-- <tr ng-repeat="invoice in model.sale.data">   -->
              <td>{{invoice.date | date : 'EEEE, dd/MM/yyyy'}}</td>
              <td>{{invoice.text}}</td>
              <td>{{invoice.name}}</td>
              <td>{{invoice.itemNumers}}</td>
              <td class="hidden-print">
                <a ng-href="/#/depots/reversing_service_distribution/{{invoice.document_id}}/"><span class="glyphicon glyphicon-repeat"></span> {{ 'STOCK.DISTRIBUTION_RECORDS.REVERSING_DISTRIBUTION' | translate }}</a>
              </td>
              <td class="hidden-print">
                <!-- FIXME get correct path to the receipt -->
                <a ng-href="/#/invoice/service_distribution/{{invoice.document_id}}/"><span class="glyphicon glyphicon-list-alt"></span> {{ 'COLUMNS.PROOF' | translate }}</a>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>

<footer>
  <table style="width: 99%" >
    <tbody>
      <td width="50%">
        <span style="margin-right: 10px;">
          <span class="glyphicon glyphicon-list-alt" style="color: #428bca"></span>
          <b>{{total.result.totalItems}}</b>
          <span ng-if="session.searching">...</span>
        </span>
      </td>
    </tbody>
  </table>
</footer>
