<header>
  {{ "INVENTORY_VIEW.TITLE" | translate }}
</header>

<section class="top-nav">
  <div class="pull-left dropdown">
    <button class="btn btn-sm dropdown-toggle btn-default">
      <span class="glyphicon glyphicon-signal"></span> {{ "INVENTORY_VIEW.GROUP_BY" | translate }}
    </button>
    <!-- TODO: Fix this like general ledger -->
    <ul class="dropdown-menu">
      <li><a href="" ng-click="groupby.type()">{{ "COLUMNS.TYPE" | translate }}</a></li>
      <li><a href="" ng-click="groupby.group()">{{ "COLUMNS.GROUP" | translate }}</a></li>
      <li><a href="" ng-click="groupby.unit()">{{ "COLUMNS.UNIT" | translate }}</a></li>
      <li><a href="" ng-click="groupby.consumable()">{{ "COLUMNS.CONSUMABLE" | translate }}/{{ "COLUMNS.DURABLE" | translate }}</a></li>
      <li><a href="" ng-click="groupby.price()">{{ "COLUMNS.PRICE" | translate }}</a></li>
    </ul>
  </div>

  <div class="pull-right">
    <a href="#/inventory/register" class="btn btn-sm btn-default">
      <span class="glyphicon glyphicon-file"></span> {{ "INVENTORY_VIEW.REGISTER" | translate }}
    </a>
  </div>

</section>

<div class="content">
  <div class="grid">
    <div id="kpk-inventory-grid" style="max-height: 520px;"></div> 
  </div>
</div>
