<link rel="stylesheet" href="/partials/billing/groups/index.css">
<div class="container" id="bika-units-patientbilling">
  <h3>Configure Billing Groups</h3>
  <hr></hr>
	<div class="row">
		<div class="col-xs-3">
      <h4>All Groups</h4>
      <hr></hr>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th ng-click="sort('id')">Id</th>
						<th ng-click="sort('name')">Name</th>
					</tr>
				</thead>
				<tbody>
				<!--Populated with angular-->
        <!--FIXME: ng-selected optimisation, oh lawd oh lawd-->
				<tr  ng-repeat="group in grp_model" ng-class="{selected: $index==selectedIndex}" ng-click="select($index)"><td>{{group.id}}</td><td>{{group.name}}</td></tr>
				</tbody>
			</table>
      <div class="btn-group">
        <button role="button" class="btn btn-default green" ng-click="addGroup()">
          <i role="button" class="glyphicon glyphicon-plus"></i>
        </button>
        <button role="button" class="btn btn-default red" ng-class="{disabled: !selected}" ng-click="removeGroup()">
          <i role="button" class="glyphicon glyphicon-minus"></i>
        </button>
      </div>
      <button role="button" class="btn btn-default" ng-class="{disabled: !outOfSync, 'btn-warning': outOfSync}" ng-click="sync()">
        <i role="button" class="glyphicon glyphicon-floppy-open"></i>
      </button>
		</div>
		<div class="col-xs-9">
			<div ng-show="!!selected">
        <tabset>
<!--  TAB: General -->
          <tab heading="General">
            <form class="form-horizontal" role="form" style="padding-top:10px;">
              <div class="form-group">
                <label for="org-id">Organisation ID</label>
                <input type="text" class="form-control" id="org-id" readonly value="{{selected.id}}">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-model="selected.locked"> Locked
                  </label>
                </div>
              </div>
              <div class="form-group">
                <label for="org-id">Organisation Name</label>
                <input type="text" class="form-control" id="org-id" ng-model="selected.name">
              </div>
              <div class="form-group">
                <label for="org-id">City</label>
                <input type="text" class="form-control" id="org-id" ng-model="selected.city">
              </div>
              <div class="form-group">
                <label for="org-id">Region</label>
                <input type="text" class="form-control" id="org-id" ng-model="selected.region">
              </div>
              <div class="form-group">
                <label for="org-id">Email</label>
                <input type="text" class="form-control" ng-model="selected.email">
              </div>
              <div class="form-group">
                <label for="org-id">Country</label>
                <input type="text" class="form-control" ng-model="selected.phone">
              </div>

            </form>
          </tab>
<!--  TAB: Invoice -->
          <tab heading="Invoice">
            <form style="padding-top:10px;" role="form">
              <div class="form-group">
                <label for="org-id">Payment</label>
                <select class="form-control" id="payment">
                <option>ERMERGERD</option>
                </select>
              </div>
              <div class="form-group">
                <label for="contact">Contact Persion</label>
                <select class="form-control" id="contact">
                <option>ERMERGERD</option>
                </select>
              </div>
              <div class="form-group">
                <label for="org-id">Tax Registration Number</label>
                <input type="text" class="form-control" ng-model="selected.tax_id">
              </div>
              <div class="form-group">
                <label for="org-id">Max Credit</label>
                <input type="text" class="form-control" ng-model="selected.max_credit">
              </div>
            </form>
          </tab>
<!--  TAB: Note -->
          <tab heading="Note">
            <form style="padding-top:10px;" role="form">
              <div class="form-group">
              <textarea class="form-control">{{selected.note}}</textarea>
              </div>
            </form>
          </tab>
        </tabset>
      </div>
		</div>
	</div>
</div>
