<header data-header>
  {{ "PERMISSION.TITLE" | translate }}
</header>

<nav>
  <div class="pull-left">
    <ol class="breadcrumb">
      <li><a href="#/"><span class="glyphicon glyphicon-home"></span></a></li>
      <li class="active">{{ "PERMISSION.TITLE" | translate }}</li>
    </ol>
  </div>

  <div class="pull-right">
    <button class="btn btn-sm btn-default" ng-click="addUser()">
      <span class="glyphicon glyphicon-plus-sign"></span> {{ "PERMISSION.ADD" | translate }}
    </button>
  </div>
</nav>

<div class="report visible-print">
  <div class="reportFrame">
    <h4>{{ "PERMISSION.TITLE" | translate }} <small> {{ "REPORT.GENERATED_ON" | translate }} {{ timestamp | date }}</small></h4>
    <table class="reportTable">
      <thead>
        <tr>
          <th>{{ "COLUMNS.ID" | translate}}</th>
          <th>{{ "COLUMNS.FIRST_NAME" | translate}}</th>
          <th>{{ "COLUMNS.LAST_NAME" | translate}}</th>
          <th>{{ "COLUMNS.USER_NAME" | translate}}</th>
          <th>{{ "COLUMNS.EMAIL" | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in users.data | orderBy:'username'">
          <td>{{ user.id }}</td>
          <td>{{ user.first }}</td>
          <td>{{ user.last }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<main class="hidden-print extend">
  <div class="row">
    <div class="col-xs-6">
      <div class="panel panel-primary" style="max-height: 650px; overflow: auto">
        <div class="panel-heading">
          {{ "PERMISSION.REGISTERED" | translate }}
        </div>
        <table class="table table-hover table-condensed">
          <thead>
            <tr>
              <th>{{ "COLUMNS.FIRST_NAME" | translate}}</th>
              <th>{{ "COLUMNS.USER_NAME" | translate}}</th>
              <th>{{ "COLUMNS.EMAIL" | translate}}</th>
              <th colspan="4" style="max-width: 20%;">{{ "COLUMNS.ACTIONS" | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-if="current.loading" class="text-center">
              <td colspan="7"><loading-indicator></loading-indicator></td>
            </tr>
            <tr ng-repeat="user in users.data | orderBy:'username' track by user.id">
              <td>{{ user.first }}</td>
              <td>{{ user.username }}</td>
              <td>{{ user.email }}</td>
              <td><a class="clk" ng-click="editUser(user)"><i class="glyphicon glyphicon-pencil"></i></a></td>
              <td><a class="clk" ng-click="editUnitPermissions(user)"><i class="glyphicon glyphicon-cog"></i></a></td>
              <td><a class="clk" ng-click="editProjectPermissions(user)"><i class="glyphicon glyphicon-home"></i></a></td>
              <td><a class="clk" ng-click="removeUser(user)"><i class="glyphicon glyphicon-trash"></i></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-xs-6" ng-switch="current.state">
      <div ng-switch-default>
        <div class="alert alert-info">
          <h4>{{ "PERMISSION.TITLE" | translate }}</h4>
          <p>{{ "PERMISSION.HELP_TXT_1" | translate }}.</p>
          <ul class="list-plain">
            <li><i class="glyphicon glyphicon-pencil"></i> {{ "PERMISSION.HELP_TXT_2" | translate }}. </li>
            <li><i class="glyphicon glyphicon-cog"></i> {{ "PERMISSION.HELP_TXT_3" | translate }}. </li>
            <li><i class="glyphicon glyphicon-trash"></i> {{ "PERMISSION.HELP_TXT_4" | translate }}. </li>
          </ul>
        </div>
      </div>

      <div ng-switch-when="add">
        <form novalidate class="form-horizontal" name="new">
          <legend><h3>{{ "PERMISSION.ADDING" | translate }} <small>{{ current.user.first }} {{ current.user.last }}</small></h3></legend>

          <div class="form-group">
            <label class="control-label col-xs-2 required">{{ "COLUMNS.FIRST_NAME" | translate }}</label>
            <div class="col-xs-7">
              <input ng-model="current.user.first" class="form-bhima" required>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-xs-2 required">{{ "COLUMNS.LAST_NAME" | translate }}</label>
            <div class="col-xs-7">
              <input ng-model="current.user.last" class="form-bhima" required>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-xs-2 required">{{ "COLUMNS.USER_NAME" | translate }}</label>
            <div class="col-xs-7">
              <input ng-model="current.user.username" class="form-bhima" required>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-xs-2">{{ "COLUMNS.EMAIL" | translate }}</label>
            <div class="col-xs-7">
              <input ng-model="current.user.email" class="form-bhima" type="email">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-xs-2 required">{{ "COLUMNS.PASSWORD" | translate }}</label>
            <div class="col-xs-7 input-group">
              <input ng-model="current.user.password" class="form-bhima" required type="password" ng-change="validatePassword()">
              <span class="input-group-btn" ng-switch="valid.password">
                <button class="btn btn-sm" ng-class="{ 'btn-danger' : !valid.password, 'btn-success' : !!valid.password }" disabled="disabled">
                  <span ng-switch-default class="glyphicon glyphicon-remove"></span>
                  <span ng-switch-when="true" class="glyphicon glyphicon-check"></span>
                </button>
              </span>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-xs-2 required"> {{ "COLUMNS.PASSWORD" | translate }} ({{ "PERMISSION.RETYPE" | translate }})</label>
            <div class="col-xs-7 input-group">
              <input ng-model="current.user.passwordVerify" class="form-bhima" required type="password" ng-change="validatePassword()">
              <span class="input-group-btn" ng-switch="valid.password">
                <button class="btn btn-sm" ng-class="{ 'btn-danger' : !valid.password, 'btn-success' : !!valid.password }" disabled="disabled">
                  <i ng-switch-default class="glyphicon glyphicon-remove"></i>
                  <i ng-switch-when="true" class="glyphicon glyphicon-check"></i>
                </button>
              </span>
            </div>
          </div>

          <input ng-disabled="new.$invalid" type="submit" class="btn btn-sm btn-success" value="{{ 'FORM.SUBMIT' | translate }}" ng-click="submit()">
          <input type="reset" class="btn btn-sm btn-default" value="{{ 'FORM.RESET' | translate }}" ng-click="reset()">

        </form>
      </div>

      <div ng-switch-when="edit">
        <form novalidate class="form-horizontal" name="edit">
          <legend><h3>{{ "PERMISSION.EDITTING" | translate }} <small>{{current.user.first}} {{current.user.last}}</small></h3></legend>

          <div class="form-group">
            <label class="control-label col-xs-2 required">{{ "COLUMNS.FIRST_NAME" | translate }}</label>
            <div class="col-xs-7">
              <input ng-model="current.user.first" class="form-bhima" required>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-xs-2 required">{{ "COLUMNS.LAST_NAME" | translate }}</label>
            <div class="col-xs-7">
              <input ng-model="current.user.last" class="form-bhima" required>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-xs-2 required">{{ "COLUMNS.USER_NAME" | translate }}</label>
            <div class="col-xs-7">
              <input ng-model="current.user.username" class="form-bhima" required>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-xs-2">{{ "COLUMNS.EMAIL" | translate }}</label>
            <div class="col-xs-7">
              <input ng-model="current.user.email" class="form-bhima" type="email">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-xs-2 required">{{ "COLUMNS.PASSWORD" | translate }}</label>
            <div class="col-xs-7 input-group">
              <input ng-model="current.user.password" class="form-bhima" required type="password" ng-change="clearPass()">
              <span class="input-group-btn" ng-switch="valid.password">
                <button class="btn btn-sm" ng-class="{ 'btn-danger' : !valid.password, 'btn-success' : !!valid.password }" disabled="disabled">
                  <i ng-switch-default class="glyphicon glyphicon-remove"></i>
                  <i ng-switch-when="true" class="glyphicon glyphicon-check"></i>
                </button>
              </span>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-xs-2 required"> {{ "COLUMNS.PASSWORD" | translate }} ({{ "PERMISSION.RETYPE" | translate }})</label>
            <div class="col-xs-7 input-group">
              <input ng-model="current.user.passwordVerify" class="form-bhima" required type="password" ng-change="validatePassword()">
              <span class="input-group-btn" ng-switch="valid.password">
                <button class="btn btn-sm" ng-class="{ 'btn-danger' : !valid.password, 'btn-success' : !!valid.password }" disabled="disabled">
                  <i ng-switch-default class="glyphicon glyphicon-remove"></i>
                  <i ng-switch-when="true" class="glyphicon glyphicon-check"></i>
                </button>
              </span>
            </div>
          </div>

          <input type="submit" ng-disabled="edit.$invalid" class="btn btn-sm btn-success" value="{{ 'FORM.SUBMIT' | translate }}" ng-click="submit()">
          <input type="button" class="btn btn-sm btn-default" value="{{ 'FORM.RESET' | translate }}" ng-click="reset()">

        </form>
      </div>

      <div ng-switch-when="projects">
        <div class="col-xs-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <span>{{ "PERMISSION.PROJECTS" | translate }}</span> :
              <strong>{{ current.user.first }} ({{ current.user.username }})</strong>
              <span class="pull-right">
                <a ng-click="submit()" class="clk">
                  <span class="glyphicon glyphicon-floppy-disk"></span> {{ "FORM.SAVE" | translate }}
                </a>
              </span>
            </div>
            <label class="checkbox" style="margin-left: 10px; margin-bottom:0;">
              <input type="checkbox" ng-model="super.projects" ng-change="toggleSuperProjects(super.projects)">
              {{ "PERMISSION.ALL" | translate }}
            </label>
            <ul class="k-list" style="margin-left: 25px;">
              <li ng-repeat="project in projects.data">
                <label class="checkbox">
                  <input type="checkbox" ng-model="project.checked" ng-change="deselectAllProjects(project.checked)">
                  {{ project.name }}
                </label>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div ng-switch-when="permissions">
        <div class="col-xs-10">
          <div class="panel panel-default">
            <div class="panel-heading">
              <span>{{ "PERMISSION.PERMISSIONS" | translate }}</span> :
              <strong>{{ current.user.first }} ({{ current.user.username }})</strong>
              <span class="pull-right">
                <a ng-click="submit()" class="clk">
                  <span class="glyphicon glyphicon-floppy-disk"></span> {{ "FORM.SAVE" | translate }}
                </a>
              </span>
            </div>
            <label class="checkbox" style="margin-left: 10px; margin-bottom:0;">
              <input type="checkbox" ng-model="super.units" ng-change="toggleSuperUnits(super.units)">
              {{ "PERMISSION.SUPER" | translate }}
            </label>
            <ul class="k-list" style="margin-left: 25px;">
              <li ng-repeat="unit in units.data | filter:filterChildren | orderBy:'key'" >
                <label class="checkbox">
                  <input type="checkbox" ng-model="unit.checked" ng-change="toggleChildren(unit)">
                  {{ unit.key }}
                </label>
                <ul class="k-list" ng-if="unit.children">
                  <li ng-repeat="child in unit.children | orderBy:'key'">
                    <label class="checkbox">
                      <input type="checkbox" ng-model="child.checked" ng-change="toggleChildren(child)">
                      {{ child.key }}
                    </label>
                    <ul class="k-list" ng-if="child.children">
                      <li ng-repeat="final in child.children">
                        <label class="checkbox">
                          <input type="checkbox" ng-model="final.checked" ng-change="toggleChildren(final)">
                          {{final.key | translate}}
                        </label>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
