.k-list {
  overflow : auto;
  max-height : 575px;
  list-style : none;
  padding-left : 15px;
  margin-left : 5px;
}


.k-list label {
  margin : 0 0 5px 5px;
  padding : 0;
}

.k-list label,
.k-list input {
  cursor : pointer;
}

.clk {
  cursor : pointer;
}
