/* Chrome outline fix */
* {
  outline: none;
}

/*
 * Complete App Stylesheet
 *
*/

/* for header/title elements. See /#/cash */
.kpk-header {
  width: 100%;
  padding: 1em;
  border-bottom: 1px solid #E3E3E3;
  margin-bottom: 1em;
}

.kpk-header h2 {
  width: 33.33333%;
  display: inline;
}

/* for dropdown menus w/ glyphicons see /#/cash */
.kpk-menu {
  border-radius: 2px;
}

.kpk-menu i {
  padding-right: 0.75em;
}

/*
  TODO: Sidebar should be a fixed width (left || right) vs. being 80%/20% - causes everything to squish
 */
#kpk-sidebar { 
  width: 20%;
  height: 100%;
  position: fixed;
  right: 0;
  border-left: 1px solid #DADADA;
  background: #F3F3F3;
}

#kpk-sidebar h2 { 
  font-family: "Lucida Sans Unicode";
  padding-left: 0em;
  font-size: 4em;
  letter-spacing: 0.1em;
  text-align: center;


}

#kpk-sidebar h2 span { 
   color: #01AC07;
}

#kpk-header { 
  /*background: #E3E3E3;*/
  padding-bottom: 20px;
  box-shadow: 0 2px 6px -3px black;
 
}

#kpk-util { 
  position: absolute;
  bottom: 0;
  width: 100%;
}

#kpk-app-select select { 
  width: 100%;
}

#kpk-tree { 
  height: 100%;
  padding-top: 20px;
  overflow: auto;

}

#kpk-container { 
  width: 80%;
  position: fixed;
  height: 100%;
  background: white;
  overflow: auto;
}

#kpk-notify {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.notification {
  color: #ffffff;
  padding: 10px;
  /*background: #d9534f;*/
  /*border-top: 1px solid #d43f3a;*/
}

/*
.notification-success {

}
etc.
*/


#kpk-notify .notify-icon{
  float: left;
}

#kpk-notify h3 {

}

#kpk-view { 
  /*
  Idea being to seperate the view (unit) and outside, can't figure this out
  */
  /*
  background: white;
  height: 100%;
  margin-top: 5px;
  margin-right: 8px;
  margin-left: 8px;
  margin-bottom: 5px;*/
} 

.kpk-panel-body { 

}

/* Hide in webkit the number spinners 
 * for both date and number.
 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: none; 
}



