/* Chrome outline fix */
* {
  outline: none;
}


/*
  TODO: Sidebar should be a fixed width (left || right) vs. being 80%/20% - causes everything to squish
 */
#bika-sidebar { 
  width: 20%;
  height: 100%;
  position: fixed;
  right: 0;
  border-left: 1px solid #DADADA;
  background: #F3F3F3;
}

#bika-sidebar h2 { 
  font-family: "Lucida Sans Unicode";
  padding-left: 0em;
  font-size: 5em;
  letter-spacing: 0.2em;
  text-align: center;
}   

#bika-sidebar h2 span { 
   color: #01AC07;
}

#bika-header { 
  /*background: #E3E3E3;*/
  padding-bottom: 20px;
  box-shadow: 0 2px 6px -3px black;
 
}

#bika-util { 
  position: absolute;
  bottom: 0;
  width: 100%;
}

#bika-app-select select { 
  width: 100%;
}

#bika-tree { 
  height: 100%;
  padding-top: 20px;
  overflow: auto;

}

#bika-container { 
  width: 80%;
  position: fixed;
  height: 100%;
  background: white;
  overflow: auto;
}

#bika-notify {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.notification {
  color: #ffffff;
  padding: 10px;
  /*background: #d9534f;*/
  /*border-top: 1px solid #d43f3a;*/
}

/*
.notification-success {

}
etc.
*/


#bika-notify .notify-icon{
  float: left;
}

#bika-notify h3 {

}

#bika-view { 
  /*
  Idea being to seperate the view (unit) and outside, can't figure this out
  */
  /*
  background: white;
  height: 100%;
  margin-top: 5px;
  margin-right: 8px;
  margin-left: 8px;
  margin-bottom: 5px;*/
} 

.bika-panel-body { 

}

/* Hide in webkit the number spinners 
 * for both date and number.
 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: none; 
}


