/*
  TODO: Sidebar should be a fixed width (left || right) vs. being 80%/20% - causes everything to squish
 */
#kpk-sidebar {
  width: 280px; /* this was 18% @jniles */
  height: 100%;
  position: fixed;
  right: 0;
  border-left: 1px solid #DADADA;
  background: #F3F3F3;
}

#kpk-sidebar h2 { 
  font-family: "Lucida Sans Unicode";
  padding-left: 0;
  font-size: 4em;
  letter-spacing: 0.2em;
  text-align: center;
}

#kpk-sidebar h2 span { 
   color: #01AC07;
}

#kpk-header { 
  top: 0;
  padding-bottom: 20px;
  box-shadow: 0 2px 6px -3px black;
  height: 200px;
}

#kpk-util { 
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 31px;
}

#kpk-tree {
  height: calc(200px- 1px);
  padding-top: 20px;
  overflow: scroll-y;
}

#kpk-container { 
  height: 100%;
  width: 82%;
  position: fixed;
  background: white;
  overflow: auto;
}

#kpk-view {
  position: relative;
  height: 100%;
  /*
  Idea being to seperate the view (unit) and outside, can't figure this out
  */
  /*
  background: white;
  height: 100%;
  margin-top: 5px;
  margin-right: 8px;
  margin-left: 8px;
  margin-bottom: 5px;*/
} 

/* Hide in webkit the number spinners 
 * for both date and number.
 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: none; 
}
