#bika-units-budget { 
	margin-top: 10px;
}

.bika-scrollable { 
  /*This shouldn't be a forced number - differing screen sizes etc.*/
  max-height: 600px;
  overflow-y: scroll;
}

fieldset { 
  display: inline-block;
  vertical-align: middle;
  /*what*/
  width: 33%;
}

.bika-header { 
  padding-bottom: 9px;
  margin: 0px 0 45px;
  border-bottom: 1px solid #eeeeee;
}

.uniform { 
  height: 100px;
}