#divcontainerID{
	position:relative;
	height: 100%;
}
#divinfosID{
	position:absolute;
	height:80%;
	top:5px;
}

#divactionID{
	position:absolute;
	top: 600px;
	right: 5px;
	

}

.journal-table {
  /*FIXME pretty gross*/
  max-height: 600px;
  overflow-y: auto;
}


.bika-header {
  padding-bottom: 9px;
  margin: 40px 0 5px;
  border-bottom: 1px solid #eeeeee;
}
/*Not optimal to control utils layout on two different elements*/
.util {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.util-bottom {
  border-top: 1px solid #eeeeee;
  padding-top: 5px;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 5px
}

.form-kapok {

  diplay: block;
  width: 100%;
  height: 30px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
}

/*FIXME*/
.hack-left {
  margin-left: -15px; !important
}


.rowSelected {
  background-color: #dff0d8;
}

/*Temporary fix for border-box bootstrap collision*/
#journal_grid, #journal_grid div {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
