/*Overrides a lot of CSS - check this is the best place for this rule*/
* {
  outline: none;
}

body { 
  font-size: 12px;
}

header {
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 2em;
  border-bottom: 1px solid #dddddd;

  /*Avoid having nested styles with content*/
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;

  /*Not sure about this*/
  /*margin-bottom: 10px;*/
}

/* temp :: used in reporting account_balances */
.pad-left td:first-child  {
  padding-left: 15px !important;
}

.pad-right td:first-child  {
  padding-right: 15px !important;
}

header small { 
  font-weight: normal;
  line-height: 1;
  color: #999999;
}

section { 
  margin-top: 0;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 3px;
  padding-top: 3px;

  /*Fixes pull-right only menus, should not be needed*/
  min-height: 37px;
}

/* For some reason, minification broke this.. */
fieldset {
  width: 100%;
}

.grid {
  box-sizing: content-box;
}


.kpk-messenger {
  position: absolute;
  z-index: 998;
  right: 0.5%;
  top: 0.5%;
  width: 25%;
}

.kpk-messenger > .alert {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.content {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.underline { 
  border-bottom: 1px solid #dddddd;
}

.overline { 
  border-top: 1px solid #dddddd;
}

.bar-bottom {
  border-top: 1px solid #dddddd;
  position : absolute;
  bottom   : 0;
  width    : 100%;
}

.capital { 
  text-transform: capitalize;
}

/*Form-control derivative (spelt wrong) add more CSSness*/
.form-kapok {
  display: block;
  width: 100%;
  height: 30px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
}

/* everything is bad */
.hack-left { 
  margin-left: -15px;
}

.list-selected {
  text-transform : capitalize;
  font-weight : bold;
}

/* CAUTION: This uses Bootstrap's glyphicon code */
.list-selected:before {
  font-family: 'Glyphicons Halflings';
  font-size: 0.85em;
  content : '\e072';
}

/*sfount, temporary printable table styling*/
.reportTable { 
  border: 1px solid #9F9F9F;
  width: 100%;
  /* page-break-inside: auto; */
}

.reportTable tr { 
  /* page-break-inside: avoid; */
  /* page-break-after: auto; */
}

.reportTable thead > tr > th { 
  border: 1px solid #9F9F9F;
}

.reportTable tbody > tr > td { 
  border: 1px solid #9F9F9F;
}
