@media print {

  body *:not(.printable) {
    display: none !important;
    visibility: none !important;
  }

  .printable {
    display: block !important;  
  }

  /*
  a:link, a:visited {
    background: transparent;
    color:#333;
    text-decoration:none;
  }

  a:link[href^="http://"]:after,
  a[href^="http://"]:visited:after {
    content: " (" attr(href) ") ";
    font-size: 11px;
  }

  a[href^="http://"] {
    color:#000;
  }
  */

  .printable table {
    width: 100%;
    float: none;
    margin: 0;
  }
}
