
.modal-table {
  position : relative;
  max-height: 400px;
  height: 400px;
}

.modal-table table {
  width: 100%;
}

.modal-table-body table tr:hover {
  background-color: rgba(255, 255, 255,0.75);
}

.modal-table table tr th,
.modal-table table tr td {
  width: 20%;
  padding: 5px;
}

.modal-table.success {
  background-color: rgba(212,221,228,0.5);
}

.modal-table-head {
  position: absolute;
  top:0; left:0; right:0;
  max-height:30px;
}

.modal-table .modal-table-head tr th {
  color: #fff;
  padding: 8px;
}

.modal-table.success .modal-table-head {
  background-color : rgb(0,63,130);
}

.modal-table-body {
  position: absolute;
  top:33px; bottom:30px; left:0; right:0;
  max-height: 350px;
  overflow: auto;
}

.modal-table.success .modal-table-body {
  border-left : 6px solid rgba(0,63,130, 0.75);
}

.modal-table-foot {
  position: absolute;
  height: 30px;
  bottom:0; right:0; left:0;
  background-color: #fff;
}

.modal-header h3 {
  display : inline-block;
  margin  : 0;
}

.modal-header .modal-print {
  float: right;
  margin: 5px;
}

.modal-table + .modal-footer {
  border:none;
  padding-top:0;
}

.modal-icons {
  display: inline-block;
  margin-left:5em;
}

.modal-icons label {
  padding-left: 5px;
}
