<header>
  <span class="capital">{{'ENTERPRISE_MANAGEMENT' | translate}}</span>
</header>

<section class="underline">
  <div class="pull-right">
    <a class="capital btn btn-default btn-sm"><span class="glyphicon glyphicon-print"></span> {{'PRINT' | translate}}</a>
  </div>
</section>

<div class="content">
  <div class="row">
    <div class="col-xs-6">
      <div class="panel panel-default" style="max-height: 500px;">
        <div class="panel-heading">
          <span>Existing Enterpises</span>
        </div>
        <table class="table table-striped">
          <thead>
            <tr><th>Name</th><th>Abbrev.</th><th>Email</th><th>Phone</th><th>Cash Account</th></tr>
          </thead>
          <tbody>
            <tr ng-repeat="e in models.enterprise" ng-click="load(e)">
              <td>{{e.name}}</td>
              <td>{{e.abbr}}</td>
              <td>{{e.email}}</td>
              <td>{{e.phone}}</td>
              <td>{{formatAccountNumber(e.cash_account)}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-xs-6">
      <form name="kpk-enterprise-form" id="kpk-enterprise-form">
        <fieldset>
          <legend>Enterprise Configuration</legend>
          <div class="form-group">
            <label for="kpk-enterprise-name" class="capital">{{ 'NAME' | translate }} : </label>
            <input type="text" class="form-kapok" name="kpk-enterprise-name" id="kpk-enterprise-name" ng-model="swap.name">
          </div>

          <div class="form-group">
            <label for="kpk-enterprise-abbr" class="capital">{{ 'ABBREVIATION' | translate }} : </label>
            <input type="text" class="form-kapok" name="kpk-enterprise-abbr" id="kpk-enterprise-abbr" ng-model="swap.abbr">
          </div>

          <div class="form-group">
            <label for="kpk-enterprise-email" class="capital">{{ 'EMAIL' | translate }} : </label>
            <input type="text" class="form-kapok" name="kpk-enterprise-email" id="kpk-enterprise-email" ng-model="swap.email">
          </div>

          <div class="form-group">
            <label for="kpk-enterprise-phone" class="capital">{{ 'PHONE' | translate }} : </label>
            <input type="text" class="form-kapok" name="kpk-enterprise-phone" id="kpk-enterprise-phone" ng-model="swap.phone">
          </div>

          <div class="form-group">
            <label for="kpk-enterprise-location" class="capital">{{ 'LOCATION' | translate }} : </label>
            <select class="form-kapok" name="kpk-enterprise-location" id="kpk-enterprise-location" ng-model="swap.location_id" ng-options="location.id as formatLocation(location) for location in models.location">
              <option value="" disabled="disabled">-- Select a Location --</option>
            <select>
          </div>

          <div class="form-group">
            <label for="kpk-enterprise-cash_account" class="capital">{{ 'CASH_ACCOUNT' | translate }} :</label>
            <select class="form-kapok" name="kpk-enterprise-cash_account" id="kpk-enterprise-cash_account" ng-model="swap.cash_account" ng-options="account.id as formatAccount(account) for account in models.account">
              <option value="" disabled="disabled">-- Select an Account --</option>
            <select>
          </div>
        </fieldset>
        <fieldset> 
          <legend>Enterprise Currency</legend> 

          <div class="radio" ng-repeat="currency in models.currency">
            <label>
              {{currency.name}}
              <input type="radio" value="{{currency.id}}" name="kpk-enterprise-currency" ng-model="swap.currency_id">
            </label>
            </div>
          </div>
        </fieldset>

      </form>
    </div>
  </div>
</div>

<section class="underline overline">
  <div class="pull-right">
    <button class="capital btn btn-default btn-sm" ng-click="save()">
      <span class="glyphicon glyphicon-floppy-open"> {{'SAVE' | translate}}</span>
    </button>
    <button class="capital btn btn-default btn-sm" ng-click="clear()">
      <span class="glyphicon glyphicon-file"> {{'NEW' | translate }}</span>
    </button>
  </div>
</section>
