/*FIXME*/
.hack-left {
  margin-left: -15px; !important
}

/*Temporary fix for border-box bootstrap collision*/
#journal_grid, #journal_grid div {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

#journal_grid { 
  font-size: 12px;
}
