<header class="hidden-print">
  <span class="capital">{{'ENTERPRISE_MANAGEMENT' | translate}}</span>
</header>

<section class="top-nav hidden-print">
  <button class="capital btn btn-default btn-sm" ng-click="newEnterprise()"><i class="glyphicon glyphicon-file"></i> New Enterprise</button>
  <div class="pull-right">
    <button class="capital btn btn-default btn-sm" ng-click="print()"><i class="glyphicon glyphicon-print"></i> {{'PRINT' | translate}}</button>
  </div>
</section>

<div class="content">

  <div class="visible-print">
    <table class="table table-bordered table-condensed">
      <thead>
        <tr><th>Name</th><th>Abbreviation</th><th>Email</th><th>Phone</th></tr>
      </thead>
      <tbody>
        <tr ng-repeat="e in enterprise.data">
          <td>{{ e.name }}</td>
          <td>{{ e.abbr }}</td>
          <td>{{ e.email }}</td>
          <td>{{ e.phone }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="hidden-print">
    <div class="col-xs-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <span>Existing Enterprises</span>
        </div>
        <table class="table table-condensed table-hover">
          <thead>
            <tr><th>Name</th><th>Abbreviation</th><th>Email</th><th>Phone</th><th>Edit</th></tr>
          </thead>
          <tbody>
            <tr ng-repeat="e in enterprise.data" ng-click="load(e)">
              <td>{{e.name}}</td>
              <td>{{e.abbr}}</td>
              <td>{{e.email}}</td>
              <td>{{e.phone}}</td>
              <td><button class="btn btn-sm btn-default" ng-click="editEnterprise(e)"><i class="glyphicon glyphicon-pencil"></i></button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-xs-6" ng-switch="action">
      <div ng-switch-default>
        <div class="alert alert-info">
          <h4>Enterprise Management</h4>
          <p>
            Manage the application's enterprises from here.  There is currently no facility for deleting
            enterprises.
          </p>
          <ul class="list-plain">
            <li><i class="glyphicon glyphicon-pencil"></i> Edit the selected enterprise. </li>
            <li><i class="glyphicon glyphicon-file"></i> Add a new enterprise. </li>
          </ul>
        </div>
      </div>

      <div ng-switch-when="new">
        <form>
          
          <fieldset>
            <legend>Enterprise Configuration</legend>
            <div class="form-group">
              <label for="kpk-enterprise-name" class="capital">{{ 'NAME' | translate }} : </label>
              <input type="text" class="form-kapok" name="kpk-enterprise-name" id="kpk-enterprise-name" ng-model="add.name">
            </div>

            <div class="form-group">
              <label for="kpk-enterprise-abbr" class="capital">{{ 'ABBREVIATION' | translate }} : </label>
              <input type="text" class="form-kapok" name="kpk-enterprise-abbr" id="kpk-enterprise-abbr" ng-model="add.abbr">
            </div>

            <div class="form-group">
              <label for="kpk-enterprise-email" class="capital">{{ 'EMAIL' | translate }} : </label>
              <input type="text" class="form-kapok" name="kpk-enterprise-email" id="kpk-enterprise-email" ng-model="add.email">
            </div>

            <div class="form-group">
              <label for="kpk-enterprise-phone" class="capital">{{ 'PHONE' | translate }} : </label>
              <input type="text" class="form-kapok" name="kpk-enterprise-phone" id="kpk-enterprise-phone" ng-model="add.phone">
            </div>

            <div class="form-group">
              <label for="kpk-enterprise-location" class="capital">{{ 'LOCATION' | translate }} : </label>
              <select class="form-kapok" name="kpk-enterprise-location" id="kpk-enterprise-location" ng-model="add.location_id" ng-options="loc.id as fLocation(loc) for loc in location">
                <option value="" disabled="disabled">-- Select a Location --</option>
              <select>
            </div>

          </fieldset>
          <fieldset> 
            <legend>Currency/Cash Management</legend> 

            <div class="radio" ng-repeat="currency in currency.data">
              <label>
                {{currency.name}}
                <input type="radio" value="{{currency.id}}" name="kpk-enterprise-currency" ng-model="add.currency_id">
              </label>
            </div>

          </fieldset>

          <input type="submit" class="btn btn-sm btn-success" ng-click="saveNew()" value="Save">
          <input type="reset" class="btn btn-sm btn-default" ng-click="resetNew()" value="Reset Form">

        </form>
      </div>

      <div ng-switch-when="edit">
        <form>
          
          <fieldset>
            <legend>Edit Enterprise</legend>
            <div class="form-group">
              <label for="kpk-enterprise-name" class="capital">{{ 'NAME' | translate }} : </label>
              <input class="form-kapok" name="kpk-enterprise-name" id="kpk-enterprise-name" ng-model="edit.name">
            </div>

            <div class="form-group">
              <label for="kpk-enterprise-abbr" class="capital">{{ 'ABBREVIATION' | translate }} : </label>
              <input class="form-kapok" name="kpk-enterprise-abbr" id="kpk-enterprise-abbr" ng-model="edit.abbr">
            </div>

            <div class="form-group">
              <label for="kpk-enterprise-email" class="capital">{{ 'EMAIL' | translate }} : </label>
              <input class="form-kapok" name="kpk-enterprise-email" id="kpk-enterprise-email" ng-model="edit.email">
            </div>

            <div class="form-group">
              <label for="kpk-enterprise-phone" class="capital">{{ 'PHONE' | translate }} : </label>
              <input class="form-kapok" name="kpk-enterprise-phone" id="kpk-enterprise-phone" ng-model="edit.phone">
            </div>

            <div class="form-group">
              <label for="kpk-enterprise-location" class="capital">{{ 'LOCATION' | translate }} : </label>
              <select class="form-kapok" name="kpk-enterprise-location" id="kpk-enterprise-location" ng-model="edit.location_id" ng-options="loc.id as fLocation(loc) for loc in location">
                <option value="" disabled="disabled">-- Select a Location --</option>
              <select>
            </div>

          </fieldset>
          <fieldset> 
            <legend>Currency/Cash Management</legend> 

            <input type="button" class="btn btn-sm btn-default" value="Manage Cash Accounts" ng-click="manageAccounts()">

            <div class="radio" ng-repeat="currency in currency.data">
              <label>
                {{currency.name}}
                <input type="radio" value="{{currency.id}}" name="kpk-enterprise-currency" ng-model="edit.currency_id">
              </label>
            </div>

          </fieldset>

          <input type="submit" class="btn btn-sm btn-success" ng-click="saveEdit()" value="Save Changes">
          <input type="button" class="btn btn-sm btn-default" ng-click="resetEdit()" value="Reset Form">

        </form>
      </div>

      <div ng-switch-when="manage">
        <table class="table table-condensed  ">
          <thead>
            <tr><th colspan="5">Registered Relations</th></tr>
            <tr><th>Currency</th><th>Cash Account</th><th>Bank Account</th><th>Actions</th></tr>
          </thead>
          <tbody>
            <tr ng-repeat="acc in currency_account.data">
              <td>{{ currency.get(acc.currency_id).name }}  ({{currency.get(acc.currency_id).symbol}})</td>
              <td>{{ account.get(acc.cash_account).account_number }}</td>
              <td>{{ account.get(acc.bank_account).account_number }}</td>
              <td><button class="btn btn-danger btn-sm" ng-click="removeAccount(acc.id)"><i class="glyphicon glyphicon-trash"></i></button></td>
            </tr>
          </tbody>
        </table>

        <form>
          <fieldset>
            <legend>Add Currencied Account</legend>

            <div class="form-group">
              <label class="capital">Currency</label>
              <select class="form-kapok" ng-model="newAccount.currency_id" ng-options="currency.id as currency.name+' ('+currency.symbol+')' for currency in currency.data">
                <option value="">-- Select Currency --</option>
              </select>
            </div>

            <div class="form-group">
              <label class="capital">Cash Account</label>
              <select class="form-kapok" ng-model="newAccount.cash_account" ng-options="account.id as account.account_number+' -- '+account.account_txt for account in account.data">
                <option value="">-- Select Account --</option>
              </select>
            </div>

            <div class="form-group">
              <label class="capital">Bank Account</label>
              <select class="form-kapok" ng-model="newAccount.bank_account" ng-options="account.id as account.account_number+' -- '+account.account_txt for account in account.data">
                <option value="">-- Select Account --</option>
              </select>
            </div>


            <input type="submit" class="btn btn-success btn-sm" ng-click="saveAccounts()" value="Save Selection">
            <input type="button" class="btn btn-sm btn-default" ng-click="resetAccounts()" value="Reset Form">

          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
