.p-grid {
  /*border: 1px solid rgb(212,212,212);*/
  height: 600px;
}

/*Not optimal to control utils layout on two different elements*/
.util {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.util-bottom {
  border-top: 1px solid #eeeeee;
  padding-top: 5px;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 5px
}

/*FIXME*/
.hack-left {
  margin-left: -15px; !important
}

.posting {
  color: #018107;
}

.purchase-table {
  /*FIXME pretty gross*/
  max-height: 600px;
  overflow-y: auto;
}

/*ng-cloak fix*/
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}
