<link rel="stylesheet" href="partials/creditor/creditor.css"/>
<header>
 <span>Register Supplier</span>
</header>

<section class="underline">
  <div class="pull-right">
    <a href="#/creditors/creditor_group" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-tag"></span> Create Creditor Group</a>
  </div>
</section>

<div class="content">
  <div class="row">
    <div class="col-xs-3">
      <div class="panel panel-primary">
        <div class="panel-body">
          <form role="form" name="form" novalidate>
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-kapok" id="name" ng-model="creditor.name" ng-change="verifyExisting()" required>
            </div>
            <div class="form-group">
              <label for="Group">Group</label>
              <select required class="form-kapok" ng-change="verifyExisting()" id="groupselectID" ng-model="creditor_group" ng-options="group.id+' -- '+group.group_txt for group in groups">
                <option value="" disabled="disabled">--Select Group--</option>
              </select>
            </div>
            <div class="form-group">
              <label for="Location">Location</label>
              <select required class="form-kapok" id="countryselectID" ng-model="creditor.location_id" ng-options="location.id as formatLocation(location) for location in locations">
                <option value="" disabled="disabled">--Select Location--</option>
              </select>
            </div>
            <div class="checkbox">
              <label>International
                <input type="checkbox" id="internationalID" ng-model="creditor.international">
              </label>
            </div>
          <!-- </form> -->
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          Optional Information
        </div>
        <div class="panel-body">
          <form role="form">
            <div class="form-group">
              <label for="ad1">Address 1</label>
              <input type="text" class="form-kapok" id="ad1ID" ng-model="creditor.address_1">
            </div>
            <div class="form-group">
              <label for="ad1">Address 2</label>
              <input type="text" class="form-kapok" id="ad2ID" ng-model="creditor.address_2">
            </div>
            <div class="form-group">
              <label for="phone">Phone</label>
              <input type="text" class="form-kapok" id="phoneID" ng-model="creditor.phone">
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-kapok" id="emailID" ng-model="creditor.email">
            </div>
            <div class="form-group">
              <label for="fax">Fax</label>
              <input type="text" class="form-kapok" id="faxID" ng-model="creditor.fax">
            </div>                        
          </form> 
          <div>
            <label for="note">Note</label>
            <textarea ng-model="creditor.note" class="form-kapok note"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-5">
      <div class="panel panel-default">
        <div class="panel-heading">
          Registered Suppliers
        </div>
        <table class="table table-striped table-hover">
          <thead>
            <tr><th>ID</th><th>Name</th><th><i class="glyphicon glyphicon-lock"></i></th></tr>
          </thead>
          <tbody>
          <!--This is populated with angular-->
            <tr ng-click="fill($index)" ng-repeat="creditor in creditors">
              <td>{{creditor.id}}</td>
              <td>{{creditor.name}}</td>
              <td><input type="checkbox" ng-model="creditor.locked" ng-true-value="1" ng-false-value="0" ng-change="lock(creditor)" ng-checked="creditor.locked"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<section class="bar-bottom">
  <div class="pull-right">
    <button class="btn btn-danger btn-sm" ng-click="delete()" ng-disabled="form.$invalid">Delete</button>
    <button class="btn btn-success btn-sm" ng-click="save(creditor, creditor_group)" ng-disabled="form.$invalid">Save</button>
  </div>
</section>

