<div class="modal-content" style="width: 30%; margin: 10% auto; display:block; z-index:9999;">
  <div class="modal-header">
    <h3>New Creditor's Group</h3>
  </div>
  <div class="modal-body">
    <form role="form" class="form-horizontal" name="addGroup" novalidate>
      
      <div class="form-group">
        <label class="col-xs-2 control-label">Group</label>
        <div class="col-xs-9">
          <input 
            class="form-control"
            placeholder="Nom du group"
            type="text"
            ng-model="group.group"
            >
        </div>       
      </div> 
      <div class="form-group">
        <label class="col-xs-2 control-label">Account</label>
         <div class="col-xs-9">
          <select
            class="form-control"
            ng-model="group.account_id"
            ng-options="account.id+' '+account.account_txt for account in accounts"
            >
          </select>
        </div>
      </div> 

    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" ng-click="close()">Close</button>
    <button class="btn btn-primary" ng-click="submit()">Save</button>
  </div>
</div>
