<!-- Individual item (Section) -->
<table cellspacing="0" cellpadding="0" border="0">
  <tbody>
    <tr>
      <td valign="top">
        <table cellspacing="0" cellpadding="0" border="0">
          <tbody>
            <tr>
              
              <td style="font-size: 16px; line-height: 17px; padding: 14px 14px 0px 14px;">
                <small style="color: #6fcc35;">{{SECTION_HEADING}}</small><br><br>
                  {{SECTION_BODY}} 
                  <!-- Today, <strong style="font&#45;size: 20px; color: #686868;">35</strong> patients where registered; <strong style="font&#45;size: 25px; color: #686868;">23</strong> patients -->
                  <!-- new to the hospital, and <strong style="font&#45;size: 20px; color: #686868;">12</strong> returning. -->
              </td>

            </tr>
            <!--<tr><td>More content</td></tr>-->
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

