<header>
  <span>Configure Exchange Rate</span>
</header>


<section class="underline">
  <div class="pull-right">
    <button type="button" class="btn btn-sm btn-default" ng-click="flags.visible=!flags.visible">Calculator</button>
  </div>
</section>

<div class="content">

  <div class="row">
    <div class="col-xs-6">
      <table class="table table-bordered table-condensed">
        <thead>
          <tr><th>Date</th><th>Currency 1</th><th>Currency 2</th><th>Rate</th></tr>
        </thead>
        <tbody>
          <tr ng-repeat="exchange in models.exchange | limitTo: 12">
            <td>{{exchange.date | date}}</td><td>{{formatCurrency(exchange.enterprise_currency_id)}}</td><td>{{formatCurrency(exchange.foreign_currency_id)}}</td><td>{{ exchange.rate }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-xs-6" ng-cloak>
      <table class="table table-bordered table-condensed">
        <thead>
          <tr><th colspan="2">Today's ({{swap.current_exchange_rate.date | date}}) Exchange Rate:</th></tr>
          <tr><th>{{formatCurrency(swap.current_exchange_rate.enterprise_currency_id)}}</th><th>{{formatCurrency(swap.current_exchange_rate.foreign_currency_id)}}</th></tr>
        </thead>
        <tbody>
          <tr><td>1</td><td>{{swap.current_exchange_rate.rate}}</td></tr>
        </tbody>
      </table>
    
      <div class="panel panel-default">
        <div class="panel-body">
          <form name="kpk-exchange-form" class="form-horizontal">
            <fieldset>
              <legend>Set Exchange Rate</legend>
              <div class="form-group">
                <div class="col-xs-5">
                  <div class="form-kapok" style="text-align: center;">
                    {{ formatCurrency(enterprise.currency_id) }}
                  </div>
                </div>
                <label class="col-xs-1 control-label">
                </label>
                <div class="col-xs-5">
                  <select 
                    class="form-kapok"
                    id="kpk-exchange-currency2"
                    name="kpk-exchange-currency2"
                    ng-model="data.foreign_currency"
                    ng-options="currency as formatCurrency(currency.id) for currency in models.currency | filter:filterOptions"
                  >
                    <option value="" disabled="disabled">-- Select Currency --</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <div class="col-xs-5 input-group">
                  <input class="form-kapok" value="1" disabled="disabled">
                  <span class="input-group-addon">
                    {{ getCurrency(enterprise.currency_id).symbol }}
                  </span>
                </div>
                <label class="col-xs-1 control-label">
                  <i class="glyphicon glyphicon-arrow-right"></i>
                </label>
                <div class="col-xs-5 input-group">
                  <input class="form-kapok" ng-model="swap.rate" min="0" required placeholder="1.00" type="number">
                  <span class="input-group-addon">
                    {{data.foreign_currency.symbol}}
                  </span> 
                </div>
              </div>
            </fieldset>
            <input type="submit" form="exchange" class="btn btn-success btn-sm" ng-click="submit()" ng-disabled="valid()">
          </form>
        </div>
      </div>

      <div class="panel panel-default" ng-show="flags.visible">
        <div class="panel-heading">
          <span>Calculator</span>
          <span class="pull-right">
            <button type="button" ng-click="flags.visible=!flags.visible">X</button>
          </span>
        </div>
        <div k-calculator="value"></div>
      </div>

    </div>
  </div>
</div>
