<header>
  <span>Daily Exchange Rate</span>
</header>

<div class="content">
  <div class="row">
    <div class="col-xs-6">
      <div class="panel panel-default" id="exchange">
        <div class="panel-heading">
          <h5>Set Today's Exchange Rate:</h5>
        </div>
        <div class="panel-body">
          <form name="kpk-exchange-form" class="form-horizontal">
            <div class="form-group">
              <div class="col-xs-5">
                <select 
                  class="form-kapok"
                  id="kpk-exchange-from"
                  name="kpk-exchange-from"
                  ng-model="flags.from_currency_id"
                  ng-options="currency.id as formatCurrency(currency) for currency in models.currency"
                >
                  <option value="" disabled="disabled">-- Select Currency --</option>
                </select>
              </div>
              <label class="col-xs-1 control-label">
                <i class="glyphicon glyphicon-arrow-right"></i>
              </label>
              <div class="col-xs-5">
                <select 
                  class="form-kapok"
                  id="kpk-exchange-to"
                  name="kpk-exchange-to"
                  ng-model="flags.to_currency_id"
                  ng-options="currency.id as formatCurrency(currency) for currency in models.currency | filter:filterOptions"
                  >
                  <option value="" disabled="disabled">-- Select Currency --</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <div class="col-xs-5 input-group">
                <input class="form-control" min="0" value="1" disabled>
                <span class="input-group-addon">
                  {{swap.from.symbol}}
                </span>
              </div>
              <label class="col-xs-1 control-label">
                <i class="glyphicon glyphicon-arrow-right"></i>
              </label>
              <div class="col-xs-5 input-group">
                <input class="form-kapok" ng-model="swap.rate" min="0" required>
                <span class="input-group-addon">
                  {{swap.to.symbol}}
                </span> 
              </div>
            </div>
          </form>
        </div>
        <div class="panel-footer">
          <input type="submit" form="exchange" class="btn btn-default btn-sm" ng-click="submit()" ng-disabled="valid()">
        </div>
      </div>
    </div>
  </div>
</div>

<section class="bar-bottom">
  <div class="pull-right">
    <input type="submit" form="exchange" class="btn btn-success btn-sm" ng-click="submit()" ng-disabled="valid()">
  </div>
</section>
