<div class="panel panel-primary" ng-controller="CashBoxChartController as CashChartCtrl">
  <div class="panel-heading">
    {{ "DASHBOARD.FINANCE.CASHFLOW" | translate }}
    <span class="pull-right"> {{ "DASHBOARD.FINANCE.CASHBOX" | translate }}:
      <select ng-model="CashChartCtrl.cashBoxId" ng-options="cash.id as cash.text for cash in CashChartCtrl.cashBoxes" ng-change="CashChartCtrl.refresh()"></select>
    </span>
  </div>
  <table class="table table-bordered table-condensed">
    <tbody>
      <tr>
        <th>{{ "COLUMNS.INCOME" | translate }}</th>
        <th>{{ "COLUMNS.EXPENSE" | translate }}</th>
        <th>{{ "COLUMNS.BALANCE" | translate }}</th>
      </tr>
      <tr>
        <td>{{ CashChartCtrl.meta.debit | currency }}</td>
        <td>{{ CashChartCtrl.meta.credit | currency }}</td>
        <td>{{ CashChartCtrl.meta.balance | currency }}</td>
      </tr>
    </tbody>
  </table>
  <div class="panel-body">
    <canvas id="cash-line"
      class="chart chart-line"
      data="CashChartCtrl.chart.data"
      legend="true"
      series="CashChartCtrl.chart.series"
      labels="CashChartCtrl.chart.labels"
      series="CashChartCtrl.series">
    </canvas>
  </div>
</div>
