<div class="panel panel-default dash-panel" ng-controller="DebtorGroupListDashboardController as DebtorGroupListCtrl">
  <div class="panel-heading">
    {{ "DASHBOARD.FINANCE.TOP_DEBTOR_GROUPS" | translate }}
    <span class="pull-right">
      <select ng-model="DebtorGroupListCtrl.limit" ng-options="value as key for (key, value) in DebtorGroupListCtrl.limits"></select>
    </span>
  </div>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>{{ "COLUMNS.DEBTOR_GROUP" | translate }}</th>
        <th>{{ "COLUMNS.ACCOUNT_NUMBER" | translate }}</th>
        <th>{{ "COLUMNS.BALANCE" | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-if="DebtorGroupListCtrl.isLoading">
        <td colspan="3">{{ "UTIL.LOADING" | translate }}</td>
      </tr>
      <tr ng-repeat="group in DebtorGroupListCtrl.data track by group.uuid | limitTo:DebtorGroupListCtrl.limit">
        <td>{{ group.name }}</td>
        <td>{{ group.account_number }}</td>
        <td>{{ group.balance | currency }}</td>
      <tr>
    </tbody>
  </table>
</div
