<header>
  <span class="capital">{{'POSTING_JOURNAL' | translate}}</span>
</header>

<section class="underline">
  <div class="pull-left dropdown">
    <button type="button" class="btn btn-sm btn-default dropdown-toggle"><span class="glyphicon glyphicon-sort-by-attributes"></span> Group By</button>
    <ul class="dropdown-menu">
      <!-- <li class="dropdown&#45;header"></li> -->
      <li><a href="" ng-click="groupBy('transaction')">Transaction</a></li>
      <li><a href="" ng-click="groupBy('account')">Account</a></li>
      <li><a href="" ng-click="groupBy('deb_cred')">Debtor/Creditor</a></li>
    </ul>
  </div>

  <div class="pull-left">
    <!-- FIXME remove style hack -->
    <button style="margin-left: 5px;" ng-click="addTransaction()" class="btn btn-sm btn-default">Add Transaction</button> 
  </div>

  <!-- <button ng&#45;click="groupByID()" class="capital btn btn&#45;default btn&#45;sm"><span class="glyphicon glyphicon&#45;sort&#45;by&#45;attributes"></span> {{'TRANSACTION' | translate}}</button> -->
  <!-- <button ng&#45;click="groupByAccount()" class="capital btn btn&#45;default btn&#45;sm"><span class="glyphicon glyphicon&#45;sort&#45;by&#45;attributes"></span> {{'ACCOUNT' | translate}}</button> -->
            
  <div class="pull-right">
    <a class="capital btn btn-default btn-sm" ng-click="split()" ng-disabled="rows.length!=1"><span class="glyphicon glyphicon-random" ng-style="rows.length!=1 ? {} : {color:'rgb(2, 179, 2)'}"></span> Split Transaction</a>
    <a class="capital btn btn-default btn-sm" ng-click="trial()"><span class="glyphicon glyphicon-stats"></span> {{'TRIAL_BALANCE' | translate}} ({{rows.length || 0 }}) {{ 'ITEMS' | translate}}</a>
    <span class="dropdown">
      <a class="capital btn btn-default btn-sm dropdown-toggle"><span class="glyphicon glyphicon-cog"></span> {{'CONFIGURE' | translate}}</a>
      <ul class="dropdown-menu">
        <li class="dropdown-header">Toggle Columns</li>
        <li ng-repeat="column in columns">
          <a class="capital" ng-click="column.visible=!column.visible" href="">
            <i class="glyphicon" ng-class="{'glyphicon-unchecked' : !column.visible, 'glyphicon-check' : !!column.visible}"></i> {{column.name || column.id}}
          </a>
        </li>
      </ul>
    </span>
    <a class="capital btn btn-default btn-sm" ng-click="print()"><span class="glyphicon glyphicon-print"></span> {{'PRINT' | translate}}</a>
  </div>
</section>

<div class="content">
  <div class="row">
    <div class="col-xs-12">
      <div id="journal_grid" class="grid" style="height: 530px; overflow: hidden; outline: 0px; position: relative; font-size: 8pt"><!--Content populated with controller--></div>
    </div>
  </div>
</div>

<script type="text/ng-template" id="split.html">
  <div class="modal-content">
    <div class="modal-header">
    </div>
    <div class="modal-body">
      Content
    </div>
  </div>
</script>

<script type="text/ng-template" id="trialBalanceModal.html">
  <div class="modal-content">
    <div class="modal-header">
      <span style="font-size: 2em;">Trial Balance</span> 
      <span class="pull-right"><button class="btn btn-sm btn-default"><i class="glyphicon glyphicon-print"></i> Print</button></span>
    </div>

    <div class="modal-body" ng-show="!!data.errors.length">
      <div>
        <ul>
          <li ng-repeat="error in data.errors" class="hasError"> Error : {{error}}</li>
        </ul>
      </div>
    </div>

    <table class="table table-bordered" style="margin-bottom:0">
      <thead>
        <tr>
          <th>Account</th><th>Before</th><th>Debit</th><th>Credit</th><th>After</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="account in data">
          <th>{{account.account_id}}</th>
          <td>{{account.balance | currency}}</td>
          <td>{{account.debit | currency }}</td>
          <td>{{account.credit | currency }}</td>
          <td>{{account.balance + (account.credit - account.debit) | currency }}</td>
        </tr>
        <tr>
          <th>Total</th>
          <td>{{total.before | currency }}</td>
          <td>{{total.debit | currency }}</td>
          <td>{{total.credit | currency }}</td>
          <td>{{total.after | currency }}</td>
        </tr>
      </tbody>
    </table>

    <div class="modal-footer" style="margin-top: 0;">
      <button class="btn btn-sm btn-success" ng-disabled="data.errors" ng-click="ok()">Post to General Ledger</button>
      <button class="btn btn-sm btn-default" ng-click="cancel()">Cancel</button>
    </div>
  </div>
</script>
