<header>
  <span class="capital">{{ 'POSTING_JOURNAL.TITLE' | translate}}</span>
</header>

<section class="top-nav">
  <div class="pull-left dropdown">
    <button type="button" class="btn btn-sm btn-default dropdown-toggle"><i class="glyphicon glyphicon-sort-by-attributes"></i> {{ 'POSTING_JOURNAL.GROUP_BY' | translate }}</button>
    <ul class="dropdown-menu">
      <!-- <li class="dropdown&#45;header"></li> -->
      <li><a href="" ng-click="groupBy('transaction')">{{ 'POSTING_JOURNAL.TRANSACTION' | translate }}</a></li>
      <li><a href="" ng-click="groupBy('account')">{{ 'POSTING_JOURNAL.ACCOUNT' | translate }}</a></li>
      <li><a href="" ng-click="groupBy('deb_cred')">{{ 'POSTING_JOURNAL.DEB_CRED' | translate }}</a></li>
    </ul>
  </div>

  <div class="pull-left">
    <!-- FIXME remove style hack -->
    <button style="margin-left: 5px;" ng-disabled="liveTransaction.state" ng-click="openTransaction()" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-plus"></span> {{ 'POSTING_JOURNAL.ADD_TRANSACTION' | translate }}<small ng-show="liveTransaction.state" style="color: red;">{{ 'POSTING_JOURNAL.TRANSACTION' | translate }} ({{liveTransaction.transaction_id}}) {{ 'POSTING_JOURNAL.IN_PROGRESS' | translate }}</small></button> 
  </div>

  <div class="pull-right">
    <a class="capital btn btn-default btn-sm" ng-click="split()" ng-disabled="rows.length!=1"><span class="glyphicon glyphicon-random" ng-style="rows.length!=1 ? {} : {color:'rgb(2, 179, 2)'}"></span> {{ 'POSTING_JOURNAL.SPLIT' | translate}} {{ 'POSTING_JOURNAL.TRANSACTION' | translate}}</a>
    <a class="capital btn btn-default btn-sm" ng-click="trialBalance()" ng-disabled="liveTransaction.state"><span class="glyphicon glyphicon-stats"></span> {{'POSTING_JOURNAL.TRIAL_BALANCE' | translate}}</a>
    <span class="dropdown">
      <a class="capital btn btn-default btn-sm dropdown-toggle"><span class="glyphicon glyphicon-cog"></span> {{'POSTING_JOURNAL.CONFIGURE' | translate}}</a>
      <ul class="dropdown-menu">
        <li class="dropdown-header">{{ 'UTIL.TOGGLE' | translate }} {{ 'UTIL.COLUMNS' | translate }}</li>
        <li ng-repeat="column in columns">
          <a class="capital" ng-click="column.visible=!column.visible" href="">
            <i class="glyphicon" ng-class="{'glyphicon-unchecked' : !column.visible, 'glyphicon-check' : !!column.visible}"></i> {{column.name || column.id}}
          </a>
        </li>
      </ul>
    </span>
    <a class="capital btn btn-default btn-sm" ng-click="print()"><span class="glyphicon glyphicon-print"></span> {{ 'UTIL.PRINT' | translate }}</a>
  </div>
</section>

<div class="content">
<!-- <input type='text' ng&#45;model='account_id' typeahead='thing as thing.val for thing in thislist | filter: $viewValue' placeholder='Account Id' class='form&#45;kapok'> -->
  <div class="row">
    <div class="col-xs-12">
      <div id="journal_grid" class="grid" style="height: 520px; overflow: hidden; outline: 0px; position: relative; font-size: 8pt"><!--Content populated with controller--></div>
    </div>
  </div>
</div>

<script type="text/ng-template" id="verifyTransaction.html">
  <div class="modal-content">
    <div class="modal-header">
      {{ 'POSTING_JOURNAL.VERIFY_TRANSACTION' | translate }}
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-xs-6">
          <label for="transid">{{ 'POSTING_JOURNAL.TRANSACTION_NUMBER' | translate }}</label>
          <div>{{transaction.id}}</div>
        </div>
        <div class="col-xs-6">
          <label for="logid">Journal Log record</label>
          <div>{{transaction.logId}}</div>
        </div>
      </div>
      <br> <!-- FIXME Hacked style -->
      <label for="date" value="transaction.date">{{ 'POSTING_JOURNAL.TRANSACTION_DATE' | translate }}</label>
      <input type="date" disabled class="form-kapok" id="date" ng-model="transaction.date">
      <br>
      <label for="description">{{ 'POSTING_JOURNAL.JUSTIFICATION' | translate }}</label> <small>Must contain at least 10 characters</small>
      <input type="text" required class="form-kapok" id="description" ng-model='transaction.description' placeholder="Justification for ad-hoc journal entry">
    </div>
    <div class="modal-footer">
      <p style='color:red;'>{{invalidSubmit}}</p>
      <button ng-click="cancel()" class="btn btn-danger btn-sm">{{ 'UTIL.CANCEL' | translate }}</button>
      <button ng-click="submit()" ng-disabled="!transaction.description || transaction.description.length < 10 || !formComplete" class="btn btn-success btn-sm"> {{ 'UTIL.CONFIRM' | translate }} {{'POSTING_JOURNAL.TRANSACTION' | translate }}</button>
    </div>
  </div>
</script>

<script type="text/ng-template" id="split.html">
  <div class="modal-content">
    <div class="modal-header">
    </div>
    <div class="modal-body">
      Content
    </div>
  </div>
</script>

<script type="text/ng-template" id="trialBalanceModal.html">
  <div class="modal-content">
    <div class="modal-header">
      <h3 style="display:inline;">{{ 'TRIAL_BALANCE.TITLE' | translate }}</h3> 
      <span class="pull-right"><a href="" class="btn btn-sm btn-default"><i class="glyphicon glyphicon-print"></i>{{ 'UTIL.PRINT' | translate }}</a></span>
    </div>

    <div class="modal-body" ng-switch="hasErrors">
      <div ng-switch-when="true" class="alert alert-danger">
        <b>{{ 'TRIAL_BALANCE.ERROR_TEXT' | translate }}</b>
        <ul ng-repeat="error in errors" class="list-plain">
          <li>{{error}}</li>
        <ul>
      </div>

      <div ng-switch-when="false">
        <table class="table table-bordered table-condensed" style="margin-bottom:0">
          <thead>
            <tr>
              <th>{{ 'TRIAL_BALANCE.ACCOUNT' | translate }}</th>
              <th>{{ 'TRIAL_BALANCE.BEFORE' | translate }}</th>
              <th>{{ 'TRIAL_BALANCE.DEBIT' | translate }}</th>
              <th>{{ 'TRIAL_BALANCE.CREDIT' | translate }}</th>
              <th>{{ 'TRIAL_BALANCE.AFTER' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="line in data">
              <th>{{line.account_number}}</th>
              <td>{{line.balance | currency}}</td>
              <td>{{line.debit | currency }}</td>
              <td>{{line.credit | currency }}</td>
              <td>{{line.balance + (line.credit - line.debit) | currency }}</td>
            </tr>
            <tr>
              <th>{{ 'UTIL.TOTAL' | translate }}</th>
              <td>{{total.before | currency }}</td>
              <td>{{total.debit | currency }}</td>
              <td>{{total.credit | currency }}</td>
              <td>{{total.after | currency }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="modal-footer" style="margin-top: 0;">
      <button class="btn btn-sm btn-success" ng-disabled="hasErrors" ng-click="ok()">{{ 'TRIAL_BALANCE.BTN_TEXT' | translate }}</button>
      <button class="btn btn-sm btn-default" ng-click="cancel()">{{ 'UTIL.CANCEL' | translate }}</button>
    </div>
  </div>
</script>
