<link rel="stylesheet" href="partials/records/patient_records/patient_records.css"/>
<header>
  <span>Patient Records</span>
</header>

<section class="underline">
  <div class="col-xs-4 hack-left">
    <input type="text" ng-model="patient_filter.filter" class="form-kapok" placeholder="Filter Patients">
  </div>
	<div class="pull-right">
		<a ng-click="patientCard()" ng-disabled="!selected"  class="btn btn-default"><span class="glyphicon glyphicon-list"></span> Patient Card</a>
    <a class="btn btn-default"><span class="glyphicon glyphicon-search"></span> Advanced Search</a>
  </div>
</section>

<div class="content">
  <div class="row">
    <div class="col-xs-12">

      <div ng-switch on="model['patient'].data.length">
        <div class="alert alert-info" ng-switch-when='0'>
          No patients found. Reference <strong><a href="/#/patient">Patient Registration</a></strong> to register a patient.
        </div>
        <div ng-switch-default></div>
      </div>

      <div class="patient-table">
        <table class="table table-condensed table-bordered">

          <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>DOB</th>
            <th>Parent</th>
            <th>Gender</th>
            <th>Email</th>
          </tr>
          </thead>

          <tbody>
          <tr ng-class='{rowSelected: selected.id==patient.id}' ng-click="select(patient.id)"
              ng-repeat="patient in model['patient'].data | filter: patient_filter.filter">

            <td>{{patient.id}}</td>
            <td>{{patient.name}}</td>
            <td>{{patient.dob | date : 'dd/MM/yyyy'}}</td>
            <td>{{patient.parent_name}}</td>
            <td>{{patient.sex | uppercase}}</td>
            <td>{{patient.email}}</td>
            <!--Multiple ng-shows - mutually exclusive but not good practice-->
          </tr>
          </tbody>
        </table>
      </div>

    </div>

  </div>
</div>

<section class="underline overline">
  <div class="pull-right">
    <a ng-disabled='!selected' ng-click="post()" class="btn btn-default">
      <span class="glyphicon glyphicon-list-alt"></span> Registration invoice</a>
    <a ng-disabled='!selected' ng-click="post()" class="btn btn-default">
      <span class="glyphicon glyphicon-pencil"></span> Generate consultation form</a>
  </div>
	</section>


	<script type="text/ng-template" id="cardModal.html">

		<div class="modal-content">
			<div class="modal-header">
				<b>Patient ID </b><small>{{patient.first_name}} {{patient.last_name}}</small>	
			</div>
			<div class="modal-body">
				<!--Ugly layout using half bootstrap, shouldnt use rows or columns-->

  <div class="kpk-card">
  <div class="row">
    <div class="col-xs-8">
      <div class="kpk-card-id">
        <table class="card-table">
          <thead>
            <tr><th>ID</th></tr>
          </thead>
          <tbody>
            <tr><td><h4>{{yearCurrent}}/{{patient.id}}</h4></td></tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="kpk-card-age">
        <table class="card-table">
          <thead>
            <tr><th>Detail</th></tr>
          </thead>
          <tbody>
            <tr><td><h4>{{patient.sex}}/{{patient.age}}</h4></td></tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="kpk-card-name">
        <table class="card-table">
          <thead>
            <tr><th>Patient</th></tr>
          </thead>
          <tbody>
            <tr><td><h4>{{patient.first_name}} {{patient.last_name}}/{{patient.location_id}}</h4></td></tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
			</div>
		</div>

	</script>
