/*This should be moved to cards own CSS file*/
.kpk-card {
	background: rgb(255, 255, 56) ;
	padding: 10px;
}

.kpk-card-id {
	float: left;	
	clear: right;
}
.kpk-card-age { 
	float: right;
}
.kpk-card-name { 
	padding-bottom: 20px;
}
/*card style end*/
/*Override modal style - this is bad*/
.modal-body { 
	padding: 0;
	margin: 0;
}

.p-grid {
    /*border: 1px solid rgb(212,212,212);*/
    height: 600px;
}

.rowSelected {
  background-color: #dff0d8;
}

.bika-header {
  padding-bottom: 9px;
  margin: 40px 0 5px;
  border-bottom: 1px solid #eeeeee;
}

/*Not optimal to control utils layout on two different elements*/
.util {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.util-bottom {
  border-top: 1px solid #eeeeee;
  padding-top: 5px;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 5px
}

.patient-table {
  /*FIXME pretty gross*/
  max-height: 580px;
  overflow-y: auto;
}

/*FIXME*/
.hack-left {
  margin-left: -15px; !important
}


.form-kapok {

  diplay: block;
  width: 100%;
  height: 30px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
}
