<header>
  {{'FISCAL_YEAR.TITLE' | translate}} {{'FISCAL_YEAR.MANAGEMENT' | translate}}
</header>

<section class="top-nav">
  <div class="pull-right">
    <button id="createFiscal" ng-click="createFiscal()" class="capital btn btn-success btn-sm"><span class="glyphicon glyphicon-file"></span> {{ 'UTIL.CREATE' | translate }} {{ 'FISCAL_YEAR.TITLE' | translate }}</button>
  </div>
</section>

<div class="content">
  <div class="row">

    <div class="col-xs-4">
      <div class="row">
        <div class="col-xs-12">
          <!-- <h3>{{enterprise.name}} <small>{{'FISCAL_YEAR.FISCAL_YEAR_SELECTION' | translate}}</small></h3> -->
        </div>
      </div>
      
      <div class="row">
        <div class="col-xs-12">
          <div class="panel panel-default" style="overflow-x: auto;">
            <div class="panel-heading">
              <span class="glyphicon glyphicon-list-alt"></span> {{ "FISCAL_YEAR.RECORDS" | translate }}
            </div>
            
            <table class="table">
              <thead>
                <tr>
                  <th>{{ 'FISCAL_YEAR.DESCRIPTION' | translate }}</th>
                  <th>{{ 'FISCAL_YEAR.START_DATE' | translate }}</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-if="model.fiscal.data.length===0">
                  <td colspan=2><i>{{ 'FISCAL_YEAR.NO_RECORDS' | translate }}</i></tr>
                </tr>
                <tr ng-repeat="year in model.fiscal.data" ng-class="{'btn-primary': year.id==selected.id}">
                  <td>{{year.fiscal_year_txt}}</td>
                  <td>{{year.start_month}}/{{year.start_year}}</td>
                  <td><a ng-click="select(year.id)"><span class="glyphicon glyphicon-pencil"></span></a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div> <!-- End columns 4 -->
    <div class="col-xs-8">
      <div ng-switch="active">
        <div ng-switch-default>
          <div class="alert alert-info">
            <h4>Fiscal Year Management</h4>
            <p>This utility facilitates the creation and management of fiscal years. The following operations are available:</p>
            <br/> 
            <ul class="list-plain">
              <li><i class="glyphicon glyphicon-pencil"></i> Edit selected fiscal year; lock and unlock periods and view opening balances.</li>
              <li><i class="glyphicon glyphicon-file"></i> Create a new fiscal year</li>
            </ul>
          </div>

        </div>
        <div ng-switch-when="create">
          <div class="row">
            <div class="col-xs-12">
              <div id="createPanel" class="panel panel-success">
                <div class="panel-heading">
                  <span class="capital">{{ 'FISCAL_YEAR.NEW' | translate }}</span>
                </div>
              
                <div class="panel-body">
            <div class="col-xs-6">

                <form novalidate name="form">
                  <div class="form-group">
                    <label for="fiscalNote" class="capital">{{'FISCAL_YEAR.DESC' | translate}}</label>
                    <input required id="fiscalNote" class="form-kapok" ng-model="new_model.note">
                  </div>

                  <div class="form-group">
                    <label for="startMonth" class="capital">{{'FISCAL_YEAR.START_MONTH' | translate}}</label>
                    <input required type="month" id="startMonth" class="form-kapok" ng-model="new_model.start">

                  </div>

                  <div class="form-group">
                    <div class="radio">
                      <label class="capital">
                        <input type="radio" name="option_year" id="one" value="true" ng-model="new_model.year" checked>
                        {{'FISCAL_YEAR.ONE_YEAR' | translate}}
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" name="option_year" id="custom" value="false" ng-model="new_model.year">
                        {{'FISCAL_YEAR.SPECIFY' | translate}}
                      </label>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="endMonth" class="capital">{{'FISCAL_YEAR.END_MONTH' | translate}}</label>
                    <input ng-disabled="isFullYear()" required type="month" id="endMonth" class="form-kapok" ng-model="new_model.end">
                  </div>
                  <button id="submitFiscal" ng-disabled="form.$invalid" ng-click="generateFiscal(new_model)" class="btn btn-success">{{'UTIL.SUBMIT' | translate}}</button>
                </form>
            </div>
            <div class="col-xs-6">
              <code ng-repeat="item in progress">{{item}}<br></code>
            </div>
          </div>
        </div>
      </div>
        </div>
      </div>

      <div ng-switch-when="update">
        <div class="row">
          <div class="col-xs-12">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <span class="capital">{{selected.fiscal_year_txt}}</span>
              </div>
              <div class="panel-body">
          <div class="col-xs-6">
              <!--Fiscal year form-->
              <form role="form">
                <div class="form-group">
                  <!--TODO: -->
                  <label for="fiscal-name" class="control-label">{{ 'FISCAL_YEAR.NAME' | translate }}</label>
                  <input type="text" class="form-kapok" id="fiscal-name" ng-model="selected.fiscal_year_txt">
                  <!--xs doesn't have offset for some reason?-->
                  
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" ng-model="selected.locked"> {{'FISCAL_YEAR.LOCK' | translate}}
                    </label>
                  </div>
                </div>

                <div class="form-group">
                  <div class="form-group">
                    <label for="fiscal-months" class="control-label">{{'FISCAL_YEAR.TOTAL_MONTH' | translate}}</label>
                    <input type="text" class="form-kapok" id="fiscal-months" ng-model="selected.number_of_months">
                  </div>
                </div>
                <div class="form-group">
                  <div class="form-group">
                    <label for="first-voucher" class="control-label">{{'FISCAL_YEAR.FIRST_VOUCHER' | translate}}</label>

                    <input type="text" class="form-kapok" id="first-voucher"
                           ng-model="selected.transaction_start_number">
                  </div>
                  <div class="form-group">
                    <label for="last-voucher" class="control-label">{{'FISCAL_YEAR.LAST_VOUCHER' | translate}}</label>

                      <input type="text" class="form-kapok" id="last-voucher"
                             ng-model="selected.transaction_stop_number">
                  </div>
                </div>
                <div class="form-group">
                  <div class="form-group">
                    <label for="posting-from" class="control-label">{{'FISCAL_YEAR.POSTING_FROM' | translate}}</label>

                      <!--TODO: This is temporary data - logic should be implemented-->
                      <!--FIXME: Logic should all be taken care of in controller-->
                      <input type="text" class="form-kapok" id="posting-from" readonly
                             value="{{getFiscalStart() | date:'dd/MM/yyyy'}}">
                  </div>
                  <div class="form-group">
                    <label for="posting-to" class="control-label">{{'FISCAL_YEAR.POSTING_TO' | translate}}</label>

                      <input type="text" class="form-kapok" id="posting-to" readonly
                             value="{{getFiscalEnd() | date:'dd/MM/yyyy'}}">
                  </div>
                </div>
              </form>
            </div>

        <div class="col-xs-6">
          <table class="table table-hover table-bordered">
            <thead>
              <tr>
               <th colspan="3">{{'FISCAL_YEAR.PERIODS' | translate}}</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="period in period_model" class="primary">
                <!--FIXME: passing full date object to each table data seems extravagant (read: fabulous)-->
                <td>{{period.period_start | date: 'MMM'}}</td>
                <td>{{period.period_start | date:'dd/MM/yyyy'}}</td>
                <td>{{period.period_stop | date:'dd/MM/yyyy'}}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="3"><button class="btn btn-sm btn-default" ng-click="viewOpeningBalance()">View Opening Balance</button></td>
              </tr>
            </tfoot>
          </table>
        </div>
       </div>
      </div>
      </div>
    </div>
  </div>
</div>
</div>

  </div>
</div>

<script type="text/ng-template" id="createOpeningBalanceModal.html">
  <div class="modal-content">
    <div class="modal-header">
      <h3>{{ "OPENING_BALANCE.TITLE" | translate }} {{ fy_id }}</h3>
    </div>
    <div class="modal-body" style="max-height: 300px; height:300px; overflow: auto;">
      <div c-data="accounts"></div>
      <p ng-hide="accounts.length"> 
        <b>{{ "OPENING_BALANCE.LOADING" | translate }}...</b>
      </p>
      <table ng-show="accounts.length" class="table table-condensed table-bordered">
        <thead>
          <tr>
            <th style="width:45%;">{{ "COLUMNS.ACCOUNT" | translate }}</th>
            <th>{{ "COLUMNS.DEBIT" | translate }}</th>
            <th>{{ "COLUMNS.CREDIT" | translate }}</th>
            <th>{{ "COLUMNS.BALANCE" | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="account in accounts | orderBy:'account_number'" ng-switch="account.type" ng-class="{'active' : account.type=='title'}">
            <td><b>{{ account.account_number }}</b>  <i>{{account.account_txt }}</i></td>
            <td>
              <input ng-switch-default class="form-kapok" ng-model="account.debit" type="number">
              <p ng-switch-when="title"></p>
            </td>
            <td>
              <input ng-switch-default class="form-kapok" ng-model="account.credit" type="number">
              <p ng-switch-when="title"> </p>
            </td>
            <td>
              <p ng-switch-default>{{ account.debit - account.credit | currency }}</p>
              <p ng-switch-when="title"></p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="modal-footer">
      <div class="pull-left">
        <button id="submitBalance" class="btn btn-success btn-sm" ng-click="submit()">
          {{ "FORM.SUBMIT_BALANCES" | translate }}
        </button>
        <button id="resetBalance" class="btn btn-default btn-sm" ng-click="reset()">
          {{ "FORM.RESET_BALANCES" | translate }}
        </button>
      </div>
    </div>
  </div>
</script>

<script type="text/ng-template" id="viewOpeningBalanceModal.html">
  <div class="modal-content">
    <div class="modal-header">
      <h3> {{ "OPENING_BALANCE.TITLE" | translate }} {{ fiscal.fiscal_txt }}</h3>
    </div>
    <div class="modal-body" style="max-height:300px; overflow: auto;">
      <table ng-show="accounts.length" class="table table-condensed table-bordered">
        <thead>
          <tr>
            <th style="width:45%;">{{ "COLUMNS.ACCOUNT" | translate }}</th>
            <th>{{ "COLUMNS.DEBIT" | translate }}</th>
            <th>{{ "COLUMNS.CREDIT" | translate }}</th>
            <th>{{ "COLUMNS.BALANCE" | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="account in accounts | orderBy:'account_number'" ng-class="{'active' : account.type=='title'}">
            <td><b>{{ account.account_number }}</b>  <i>{{account.account_txt }}</i></td>
            <td>{{ account.debit | currency }}</td>
            <td>{{ account.credit | currency }}</td>
            <td>{{ account.debit - account.credit | currency }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="modal-footer">
      <button class="btn btn-primary btn-sm" ng-click="dismiss()">
        {{ "FORM.OK" | translate }}
      </button>
    </div>
  </div>
</script>
