#bika-units-fiscal { 
	margin-top: 10px;
}

#bika-units-fiscal-list { 
	text-align: center;
}

#fiscal-lock { 
	float: right;
}

#create-btn { 
	width: 100%;
	border-radius: 0px;
}


.selected { 
 	/*border-left: 4px solid #01AC07;
 	background: #eeeeee;*/
 	font-weight: bold;
}
