
<header>
  <span>{{'VERSEMENT.TITLE' | translate}}</span>
</header>

<section class="top-nav">
  <div class="pull-left">
    <ol class="breadcrumb" style="float: right;">
      <span class="label label-success square">{{ "VERSEMENT.NAVIG" | translate }}</span>
      <li><a href="#/cost_center">{{ "VERSEMENT.PARENT" | translate }}</a></li>
      <li><a href="" ng-click="loadPath('/cost_center/center/')">{{ "VERSEMENT.TITLE" | translate }}</a></li>
    </ol>
  </div>
</section>

<div class="content">


  <div class="panel panel-default">
    <div class="panel-heading">
      {{'VERSEMENT.CHOOSE' | translate}}
    </div>
    <div class="panel-body">
      <form class="form">
        <div class="form-group">
          <select class="col-xs-2 form-bhima" ng-model="configuration.cost_center" ng-change="performChange()">
            <option value="{{cc}}" ng-repeat="cc in model.cost_centers.data">{{cc.text}}</option>
          </select>
        </div>
      </form>
    </div>
  </div>

  <div class="row">

    <div class="col-xs-6">
      <div class="panel panel-default">
        <div class="panel-heading" style="height: 50px;">
          <span> {{'VERSEMENT.AVAILABLE_ACCOUNT' | translate}} {{selected.text}} </span>
          <span class="pull-right">
            <button ng-disabled="!isVersable()" class="btn btn-default" type="submit" ng-click="verser()">{{'VERSEMENT.VERSER' | translate}}</button>
          </span>
        </div>
        <div class="panel-body versement-header">
          <table class="table table-condensed table-striped">
            <thead>
              <tr>
                <th>
                  <input type="checkbox" ng-model="acc_1.all" ng-change="checkAll_1()" />
                </th>
                <th>
                  Account Number
                </th>
                <th>
                  Account Name
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="account in model.available_accounts.data">
                <td><input type="checkbox" ng-model ="account.checked"/></td>
                <td>{{account.account_number}}</td>
                <td>{{account.account_txt}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-xs-6">
      <div class="panel panel-primary">
        <div class="panel-heading" style="height: 50px;">
          <span>
            {{'VERSEMENT.ASSOCIATED_TO' | translate}} <b>{{selected_cost_center.text}}<span ng-if="!selected_cost_center">{{'VERSEMENT.PLEASE_SELECT' | translate}}</span></b>
          </span>
          <span class="pull-right">
            <button ng-disabled="!isRemovable()" class="btn btn-default" type="submit" ng-click="remove()"> {{'VERSEMENT.REMOVE' | translate}}</button>
          </span>
        </div>

        <div class="panel-body versement-header">
          <table class="table table-condensed table-striped">
            <thead>
              <tr><th><input type="checkbox" ng-model="acc_2.all" ng-change="checkAll_2()"/></th><th>Account Number</th><th>Account Name</th></tr>
            </thead>
            <tbody>
              <tr ng-repeat="associatedAccount in model.associatedAccounts.data">
              <td><input type="checkbox" ng-model="associatedAccount.checked"/></td>

              <td>{{associatedAccount.account_number}}</td>

              <td>{{associatedAccount.account_txt}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
