* {
  outline: none;
}

/* Hide in webkit the number spinners
 * for both date and number.
 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: none;
}

body {
  font-size: 12px;
}

button {
  text-transform: capitalize;
}

/* For some reason, minification broke this... */
fieldset {
  width: 100%;
}

section {
  position   : absolute;
  left       : 0;
  right      : 0;
  min-height : 37px;
  padding    : 3px 15px;
  margin-top : 0;
}

header {
  position      : absolute;
  top           : 0;
  right         : 0;
  left          : 0;
  height        : 50px;
  padding       : 7px 15px;
  font-size     : 2em;
  border-bottom : 1px solid #dddddd;
}

header small {
  font-weight : normal;
  line-height : 1;
  color       : #999999;
}

.visible-print,
tr.visible-print,
th.visible-print,
td.visible-print {
  display: none !important;
}

/* ng-cloak fix */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

/* first viewport */
.sidebar {
  position: fixed;
  right: 0;
  width: 18%;
  height: 100%;
  border-left: 1px solid #DADADA;
  background: #F3F3F3;
}

.sidebar h2 {
  font-family    : "Lucida Sans Unicode";
  padding-left   : 0;
  font-size      : 4em;
  letter-spacing : 0.2em;
  text-align     : center;
}

.sidebar h2 span {
   color: #01AC07;
}

/* second viewport */
.viewport {
  position : fixed;
  width    : 82%;
  height   : 100%;
}

.view {
  position : relative;
  height   : 100%;
  width    : 100%;
  overflow : auto;
}

.extend {
  bottom: 0;
}

#logo  {
  box-shadow: 0 2px 6px -3px black;
  height: 140px;
}

#bhima-util {
  position : absolute;
  bottom   : 0;
  width    : 100%;
}

#bhima-tree {
  padding-top: 20px;
  height: 70%;
  overflow: auto;
}

/* temp :: used in reporting account_balances */
.pad-left td:first-child  {
  padding-left: 15px !important;
}

.pad-right td:first-child  {
  padding-right: 15px !important;
}

/* used in login.html */
.center {
  width        : 75%;
  text-align   : center;
  float        : none;
  margin-left  : auto;
  margin-right : auto;
}

/* undo effect on panel-heading */
.center .panel-heading {
  text-align: left;
}

.underline {
  border-bottom: 1px solid #dddddd;
}

.overline {
  border-top: 1px solid #dddddd;
}

/* everything is bad */
.hack-left {
  margin-left: -15px;
}

.hack-right {
  margin-left: 5px !important;
}

.excell {
  padding : 0;
  margin  : 1px;
}

.excell tr {
  padding : 0;
  margin  : 0;
}

.excell td {
  margin  : 0;
  padding : 0;
}

.list-plain {
  list-style  : none;
  margin-left : 15px;
  padding     : 0;
}

/* positioned relative to the entire window */
/* FIXME : it would be ideal if this were not the case */
.message-container {
  right        : 18%;
  position     : absolute;
  margin-right : 0.5%;
  width        : 35%;
  z-index      : 1175;
  top          : 0.5%;
}

.message-container > .message {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.message a {
  font-weight: bold;
  color : inherit;
}

.message > p,
.message > ul {
  margin-bottom: 0;
}

.message h4 {
  margin-top: 0;
  color: inherit;
}

.message.message-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}

.message.message-primary {
  color            : #ffffff;
  background-color : #428bca;
  border-color     : #357ebd;
}

.message.message-info {
  color: #ffffff;
  background-color: #5bc0de;
  border-color: #46b8da;
}

.message.message-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}

.message.message-warning {
  background-color: #fcf8e3;
  border-color: #fbeed5;
  color: #c09853;
}

.message.message-primary a {
  color : #fff;
}

/*haaack*/
.btn-primary a {
  color: white;
}

.menu-item {
  margin-left: 10px;
}

.menu-item:hover {
  cursor: pointer;
}

.menu-item.disabled {
  cursor          : default;
  text-decoration : none;
  color           : #cecece;
}

[selected] {
  font-weight: bold;
}

.panel-primary .panel-heading .menu-item {
  color: white;
}

.selected-primary {
  color            : #ffffff;
  background-color : #428bca;
  border-color     : #357ebd;
}

.selected-success {
  color            : #468847;
  background-color : #dff0d8;
  border-color     : #d6e9c6;
}

.caret::after {
  content : attr(data-caret);
}

.creditInvoice {
  /* color         : #ffffff; */
  background-color : #d9534f;
  color            : #000;
  /* border-color  : #d43f3a; */
}

a.danger {
  color: #d2322d;
}

.modal-content {
  width   : 40%;
  top     : 10em; /* to float vertically */
  margin  : 0 auto;
  height  : auto;
  z-index : 1055; /* background is 1050 generally */
}

.modal-content.modal-lg {
  width: 60%;
}

.modal-content.modal.lg.square { 
  border-radius : 0;
}

.modal-report { 
  width : 95%;
  max-width : 75em;
  
  /* Using top because the page layout is structured such that margin would push 
   * it down (scheduled to be fixed in architecture redesign
   */
  top : 10px !important;
}

@media screen and (min-width : 992px) { 
  .modal-report { 
    width : 95%;
    max-width : 75em;
    top : 60px !important;
  }
}

.modal-report > .modal-body { 
  padding-bottom : 0px !important;
  max-height : 45em;
  overflow-y : auto;
}

.modal-report > .modal-footer { 
  margin-top : 0px !important;
}

.box-error {
  padding          : 8px;
  width            : 100%;
  font-weight      : bold;
  color            : #b94a48;
  background-color : #f2dede;
  border           : 1px solid #eed3d7;
}

.square {
  border-radius : 0;
}

.creditInvoice a {
  color: #fff;
}

.priceReport {
  border : none;
}

.priceReport .group-header th {
  padding: 5px;
}

.bhima-msg {
  padding: 5px 15px;
}

.panel-input {
  margin-left: 15px;
}

.label-group {
  margin: 0 5px;
}

.plain-list {
  padding-left: 10px;
  list-style : none;
}

.plain-list li {
  margin-bottom : 10px;
}

.table > tbody > tr.row-collapse > td,
.table > tbody > tr.row-collapse > th {
  padding : 0;
  border  : none;
}

.highlight-grey {
  background-color: #F3F3F3;
}

.table > tbody > tr.success {
  color            : #468847;
  background-color : #dff0d8;
}

.error {
  color : #b94a48;
}

.correct {
  color            : #468847;
}

.warn {
  color : #c09853;
}

.invalid {
  background-color : #ececec;
  color : #9f9f9f;
}

.configure {
  text-align : center;
}

.configure-item {
  margin : 0.5em 1.5em;
  display : inline-block;
  cursor : pointer;
}

.configure-item:hover {
  color            : #468847;
  background-color : #dff0d8;
  border-color     : #d6e9c6;
}

.parameter-table tbody th,
.paramter-table tbody td {
  padding: 5px;
}

.strike {
  text-decoration : line-through;
}

.note {
  min-height: 10em;
}

td.bhima {
    padding: 0 4px;
}

.right {
    text-align: right;
}

.icon-spin {
   -webkit-transform-origin : 50% 58%;
   transform-origin         : 50% 58%;
   -ms-transform-origin     : 50% 58%; /* IE 9 */
   -webkit-animation        : spin 1s infinite linear;
   -moz-animation           : spin 1s infinite linear;
   -o-animation             : spin 1s infinite linear;
   animation                : spin 1s infinite linear;
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.currency {
  text-align : right;
  padding-right: 8px;
}
