.form-horizontal .form-group .required:after {
  clear : none;
  content : " *";
  color: red;
}

.action {
  cursor: pointer;
  color : inherit;
}

.form-condensed .form-group {
  margin-bottom : 0;
}

.form-bhima {
  display          : block;
  width            : 100%;
  height           : 30px;
  padding          : 0 8px;
  font-size        : 14px;
  /* line-height      : 1.428571429; */
  color            : #555555;
  vertical-align   : middle;
  background-color : #ffffff;
  border           : 1px solid #cccccc;
}

.form-bhima[disabled] {
  background-color: #eeeeee;
}

textarea.form-bhima {
  height: auto;
}
