<header data-header>
  {{ "CAUTION.TITLE" | translate }}
</header>

<nav>
  <div class="pull-left">
      <ol class="breadcrumb">
        <li><a href="#/"><span class="glyphicon glyphicon-home"></span></a></li>
        <li class="active">{{ "CAUTION.TITLE" | translate }}</li>
      </ol>
  </div>
  <div class="pull-right">
    <span class="dropdown pull-right">
      <button class="btn btn-sm btn-primary dropdown-toggle">
        {{ currency.symbol || "..." }}
        <span class="caret" data-caret="&#9660;"></span>
      </button>

      <ul class="dropdown-menu ">
        <li ng-repeat="currency in cashbox_accounts.data">
        <a class="clk" ng-click="setCurrency(currency)">  ({{ currency.cash_box_id }}) {{currency.symbol}} </a>
        </li>
      </ul>
    </span>

    <span class="dropdown pull-right" style="padding-right: 5px;">
      <button class="btn btn-sm btn-primary dropdown-toggle">
        {{ cashbox.text || "..." }}
        <span class="caret" data-caret="&#9660;"></span>
      </button>

      <ul class="dropdown-menu">
        <li ng-repeat="box in cashboxes.data">
          <a class="clk" ng-click="setCashBox(box)"> {{box.text}} - {{box.symbol}} </a>
        </li>
      </ul>
    </span>
  </div>
</nav>

<main>

  <div class="row margin-top-10">
    <div class="col-xs-6">
      <div find-patient on-search-complete="loadDebtor(patient)"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <div class="panel panel-default">
        <div class="panel-heading">{{ "CAUTION.PATIENT" | translate }}</div>

        <div ng-show="noEmpty" class="panel-body">
          <form class="form-horizontal">
            <div class="col-xs-6">

              <div class="form-group">
                <label class="control-label col-xs-2">{{ "CAUTION.NAME" | translate }}</label>
                <p class="form-control-static col-xs-10">{{debtor.name}}</p>
              </div>

              <div class="form-group">
                <label class="control-label col-xs-2">{{ "CAUTION.AGE" | translate }}</label>
                <p class="form-control-static col-xs-10">{{debtor.age}}</p>
              </div>

              <div class="form-group">
                <label class="control-label col-xs-4">{{ "CAUTION.GENDER" | translate }}</label>
                <p class="form-control-static col-xs-8">{{debtor.sex}}</p>
              </div>
            </div>

            <div class="col-xs-6">
              <label class="control-label">{{ "CAUTION.ORIGIN" | translate }}</label>
              <p class="form-control-static">
                {{location.village}}<br>
                {{location.sector}}<br>
                {{location.province}}<br>
                {{location.country}}
              </p>
            </div>
          </form>
        </div>
        <span ng-show="noEmpty">
          <div class="alert alert-danger" ng-if="account_balance > 0">
            <label>
              <h4>
                <span class="glyphicon" ng-class="{'glyphicon-warning-sign error' : true }"></span> {{ "CAUTION.ATTENTION" | translate }} : <b>{{ account_balance | currency:session.currency }}</b>
              </h4>
            </label>
          </div>
        </span>

      </div>
    </div>

    <div class="col-xs-6">
      <div class="panel panel-default">
        <div class="panel-heading">{{ "CAUTION.INFO_CAUTION" | translate }}</div>
        <div class="panel-body" ng-if="noEmpty">
          <form class="form-horizontal">
            <div class="form-group">
              <label class="control-label col-xs-2">{{'CAUTION.CAUTION' | translate}}</label>
              <div class="input-group col-xs-9">
                <input type="number" ng-model="session.payment"  class="form-bhima" min="0" required>
                <span class="input-group-addon"> {{ currency.symbol }} </span>
              </div>
            </div>
            <div style="color: #b94a48;" ng-if="session.payment < currency.min_monentary_unit">
              <span class="glyphicon glyphicon-bell"></span> {{ "CAUTION.UNIT_ERROR" | translate }}
            </div>
          </form>
        </div>

        <div class="panel-footer" ng-if="noEmpty">
          <button type="button" class="btn btn-sm btn-default" ng-class="{ 'btn-danger' : session.payment < currency.min_monentary_unit, 'btn-success':  session.payment >= currency.min_monentary_unit }" ng-click="payCaution()" ng-disabled="check()">
            {{ "CAUTION.PAY" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</main>

<script type="text/ng-template" id="debtorListItem.html">
  <a>
    <span><b>[{{ match.model.debitor_uuid }}]</b></span>
    <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
  </a>
</script>
