
<header>
  <span>Assign Patient to Group</span>
</header>

<section class="underline">
  <div class="pull-left ">
    <input type="search" ng-model="flags.search" placeholder="Filter Debitor" class="form-kapok" size="25">
  </div>
</section>

<div class="content">
  <div class="row">
    <div class="col-xs-5">
      <div class="panel panel-default" style="max-height: 300px;">
        <div class="panel-heading">
          <span>All Patients</span>
        </div>
        <table class="table table-striped table-condensed">
          <thead>
            <tr><th>Patient Full Name</th><th>Date Of Birth</th></tr>
          </thead>
          <tbody>
            <tr ng-repeat="patient in models.patients track by $index" ng-click="showPatientGroups($index)">
              <td>{{patient.first_name}} - {{patient.last_name}}</td>
              <td>{{patient.dob | date}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-xs-6">  
      <div class="panel panel-default" ng-show="print">
        <div class="panel-heading">
          <span>Patient Groups</span>
          <span class="pull-right">
            <button ng-disabled="!decision()" ng-click="save()"><i class="glyphicon glyphicon-floppy"></i> Save</button>
          </span>
        </div>
        <ul class="k-list">
          <li>
            <label class="checkbox">
              <input type="checkbox" ng-model="all" ng-change="changeChildren(all)">
              All
            </label>
          </li>
          <ul class="k-list">
          <li ng-repeat="patient_group in models.patient_groups">
            <label class="checkbox">
              <input type="checkbox" ng-model="patient_group.checked">
              {{patient_group.name}}
            </label>        
          </li>        
        </ul>
        </ul>
      </div>    
    </div>
  </div>
</div>

<div ng-show="flags.success">
  <div class="alert alert-success">
    Successfully created <b>{{flags.name}}</b>.
  </div>
</div>
