<header>
  {{'SALERECORD.TITLE' | translate}}
</header>

<section class="top-nav">
  <!-- {{'SALERECORD.SHOWING' | translate}} Max({{defaultLimit}}) -->
  <div class="pull-right">
    <a class="btn btn-default"><span class="glyphicon glyphicon-search"></span> {{'SALERECORD.ADVANCE' | translate}} </a>
  </div>
</section>

<div class="content">
<div class="row">
<div class="col-xs-12">

      <div ng-switch on="model.sale.data.length">
        <div class="alert alert-info" ng-switch-when="0">
          {{'SALERECORD.UNFOUND' | translate}} <strong><a href="/#/sales">{{'SALERECORD.PATIENT_SALE' | translate}}</a></strong>{{'SALERECORD.GENERATE'}} 
        </div>
        <div ng-switch-default></div>
      </div>
      <div>
        <table class="table table-bordered table-condensed">

          <thead>
            <tr>
            <th>{{'COLUMNS.DATE' | translate}}</th>
            <th>{{'COLUMNS.ID' | translate}}</th>
            
            <th>{{'COLUMNS.PATIENT' | translate}}</th>
            <th>{{'COLUMNS.TOTAL_AMOUNT' | translate}}</th>
            <!-- <th>Debtor ID</th> -->
            <th>{{'COLUMNS.POSTED' | translate}}</th>
            <th colspan="2"></th>
            <!-- <th>Status</th> -->
          </tr>
          </thead>

          <tbody>
          <tr ng-class="{'rowSelected': selected.uuid==invoice.uuid, 'creditInvoice': invoice.creditId}" ng-click="select(invoice.uuid)"
            ng-repeat="invoice in model.sale.data">
              
              <td>{{invoice.invoice_date | date : 'EEEE, dd/MM/yyyy'}}</td>
              <td><b>{{invoice.hr_id}}</b></td>
              <td>[{{invoice.patientReference}}] {{invoice.first_name}} {{invoice.last_name}}</td>
              <td>{{invoice.cost | currency}}</td>
              <!-- <td>{{invoice.debitor_id}}</td> -->
              <!--Multiple ng-shows - mutually exclusive but not good practice-->
              
              
              <td><span ng-hide="invoice.posted" class="glyphicon glyphicon-minus"></span>
              <div ng-show="invoice.posted"><span class="posting glyphicon glyphicon-book"></span> {{'SALERECORD.POSTING' | translate}}</div>
              </td>
              
              <td><a ng-href="/#/invoice/sale/{{invoice.uuid}}">{{'SALERECORD.RECEIPT' | translate}}</a></td>
              <td><a ng-href="/#/credit_note/{{invoice.uuid}}">{{'SALERECORD.CREDIT_NOTE' | translate}}</a></td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>

<section class="bar-bottom">
  <div class="pull-right">
  <a ng-disabled='selected.posted!=0' ng-click="post()" class="btn btn-default">
    <span class="glyphicon glyphicon-floppy-open"></span> {{'SALERECORD.POST' | translate}}</a>
  </div>
</section>
