<link rel="stylesheet" href="partials/records/sales_records/sales_records.css"/>

<header>
<span>Patient Invoice Records</span>
</header>

<section class="underline">
<div class="col-xs-4 hack-left">
  <input type="text" ng-model="invoice_filter.filter" class="form-kapok" placeholder="Filter Invoices">
</div>
    <div class="pull-right">

      <a class="btn btn-default"><span class="glyphicon glyphicon-search"></span> Advanced Search</a>

    </div>
</section>

<div class="content">
<div class="row">
<div class="col-xs-12">

      <div ng-switch on="invoice_model.data.length">
        <div class="alert alert-info" ng-switch-when="0">
          No patient transactions found. Reference <strong><a href="/#/sales">Patient Sales</a></strong> to generate an
          invoice.
        </div>
        <div ng-switch-default></div>
      </div>
      <div class="invoice-table">
        <table class="table table-bordered">

          <thead>
          <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Amount</th>
            <th>Debtor ID</th>
            <th>Posted</th>
          </tr>
          </thead>

          <tbody>
          <tr ng-class='{rowSelected: selected.id==invoice.id}' ng-click="select(invoice.id)"
              ng-repeat="invoice in invoice_model.data | filter: invoice_filter.filter">

            <td>{{invoice.id}}</td>
            <td>{{invoice.invoice_date | date : 'EEEE, dd/MM/yyyy'}}</td>
            <td>{{invoice.cost | currency}}</td>
            <td>{{invoice.debitor_id}}</td>
            <!--Multiple ng-shows - mutually exclusive but not good practice-->
            <td><span ng-hide="invoice.posted" class="glyphicon glyphicon-minus"></span>

              <div ng-show="invoice.posted"><span class="posting glyphicon glyphicon-book"></span> Posting Journal</div>
            </td>
            <td><a><span class="glyphicon glyphicon-random"></span></a></td>

          </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>

<section class="underline overline">
<div class="pull-right">
              <a ng-disabled='selected.posted!=0' ng-click="post()" class="btn btn-default">
                <span class="glyphicon glyphicon-floppy-open"></span> Post to Journal</a>

            </div>
</section>