<header>
  {{ 'PRIMARY_CASH.EXPENSE.MULTI_PAYROLL' | translate }}
</header>

<nav>
  <div style="position: absolute; right: 5px;">
    <button class="btn btn-sm btn-primary dropdown-toggle">
      {{ session.selectedItem.symbol || "PRIMARY_CASH.DEFAULT_CURRENCY" | translate }}
      <span class="caret" data-caret="&#9660;"></span>
    </button>
    
    <ul class="dropdown-menu pull-left">
      <li ng-repeat="box in session.model.cash_box.data">
        <a ng-click="setCashAccount(box)"> {{ box.symbol }} </a>
      </li>
    </ul>

    <button
      style="margin-left: 5px;"
      ng-click="reconfigure()"
      class="btn btn-sm btn-default">
      <span class="glyphicon glyphicon-repeat"></span>
    </button>
  </div>

  <div class="pull-left">
    <ol class="breadcrumb">
      <li><span class="glyphicon glyphicon-home"></span></li>
      <li><a href="#/primary_cash/">{{"PRIMARY_CASH.TITLE" | translate}}</a></li>
      <li class="active">{{"PRIMARY_CASH.EXPENSE.PAYROLL" | translate}}</li>
    </ol>
  </div>
</nav>

<main>

  <div ng-if="!session.configured" class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          {{ "PRIMARY_CASH.EXPENSE.SELECT_PERIOD" | translate }}
        </div>

        <div class="panel-body">
          <div class="configure">
            <span
              style="font-size: 70px"
              class="glyphicon glyphicon-calendar">
            </span>
            <select 
              ng-model="session.pp" 
              ng-options="pp as formatPeriod(pp) for pp in session.model.paiement_period.data" 
              ng-change="setConfiguration(session.pp)"
              class="form-bhima">
              <option value="" ng-disabled="disabled">-- {{"SELECT.PERIOD_PAYMENT" | translate}}-- </option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-12" ng-show="session.complete">
    <div class="panel panel-default">
      <div class="panel-heading" >
        <b>{{ "PRIMARY_CASH.EXPENSE.PAYABLE_EMPLOYEE" | translate}} {{session.pp.dateFrom | date}} / {{session.pp.dateTo | date}}</b>
      </div>
      <div class="panel-body">

        <div ng-repeat-start="row in session.rows" class="panel panel-primary">
          <div ng-click="row.visible=!row.visible" class="panel-heading">
            {{row.emp.prenom}} {{row.emp.name}} {{row.emp.postnom}}
            <div class="pull-right">
              <span  class="glyphicon" ng-class="{'glyphicon-eye-close': !row.visible, 'glyphicon-eye-open': row.visible}"></span>
            </div>
          </div>

          <div ng-show="row.visible" class="panel-body">

            <div class="col-xs-12">
              <fieldset>
                <legend>
                  {{ "PRIMARY_CASH.EXPENSE.SUMMARY" | translate}}
                </legend>
                <table class=' table-condensed table table-bordered'>
                  <thead>
                    <tr>
                      <th>{{ "COLUMNS.NAME" | translate}}</th>
                      <th>{{ "COLUMNS.DATE_EMBAUCHE" | translate}}</th>
                      <th>{{ "COLUMNS.GRADE" | translate}}</th>
                      <th>{{ "COLUMNS.NB_CHILD" | translate}}</th>
                      <th>{{ "COLUMNS.NB_SPOUSE" | translate}}</th>
                      <th>{{ "COLUMNS.BASE_SALARY" | translate}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{row.emp.name}}</td>
                      <td>{{row.emp.date_embauche | date}}</td>
                      <td>{{row.emp.text}}</td>
                      <td>{{row.emp.nb_enfant}}</td>
                      <td>{{row.emp.nb_spouse}}</td>
                      <td><b ng-bind-html="row.emp.basic_salary | intlcurrency:session.selectedItem.currency_id"></b></td>
                    </tr>
                  </tbody>
                </table>
              </fieldset>
            </div>

            <div class="col-xs-12">
              <form class="form-inline">
                <fieldset>
                  <legend>
                    {{"PRIMARY_CASH.EXPENSE.DAYS" | translate}}
                  </legend>
                  <div class="form-group col-xs-4">
                    <label class="col-xs-4">{{"PRIMARY_CASH.EXPENSE.WORKING_DAY" | translate}}</label>                  
                    <div class="input-group col-xs-8">                    
                      <input type="number" ng-model="row.working_day" ng-change="refresh(row)"  class="form-bhima" min="0" required>
                      <span class="input-group-addon">{{"PRIMARY_CASH.EXPENSE.DAYS" | translate}} </span>
                    </div>
                  </div>

                  <div class="form-group col-xs-4">
                    <label class="col-xs-4">{{"PRIMARY_CASH.EXPENSE.OFF_DAY" | translate}}</label>
                    <div class="input-group col-xs-8">
                      <input type="number" ng-model="row.off_day" disabled  class="form-bhima" min="0" required>
                      <span class="input-group-addon">{{"PRIMARY_CASH.EXPENSE.DAYS" | translate}} </span>
                    </div>
                  </div>

                  <div class="form-group col-xs-4">
                    <label class="col-xs-4">{{"PRIMARY_CASH.EXPENSE.HOLLY_DAY" | translate}}</label>
                    <div class="input-group col-xs-8">
                      <input type="number" ng-model="row.hollyday" disabled  class="form-bhima" min="0" required>
                      <span class="input-group-addon">{{"PRIMARY_CASH.EXPENSE.DAYS" | translate}} </span>
                    </div>
                  </div>
                </fieldset>

                <fieldset>
                  <legend>
                    {{"PRIMARY_CASH.EXPENSE.RUBRICS" | translate}}                    
                  </legend>

                  <div class="form-group col-xs-3">
                    <div class="col-xs-4">
                      <label class="control-label">{{"PRIMARY_CASH.EXPENSE.HOUSING" | translate}}</label>
                    </div>

                    <div class="input-group col-xs-8">
                      <input type="number" ng-model="row.HOUS"  class="form-bhima" min="0" required>
                      <span class="input-group-addon"> {{ session.selectedItem.symbol }} </span>
                    </div>
                  </div>          

                  <div class="form-group col-xs-3">
                    <div class="col-xs-4">
                      <label class="control-label">{{"PRIMARY_CASH.EXPENSE.FAM_ALLOW" | translate}}</label>
                    </div>

                    <div class="input-group col-xs-8">
                      <input type="number" ng-model="row.ALLO"  class="form-bhima" min="0" required>
                      <span class="input-group-addon"> {{ session.selectedItem.symbol }} </span>
                    </div>
                  </div>         

                  <div class="form-group col-xs-3">
                    <div class="col-xs-4">
                      <label class="control-label">{{"PRIMARY_CASH.EXPENSE.TRANSPORT" | translate}}</label>
                    </div>

                    <div class="input-group col-xs-8">
                      <input type="number" ng-model="row.TRAN"  class="form-bhima" min="0" required>
                      <span class="input-group-addon"> {{ session.selectedItem.symbol }} </span>
                    </div>
                  </div>          

                  <div class="form-group col-xs-3">
                    <div class="col-xs-4">
                      <label class="control-label">{{"PRIMARY_CASH.EXPENSE.SENIORITY" | translate}}</label>
                    </div>

                    <div class="input-group col-xs-8">
                      <input type="number" ng-model="row.SENI"  class="form-bhima" min="0" required>
                      <span class="input-group-addon"> {{ session.selectedItem.symbol }} </span>
                    </div>
                  </div>
                </fieldset>

                <fieldset>
                  <legend>
                    {{"PRIMARY_CASH.EXPENSE.TAXES_OTHERS" | translate}}
                  </legend>

                  <div class="form-group col-xs-3">
                    <div class="col-xs-4">
                      <label class="control-label">{{"PRIMARY_CASH.EXPENSE.INSS" | translate}}</label>
                    </div>

                    <div class="input-group col-xs-8">
                      <input type="number" disabled ng-model="row.INS1"  class="form-bhima" min="0" required>
                      <span class="input-group-addon"> {{ session.selectedItem.symbol }} </span>
                    </div>
                  </div>          

                  <div class="form-group col-xs-3">
                    <div class="col-xs-4">
                      <label class="control-label">{{"PRIMARY_CASH.EXPENSE.IPR" | translate}}</label>
                    </div>

                    <div class="input-group col-xs-8">
                      <input type="number" disabled ng-model="row.IPR1"  class="form-bhima" min="0" required>
                      <span class="input-group-addon"> {{ session.selectedItem.symbol }} </span>
                    </div>
                  </div> 

                  <div class="form-group col-xs-3">
                    <div class="col-xs-4">
                      <label class="control-label">{{"PRIMARY_CASH.EXPENSE.SALARY_AV" | translate}}</label>
                    </div>

                    <div class="input-group col-xs-8">
                      <input type="number" ng-model="row.ADVA"  class="form-bhima" min="0" required>
                      <span class="input-group-addon"> {{ session.selectedItem.symbol }} </span>
                    </div>
                  </div>        

                  <div class="form-group col-xs-3">
                    <div class="col-xs-4">
                      <label class="control-label">{{"PRIMARY_CASH.EXPENSE.OTHER_DEDUCT" | translate}}</label>
                    </div>

                    <div class="input-group col-xs-8">
                      <input type="number" ng-model="row.other"  class="form-bhima" min="0" required>
                      <span class="input-group-addon"> {{ session.selectedItem.symbol }} </span>
                    </div>
                  </div>
                </fieldset>

                <fieldset>
                  <legend>
                    {{"PRIMARY_CASH.EXPENSE.TAXES_OTHERS_ENTERPRISE" | translate}}
                  </legend>

                  <div class="form-group col-xs-3">
                    <div class="col-xs-4">
                      <label class="control-label">{{"PRIMARY_CASH.EXPENSE.INSS" | translate}}</label>
                    </div>

                    <div class="input-group col-xs-8">
                      <input type="number" ng-model="row.INS2"  class="form-bhima" min="0" required>
                      <span class="input-group-addon"> {{ session.selectedItem.symbol }} </span>
                    </div>
                  </div> 

                  <div class="form-group col-xs-3">
                    <div class="col-xs-4">
                      <label class="control-label">{{"PRIMARY_CASH.EXPENSE.ONEM" | translate}}</label>
                    </div>

                    <div class="input-group col-xs-8">
                      <input type="number" ng-model="row.ONEM"  class="form-bhima" min="0" required>
                      <span class="input-group-addon"> {{ session.selectedItem.symbol }} </span>
                    </div>
                  </div>        

                  <div class="form-group col-xs-3">
                    <div class="col-xs-4">
                      <label class="control-label">{{"PRIMARY_CASH.EXPENSE.IERE" | translate}}</label>
                    </div>

                    <div class="input-group col-xs-8">
                      <input type="number" ng-model="row.IERE"  class="form-bhima" min="0" required>
                      <span class="input-group-addon"> {{ session.selectedItem.symbol }} </span>
                    </div>
                  </div>

                  <div class="form-group col-xs-3">
                    <div class="col-xs-4">
                      <label class="control-label">{{"PRIMARY_CASH.EXPENSE.INPP" | translate}}</label>
                    </div>

                    <div class="input-group col-xs-8">
                      <input type="number" ng-model="row.INPP"  class="form-bhima" min="0" required>
                      <span class="input-group-addon"> {{ session.selectedItem.symbol }} </span>
                    </div>
                  </div>
                </fieldset>
                <hr/>
                <div class="pull-right">
                  <button class="btn btn-sm btn-success" type="button" ng-click="submit([row])" ng-disabled="depotNew.$invalid">
                    {{ "FORM.SUBMIT" | translate }}
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <hr ng-repeat-end>
        <div class="pull-right">
          <button class="btn btn-sm btn-success" type="button" ng-click="submit(session.rows)" ng-disabled="!session.rows.length">
            {{ "FORM.SUBMIT" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</main>