<header>
  {{ 'PRIMARY_CASH.EXPENSE.PAYDAY_ADVANCE' | translate }}
</header>

<nav>
  <div class="pull-left">
    <ol class="breadcrumb">
      <li><span class="glyphicon glyphicon-home"></span></li>
      <li><a href="#/primary_cash/">{{"PRIMARY_CASH.TITLE" | translate}}</a></li>
      <li><a ng-href="#/primary_cash/expense/payroll/{{session.primaryCashBox}}">{{"PRIMARY_CASH.EXPENSE.PAYROLL" | translate}}</a></li>
      <li class="active">{{"PRIMARY_CASH.EXPENSE.PAYDAY_ADVANCE" | translate}}</li>
    </ol>
  </div>
</nav>

<main>	
	<div class="row">
   <div class="col-xs-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>{{ 'PRIMARY_CASH.EXPENSE.PAYDAY_ADVANCE' | translate }}</strong>
        </div>

        <div class="panel-body">
         <form name="paydayAdvance" novalidate>

          <div class="form-group required">
            <label class="required">{{ 'COLUMNS.EMPLOYEE' | translate }}</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
              <input 
              ng-model="session.employee"
              type="text" 
              class="form-control" 
              typeahead="emp as emp.name for emp in employee.data | filter:$viewValue | limitTo:8"
              typeahead-on-select="getEmployee(session.employee)"
              typeahead-template-url="employeeListItem.tmpl.html">
            </div>
          </div>

          <div class="form-group required">
            <label class="required">{{ 'COLUMNS.CASHBOX' | translate }}</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-inbox"></i></span>
              <input 
              ng-model="session.cashBox"
              type="text" 
              class="form-control" 
              typeahead="cash as cash.account_txt for cash in cashBox.data | filter:$viewValue | limitTo:8"
              typeahead-template-url="cashBoxListItem.tmpl.html">
            </div>
          </div>

          <div class="form-group required">
            <label class="required">{{ 'COLUMNS.MONTANT' | translate }}</label>
            <div class="input-group">
              <input class="form-control" type="text" ng-model="session.montant" required>
              <span class="input-group-addon">{{ session.cashBox.symbol }}</span>
            </div>
          </div>

          <div class="form-group required">
            <label class="required">{{ 'COLUMNS.MOTIF' | translate }}</label>
            <input class="form-control" type="text" ng-model="session.motif" required>
          </div>

          <div class="form-group required">
            <button class="pull-right btn btn-success" ng-disabled="paydayAdvance.$invalid" ng-click="submit()">{{ 'UTIL.SUBMIT' | translate }}</button>
          </div>

         </form>
        </div>
      </div>
   </div> 

   <div class="col-xs-6">
     <div class="alert alert-info">
       <h4>{{"PRIMARY_CASH.EXPENSE.PAYDAY_ADVANCE" | translate}}</h4>
       <p>{{"PRIMARY_CASH.EXPENSE.PAYDAY_DETAILS" | translate}}</p>
     </div>
   </div>
  </div>
</main>

<script type="text/ng-template" id="employeeListItem.tmpl.html">
  <a class="clk">
    <span><strong>[{{ match.model.code }}]</strong></span>
    <span ng-if="match.model.prenom">{{ match.model.prenom }}, </span>
    <span ng-if="match.model.name">{{ match.model.name }}</span>
    <span ng-if="match.model.postnom"> - {{ match.model.postnom }}</span>
  </a>
</script>

<script type="text/ng-template" id="cashBoxListItem.tmpl.html">
  <a class="clk">
    <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
  </a>
</script>