<header data-header>
  {{ 'PRIMARY_CASH.EXPENSE.PAYROLL' | translate }}
</header>

<nav>

  <div style="position: absolute; right: 5px;">
    <button class="btn btn-sm btn-primary dropdown-toggle">
      {{ session.selectedItem.symbol || "PRIMARY_CASH.DEFAULT_CURRENCY" | translate }}
      <span class="caret" data-caret="&#9660;"></span>
    </button>
    <ul class="dropdown-menu pull-left">
      <li ng-repeat="box in session.model.cash_box.data">
        <a ng-click="setCashAccount(box)"> {{ box.symbol }} </a>
      </li>
    </ul>
    
    <!-- FIXME this button is not useful and generates error -->
    <!-- <button
      style="margin-left: 5px;"
      ng-click="reconfigure()"
      class="btn btn-sm btn-default">
      <span class="glyphicon glyphicon-repeat"></span>
    </button> -->
  </div>

  <div class="pull-left">
    <ol class="breadcrumb">
      <li><span class="glyphicon glyphicon-home"></span></li>
      <li><a href="#/primary_cash/">{{"PRIMARY_CASH.TITLE" | translate}}</a></li>
      <li class="active">{{"PRIMARY_CASH.EXPENSE.PAYROLL" | translate}}</li>
    </ol>
  </div>
</nav>

<main>
  <div class="row" style="margin-top: 10px">
    <div class="col-xs-6">

      <div class="panel panel-default square">
        <div class="panel-heading square">
          <span class="glyphicon glyphicon-cog"></span> {{ 'TAXE_MANAGEMENT.OPTIONS' | translate }}
        </div>

        <div class="panel-body">
          <ul class="primary_cash_list">
            <li ng-repeat="item in configuration.operations">
              <span style="color: rgb(7, 150, 35);" class="glyphicon glyphicon-asterisk"></span>
              <a class="menu-item" ng-click="loadPath(item.link)">{{item.key | translate}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</main>

