<header>
  <span>{{ "PATIENT_GRP_ASSIGNMENT.TITLE" | translate }}</span>
</header>

<section class="top-nav">
  <div class="pull-left ">
    <input type="search" ng-model="flags.search" placeholder="Filter Debitor" class="form-bhima" size="25">
  </div>
</section>

<div class="content">
  <div class="row">
    <div class="col-xs-7">

      <div find-patient data-on-search-complete="loadPatientGroups"></div>
    </div> 
  </div>
  <div class="row">
    <div class="col-xs-7"> 
      <div class="panel panel-default" ng-show="print">
        <div class="panel-heading">
          <span><b>{{patient.first_name}}</b> {{ "PATIENT_GRP_ASSIGNMENT.PATIENT_GRP" | translate }}</span>
          <span class="pull-right">
            <a ng-click="checking()" class="menu-item"><b><i class="glyphicon glyphicon-floppy-save"></i> {{'FORM.SAVE_CHANGES' | translate}}</b></a>
          </span>
        </div>
        <div class="panel-body">
          <ul class="k-list">
            <li>
              <label class="checkbox">
                <input type="checkbox" ng-model="all" ng-change="changeChildren(all)">
                All
              </label>
            </li>
            <ul class="k-list">
              <li ng-repeat="pg in models.patient_group">
                <label class="checkbox">
                  <input type="checkbox" ng-model="pg.checked">
                  {{pg.name}}
                </label>       
              </li>       
            </ul>
          </ul>
        </div>
      </div>   
    </div>
  </div>
</div>

<script type="text/ng-template" id="debtorListItem.html">
  <a>
    <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
    <span><b>[{{match.model.uuid}}]</b></span>
  </a>
</script>

