<link rel="stylesheet" href="/partials/sales/index.css">
<h2>Sales</h2>
<div class="salesbook">
  <form>
    <div class="row">
      <div class="col-xs-4">
        <select 
          ng-model="sale.recipient"
          ng-options="patient.first_name for patient in patients">
        </select>
      </div>
      <div class="col-xs-4">
        <input ng-model="sale.order">
      </div>
      <div class="col-xs-4">
        <select ng-model="sale.sale_type">
          <option value='1'>Sale</option>
          <option value='2'>Credit Note</option>
        </select> 
      </div>
    </div>
    <div class="row">
      <div class="col-xs-1">
        <div class="address">
          {{sale.address}}
        </div>
      </div>
      <div class="col-xs-6">
        <label for="soldby">Sold By:</label>
        <select id="soldby"
          ng-model="sale.seller"
          ng-options="employee.name for employee in employees">
        </select>
      </div>
      <div class="col-xs-5">
        <!-- do we need this? -->
        <label for="dept">Department:</label>
        <select id="dept"
          ng-model="sale.department"
          ng-options="dept.name for dept in departments">
        </select>
        <label for="payable">Payable by:</label>
        <select id="payable"
          ng-model="sale.payable"
          ng-options="pay.text for pay in payables">
        </select>
      </div>
      <div class="invoice">
        <table>
          <tbody>
            <tr><td>Sales Num</td><td>{{sale.invoice_num}}</td></tr>
            <tr><td>Sales Date</td><td>{{sale.sale_date | date}}</td></tr> 
            <tr><td>Delivery Date</td><td>{{sale.delivery_date | date}}</td></tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row detail">
    <div class="table table-bordered" ng-grid="saledetailoptions"></div>
    <div class="totals">
      {{totals.detail_total}}
    </div>
  </div>
  <hr></hr>
  <div class="table table-bordered journal" ng-grid="salejournaloptions"></div>
</form>
