<link href="partials/sales/sales.css" rel="stylesheet"/>

<header>
  <span>Create Patient Invoice</span>
</header>

<section class="underline">
  <div class="pull-right">
    <a class="btn btn-default"><span class="glyphicon glyphicon-floppy-save"></span> Import prescription
    </a>
    <a class="btn btn-default"><span class="glyphicon glyphicon-th-list"></span> Update Defaults</a>

  </div>
</section>

<!-- <div class="form&#45;group"> -->
<!--     <div class="radio"> -->
<!--       <label> -->
<!--         <input type="radio" name="option_payable" id="immediate" value="true" ng&#45;model="invoice.payable"> -->
<!--         Payable Immediately -->
<!--       </label> -->
<!--     </div> -->
<!--     <div class="radio"> -->
<!--       <label> -->
<!--         <input type="radio" name="option_payable" id="pay" value="false" checked -->
<!--                 ng&#45;model="invoice.payable"> -->
<!--         Payable by -->
<!--       </label> -->
<!--     </div> -->
<!--     <div class="input&#45;group"> -->
<!--       <select id="payable" class="form&#45;kapok" ng&#45;disabled="isPayable()"> -->
<!--         <!&#45;&#45;FIXME Currently hardcoded &#45; should these be pulled from a data set?&#45;&#45;> -->
<!--         <option>14</option> -->
<!--         <option>30</option> -->
<!--       </select> -->
<!--       <span class="input&#45;group&#45;addon">days</span> -->
<!--     </div> -->
<!--   </div> -->
<!-- </div> -->

<div class="content">
  
<div class="row">
  <div class="col-xs-12">
    <label class="control-label">Invoice Patient</label>
    
    <div class="input-group">
      <input placeholder="Select Invoice Patient" list="debtorList" class="form-kapok" ng-model="selectedDebtor" ng-options="patient as patient.first_name for patient in model.patient.data"></select>
      <datalist id="debtorList">
      <option ng-repeat="patient in model.patient.data">{{patient.first_name}} {{patient.last_name}}</option> 
      </datalist>
      <span class="input-group-btn"> 
        <button ng-click="initialiseSaleDetails(selectedDebtor)" class="btn btn-default btn-sm">Select Patient</button>
      </span>
    </div>
    <br> <!-- Style hack -->
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span>Sale</span>
        <div class="pull-right">
          <span class="glyphicon glyphicon-eye-close"></span>
        </div>
      </div>
      <div ng-show="invoiceDebtor">
        <table class="table table-condensed table-bordered">
          <thead>
            <tr><th>Date</th><th>Invoice</th><th>Debtor</th><th>Note</th></tr>
          </thead>
          <tbody>
            <tr><td>{{invoiceDate | date}}</td><td>{{invoiceId}}</td><td>{{invoiceDebtor.first_name}} {{invoiceDebtor.last_name}}</td><td>{{invoiceNote}}</td></tr>
          </tbody>
        </table>
      </div> <!-- End panel body div -->
    </div> <!-- End sale overview panel -->
  </div> <!-- End column 12 -->
</div> <!-- End sale overview row -->

<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-success">
      <div class="panel-heading">
        <span>Sale Items</span>
        <!-- <button class="pull&#45;right" ng&#45;click="updateInventory()">+</button> -->
        <div class="pull-right">
          <span class="glyphicon glyphicon-eye-close"></span>
        </div>
      </div>
      <table class="table table-condensed" ng-show="itemsInInv()">
        <thead>
        <tr>
          <td class="invoice-item">Item</td>
          <td class="invoice-desc">Description</td>
          <td>Qty</td>
          <td>Unit Price</td>
          <td>Amount</td>
        </tr>
        </thead>
        <tbody>
        <!-- FIXME: strange filter -->
        <tr ng-repeat="item in inventory">
          <td class="invoice-item"><select class="form-invoice" ng-change="updateRow(item)" ng-model="item.item"
                                            ng-options="l.code for l in inventory_model.data"><option value="" disabled="disabled">--Select Item--</option></select></td>
          <td class="invoice-desc"><input type="text" class="form-invoice" ng-model="item.text"></td>
          <td class="invoice-quantity"><input type="number" class="form-invoice" ng-model="item.quantity"></td>
          <td class="invoice-price"><input type="number" class="form-invoice" ng-model="item.price"></td>
          <td class="invoice-amount"><span>{{item.quantity * item.price | currency}}</span></td>
        </tr>
        <tr>
          <td colspan="4"></td>
          <td><span><b>{{invoiceTotal() | currency}}</b></span></td>
        </tbody>
      </table>
    </div>
  </div>
</div>

<section class="underline overline">
  <div class="pull-right">
    <a ng-disabled="!debtor || inventory.length==0" ng-click="generateInvoice()" class="btn btn-default"><span class="glyphicon glyphicon-floppy-open"></span> Submit Patient Invoice</a>
  </div>
</section>
