<header>
  <span>Create Patient Invoice</span>
</header>

<section class="underline">
  <div class="pull-right">
    <a class="btn btn-default">
      <span class="glyphicon glyphicon-floppy-save"></span> Import prescription
    </a>
    <a class="btn btn-default">
      <span class="glyphicon glyphicon-th-list"></span> Update Defaults
    </a>
  </div>
</section>

<div class="content">
  
  <div class="row">
    <div class="col-xs-5">
      <div find-patient on-search-complete="initialiseSaleDetails"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
        <div ng-show="invoice.debtor">
          <div class="row">
            <div class="col-xs-12">
              <fieldset>
                <legend>Sale
                  <div class="pull-right">
                    <a class="fieldset-util"><span class="glyphicon glyphicon-pencil"></span> Edit Sale</a>
                  </div>
                </legend>
                <table class=' table-condensed table table-bordered'>
                  <thead>
                    <tr>
                      <th>Id</th>
                      <th>Date</th>
                      <th>Debtor</th>
                      <th>Note</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{invoice.id}}</td>
                      <td>{{invoice.date}}</td>
                      <td>{{invoice.debtor.name}}</td>
                      <td>{{invoice.note}}</td>
                  </tbody>
                </table>
               </form>
              </fieldset>
            </div>
          </div>
         <div class="row">

            <div class="col-xs-12">
                <div class="pull-right">
                  <a ng-click="addInvoiceItem()" class="fieldset-util"><span class="glyphicon glyphicon-plus"></span> Add Line Item</a>
                </div>
                <table class=' table-condensed table'>
                  <thead>
                    <tr>
                      <th>Item</th>
                      <th>Description</th>
                      <th>Qty</th>
                      <th>Unit Price</th>
                      <th>Amount</th>
                      <th></th>
                    </tr>
                  </thead>
                  
                  <tbody>
                    <!-- FIXME: strange filter -->
                    <tr ng-repeat="invoiceItem in invoice.items">
                      <td>
                        <input 
                        class="form-invoice"
                        type="text"
                        typeahead-template-url="invoiceListItem.html"
                        ng-model="invoiceItem.inventoryReference"
                        typeahead="inventoryItem as inventoryItem.code for inventoryItem in inventory | filter:$viewValue | limitTo:8"
                        typeahead-on-select="updateInvoiceItem(invoiceItem, invoiceItem.inventoryReference)"
                        placeholder="Search Inventory Code"
                      </td>
                      
                      <td><input ng-show="invoiceItem.isSet" class="form-invoice" disabled value="{{invoiceItem.text}}"></td>
                      <td><input ng-show="invoiceItem.isSet" class="form-invoice" ng-model="invoiceItem.quantity"></td>
                      <td><input ng-show="invoiceItem.isSet" class="form-invoice" ng-model="invoiceItem.price"></td>
                      <td><input ng-show="invoiceItem.isSet" class="form-invoice" disabled value="{{invoiceItem.quantity * invoiceItem.price | currency}}"></td>
                      <td><a ng-click="removeInvoiceItem($index)"><span class="glyphicon glyphicon-trash"></span></a></td>
                    </tr>
                    
                    <tr ng-show="invoice.priceList">
                      <td><input class="form-invoice" style="color: red;" value="Discount"></td>
                      <td><input class="form-invoice" style="color: red;" value="Patient Group '{{invoice.priceList.name}}'" disabled></td>
                      <td><input class="form-invoice" style="color: red;" value="1" disabled></td>
                      <td><input disabled class="form-invoice" style="color: red;" value="{{invoice.priceList.discount}}"></td>
                      <td colspan="2"><input disabled class="form-invoice" style="color: red;" value="{{-invoice.priceList.discount | currency}}"></td>
                    </tr>

                    <tr>
                      <!-- Style hack -->
                      <td colspan="4" style="margin-right = 50px; text-align: right;"><b>Total</b></td>
                      <td colspan="2"><b>{{calculateTotal() | currency}}</b></td>
                    </tr>
                    
                  </tbody>
                </table>
              </div>
            </div>
      </div>
    <!-- </div> -->
  </div>

<section class="bar-bottom">
  <div class="pull-right">
    <a ng-disabled="inventory.length==0" ng-click="submitInvoice()" class="btn btn-default"><span class="glyphicon glyphicon-floppy-open"></span> Submit Patient Invoice</a>
  </div>
</section>

<script type="text/ng-template" id="debtorListItem.html">
  <a>
    <span><b>[{{match.model.debitor_id}}]</b></span>
    <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
  </a>
</script>

<script type="text/ng-template" id="invoiceListItem.html">
  <a>
    <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
    <span><i>{{match.model.text}}</i></span>
  </a>
</script>
