<div ng-switch="state">
  <div ng-switch-default>
    <main>
      <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4><b> {{ "CASH.EXTRA.TITLE" | translate }} : </b><h4> 
          </div>

          <div class="panel-body">
            
            <form name="configForm" novalidate>   
              <div class="form-group">
                <label class="control-label col-xs-4 required">
                  {{ "SELECT.PATIENT" | translate }}
                </label>
                <div>
                  <div class="pull-left form-group input-group">
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-user"></span>
                  </span>  
                  <input class="form-bhima" ng-model="session.patient" 
                    required typeahead="patient as formatPatient(patient) for patient in session.patients.data | filter:$viewValue | limitTo:10" 
                    typeahead-template-url="/partials/templates/patientListe.tmpl.html"
                    placeholder="{{ 'CASH.EXTRA.FIND_PATIENT' | translate }}">
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-xs-4 required">
                  {{ "SELECT.ACCOUNT" | translate }}
                </label>
                <div>
                  <div class="pull-left form-group input-group">
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-briefcase"></span>
                  </span>  
                  <input class="form-bhima" ng-model="session.account" required typeahead="account as formatAccount(account) for account in session.accounts.data | filter:$viewValue | limitTo:10" typeahead-template-url="/partials/templates/accountListe.tmpl.html" placeholder="{{ 'CASH.EXTRA.FIND_ACCOUNT' | translate }}">
                  </div>
                </div>
              </div>
              <div class="pull-right">
                <button class="btn btn-sm btn-success" type="button" ng-click="search()" ng-disabled="configForm.$invalid">
                    {{ "REPORT.GENERATE" | translate }}
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>  
  </div>
  <div ng-switch-when="generate">  
    <header data-header>
      {{ "CASH.EXTRA.TITLE" |  translate }}
    </header>
    <nav>
      <div class="pull-right">        
        <button
          style="margin-left: 5px;"
          ng-click="reconfigure()"
          class="btn btn-sm btn-default pull-right">
          <span class="glyphicon glyphicon-repeat"></span>
        </button>
      </div>
      <div class="pull-left">
        <ol class="breadcrumb" style="float: right;">
          <li><a href="#/"><span class="glyphicon glyphicon-home"></span></a></li>
          <li class="active">{{ "CASH.EXTRA.TITLE" | translate }}</li>
        </ol>
      </div>
    </nav>

    <main>
      <div ng-if="!session.configured" class="row margin-top-10">
        <div class="col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              {{ "PRIMARY_CASH.EXPENSE.SELECT_ACCOUNT" | translate }}:
              <b>{{ "CASH.EXTRA.WAIT_ACCOUNT" | translate }}</b>
            </div>

            <div class="panel-body">
              <div class="configure">
                <span
                  style="font-size: 70px;"
                  class="glyphicon glyphicon-inbox">
                </span>
              </div>
              <br>
            </div>
          </div>
        </div>
      </div>

      <div ng-if="session.configured"  class="row margin-top-10">
        <div class="col-xs-6">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="input-group">
                <label class="input-group-addon"><i class="glyphicon glyphicon-search"></i></label>
                <input 
                class="form-control" 
                type="text" 
                placeholder="{{ 'CASH.EXTRA.FILTER_PATIENT' | translate }}" 
                ng-model="session.search">
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-6">
          <div class="alert alert-info">
            <h4>{{ 'PRIMARY_CASH.EXPENSE.ACCOUNT' | translate }} ({{ 'CASH.EXTRA.WAIT_ACCOUNT' | translate }})</h4>
            <strong>{{ session.account.account_number }}</strong> - {{ session.account.account_txt }}
            <hr>
            <h4>{{ 'CASH.EXTRA.SALE_CLIENT' | translate }}</h4>
            {{ session.patient.last_name }} {{ session.patient.middle_name }} {{ session.patient.first_name }}            
          </div>
        </div>
      </div>

      <div ng-if="session.configured"  class="row">
        <div class="col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <span class="glyphicon glyphicon-inbox"></span>
              {{ "CASH.EXTRA.TITLE" | translate }}
            </div>
            <div class="panel-body">
              <table class="table table-condensed bordered">
                <thead>
                  <tr>
                    <th width="7%">{{ "CASH.EXTRA.SALE_NO" | translate }}</th>
                    <th>{{ "CASH.EXTRA.SALE_UUID" | translate }}</th>
                    <th>{{ "CASH.EXTRA.SALE_AMOUNT_TO_PAY" | translate }}</th>
                    <th>{{ "CASH.EXTRA.SALE_AMOUNT_PAYED" | translate }}</th>
                    <th width="5%">{{ "CASH.EXTRA.SALE_CURRENCY" | translate }}</th>
                    <th width="10%">{{ "CASH.EXTRA.ACTION" | translate }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr 
                  ng-if="sale.transaction" 
                  ng-repeat="sale in saleDataUnique | filter : session.search">
                    <td>{{ sale.transaction }}</td>
                    <td>{{ sale.inv_po_id }}</td>
                    <td>{{ sale.balance | currency:sale.currency }}</td>
                    <td>
                      <input 
                      ng-model="sale.cost"
                      type="number" 
                      step="0.1"
                      class="form-invoice" 
                      placeholder="...">
                    </td>
                    <td>
                      <select 
                      ng-model="sale.currency" 
                      style="padding-top:1px;padding-bottom:1px;" 
                      ng-options="currency.id as currency.symbol for currency in session.currencies.data"
                      ng-change="setCurrency(sale)">
                      </select>
                    </td>
                    <td>
                      <bouton  
                      class="btn btn-success" 
                      style="padding-top:1px;padding-bottom:1px;" 
                      ng-click="submit(sale)" 
                      ng-disabled="!sale.currency">
                        {{ "CASH.EXTRA.SALE_SUBMIT" | translate }}
                        <i class="glyphicon glyphicon-check"></i>
                      </bouton>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </main>

    <script type="text/ng-template" id="CreditorList.html">
      <a>
        <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
        <span><i>{{match.model.text}}</i></span>
      </a>
    </script>

    <script type="text/ng-template" id="AccountList.html">
      <a>
        <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
        <span><b>[{{ match.model.account_number }}]</b></span>
      </a>
    </script>
  </div>    
</div>  
