.bhima-select-control {
	display: block;
	padding: 7px;
	border-radius: 2px;
	border: 1px solid #ccc;
}

.bhima-label {
	padding:5px !important; 
	text-decoration: none;
	font-size:10px;
	cursor: pointer;
}

.bhima-label:hover {
	color: #fff;
}