<link rel="stylesheet" href="/partials/patientbilling/index.css">
<div class="container" id="bika-units-patientbilling">
  <h2>Pick an action:</h2>
  <hr></hr>
  <div class="row glyphrow"> 
    <div class="col-xs-3 glyphblock">
      <a href="/#/patientbilling/patient/">
        <div class="glyph-center">
          <span class="glyphicon glyphicon-user"></span>
          <div>Patient Config</div>
        </div>
      </a>
    </div>
    <div class="col-xs-3 glyphblock">
      <a href="/#/patientbilling/organisation/">
      <div class="glyph-center">
        <span class="glyphicon glyphicon-briefcase"></span>
        <div>Organisation Config</div>
      </div>
    </a>
    </div>
    <div class="col-xs-3 glyphblock">
      <a href="/#/patientbilling/config/">
        <div class="glyph-center">
          <span class="glyphicon glyphicon-cog"></span>
          <div>Page Config</div>
        </div>
      </a>
    </div>
  </div>
</div>
