<header data-header>
  {{ "DEPOT.DISTRIBUTION.LOSS.TITLE" | translate }}
</header>

<nav>
  <div class="pull-left text-capitalize">
    <ol class="breadcrumb" style="float: right;">
      <li><a href="#/"><span class="glyphicon glyphicon-home"></span></a></li>
      <li><a tabindex="-1" href="#/depots">{{ "DEPOT.MAIN.TITLE" | translate }}</a></li>
      <li class="active">{{ "DEPOT.DISTRIBUTION.LOSS.KEY" | translate }}</li>
    </ol>
  </div>
</nav>

<main>
  <div class="row" ng-if="!LossCtrl.depotId">
    <div class="alert alert-info">
      <span class="glyphicon glyphicon-warning-sign"></span>
      {{ "DEPOT.DISTRIBUTION.LOSS.NO_DEPOT" | translate }}
    </div>
  </div>


  <div class="row margin-top-10" ng-if="LossCtrl.depotId">
    <div class="col-xs-12">
      <form class="panel panel-default" name="LossForm">

        <div class="panel-heading" class="text-capitalize">
          <i class="glyphicon glyphicon-list-alt"></i>
          {{ 'DEPOT.DISTRIBUTION.LOSS.FORM_TITLE'  | translate }}
        </div>

        <!-- error alert shown on submit error -->
        <div class="alert alert-danger" ng-if="LossForm.$submitted && LossForm.$invalid">
          <i class="glyphicon glyphicon-exclamation-sign"></i> {{ 'DEPOT.DISTRIBUTION.LOSS.SUBMIT_ERROR' | translate }}
        </div>

        <div class="panel-body">

          <legend>{{ "COLUMNS.SUMMARY" | translate }}</legend>

          <div class="row">
            <div class="col-xs-3">
              <label>{{ "COLUMNS.DEPOT" | translate }}</label>
              <p class="form-control-static">[{{ LossCtrl.depot.reference }}] {{ LossCtrl.depot.text }}</p>
            </div>

            <div class="col-xs-3">
              <label>{{ "COLUMNS.DATE" | translate }}</label>
              <p class="form-control-static">{{ LossCtrl.date | date }}</p>
            </div>
          </div>

          <div class="pull-right">
            <a ng-click="LossCtrl.add()">
              <i class="glyphicon glyphicon-plus"></i> {{ "DISTRIBUTION_SERVICE.ADD_ROW" | translate }}
            </a>
          </div>
        </div>

        <table class='table table-condensed table-bordered'>
          <thead>
            <tr>
              <th>{{ "COLUMNS.LABEL" | translate }}</th>
              <th>{{ "COLUMNS.LOT" | translate }}</th>
              <th>{{ "COLUMNS.QTY_LOSS" | translate }}</th>
              <th>{{ "COLUMNS.PRICE" | translate }}</th>
              <th colspan="2">{{ "COLUMNS.TOTAL" | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="row in LossCtrl.queue.queue" ng-class="{'incomplete-outline': RowForm.$invalid, 'complete-outline': RowForm.$valid }" ng-form="RowForm">
              <td width="33%">
                <input
                  class="form-invoice"
                  type="text"
                  typeahead-template-url="lotList.html"
                  ng-model="row.item"
                  typeahead="item as item.fmtLabel for item in ::LossCtrl.inventory | filter:$viewValue | limitTo:8"
                  typeahead-on-select="LossCtrl.clear($index)"
                  placeholder="{{ 'DISTRIBUTION_SERVICE.TAPE' | translate }}"
                >
              </td>
              <td width="25%">
                <div class="form-group">
                  <select class="form-bhima" ng-model="row.lot"
                    ng-options="lot as lot.fmtLabel for lot in row.item.lots track by lot.tracking_number "
                    ng-disabled="!row.item.code">
                    <option value="" disabled>-- {{ 'SELECT.LOT_NUMBER' | translate }} --</option>
                  </select>
                </div>
              </td>

              <td>
                <input class="form-bhima" type="number" ng-disabled="!row.item.code" ng-model="row.quantity" min="0" ng-max="row.lot.quantity" ng-change="LossCtrl.retotal()" required>
              </td>

              <td style="vertical-align:middle;">
                {{ (row.item.price || 0) | currency:LossCtrl.enterprise.currency_id }}
              </td>
              <td style="vertical-align:middle;">
                {{ (row.item.price * row.quantity || 0) | currency:LossCtrl.enterprise.currency_id }}
              </td>
              <td style="vertical-align:middle;">
                <a ng-click="LossCtrl.remove($index)" class="btn btn-xs btn-default pull-right">
                  <i class="glyphicon glyphicon-trash text-danger"></i>
                </a>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th colspan="4">{{ "COLUMNS.TOTAL" | translate }}</th>
              <th colspan="2">{{ LossCtrl.totals.cost | currency:LossCtrl.enterprise.currency_id }}</th>
            </tr>
          </tfoot>
        </table>
        <div class="panel-footer clearfix">
          <a ng-click="LossCtrl.submit(LossForm.$invalid)" class="btn btn-default pull-right">
            <i class="glyphicon glyphicon-floppy-open"></i> {{ "UTIL.SUBMIT" | translate }}
          </a>
        </div>
      </form>
    </div>
  </div>
</main>

<script type="text/ng-template" id="lotList.html">
  <a>
    <span ng-if="match.model.lots.length === 0">
      <i class="glyphicon glyphicon-warning-sign text-danger"></i>
    </span>
    <span ng-if="match.model.lots.length > 0">
      <b>[{{ match.model.lots.length }}]</b>
    </span>
    <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
    <span><i>{{ match.model.text }}</i></span>
  </a>
</script>
