<link rel="stylesheet" href="css/budget.css"/>

<div class="container" id="bika-units-budget">
	<div class="row">
		<div class="panel panel-default">
			<span>Account Select</span>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-4">
			<table class="table table-bordered">
				<tr>
					<th>Period</th>
					<th>Actual</th>
					<th>Budget</th>
				</tr>
			</table>
		</div>
		<div class="col-xs-4">
			<table class="table table-bordered">
				<tr>
					<th>Period</th>
					<th>Actual</th>
					<th>Budget</th>
				</tr>
			</table>
		</div>
		<div class="col-xs-4">
			<table class="table table-bordered">
				<tr>
					<th>Period</th>
					<th>Actual</th>
					<th>Budget</th>
				</tr>
			</table>
		</div>
	</div>
</div>
