<link rel="stylesheet" href="/css/chartofaccounts.css">
<!-- rendering times for ng-grid -->
<!-- run1: DOMContentLoaded: 223ms -->
<!-- run2: DOMContentLoaded: 206ms -->
<!-- run3: DOMContentLoaded: 202ms -->
<!-- run4: DOMContentLoaded: 226ms -->
<!-- run5: DOMContentLoaded: 273ms -->
<!-- run6: DOMContentLoaded: 201ms -->
<!-- avg: 221.8334 ms -->

<!-- smart table tests -->
<h2>Chart of Accounts</h2>
<div class="table-container"><!-- FIXME: make this 100% height -->
  <smart-table class="table table-bordered" config="config" columns="columns" rows="accounts"></smart-table>
  <div type="button" class="btn btn-primary" ng-click="showDialog()">Create Account</div>
  <div type="button" class="btn btn-primary" ng-click="toggleLock()">{{lockLabel}} Selected</div>
  <div type="button" class="btn btn-primary" ng-click="toggleSelectionMode()">Selection Mode: {{config.selectionMode}}</div>
</div>
