<!--Create Account stylesheet-->
<link rel="stylesheet" href="css/create_account.css">

<!--Create Account Markup-->
<header>
  Account Management
</header>

<section class="underline">
  <button class="btn btn-default btn-sm">This is a button</button>
  <button class="btn btn-default btn-sm">This is another button</button>
  <div class="pull-right">
    <button class="btn btn-default btn-sm">Button on the right</button>
  </div>
</section>

<div class="content">
  <table class="table table-bordered">
    <thead>
      <tr><th>First Header</th><th>Second Header</th></tr>
    </thead>
    <tbody>

    </tbody>
  </table>
</div>

<section class="overline underline">
  <button class="btn btn-default btn-sm">Bottom button</button>
</section>