<!--Create Account stylesheet-->
<link rel="stylesheet" href="css/create_account.css">

<!--Create Account Markup-->
<header>
  Account Management
</header>

<section class="underline">
  <!-- <button class="btn btn-default btn-sm">antyhing</button> -->
  <div class="pull-right">
    <button class="btn btn-default btn-sm">Create Chart of Accounts</button>
  </div>
</section>

<div class="content">
  <!--Note that that column classes should be used with rows to ensure corred padding -->
  <div class="row">
    <div class="col-xs-12">
      <!--Accounts grid to be populated-->
    </div>
  </div>
</div>

<section class="overline underline">
  <div class="pull-right">
    <button class="btn btn-default btn-sm">Save Changes</button>
  </div>
</section>