<!--FIXME: Clean up markup, tags closed and not openend etc.-->
<link rel="stylesheet" href="css/fiscal.css"/>

<div class="container" id="bika-units-fiscal">
	<div class="row">
		<div class="col-xs-3">
      <!--Enterprise fiscal year selection-->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title"><b>{{enterprise.name}}</b></h1>
          <span class="panel-title">{{enterprise.city}}</span>
        </div>
        <table class="table table-hover" id="bika-units-fiscal-list">
          <!--tr><td><input class="form-control input-sm"ng-model="fiscal_filter"></td></tr-->
          <tr ng-click="select(year.id)" ng-class="{selected: year.id==selected.id}" ng-repeat="year in fiscal_model"><td>{{year.fiscal_year_txt}}</td></tr>
        </table>
      </div>
		</div>
    <div class="col-xs-9">
    <div class="panel panel-default">
      <div class="panel-body">
      <div class="bika-header">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <!--TODO: -->
                <div class="col-lg-8">
                  <input type="text" class="form-control" id="fiscal-name" ng-model="selected.fiscal_year_txt">
                </div>
                 <!--xs doesn't have offset for some reason?-->
                <div class="col-lg-8">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" ng-model="selected.locked"> Lock this Fiscal Year
                    </label>
                  </div>
                </div>
            </div>
          </form>
        </div>
        <div class="col-xs-7">
          <!--Fiscal year form-->
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <div class="form-group">
                <label for="fiscal-months" class="col-xs-4 control-label">Total Months</label>
                  <div class="col-xs-3">
                    <input type="text" class="form-control" id="fiscal-months" ng-model="selected.number_of_months">
                  </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-group">
                <label for="first-voucher" class="col-xs-4 control-label">First Voucher No.</label>
                <div class="col-xs-4">
                  <input type="text" class="form-control" id="first-voucher" ng-model="selected.transaction_start_number">
                </div>
              </div>
              <div class="form-group">
                <label for="last-voucher" class="col-xs-4 control-label">Last Voucher No.</label>
                <div class="col-xs-4">
                  <input type="text" class="form-control" id="last-voucher" ng-model="selected.transaction_stop_number">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-group">
                <label for="posting-from" class="col-xs-4 control-label">Posting from</label>
                <div class="col-xs-4">
                  <!--TODO: This is temporary data - logic should be implemented-->
                  <!--FIXME: Logic should all be taken care of in controller-->
                  <input type="text" class="form-control" id="posting-from" readonly value="{{getFiscalStart() | date:'dd/MM/yyyy'}}">
                </div>
              </div>
              <div class="form-group">
                <label for="posting-to" class="col-xs-4 control-label">Posting to</label>
                <div class="col-xs-4">
                  <input type="text" class="form-control" id="posting-to" readonly value="{{getFiscalEnd() | date:'dd/MM/yyyy'}}">
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="col-xs-5">
          <table class="table table-hover table-bordered">
            <thead>
              <tr><th colspan=3>Fiscal Periods</th></tr>
            </thead>
            <tbody>
              <!--Populated with angular-->
              <tr ng-repeat="period in period_model">
                <!--FIXME: passing full date object to each table data seems extravagant (read: fabulous)-->
                <td>{{period.period_start | date: 'MMM'}}
                <td>{{period.period_start | date:'dd/MM/yyyy'}}</td>
                <td>{{period.period_stop | date:'dd/MM/yyyy'}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div><!--Close panel body-->
      <div class="panel-footer">
        <div class="btn-group">
          <button class="btn btn-default" disabled>Save Changes</button>
          <button class="btn btn-danger" disabled>Delete Fiscal Year</button>
          <button class="btn btn-danger" disabled>Recalculate</button>
        </div>
      </div>
    </div><!--Close panel-->
    </div>
	</div>
</div>