<link rel="stylesheet" href="css/patient.css"/>
<div class="container">
      <code>{{patient}}</code>

  <div class="row">
    <div class="col-xs-5">
      <div class="page-header">
        <h1>Register new patient</h1>
      </div>
    </div> 
  </div>
  <div class="row">
    <div class="col-xs-3">
      <div class="panel panel-primary">
        <div class="panel-body">
          <form role="form">
            <div class="form-group">
              <label for="first-name">First Name</label>
              <input type="text" class="form-control" id="first-name" ng-model="patient.first">
            </div>

            <div class="form-group">
              <label for="second-name">Second Name</label>
              <input type="text" class="form-control" id="second-name" ng-model="patient.second">
            </div>

            <div class="form-group">
              <div class="radio-inline">
                <label>
                  <input type="radio" name="sex_select" id="male" value="male" checked ng-model="patient.sex">
                  Male
                </label>
              </div>
              <div class="radio-inline">
                <label>
                  <input type="radio" name="sex_select" id="female" value="female" ng-model="patient.sex">
                  Female
                </label>
              </div>
            </div>

            <div class="form-group">
              <label for="village">Village</label>
              <input type="text" class="form-control" id="village" ng-model="patient.village">
            </div>

            <div class="form-group">
              <label for="region">Region</label>
              <input type="text" class="form-control" id="region" ng-model="patient.region">
            </div>
          </form>
        </div>
      </div>
      <button class="btn btn-lg btn-default" disabled>Register <span class="glyphicon glyphicon-tree-conifer"></span></button>
    </div>
    <div class="col-xs-5">
      <div class="panel panel-default">
        <div class="panel-heading">
          Optional Information
        </div>
        <div class="panel-body">
          <form role="form">
            <div class="form-group">
              <label for="phone">Phone No.</label>
              <input type="text" class="form-control" id="phone" ng-model="patient.phone">
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" ng-model="patient.email">
            </div>
            <div class="form-group">
              <label for="dob">Date of Birth</label>
              <input type="date" class="form-control" id="dob" ng-model="patient.dob">
            </div>
            <div class="form-group">
              <label for="parent">Parent's Name</label>
              <input type="text" class="form-control" id="parent" ng-model="patient.parent">
            </div>
            <div class="form-group">
              <label for="religion">Religion</label>
              <input type="text" class="form-control" id="religion" ng-model="patient.religion">
            </div>
            <div class="form-group">
              <label for="marital">Marital Status</label>
              <input type="text" class="form-control" id="marital" ng-model="patient.marital">
            </div>
          </form> 
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          Notes
        </div>
        <textarea class="form-control note"></textarea>
      </div>
    </div>
  </div>
</div>
