<link rel="stylesheet" href="css/patient_search.css"/>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="bika-header">
        <h1>Patient Records</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <!--There's a better way of doing this somewhere out there-->
    <div class="col-xs-12">
      <div class="util">
        <div class="row">
          <div class="col-xs-12">
            <!--FIXME btn group is a big hack - should be done with col-->
            <div class="col-xs-4 hack-left">
              <input type="text" ng-model="patient_filter.filter" class="form-kapok" placeholder="Filter Invoices">
            </div>
            <div class="pull-right">

              <a class="btn btn-default"><span class="glyphicon glyphicon-search"></span> Advanced Search</a>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">

      <div ng-switch on="patient_model.data.length">
        <div class="alert alert-info" ng-switch-when='0'>
          No patients found. Reference <strong><a href="/#/patient">Patient Registration</a></strong> to register a patient.
        </div>
        <div ng-switch-default></div>
      </div>

      <div class="patient-table">
        <table class="table table-bordered">

          <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>DOB</th>
            <th>Parent</th>
            <th>Gender</th>
            <th>Email</th>
          </tr>
          </thead>

          <tbody>
          <tr ng-class='{rowSelected: selected.id==patient.id}' ng-click="select(patient.id)"
              ng-repeat="patient in patient_model.data | filter: patient_filter.filter">

            <td>{{patient.id}}</td>
            <td>{{patient.name}}</td>
            <td>{{patient.dob | date : 'dd/MM/yyyy'}}</td>
            <td>{{patient.parent_name}}</td>
            <td>{{patient.sex | uppercase}}</td>
            <td>{{patient.email}}</td>
            <!--Multiple ng-shows - mutually exclusive but not good practice-->
          </tr>
          </tbody>
        </table>
      </div>

    </div>

  </div>

  <div class="row">
    <!--There's a better way of doing this somewhere out there-->
    <div class="col-xs-12">
      <div class="util-bottom">
        <div class="row">
          <div class="col-xs-12">
            <div class="pull-right">
              <a ng-disabled='selected.posted!=0' ng-click="post()" class="btn btn-default">
                <span class="glyphicon glyphicon-floppy-open"></span> Invoice for registration</a>
              <a ng-disabled='selected.posted!=0' ng-click="post()" class="btn btn-default">
                <span class="glyphicon glyphicon-floppy-open"></span> Generate consultation papers</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>