<link rel="stylesheet" href="css/patient.css"/>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="bika-header">
        <h1>Register Patient
          <small>{{patient.first_name}} {{patient.last_name}}</small>
        </h1>
      </div>
    </div>
  </div>
  <div class="row">
    <!--There's a better way of doing this somewhere out there-->
    <div class="col-xs-12">
      <div class="util">
        <div class="row">
          <div class="col-xs-12">

            <div class="pull-right">
              <!--TODO This is very limiting - you can only add a debtor group through patient registration - consider changing this-->
              <a ng-click="createGroup()" class="btn btn-default"><span class="glyphicon glyphicon-tag"></span> Create Patient Group</a>

              <a href='/#/patient_records/' class="btn btn-default"><span class="glyphicon glyphicon-list"></span> View
                Patient Records</a>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="content">
      <div class="col-xs-4">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <span class="glyphicon glyphicon-user"></span> Details
          </div>
          <div class="panel-body"><!--style="overflow: auto" for image-->
            <!--div class="col-xs-6 hack-left"> for image-->
            <form role="form" name="form">
              <div class="form-group">
                <label for="first-name">First Name</label>
                <input type="text" class="form-kapok" id="first-name" ng-model="patient.first_name" required>
              </div>

              <div class="form-group">
                <label for="second-name">Second Name</label>
                <input type="text" class="form-kapok" id="second-name" ng-model="patient.last_name" required>
              </div>

              <div class="form-group">
                <label for="dob">Date of Birth</label>
                <input type="date" class="form-kapok" id="dob" ng-model="patient.dob">
              </div>

              <div class="form-group">
                <div class="radio-inline">
                  <label>
                    <input type="radio" name="sex_select" id="male" value="M" checked ng-model="patient.sex"
                           required>
                    Male
                  </label>
                </div>
                <div class="radio-inline">
                  <label>
                    <input type="radio" name="sex_select" id="female" value="F" ng-model="patient.sex" required>
                    Female
                  </label>
                </div>
              </div>

              <div class="form-group">
                <label for="location_select">location</label>
                <select required class="form-kapok" id="location_select" ng-model="patient.location_id"
                        ng-options="l.id as formatLocation(l) for l in location_model.data">
                  <option value="">--Select Location--</option>
                </select>
              </div>

              <div class="form-group">
                <label for="debtor-group">Patient Group</label>
                <select required class="form-kapok" id="debtor-group" ng-model="debtor.debtor_group" ng-options="g.name for g in debtor_group_model.data"></select>
              </div>

              <!--div class="form-group">
                <label for="village">Village</label>
                <input type="text" class="form-kapok" id="village" ng-model="patient.village" required>
              </div>

              <div class="form-group">
                <label for="region">Region</label>
                <input type="text" class="form-kapok" id="region" ng-model="patient.zone" required>
              </div>
            </form-->
            </form>
              </div>

            <!--div class="col-xs-6">

              <div id="image-placeholder">
                <img src="assets/placeholder.gif"  width="300" height="300">
              </div>
            </div-->
          <!--/div> for image-->

        </div>
      </div>
      <div class="col-xs-5">
        <div class="panel panel-default">
          <div class="panel-heading">
            Optional Information
          </div>
          <div class="panel-body">
            <form role="form">
              <div class="form-group">
                <label for="phone">Phone No.</label>
                <input type="text" class="form-kapok" id="phone" ng-model="patient.phone">
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-kapok" id="email" ng-model="patient.email">
              </div>

              <div class="form-group">
                <label for="parent">Parent's Name</label>
                <input type="text" class="form-kapok" id="parent" ng-model="patient.parent_name">
              </div>
              <div class="form-group">
                <label for="religion">Religion</label>
                <input type="text" class="form-kapok" id="religion" ng-model="patient.religion">
              </div>
              <div class="form-group">
                <label for="marital">Marital Status</label>
                <input type="text" class="form-kapok" id="marital" ng-model="patient.marital_status">
              </div>
            </form>
          </div>
        </div>

      </div>
      <!--Move back inside previous column for final (with image)-->
      <div class="col-xs-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            Notes
          </div>
          <textarea class="form-kapok note"></textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <!--There's a better way of doing this somewhere out there-->
    <div class="col-xs-12">
      <div class="util-bottom">
        <div class="row">
          <div class="col-xs-12">
            <div class="pull-right">

              <a ng-click="update(patient)"
                 ng-disabled="form.$invalid || checkChanged(patient) || checkSubmitted()" class="btn btn-default">
                <span class="glyphicon glyphicon-pencil"></span> Register Patient
              </a>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<script type="text/ng-template" id="debtorgroupmodal.html">
  <div class="modal-content">
    <div class="modal-header">
      <h3>Create Patient Group</h3>
    </div>
    <div class="modal-body">
      <form class="form-horizontal" role="form" name="addPatientGroup" novalidate>
        <div class="form-group">
          <label class="col-xs-2 control-label" for="group-name">Name:</label>
          <div class="col-xs-8">
            <input
              id="group-name"
              class="form-kapok"
              ng-model="group.name"
              required
            >
          </div>
        </div>

        <div class="form-group">
          <label class="col-xs-2 control-label" for="group-account">Account:</label>
          <div class="col-xs-8">
            <select
                id="group-account"
                class="form-kapok"
                ng-model="group.account_number"
                ng-options="account.account_number+'--'+account.account_txt for account in accounts"
                required
                ></select>
          </div>
        </div>

        <div class="form-group">
          <label class="col-xs-2 control-label" for="group-location">Location:</label>
          <div class="col-xs-8">
            <select
                id="group-location"
                class="form-kapok"
                ng-model="group.location_id"
                ng-options="location.id+'--'+location.city+'--'+location.region for location in locations"
                required
                ></select>
          </div>
        </div>

        <div class="form-group">
          <label class="col-xs-2 control-label" for="group-payment">Payment:</label>
          <div class="col-xs-8">
            <select
                id="group-payment"
                class="form-kapok"
                ng-model="group.payment_id"
                ng-options="payment.id+'--'+payment.text for payment in payments"
                required
                ></select>
          </div>
        </div>

        <div class="form-group">
          <label class="col-xs-2 control-label" for="phone">Phone:</label>
          <div class="col-xs-8">
            <input
              id="group-phone"
              class="form-kapok"
              ng-model="group.phone"            
            >
          </div>
        </div>

        <div class="form-group">
          <label class="col-xs-2 control-label" for="email">Email:</label>
          <div class="col-xs-8">
            <input
              type="email"
              id="group-email"
              class="form-kapok"
              ng-model="group.email"            
            >
          </div>
        </div>

        <div class="form-group">
          <label class="col-xs-2 control-label" for="maxcredit">Max Credit:</label>
          <div class="col-xs-8">
            <input
              id="group-maxcredit"
              class="form-kapok"
              ng-model="group.max_credit"
              required            
            >
          </div>
        </div>

        <div class="form-group">
          <label class="col-xs-2 control-label" for="group-type">Type:</label>
          <div class="col-xs-8">
            <select
                id="group-type"
                class="form-kapok"
                ng-model="group.type_id"
                ng-options="type.id+'--'+type.type for type in types"
                required
                ></select>
          </div>
        </div>
      </form>      

            <label for="note">Note</label>
            <textarea ng-model = "group.note" class="form-control note"></textarea>
      </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" ng-click="discard()">Discard</button>
      <button type="button" class="btn btn-default" ng-disabled="form.$invalid" ng-click="submit()">Save changes</button>
    </div>
  </div>
</script>
