<link href="css/sales.css" rel="stylesheet"/>
<div class="container">
  <div class="row">
    <div class="col-xs-5">
      <div class="page-header">
        <h1>Record new Sale</h1>
      </div>
    </div>
  </div> 
  <div class="row">
    <div class="col-xs-4">
      <div class="form-group">
        <label for="debitor">Debtor Account</label>
        <select id="debitor" class="form-control" ng-options="formatDebtor(d) for d in debtor_model.data" ng_model="debtor"></select>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <h2>{{debtor.first_name}} {{debtor.last_name}}</h2>
          <h4>{{debtor.city}}</h4>
          <H4>{{debtor.region}}</H4>
        </div>
      </div>
    </div>
    <div class="col-xs-8">
      <div class="row">
        <div class="col-lg-offset-10">
          <div class="input-group">
              <span class="input-group-addon">#</span>
              <input id="salesid" class="form-control" ng-model="invoice_id">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          
          <div class="form-group">
            <label for="saledate">Sale Date</label>
            <input type="date" id="saledate" class="form-control" ng-model="sale_date">
          </div>

            <div class="form-group">
            <div class="radio">
              <label>
                <input type="radio" name="option_payable" id="immediate" value="true" ng-model="invoice.payable">
                Payable Immediately
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="option_payable" id="payable" value="false" checked ng-model="invoice.payable">
                Payable by
              </label>
            </div>
            <div class="input-group">
            <select id="payable" class="form-control" ng-disabled="isPayable()">
              <!--FIXME Currently hardcoded - should these be pulled from a data set?-->
              <option>14</option>
              <option>30</option>
            </select>
            <span class="input-group-addon">days</span>
          </div>

        </div>
        </div>
        <div class="col-xs-6">
          <label for="invoicetext">Sale Text</label>
          <!--FIXME This shouldn't be making a call to a function - too many digests run on this page-->
          <textarea class="form-control" id="invoicetext">{{formatText()}}</textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="panel panel-success">
      <div class="panel-heading">
        <span>Invoice Items</span>
        <button class="pull-right" ng-click="updateInventory()">+</button>

      </div>

        <table class="table invoice-table">
          <thead>
            <tr>
              <td class="invoice-item">Item</td>
              <td class="invoice-desc">Description</td>
              <td>Qty</td>
              <td>Unit Price</td>
              <td>Amount</td>
            </tr>
          </thead>
          <tbody> 
            <tr ng-repeat="item in inventory">
              <td class="invoice-item"><select class="form-control" ng-change="updateItem(item)" ng-model="item.item" ng-options="l.inv_code for l in inventory_model.data"></select></td>
              <td class="invoice-desc"><input type="text" class="form-control" ng-model="item.text"></td>
              <td class="invoice-quantity"><input type="number" class="form-control" ng-model="item.quantity"></td>
              <td class="invoice-price"><input type="number" class="form-control" ng-model="item.price"></td>
              <td class="invoice-amount"><span>{{item.quantity * item.price | currency}}</span></td>
            </tr>
            <tr ng-show="itemsInInv()">
              <td colspan="4"></td>
              <td><span><b>{{invoiceTotal() | currency}}</b></span></td>
          </tbody>
        </table>
          

    </div>
  </div>
  <div class="row">
      <button ng-click="generateInvoice()" class="btn btn-default btn">Generate Invoice</button>
  </div>
</div>
