<div >
	<div class="container">


		<div class="row">

			<div class="col-xs-4">
				<button ng-click="createUser()">Create User</button>
				<button ng-click="updateUser()" ng-disabled='!isSelected()'>Update User</button>
				<table class="table-bordered table-striped table">
					<thead>
					<tr><th>First Name</th><th>Second Name</th></tr>
					</thead>
					<tbody>
					<!--This is populated with angular-->
					<tr ng-click="select($index)" ng-repeat="user in model">
						<td>{{user.first}}</td>
						<td>{{user.last}}</td>
					</tr>
					</tbody>
				</table>
			</div>

			<div class="col-xs-8" ng-show="isSelected()">
				<div class="form-group">
				<label for="first">First Name:</label>
				<input ng-model="selected.first" id="first">
				</div>

				<div class="form-group">
				<label for="second">Second Name:</label>
				<input ng-model="selected.last" id="second">
				</div>

				<div class="form-group">
				<label for="email">Email:</label>
				<input ng-model="selected.email" id="email">
				</div>

				<div class="form-group" ng-repeat="unit in units">
				<label for={{unit.id}}>{{unit.name}} {{unit.desc}}</label>
				<input type="checkbox" id={{unit.id}}>
				</div>
			</div>



		</div>
	</div>
</div>