<header>
  <span>Configure Price Lists</span>
</header>

<section>
  <div class="pull-right">
    <button class="btn btn-sm btn-default" ng-click="add()"><i class="glyphicon glyphicon-file"></i> New Price List</button>
  </div>
</section>

<div class="content">

  <div class="row">

    <div class="col-xs-6">
      <table class="table table-bordered table-condensed">
        <thead>
          <tr>
            <th>Name</th>
            <th>Number of Items</th>
            <th colspan="3">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="list in models.lists">
            <td> {{ list.name }} </td>
            <td> {{ list.num_children }} </td>
            <td><button ng-click="editMeta(list)"><i class="glyphicon glyphicon-cog"></i></button></td>
            <td><button ng-click="edit(list)"><i class="glyphicon glyphicon-list-alt"></i></button></td>
            <td><button ng-click="remove(list)"><i class="glyphicon glyphicon-trash"></i></button></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-xs-6" ng-switch="action">

      <div class="alert alert-info" ng-switch-default>
        <b>Inventory Control</b> 
        <p>Select an action on the left to edit list items.</p>
        <ul>
          <li><i class="glyphicon glyphicon-cog"></i>  Edit the price list's metadata </li>
          <li><i class="glyphicon glyphicon-list-alt"></i>  Edit the price list's items</li>
          <li><i class="glyphicon glyphicon-trash"></i>  Remove the price list</li>
        </ul>
        </p>
      </div>
      
      <div class="content" ng-switch-when="'meta'">
        <form name="editPriceList" class="form-horizontal">
          <fieldset>

            <legend>Editting Price List</legend>

            <div class="form-group">
              <label class="col-xs-3 control-label required"> Name </label>
              <div class="col-xs-5">
                <input class="form-kapok" ng-model="edit.name">
              </div>
            </div>

            <div class="form-group">
              <label class="col-xs-3 control-label"> List Type </label>
              <div class="col-xs-5">
                <select class="form-kapok" ng-model="edit.inventory_type" ng-options="type.id as type.text for type in models.types">
                  <option value=""> -- Select a List Type --</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-xs-3 control-label"> List Group </label>
              <div class="col-xs-5">
                <select class="form-kapok" ng-model="edit.inventory_group" ng-options="type.id as type.text for type in models.groups">
                  <option value=""> -- Select a List Group --</option>
                </select>
              </div>
            </div>

            <input type="submit" class="btn btn-sm btn-success">
            <input type="reset" class="btn btn-sm btn-default">

          </fieldset>
        </form>
      </div>

      <div class="content" ng-switch-when="'add'">
        <form name="editPriceList" class="form-horizontal">
          <fieldset>

            <legend>Add a Price List</legend>

            <div class="form-group">
              <label class="col-xs-3 control-label required"> Name </label>
              <div class="col-xs-5">
                <input class="form-kapok" ng-model="add.name">
              </div>
            </div>

            <div class="form-group">
              <label class="col-xs-3 control-label"> List Type </label>
              <div class="col-xs-5">
                <select class="form-kapok" ng-model="add.inventory_type" ng-options="type.id as type.text for type in models.types">
                  <option value=""> -- Select a List Type --</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-xs-3 control-label"> List Group </label>
              <div class="col-xs-5">
                <select class="form-kapok" ng-model="add.inventory_group" ng-options="type.id as type.text for type in models.groups">
                  <option value=""> -- Select a List Group --</option>
                </select>
              </div>
            </div>

            <input type="submit" class="btn btn-sm btn-success">
            <input type="reset" class="btn btn-sm btn-default">

          </fieldset>
        </form>
      </div>

      <div class="content" ng-switch-when="'item'">
        <table class="table table-bordered table-condensed">
          <thead>
            <tr><th>ID</th><th>Inventory Item</th><th>Price</th><th>Discount</th><th>Note</th></tr>
          </thead>
          <tbody>
            <tr ng-repeat="detail in models.details" ng-click="editItem()">
              <td>{{detail.id}}</td>
              <td>{{detail.inventory_id}}</td>
              <td>{{detail.price}}</td> <!-- flag for boolean if price -->
              <td>{{detail.discount}}</td>
              <td>{{detail.note}}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

  </div>

  <tabset direction='left'>
    <tab>
      <tab-heading><i class="glyphicon glyphicon-eye-open"></i></tab-heading>
      <div class="content">
        <table class="table">
          <thead>
            <tr><th>Name</th><th>Number of Items</th></tr>
          </thead>
          <tbody>
            <tr ng-repeat="list in models.lists">
              <td>{{ list.name }}</td>
              <td>{{ list.count }}</td>
            </tr>
          </tbody>
        </table>
      </div> 
    </tab>

    <tab>
      <tab-heading><i class="glyphicon glyphicon-plus"></i></tab-heading>
      <div class="content">
        <form class="form-horizontal">
          <fieldset>
            <legend>Add a New Price List</legend>

            <div class="form-group">
              <label class="col-xs-2 control-label required">List Name</label>
              <div class="col-xs-4">
                <input class="form-kapok" ng-model="new.name" required="required">
              </div>
            </div>

            <div class="form-group">
              <label class="col-xs-2 control-label">Inventory Type</label>
              <div class="col-xs-4">
                <select class="form-kapok" ng-model="new.type_id" ng-options="type.id as type.text for type in models.inventory_types" required="required">
                  <option disabled="disabled" value="">-- Select An Inventory Type --</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-xs-2 control-label">Inventory Group</label>
              <div class="col-xs-4">
                <select class="form-kapok" ng-model="new.group_id" ng-options="group.id as group.name for group in models.inventory_groups" required="required">
                  <option disabled="disabled" value="">-- Select An Inventory Group --</option>
                </select>
              </div>
            </div>
          
            <input class="btn btn-sm btn-success" value="Save" type="submit">
            <input class="btn btn-sm btn-default" value="Clear" type="reset">
          </fieldset>
        </form>
      </div>
    </tab>

    <tab>
      <tab-heading><i class="glyphicon glyphicon-pencil"></i></tab-heading>
      <div class="content">
        <div class="row">
          <div class="col-xs-3">
            <select class="form-kapok" ng-model="editing.id" ng-options="list.id as list.name for list in models.lists">
              <option disabled="disabled" class="form-kapok" value="">-- Select A Price List--</option>
            </select>
          </div>
          <button class="btn btn-default btn-sm" ng-disabled="!editing.id" ng-click="newItem()">+</button>
        </div>

        <div class="row">
          <div class="alert alert-info" ng-if="!editing.id" style="margin-top: 5px;">
            <b>No Price List Selected.</b>
            <p>
              The struggle lives on.  We will fight on the beaches.  We will fight on the hills.  We will never
              surrender.  Keep it up soldier.
            </p>
          </div> 

          <table ng-if="!!editing.id" class="table">
            <thead>
              <tr><th>ID</th><th>Inventory Item</th><th>Price</th><th>Discount</th><th>Note</th></tr>
            </thead>
            <tbody>
              <tr ng-repeat="detail in models.details">
                <td>{{detail.id}}</td>
                <td>{{detail.inventory_id}}</td>
                <td>{{detail.price}}</td>
                <td>{{detail.discount}}</td>
                <td>{{detail.note}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </tab>

    <tab>
      <tab-heading><i class="glyphicon glyphicon-trash"></i></tab-heading>
      <div class="content">

        <div class="col-xs-6">
          <table class="table table-condensed table-hover">
            <thead>
              <th>Price Lists</th><th>Number of Items</th>
            </thead>
            <tbody>
              <tr ng-repeat="list in models.lists" ng-click="data.select==list.id" ng-class="{selected : data.select==list.id}">
                <td>{{ list.name }}</td>
                <td>{{ list.count }}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="col-xs-6">
          <button class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-list"></i> Delete Price List</button>
          <button class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-list-alt"></i> Delete Price List Items</button>
        </div>

      </div>

    </tab>
  </tabset>

</div>
