<header class="kpk-header">
  <h2>Price Lists</h2>
</header>

<div class="content">
  <div class="row">
    <div class="col-xs-2">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <i class="glyphicon glyphicon-list-alt"></i> Price Lists
          <button type="button" class="pull-right" ng-click="addList()">+</button>
        </div>
        <table class="table table-hover">
          <tbody>
            <tr ng-repeat="list in models.price_list_name" ng-click="loadList(list.id)">
              <!-- display template -->
              <td ng-dblclick="editList(list.id)" ng-hide="flags.edit.list==list.id" ng-class="{'list-selected' : flags.list==list.id}">
                {{list.name}}
              </td>
              <!-- editing template -->
              <td ng-show="flags.edit.list==list.id">
                <input type="text" ng-model="list.name" ng-blur="saveList()" class="form-kapok" autofocus>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="panel-footer">
          <button type="button" class="btn btn-default" ng-disabled="flags.list==0 || !flags.list" ng-click="removeList()">Delete List</button>
        </div>
      </div>
    </div>

    <div class="col-xs-10" style="max-height: 600px; min-height: 600px; overflow: auto;">
      <div class="panel panel-info">
        <div class="panel-heading">
          <i class="glyphicon glyphicon-list"></i> Price List Details
          <button class="pull-right" type="button" ng-click="addItem()" ng-disabled="!flags.add">+</button>
        </div>
        <table ng-hide="!models.pl" class="table table-condensed table-hover table-bordered">
          <thead>
            <tr>
              <th style="width: 33%;">
                Inventory ID
                <div style="display: inline; float: right;" class="pull-right dropdown">
                  <span  class="dropdown-toggle">
                    <i class="glyphicon glyphicon-filter"></i> {{flags.filter}} 
                  </span>
                  <ul class="dropdown-menu pull-left">
                    <li class="dropdown-header"><b>Filter on:</b></li>
                    <li><a href="" ng-click="filter()">None</a></li>
                    <li ng-repeat="group in models.grp"><a href="" ng-click="filter(group.id)">{{group.symbol}} | {{group.name}}</a></li>
                  </ul>
                </div>
              </th>
              <th style="width: 15%;">Price</th>
              <th style="width: 15%;">Discount</th>
              <th>Note</th>
              <th style="width: 5%; ">Edit</th>
              <th style="width: 5%;"><i class="glyphicon glyphicon-trash"></i></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in models.pl" ng-class="{'danger' : !validate.item(item)}">
              <td ng-hide="item.id==flags.edit.item">{{label(item.inventory_id)}}</td>
              <td ng-show="item.id==flags.edit.item">
                <select 
                  ng-model="item.inventory_id"
                  ng-options="inv.id as inv.text for inv in models.inv"
                  class="form-kapok">
                  <option value="">-- Select An Item --</option>
                </select>
              </td>

              <td ng-hide="item.id==flags.edit.item">{{item.price | currency }}</td>
              <td ng-show="item.id==flags.edit.item">
                <div class="input-group">
                  <input type="number" ng-model="item.price " class="form-kapok">
                  <span class="input-group-addon">$</span>
                </div>
              </td>

              <td ng-hide="item.id==flags.edit.item">{{item.discount}}</td>
              <td ng-show="item.id==flags.edit.item">
                <div class="input-group">
                  <input 
                    type="number" 
                    ng-model="item.discount"
                    class="form-kapok"
                    min="0"
                    max="100"
                    > 
                  <span class="input-group-addon">%</span>
                </div>
              </td>

              <td ng-hide="item.id==flags.edit.item">{{item.note}}</td>
              <td ng-show="item.id==flags.edit.item"><input type="text" ng-model="item.note" class="form-kapok"></td>

              <td ng-hide="item.id==flags.edit.item" ng-click="editItem(item.id)"><i class="glyphicon glyphicon-pencil"></i></td>
              <td ng-show="item.id==flags.edit.item" ng-click="saveEdit()"><i class="glyphicon glyphicon-ok"></i></td>

              <td ng-click="removeItem(item.id)"><i class="glyphicon glyphicon-remove"></i></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <hr />
  <div class="col-sm-offset-9 col-xs-3">
    <button class="btn btn-default" type="button" ng-click="save()" ng-disabled="!flags.add">
      <i class="glyphicon glyphicon-floppy-save"></i> Save
    </button>
    <button class="btn btn-default" type="button" ng-click="erase()" ng-disabled="flags.list==0 || !flags.list">
      <i class="glyphicon glyphicon-floppy-remove"></i> Erase
    </button>
  </div>
</div>
