<header>
  <span> Configure Patient Groups </span>
</header>

<section class="underline">
  <button ng-click="newGroup()" class="btn btn-sm btn-default">
    <i class="glyphicon glyphicon-file"></i> New Patient Group
  </button>
</section>

<div class="content">
  <div class="col-xs-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <span>Registered Patient Groups</span>
      </div>
      <table class="table table-condensed table-striped">
        <thead>
          <tr><th>Patient Group</th><th>Price List</th><th colspan="2">Actions</th></tr>
        </thead>
        <tbody>
          <tr ng-repeat="grp in group.data">
            <td>{{grp.name}}</td>
            <td>{{list.get(grp.price_list_id).name}}</td>
            <td><button class="btn btn-sm btn-default" ng-click="edit(grp)"><i class="glyphicon glyphicon-pencil"></i></button></td>
            <td><button class="btn btn-sm btn-default" ng-click="remove(grp)"><i class="glyphicon glyphicon-trash"></i></button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-xs-6" ng-switch="action">
    <div ng-switch-default>
      <div class="alert alert-info">
        <b>Patient Group Configuration</b>
        <p>
          Patient groups are uses to assign the appropriate discounts to types
          of patients that merit them.  Use this module to <b>register</b>, <b>modify</b>,
          and <b>remove</b> patient groups and their benefits.
        </p>
      </div>
    </div>

    <div ng-switch-when="register">
      <form class="form-horizontal">
        <fieldset>
          <legend>Register a Patient Group</legend>
    
          <div class="form-group required">
            <label class="col-xs-2 control-label">Name</label>
            <div class="col-xs-10">
              <input class="form-kapok" ng-model="register.name">
            </div>
          </div>
        
          <div class="form-group required">
            <label class="col-xs-2 control-label">Price List</label>
            <div class="col-xs-10">
              <select class="form-kapok" ng-model="register.price_list_id" ng-options="list.id as list.name for list in list.data">
                <option value="">-- Select a Price List --</option>
              </select>
            </div>
          </div>
    

          <div class="form-group">
            <label class="col-xs-2 control-label">Note</label>
            <div class="col-xs-10">
              <textarea class="form-control" ng-model="register.note" rows="3">
              </textarea>
            </div>
          </div>

          <input ng-click="saveRegistration()" class="btn btn-sm btn-success" type="submit" value="Save">
          <input ng-click="resetRegistration()" class="btn btn-sm btn-default" type="button" value="Reset Form">

        </fieldset>
      </form>
    </div>


    <div ng-switch-when="modify">
      <form class="form-horizontal">
        <fieldset>
          <legend>Modify a Patient Group</legend>
    
          <div class="form-group required">
            <label class="col-xs-2 control-label">Name</label>
            <div class="col-xs-10">
              <input class="form-kapok" ng-model="modify.name">
            </div>
          </div>
        
          <div class="form-group required">
            <label class="col-xs-2 control-label">Price List</label>
            <div class="col-xs-10">
              <select class="form-kapok" ng-model="modify.price_list_id" ng-options="list.id as list.name for list in list.data">
                <option value="">-- Select a Price List --</option>
              </select>
            </div>
          </div>
    

          <div class="form-group">
            <label class="col-xs-2 control-label">Note</label>
            <div class="col-xs-10">
              <textarea class="form-control" ng-model="modify.note" rows="3">
              </textarea>
            </div>
          </div>

          <input ng-click="saveModification()" class="btn btn-sm btn-success" type="submit" value="Save">
          <input ng-click="resetModification()" class="btn btn-sm btn-default" type="button" value="Reset Form">

        </fieldset>
      </form>
    </div>
    
  </div>
</div>
