<header data-header>
  {{ 'ASSIGNING.TITLE' | translate }}
</header>

<nav>
  <div class="pull-left">
    <ol class="breadcrumb">
      <span class="glyphicon glyphicon-home"></span>
      <li><a href="#/cost_center">{{ "ASSIGNING.PARENT" | translate }}</a></li>
      <li class="active">{{ "ASSIGNING.TITLE" | translate }}</li>
    </ol>
  </div>
</nav>

<main>
  <div class="panel panel-default" ng-if="action!='suivant'">
    <div class="panel-heading">
      {{ 'ASSIGNING.CHOOSE' | translate}}
    </div>
    <div class="panel-body">
      <form>
        <div class="form-group">
          <select class="col-xs-2 form-bhima" ng-model="configuration.aux_cost_center" ng-change="performChange()">
            <option value="{{cc}}" ng-repeat="cc in model.aux_cost_centers.data">{{cc.text}}</option>
          </select>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12" ng-switch="action">
      <div ng-switch-default>
        <div class="col-xs-6">
          <div class="panel panel-default">
            <div class="panel-heading" style="height: 50px;">
              <span> {{ 'ASSIGNING.INFO_COST_CENTER' | translate}} {{selected.text}} </span>
            </div>
            <div class="panel-body assigning-header">
              <div ng-if="selected_aux_cost_center">
                <div class="form-group">
              <label class="control-label">{{ "ASSIGNING.LABEL_CC" | translate }}</label>
              <br>
              {{selected_aux_cost_center.text}}
            </div>

            <div class="form-group">
              <label class="control-label">{{ "ASSIGNING.TYPE_CC" | translate }}</label>
              <br>
              {{ 'ASSIGNING.AUX_CC' | translate}}
            </div>

            <div class="form-group">
              <label class="control-label">{{ "ASSIGNING.NOTE" | translate }}</label>
              <br>
              {{selected_aux_cost_center.note}}
            </div>
          </div>
          <div ng-if="!selected_aux_cost_center" class="alert alert-warning square"> {{ 'ASSIGNING.NO_CHOOSEN' | translate}}</div>
            </div>
          </div>
        </div>

        <div class="col-xs-6">
          <div class="panel panel-primary">
            <div class="panel-heading" style="height: 50px;">
              <span>
                {{ 'ASSIGNING.ASSOCIATED_TO' | translate}} <b>{{selected_aux_cost_center.text}}<span ng-if="!selected_aux_cost_center">{{ 'ASSIGNING.PLEASE_SELECT' | translate}}</span></b>
              </span>
              <span class="pull-right">
                <button ng-disabled="!isForwardable()" class="btn btn-default" type="submit" ng-click="suivant()"> {{ 'ASSIGNING.NEXT' | translate}}</button>
              </span>
            </div>

            <div class="panel-body assigning-header">
              <table class="table table-condensed table-striped">
                <thead>
                  <tr><th><input type="checkbox" ng-model="cc.all" ng-change="checkAll()"/></th><th>{{ 'ASSIGNING.PRI_CENTERS' | translate}}</th></tr>
                </thead>
                <tbody>
                  <tr ng-repeat="pri_cost_center in model.pri_cost_centers.data">
                    <td><input type="checkbox" ng-model="pri_cost_center.checked"/></td>
                    <td>{{pri_cost_center.text}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>

    <div ng-switch-when="suivant">
      <div class="panel panel-primary">
        <div class="panel-heading" style="height: 50px;">
          <span>
            {{ 'ASSIGNING.AUX_CENTER' | translate}} : <b>{{selected_aux_cost_center.text}}</b>
            {{ 'ASSIGNING.COST' | translate}} : <b>{{selected_aux_cost_center.cost | currency}}</b>
          </span>
          <span class="pull-right">
            <button type="submit" ng-click="apply()" class="btn btn-default">Apply</button>
          </span>
        </div>
        <div class="panel-body" style="height : 100%;">
          <table class="table table-condensed table-bordered">
            <thead>
              <tr>
                <th>{{ 'ASSIGNING.PRI_CENTERS' | translate}}</th>
                <th>{{ 'ASSIGNING.INITIAL_COST' | translate}}</th>
                <th>{{ 'ASSIGNING.COEFF' | translate}}</th>
                <th>{{ 'ASSIGNING.AL_COST' | translate}}</th>
                <th>{{ 'ASSIGNING.TOTAL' | translate}}</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="pcs in model.selected_pri_cost_centers">
                <td>{{pcs.text}}</td>
                <td>{{pcs.initial_cost}}</td>
                <td><input type="number" ng-model="pcs.criteriaValue" ng-change="calculate()" class="form-invoice"></td>
                <td>{{pcs.allocatedCost}}</td>
                <td>{{pcs.totalCost}}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td><b>{{ 'ASSIGNING.TOTALS' | translate}}</b></td>
                <td colspan="3" align="right"><b>{{getTotalAllocatedCost() | currency}}</b></td>
                <td colspan="4"><b>{{getTotal() | currency}}<b/></td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>
