<link rel="stylesheet" href="partials/inventory_invoice/index.css"/>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="bika-header">
        <h1>Create Purchase Order</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <!--There's a better way of doing this somewhere out there-->
    <div class="col-xs-12">
      <div class="util">
        <div class="row">
          <div class="col-xs-12">
            <!--This could all be dynamic based on the process options, it would be beatiful, but I'm not allowed to anything
            but accounting this week-->
            <!--There are also only likely to be two options, probably not worth the processing overhead-->
            <div class="btn-group">
              <button class="btn btn-default" ng-click="select(0)" ng-class="{current: current_process=='PO'}">Purchase Order</button>
              <button class="btn btn-default" ng-click="select(1)" ng-class="{current: current_process=='QUOTE'}">Quote</button>
            </div>
          <div class="pull-right">
            <a class="btn btn-default"><span class="glyphicon glyphicon-floppy-save"></span> Import Pro forma
            </a>
            <a class="btn btn-default"><span class="glyphicon glyphicon-th-list"></span> Update Defaults</a>

          </div>
            </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-xs-5">
      <div class="panel panel-default">
        <div class="panel-heading">
          Details
        </div>

        <div class="panel-body purchase-header">

          <div class="form-group">
            <label for="saledate">Sale Date</label>
            <input type="date" id="saledate" class="form-control" ng-model="sale_date">
          </div>
          <div class="form-group">
            <label for="select-cred">Supplier</label>
            <select id="select-cred" class="form-control">
              <option value="">--Select Creditor--</option>
            </select>
          </div>
          <div class="form-group">
            <div class="radio">
              <label>
                <input type="radio" name="option_payable" id="immediate" value="true" ng-model="purchase_order.payable">
                Payable Immediately
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="option_payable" id="pay" value="false" checked
                       ng-model="purchase_order.payable">
                Payable by
              </label>
            </div>
            <div class="input-group">
              <select id="payable" class="form-control" ng-disabled="isPayable()">
                <!--FIXME Currently hardcoded - should these be pulled from a data set?-->
                <option>14</option>
                <option>30</option>
              </select>
              <span class="input-group-addon">days</span>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="col-xs-7">
      <div class="panel panel-default">
        <div class="panel-heading">
          Purchase Order
        </div>

        <div class="panel-body purchase-header">
          <div class="row">

            <div class="col-xs-12">

              <table class="table table-bordered">
                <thead>
                <tr>
                  <th>P.O</th>
                  <th>Date</th>
                  <th>Note</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>{{invoice_id}}</td>
                  <td>{{sale_date}}</td>
                  <td>{{formatText()}}</td>
                </tr>
                </tbody>
              </table>
            </div>

          </div>

          <div class="row">
            <div class="col-xs-12">
              <table class="table table-bordered">
                <thead>
                <tr>
                  <th>Supplier</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-xs-12">
      <div class="panel panel-success">
        <div class="panel-heading">
          <span>Inventory Items</span>
          <button class="pull-right" ng-click="updateInventory()">+</button>

        </div>

        <table class="table invoice-table" ng-show="itemsInInv()">
          <thead>
          <tr>
            <td class="invoice-item">Item</td>
            <td class="invoice-desc">Description</td>
            <td>Qty</td>
            <td>Unit Price</td>
            <td>Amount</td>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="item in inventory">
            <td class="invoice-item"><select class="form-control" ng-change="updateItem(item)" ng-model="item.item" ng-options="l.inv_code for l in inventory_model.data"></select></td>
            <td class="invoice-desc"><input type="text" class="form-control" ng-model="item.text"></td>
            <td class="invoice-quantity"><input type="number" class="form-control" ng-model="item.quantity"></td>
            <td class="invoice-price"><input type="number" class="form-control" ng-model="item.price"></td>
            <td class="invoice-amount"><span>{{item.quantity * item.price | currency}}</span></td>
          </tr>
          <tr>
            <td colspan="4"></td>
            <td><span><b>{{invoiceTotal() | currency}}</b></span></td>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
