<header>
  <span>{{ 'PURCHASE.TITLE' | translate }}</span>
</header>

<section class="top-nav">
  <div class="pull-right">
    <button class="btn btn-sm btn-default">{{ 'PURCHASE.ADD_SUPPLIER' | translate }}</button>
  </div>
</section>

<div class="content">

<div class="row">

    <div class="col-xs-5">
      <div class="panel panel-default">
        <div class="panel-heading">
          {{ 'PURCHASE.CONFIGURE' | translate }}
        </div>

        <div class="panel-body purchase-header">
        
          <div class="form-group">
            <label for="saledate">Sale Date</label>
            <input type="date" id="purchaseDate" class="form-kapok" ng-model="session.purchase.date">
          </div>
          <div class="form-group">
            <label for="select-cred">Supplier</label>
            <select id="select-cred" ng-change="selectCreditor(session.creditor)" ng-model="session.creditor" ng-options="c as c.name for c in creditor.data" class="form-kapok">
              <option value="" disabled="disabled">--Select Creditor--</option>
            </select>
          </div>

          <!-- Determine validity period of payment -->

          <!-- <div class="form&#45;group"> -->
          <!--   <div class="radio"> -->
          <!--     <label> -->
          <!--       <input type="radio" name="option_payable" id="immediate" value="true" ng&#45;model="session.payable"> -->
          <!--       Payable Immediately -->
          <!--     </label> -->
          <!--   </div> -->
          <!--   <div class="radio"> -->
          <!--     <label> -->
          <!--       <input type="radio" name="option_payable" id="pay" value="false" checked -->
          <!--              ng&#45;model="session.payable"> -->
          <!--       Payable by -->
          <!--     </label> -->
          <!--   </div>
          <!--   <div class="input&#45;group"> -->
          <!--     <select id="payable" class="form&#45;kapok" ng&#45;disabled="isPayable()"> -->
          <!--       <!&#45;&#45;FIXME Currently hardcoded &#45; should these be pulled from a data set?&#45;&#45;> -->
          <!--       <option>14</option> -->
          <!--       <option>30</option> -->
          <!--     </select> -->
          <!--     <span class="input&#45;group&#45;addon">days</span> -->
          <!--   </div> -->
          <!-- </div> -->
        </div>

      </div>
    </div>
    <div class="col-xs-7">
      <div class="panel panel-default">
        <div class="panel-heading">
          Purchase Order
        </div>

        <div class="panel-body purchase-header">
          <div class="row">

            <div class="col-xs-12">

              <table class="table table-bordered">
                <thead>
                <tr>
                  <th>P.O</th>
                  <th>Date</th>
                  <th>Note</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>{{session.hr_id}}</td>
                  <td>{{session.purchase.date | date}}</td>
                  <td>{{session.purchase.note}}</td>
                </tr>
                </tbody>
              </table>
            </div>

          </div>

          <div class="row">
            <div class="col-xs-12">
              <table class="table table-bordered">
                <thead>
                <tr>
                  <th>Supplier</th>
                </tr>
                </thead>
                <tbody ng-if="session.creditor">
                  <tr>
                    <td>
                      <h4><strong>{{session.creditor.name}}</strong></h4>
                      <h4>{{session.location.village}}</h4>
                      <h4>{{session.location.province}}</h4>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <span>Purchase Items</span>
          <!-- <a ng&#45;click="updateInventory()" class="pull&#45;right fieldset&#45;util"><span class="glyphicon glyphicon&#45;plus"></span> {{ "SALE.ADD_LINE_ITEM" | translate }} </a> -->
          <button disabled class="pull-right" ng-click="updateInventory()"><span class="glyphicon glyphicon&#45;plus"></span> {{ "SALE.ADD_LINE_ITEM" | translate }}</button>

        </div>

        <table class="table table-condensed" ng-show="session.creditor">
          <thead>
          <tr>
            <td class="invoice-item">Item</td>
            <td class="invoice-desc">Description</td>
            <td>Qty</td>
            <td>Unit Price</td>
            <td>Amount</td>
          </tr>
          </thead>
          <tbody>
            <tr><td colspan="5">Not implemented</td></tr>
          <!-- <tr ng&#45;repeat="item in inventory"> -->
          <!--   <td class="invoice&#45;item"><select class="form&#45;invoice" ng&#45;change="updateItem(item)" ng&#45;model="item.item" -->
          <!--                                    ng&#45;options="l.code for l in inventory_model.data"><option value="" disabled="disabled">&#45;&#45;Select Item&#45;&#45;</option></select></td> -->
          <!--   <td class="invoice&#45;desc"><input type="text" class="form&#45;invoice" ng&#45;model="item.text"></td> -->
          <!--   <td class="invoice&#45;quantity"><input type="number" class="form&#45;invoice" ng&#45;model="item.quantity"></td> -->
          <!--   <td class="invoice&#45;price"><input type="number" class="form&#45;invoice" ng&#45;model="item.price"></td> -->
          <!--   <td class="invoice&#45;amount"><span>{{item.quantity * item.price | currency}}</span></td> -->
          <!-- </tr> -->
          <!-- <tr> -->
          <!--   <td colspan="4"></td> -->
          <!--   <td><span><b>{{invoiceTotal() | currency}}</b></span></td> -->
          <!-- </tr> -->
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>

<section class="bar-bottom">
  <div class="pull-right">
    <a ng-disabled="!creditor || inventory.length==0" ng-click="submitPurchase()" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-floppy-open"></span> Submit Purchase Order</a>
  </div>
</section>
