<link rel="stylesheet" href="partials/purchase_order/purchase.css"/>
<header>
  <span>Create Purchase Order</span>
</header>

<section class="underline">
  <div class="btn-group">
              <button class="btn btn-default" ng-click="select(0)" ng-class="{current: current_process=='PO'}">Purchase
                Order
              </button>
              <button class="btn btn-default" ng-click="select(1)" ng-class="{current: current_process=='QUOTE'}">
                Quote
              </button>
            </div>
            <div class="pull-right">
              <a class="btn btn-default"><span class="glyphicon glyphicon-floppy-save"></span> Import Pro forma
              </a>
              <a class="btn btn-default"><span class="glyphicon glyphicon-th-list"></span> Update Defaults</a>

            </div>
</section>

<div class="content">

<div class="row">

    <div class="col-xs-5">
      <div class="panel panel-default">
        <div class="panel-heading">
          Detail
        </div>

        <div class="panel-body purchase-header">

          <div class="form-group">
            <label for="saledate">Sale Date</label>
            <input type="date" id="saledate" class="form-kapok" ng-model="sale_date">
          </div>
          <div class="form-group">
            <label for="select-cred">Supplier</label>
            <select id="select-cred" ng-change="updateLocation(creditor)" ng-model="creditor" ng-options="formatCreditor(c) for c in creditor_model.data" class="form-kapok">
              <option value="" disabled="disabled">--Select Creditor--</option>
            </select>
          </div>
          <div class="form-group">
            <div class="radio">
              <label>
                <input type="radio" name="option_payable" id="immediate" value="true" ng-model="purchase_order.payable">
                Payable Immediately
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="option_payable" id="pay" value="false" checked
                       ng-model="purchase_order.payable">
                Payable by
              </label>
            </div>
            <div class="input-group">
              <select id="payable" class="form-kapok" ng-disabled="isPayable()">
                <!--FIXME Currently hardcoded - should these be pulled from a data set?-->
                <option>14</option>
                <option>30</option>
              </select>
              <span class="input-group-addon">days</span>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="col-xs-7">
      <div class="panel panel-default">
        <div class="panel-heading">
          Purchase Order
        </div>

        <div class="panel-body purchase-header">
          <div class="row">

            <div class="col-xs-12">

              <table class="table table-bordered">
                <thead>
                <tr>
                  <th>P.O</th>
                  <th>Date</th>
                  <th>Note</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>{{invoice_id}}</td>
                  <td>{{sale_date}}</td>
                  <td>{{formatText()}}</td>
                </tr>
                </tbody>
              </table>
            </div>

          </div>

          <div class="row">
            <div class="col-xs-12">
              <table class="table table-bordered">
                <thead>
                <tr>
                  <th>Supplier</th>
                </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <h4><strong>{{creditor.name}}</strong></h4>
                      <h4>{{creditor.village}}</h4>
                      <h4>{{creditor.province}}</h4>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-xs-12">
      <div class="panel panel-success">
        <div class="panel-heading">
          <span>Purchase Items</span>
          <button class="pull-right" ng-click="updateInventory()">+</button>

        </div>

        <table class="table table-condensed" ng-show="itemsInInv()">
          <thead>
          <tr>
            <td class="invoice-item">Item</td>
            <td class="invoice-desc">Description</td>
            <td>Qty</td>
            <td>Unit Price</td>
            <td>Amount</td>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="item in inventory">
            <td class="invoice-item"><select class="form-invoice" ng-change="updateItem(item)" ng-model="item.item"
                                             ng-options="l.code for l in inventory_model.data"><option value="" disabled="disabled">--Select Item--</option></select></td>
            <td class="invoice-desc"><input type="text" class="form-invoice" ng-model="item.text"></td>
            <td class="invoice-quantity"><input type="number" class="form-invoice" ng-model="item.quantity"></td>
            <td class="invoice-price"><input type="number" class="form-invoice" ng-model="item.price"></td>
            <td class="invoice-amount"><span>{{item.quantity * item.price | currency}}</span></td>
          </tr>
          <tr>
            <td colspan="4"></td>
            <td><span><b>{{invoiceTotal() | currency}}</b></span></td>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>

<section class="underline overline">
  <div class="pull-right">
    <a ng-disabled="!creditor || inventory.length==0" ng-click="submitPurchase()" class="btn btn-default"><span class="glyphicon glyphicon-floppy-open"></span> Submit Purchase Order</a>
  </div>
</section>
