<header>
  <span>{{ 'PURCHASE.TITLE' | translate }}</span>
</header>

<section class="top-nav">
  <div class="pull-right">
    <button class="btn btn-sm btn-default">{{ 'PURCHASE.ADD_SUPPLIER' | translate }}</button>
  </div>
</section>

<div class="content">

<div class="row">

    <div class="col-xs-5">
      <div class="panel panel-default">
        <div class="panel-heading">
          {{ 'PURCHASE.CONFIGURE' | translate }}
        </div>

        <div class="panel-body purchase-header">
        
          <div class="form-group">
            <label for="saledate">Sale Date</label>
            <input type="date" id="purchaseDate" class="form-kapok" ng-model="session.purchase.date">
          </div>
          <div class="form-group">
            <label for="select-cred">Supplier</label>
            <select id="select-cred" ng-change="selectCreditor(session.creditor)" ng-model="session.creditor" ng-options="c as c.name for c in creditor.data" class="form-kapok">
              <option value="" disabled="disabled">--Select Creditor--</option>
            </select>
          </div>

          <!-- Determine validity period of payment -->

          <!-- <div class="form&#45;group"> -->
          <!--   <div class="radio"> -->
          <!--     <label> -->
          <!--       <input type="radio" name="option_payable" id="immediate" value="true" ng&#45;model="session.payable"> -->
          <!--       Payable Immediately -->
          <!--     </label> -->
          <!--   </div> -->
          <!--   <div class="radio"> -->
          <!--     <label> -->
          <!--       <input type="radio" name="option_payable" id="pay" value="false" checked -->
          <!--              ng&#45;model="session.payable"> -->
          <!--       Payable by -->
          <!--     </label> -->
          <!--   </div>
          <!--   <div class="input&#45;group"> -->
          <!--     <select id="payable" class="form&#45;kapok" ng&#45;disabled="isPayable()"> -->
          <!--       <!&#45;&#45;FIXME Currently hardcoded &#45; should these be pulled from a data set?&#45;&#45;> -->
          <!--       <option>14</option> -->
          <!--       <option>30</option> -->
          <!--     </select> -->
          <!--     <span class="input&#45;group&#45;addon">days</span> -->
          <!--   </div> -->
          <!-- </div> -->
        </div>

      </div>
    </div>
    <div class="col-xs-7">
      <div class="panel panel-default">
        <div class="panel-heading">
          Purchase Order
        </div>

        <div class="panel-body purchase-header">
          <div class="row">

            <div class="col-xs-12">

              <table class="table table-bordered">
                <thead>
                <tr>
                  <th>P.O</th>
                  <th>Date</th>
                  <th>Note</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>{{session.hr_id}}</td>
                  <td>{{session.purchase.date | date}}</td>
                  <td>{{session.purchase.note}}</td>
                </tr>
                </tbody>
              </table>
            </div>

          </div>

          <div class="row">
            <div class="col-xs-12">
              <table class="table table-bordered">
                <thead>
                <tr>
                  <th>Supplier</th>
                </tr>
                </thead>
                <tbody ng-if="session.creditor">
                  <tr>
                    <td>
                      <h4><strong>{{session.creditor.name}}</strong></h4>
                      <h4>{{session.location.village}}</h4>
                      <h4>{{session.location.province}}</h4>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <span>Purchase Items</span>
          <!-- <a ng&#45;click="updateInventory()" class="pull&#45;right fieldset&#45;util"><span class="glyphicon glyphicon&#45;plus"></span> {{ "SALE.ADD_LINE_ITEM" | translate }} </a> -->
          <button ng-disabled="!session.creditor" class="pull-right" ng-click="addPurchaseItem()"><span class="glyphicon glyphicon&#45;plus"></span> {{ "SALE.ADD_LINE_ITEM" | translate }}</button>

        </div>
        
        <table class=' table-condensed table' ng-if="session.creditor">
          <thead>
            <tr>
              <th>{{ "COLUMNS.ITEM" | translate }}</th>
              <th>{{ "COLUMNS.DESCRIPTION" | translate }}</th>
              <th>{{ "COLUMNS.QTY" | translate }}</th>
              <th>{{ "COLUMNS.PURCHASE_PRICE" | translate }}</th>
              <th>{{ "COLUMNS.AMOUNT" | translate }}</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <!-- FIXME: strange filter -->
            <tr ng-class="{'incomplete-outline': !purchaseItem.code, 'complete-outline': purchaseItem.code}" ng-repeat="purchaseItem in session.items">
              <td>
                <input
                class="form-invoice"
                type="text"
                typeahead-template-url="invoiceListItem.html"
                ng-model="purchaseItem.selectedReference"
                typeahead="inventoryItem as inventoryItem.code for inventoryItem in inventory.data | filter:$viewValue | limitTo:8"
                typeahead-on-select="updateInvoiceItem(purchaseItem, purchaseItem.selectedReference)"
                placeholder="Search Inventory">
              </td>

              <!-- -1 for no tab, 0 to allow -->
              <td><input ng-show="purchaseItem.isSet" class="form-invoice" disabled value="{{purchaseItem.text}}"></td>
              <td><input ng-change="cacheQuantity(purchaseItem)" tabindex="{{session.tablock}}" ng-show="purchaseItem.isSet" class="form-invoice" ng-model="purchaseItem.quantity"></td>
              <td><input tabindex="{{session.tablock}}" ng-show="purchaseItem.isSet" class="form-invoice" ng-model="purchaseItem.price"></td>
              <td><input tabindex="{{session.tablock}}" ng-show="purchaseItem.isSet" class="form-invoice" disabled value="{{purchaseItem.quantity * purchaseItem.price | currency}}"></td>
              <td><a ng-click="removeInvoiceItem($index)"><span class="glyphicon glyphicon-trash"></span></a></td>
            </tr>
            
            <tr>
              <!-- Style hack -->
              <td colspan="4" style="margin-right = 50px; text-align: right;"><b> {{ "SALE.TOTAL" | translate }}</b></td>
              <td colspan="2"><b>{{ calculateTotal().totalToPay | currency }}</b></td>
            </tr>

          </tbody>
        </table>

        <!-- <table class="table table&#45;condensed" ng&#45;show="session.creditor"> -->
        <!--   <thead> -->
        <!--   <tr> -->
        <!--     <td class="invoice&#45;item">Item</td> -->
        <!--     <td class="invoice&#45;desc">Description</td> -->
        <!--     <td>Qty</td> -->
        <!--     <td>Unit Price</td> -->
        <!--     <td>Amount</td> -->
        <!--   </tr> -->
        <!--   </thead> -->
        <!--   <tbody> -->
        <!--     <tr><td colspan="5">Not implemented</td></tr> -->
        <!--   <!&#45;&#45; <tr ng&#38;#45;repeat="item in inventory"> &#45;&#45;> -->
        <!--   <!&#45;&#45;   <td class="invoice&#38;#45;item"><select class="form&#38;#45;invoice" ng&#38;#45;change="updateItem(item)" ng&#38;#45;model="item.item" &#45;&#45;> -->
        <!--   <!&#45;&#45;                                    ng&#38;#45;options="l.code for l in inventory_model.data"><option value="" disabled="disabled">&#38;#45;&#38;#45;Select Item&#38;#45;&#38;#45;</option></select></td> &#45;&#45;> -->
        <!--   <!&#45;&#45;   <td class="invoice&#38;#45;desc"><input type="text" class="form&#38;#45;invoice" ng&#38;#45;model="item.text"></td> &#45;&#45;> -->
        <!--   <!&#45;&#45;   <td class="invoice&#38;#45;quantity"><input type="number" class="form&#38;#45;invoice" ng&#38;#45;model="item.quantity"></td> &#45;&#45;> -->
        <!--   <!&#45;&#45;   <td class="invoice&#38;#45;price"><input type="number" class="form&#38;#45;invoice" ng&#38;#45;model="item.price"></td> &#45;&#45;> -->
        <!--   <!&#45;&#45;   <td class="invoice&#38;#45;amount"><span>{{item.quantity * item.price | currency}}</span></td> &#45;&#45;> -->
        <!--   <!&#45;&#45; </tr> &#45;&#45;> -->
        <!--   <!&#45;&#45; <tr> &#45;&#45;> -->
        <!--   <!&#45;&#45;   <td colspan="4"></td> &#45;&#45;> -->
        <!--   <!&#45;&#45;   <td><span><b>{{invoiceTotal() | currency}}</b></span></td> &#45;&#45;> -->
        <!--   <!&#45;&#45; </tr> &#45;&#45;> -->
        <!--   </tbody> -->
        <!-- </table> -->
      </div>
    </div>
  </div>

</div>

<section class="bar-bottom">
  <div class="pull-right">
    <a ng-disabled="!creditor || inventory.length==0" ng-click="submitPurchase()" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-floppy-open"></span> Submit Purchase Order</a>
  </div>
</section>

<script type="text/ng-template" id="invoiceListItem.html">
  <a>
    <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
    <span><i>{{match.model.text}}</i></span>
  </a>
</script>
