<header data-header>
  {{ "CASH.CASHBOX.TITLE" | translate }}
</header>

<nav>
  <div class="pull-left">
    <ol class="breadcrumb">
      <li><a href="#/"><span class="glyphicon glyphicon-home"></span></a></li>
      <li class="active">{{ "CASH.CASHBOX.TITLE" | translate }}</li>
    </ol>
  </div>

  <div class="pull-right">
    <button class="btn btn-sm btn-default" ng-click="new()">
      <span class="glyphicon glyphicon-plus-sign"></span>
      {{ "CASH.CASHBOX.ADD" | translate }}
    </button>
  </div>
</nav>

<main>
  <div class="row margin-top-10">

    <div class="col-xs-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="glyphicon glyphicon-home"></span> {{ "CASH.CASHBOX.ALL" | translate }}
        </div>
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>{{ "COLUMNS.ID" | translate }}</th>
              <th>{{ "COLUMNS.NAME" | translate }}</th>
              <th>{{ "CASH.CASHBOX.PROJECT" | translate }}</th>
              <th>{{ "CASH.CASHBOX.IS_BANK" | translate }}</th>
              <th>{{ "CASH.CASHBOX.IS_AUXILLARY" | translate }}</th>              
              <th colspan="2" style="width:15%;">{{ "COLUMNS.ACTION" | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="box in cashbox.data | orderBy: 'id'">
              <td>{{ box.id }}</td>
              <td>{{ box.text }}</td>
              <td>{{ box.abbr }}</td>
              <td><span class="glyphicon" ng-class="{'glyphicon-ok' : !!box.is_bank}"></span></td>
              <td><span class="glyphicon" ng-class="{'glyphicon-ok' : !!box.is_auxillary}"></span></td>
              <td><a class="action" ng-click="edit(box)"><span class="glyphicon glyphicon-pencil"></span></a></td>
              <td><a class="action danger" ng-click="delete(box)"><span class="glyphicon glyphicon-trash"></span></a></td>
            </tr>
            <tr ng-if="!cashbox.data.length">
              <td colspan="4">{{ "CASH.CASHBOX.NO_DEPOTS" | translate }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-xs-6" ng-switch="session.action">
      <div class="alert alert-info" ng-switch-default>
        <h4>{{ "CASH.CASHBOX.TITLE" | translate }}</h4>
        <p>{{ "CASH.CASHBOX.ALERT" | translate }}</p>
      </div>

      <form name="boxNew" ng-switch-when="new" novalidate>
        <legend>{{ "CASH.CASHBOX.ADD" | translate }}</legend>

        <div class="form-group">
          <label>{{ "COLUMNS.NAME" | translate }}</label>
          <input class="form-bhima" ng-model="session.new.text" required>
        </div>

        <div class="form-group">
          <div class="checkbox">
            <label class="control-label">{{ "CASH.CASHBOX.IS_BANK" | translate }}
            <input type="checkbox" ng-model="session.new.is_bank">
            </label>
          </div>
        </div>

        <div ng-if="!session.new.is_bank" class="form-group">
          <div class="checkbox">
            <label class="control-label">{{ "CASH.CASHBOX.IS_AUXILLARY" | translate }}
            <input type="checkbox" ng-model="session.new.is_auxillary">
            </label>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label">{{ "CASH.CASHBOX.PROJECT" | translate }}</label>
          <select class="form-control" ng-model="session.new.project_id" ng-options="p.id as p.name for p in session.project.data">
          </select>
        </div>

        <button class="btn btn-sm btn-success" type="submit" ng-click="save.new()" ng-disabled="boxtNew.$invalid">{{ "FORM.SUBMIT" | translate }}</button>
        <button class="btn btn-sm btn-danger" type="reset">{{ "FORM.CLEAR" | translate }}</button>
      </form>

      <form ng-switch-when="edit">
        <legend>{{ "CASH.CASHBOX.EDIT" | translate }}</legend>

        <div class="form-group">
          <label>{{ "COLUMNS.NAME" | translate }}</label>
          <input class="form-bhima" ng-model="session.edit.text" required>
        </div>

        <div class="form-group">
          <div class="checkbox">
            <label class="control-label">{{ "CASH.CASHBOX.IS_BANK" | translate }}
            <input 
            type="checkbox" 
            ng-model="session.edit.is_bank" 
            ng-true-value=1>
            </label>
          </div>
        </div>

        <div ng-if="!session.edit.is_bank" class="form-group">
          <div class="checkbox">
            <label class="control-label">{{ "CASH.CASHBOX.IS_AUXILLARY" | translate }}
            <input 
            type="checkbox" 
            ng-model="session.edit.is_auxillary" 
            ng-true-value=1>
            </label>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label">{{ "CASH.CASHBOX.PROJECT" | translate }}</label>
          <select class="form-control" ng-model="session.edit.project_id" ng-options="p.id as p.name for p in session.project.data">
          </select>
        </div>

        <button class="btn btn-sm btn-success" type="submit" ng-click="save.edit()">{{ "FORM.SUBMIT" | translate }}</button>
        <button class="btn btn-sm btn-danger" type="reset">{{ "FORM.CLEAR" | translate }}</button>
      </form>

    </div>

  </div>
</main>
