<header data-header>{{ 'PRIMARY_CASH.TITLE' | translate }}</header>

<nav>
  <div class="pull-left">
    <ol class="breadcrumb">
      <li><a href="#/"><span class="glyphicon glyphicon-home"></span></a></li>
      <li class="active">{{ "PRIMARY_CASH.TITLE" | translate }}</li>
    </ol>
  </div>

  <div class="pull-right" style="margin-top : 1px;">
    <span>
      <b>{{ PrimaryCtrl.session.cashbox.id ? '[' + PrimaryCtrl.session.cashbox.id + ']' : '' }}</b>
      {{ PrimaryCtrl.session.cashbox.text }}
    </span>

    <button
      style="margin-left: 5px;"
      ng-disabled="PrimaryCtrl.session.configure"
      ng-click="PrimaryCtrl.reconfigure()"
      class="btn btn-sm btn-default">
      <span class="glyphicon glyphicon-repeat"></span>
    </button>
  </div>
</nav>

<main>
  <!-- Module configuration -->
  <div ng-if="PrimaryCtrl.session.configure" class="row margin-top-10">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          {{ "PRIMARY_CASH.SELECT_CASHBOX" | translate }}
        </div>

        <div class="panel-body">

          <div class="configure">
            <div
              class="panel panel-default configure-item"
              ng-repeat="box in PrimaryCtrl.cashBox.data"
              ng-click="PrimaryCtrl.setConfiguration(box)">

              <div class="panel-body">
                <div>
                  <span
                    style="font-size: 70px"
                    class="glyphicon glyphicon-briefcase"></span>
                </div><br>
                {{box.text}}
              </div>
            </div> <!-- End configure item -->
          </div> <!-- End configure widget -->
        </div>
      </div>
    </div>
  </div>

  <!-- Exchange rate -->
  <div ng-if="!PrimaryCtrl.session.hasDailyRate" class="row margin-top-10">
    <div class="col-xs-12">
      <p class="alert-warning text-center">
        <i class="glyphicon glyphicon-warning-sign"></i>
        <b>{{ "NO_EXCHANGE.EXPLANATION" | translate }}</b> <br>{{ "NO_EXCHANGE.FIX" | translate }}
        <b>
          <a ng-href="#/exchange_rate"><i class="glyphicon glyphicon-link"></i>
          {{ "NO_EXCHANGE.SET_NEW_RATE" | translate }}
          </a>
        </b>
      </p>
    </div>
  </div>
  <!-- Module content -->
  <div ng-if="PrimaryCtrl.session.complete && PrimaryCtrl.session.hasDailyRate" class="row margin-top-10">
    <div class="col-xs-6">

      <!-- Income links widget -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="glyphicon glyphicon-import"></span>
          {{ 'PRIMARY_CASH.INCOMES' | translate }}
        </div>

        <div class="panel-body">
          <ul class="primary_cash_list">
            <li ng-repeat="item in PrimaryCtrl.configuration.income">
              <span class="glyphicon glyphicon-thumbs-up"></span>
              <a class="menu-item" ng-click="PrimaryCtrl.loadPath(item.link)">
                {{item.key | translate}}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div> <!-- End Column 1 -->

    <div class="col-xs-6">

      <!-- Expense links widget -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="glyphicon glyphicon-export"></span>
          {{ 'PRIMARY_CASH.EXPENSES' | translate }}
        </div>

        <div class="panel-body">
          <ul class="primary_cash_list">
            <li ng-repeat="item in PrimaryCtrl.configuration.expense">
              <span class="glyphicon glyphicon-thumbs-down"></span>
              <a
                class="menu-item"
                ng-click="PrimaryCtrl.loadPath(item.link)">{{item.key | translate}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div> <!-- End Column 2 -->
  </div> <!-- End row -->
</main>
