<header>{{ 'PRIMARY_CASH.TITLE' | translate }}</header>

<nav>
  <div class="pull-left">
    <ol class="breadcrumb">
      <li><span class="glyphicon glyphicon-home"></span></li>
      <li class="active">{{ "PRIMARY_CASH.TITLE" | translate }}</li>
    </ol>
  </div>

  <div class="pull-right" style="margin-top : 1px;">
    <span>
      <b>{{session.cashbox.id ?
        '[' + session.cashbox.id + ']' :
        ''}}
      </b>
      {{session.cashbox.text}}
    </span>

    <button
      style="margin-left: 5px;"
      ng-disabled="session.configure"
      ng-click="reconfigure()"
      class="btn btn-sm btn-default">
      <span class="glyphicon glyphicon-repeat"></span>
    </button>
  </div>
</nav>

<main>
  <!-- Module configuration -->
  <div ng-if="session.configure" class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          {{ "PRIMARY_CASH.SELECT_CASHBOX" | translate }}
        </div>

        <div class="panel-body">

          <div class="configure">
            <div
              class="panel panel-default configure-item"
              ng-repeat="box in cashBox.data"
              ng-click="setConfiguration(box)">

              <div class="panel-body">
                <div>
                  <span
                    style="font-size: 70px"
                    class="glyphicon glyphicon-briefcase"></span>
                </div><br>
                {{box.text}}
              </div>
            </div> <!-- End configure item -->
          </div> <!-- End configure widget -->
        </div>
      </div>
    </div>
  </div>

  <!-- Module content -->
  <div ng-if="session.complete" class="row">
    <div class="col-xs-6">

      <!-- Income links widget -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="glyphicon glyphicon-import"></span>
          {{ 'PRIMARY_CASH.INCOMES' | translate }}
        </div>

        <div class="panel-body">
          <ul class="primary_cash_list">
            <li ng-repeat="item in configuration.income">
              <span class="glyphicon glyphicon-thumbs-up"></span>
              <a
                class="menu-item"
                ng-click="loadPath(item.link)">{{item.key | translate}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div> <!-- End Column 1 -->

    <div class="col-xs-6">

      <!-- Expense links widget -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="glyphicon glyphicon-export"></span>
          {{ 'PRIMARY_CASH.EXPENSES' | translate }}
        </div>

        <div class="panel-body">
          <ul class="primary_cash_list">
            <li ng-repeat="item in configuration.expense">
              <span class="glyphicon glyphicon-thumbs-down"></span>
              <a
                class="menu-item"
                ng-click="loadPath(item.link)">{{item.key | translate}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div> <!-- End Column 2 -->
  </div> <!-- End row -->
</main>
