@media print { 
  .article { 
    border: none !important;
  }

  .invoice { 
    padding-left: 15px;
    padding-right: 15px; 
    padding-top: none; }

}


div .invoice { 
  padding: 10px;
  padding-top: 10px;
  background: #f3f3f3;
  height: 100%;
}

div .article { 
  padding-top: 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  border: 1px solid #DDD;
  background: white;
}

.invoiceTable { 
  border none;
  width: 100%;
}

.invoiceTable thead > tr > th { 
  border: 1px solid #9f9f9f;
  padding-left: 5px;
}

.invoiceTable tbody.items > tr > td { 
  border: 1px solid #9f9f9f;
}

.invoiceTable tbody.totals > tr > td { 
  border: 1px solid #9f9f9f;
}

.invoiceTable tbody > tr > td.no-border { 
  border: none;
  text-align: right;
  padding-right: 10px;
}

.invoice-header { 
  font-size: 30px !important;
}

.customer-details { 
  padding-top: 5px;
  padding-bottom: 30px;
}
