<header class="hidden-print"> Receipts </header> 

<div class="invoice">

<div class="article">
  <div class="row customer-details">
    <div class="col-xs-12"> 
      <h4>Patient Invoice</h4>
    </div>
  </div>
  <div class="row customer-details">
    <div class="col-xs-1">
      <b>To</b>
    </div>
    <div class="col-xs-4">
      <div class="row">
        Steven Fountain
      </div>
      <div class="row">
        Patient Address
      </div>
    </div>
    <div style="text-align: right;" class="col-xs-3">
      <div class="row">
        <b>Invoice #</b>
      </div>
      <div class="row">
        10014
      </div>
      <div class="row">
        <b>Date</b>
      </div>
      <div class="row">
        17/01/2014
      </div>
    </div>
    <div class="col-xs-3">
      Good Shepard Hospital 
    </div> 
  </div>
  <div class="row">
    <div class="col-xs-12">
      <table class="invoiceTable">
        <thead>
          <tr><th>Description</th><th>Amount</th></tr> 
        </thead>
        <tbody class="items">
          <tr><td>Some Description</td><td>$1.00</td></tr> 
        </tbody>
        <tbody class="totals">
          <tr><td class="no-border">Total</td><td>$1.00</td></tr>
          <tr><td class="no-border">Amount Received</td><td>$0.00</td></tr>
          <tr><td class="no-border">Balance Due</td><td>$1.00</td></tr>
        </tbody>

      </table>
    </div>
  </div>
</article>
</main>
