<link href="partials/settings/settings.css" rel="stylesheet">
<header>KPK Settings <small>Steven Fountain</header>

<div class="content"> 

  <div class="row">
    <div class="col-xs-5">
      <div class="form-group">
      <label for="select-language">Language</label>
      <select id="select-language" class="form-kapok">
        <option>English</option>
        <option>French</option>
        <option>Lingala</option>
      </select>
      </div>

      <div class="form-group">
      <label for="select-default"></span> Default Home Page</label>
      <select id="select-default" class="form-kapok">
        <option selected>Last page visited</option>
      </select>
      </div>
    </div>
  </div>
</div>