<header data-header>
  {{ "STOCK.LOSS.TITLE" | translate }}
</header>

<nav>
  <div class="pull-left">
    <ol class="breadcrumb" style="float: right;">
      <li><a href="#/"><span class="glyphicon glyphicon-home"></span></a></li>
      <li><a tabindex="-1" href="#/depot">{{ "DEPOT.MAIN.TITLE" | translate }}</a></li>
      <li class="active">{{ "STOCK.LOSS.KEY" | translate }}</li>
    </ol>
  </div>
</nav>

<main>
  <div class="row" ng-if="session.block">
    <div class="alert alert-info">
      <span class="glyphicon glyphicon-warning-sign"></span>
      {{ "STOCK.LOSS.NO_DEPOT" | translate }}
    </div>
  </div>

  <div class="row" ng-if="!session.block">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="glyphicon glyphicon-list-alt"></span>
        </div>
        <form class="panel-body" name="LossForm">

          <legend>{{ "STOCK.LOSS.LOSS_GENERAL_INFO" | translate }}</legend>

          <div class="row">
            <div class="col-xs-3">
              <span>
                <label>{{ "COLUMNS.DOCUMENT_UUID" | translate }}</label>
                <p class="form-control-static"><b>{{ session.document_id }}</b></p>
              </span>
            </div>

            <div class="col-xs-3">
              <span>
                <label>{{ "COLUMNS.DEPOT" | translate }}</label>
                <p class="form-control-static"><b>[{{ model.depots.data[0].reference }}] {{ model.depots.data[0].text }}</b></p>
              </sapn>
            </div>

            <div class="col-xs-3">
              <span>
                <label>{{ "COLUMNS.DATE" | translate }}</label>
                <p class="form-control-static"><b>{{ session.date | date}}</b></p>
              </span>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <div class="pull-right">
                <a ng-click="addRow()" class="fieldset-util">
                  <span class="glyphicon glyphicon-plus"></span> {{ "DISTRIBUTION_SERVICE.ADD_ROW" | translate }}
                </a>
              </div>
              <div class="panel-body">
                <table class='table table-bordered'>
                  <thead>
                    <tr>
                      <th>{{ "COLUMNS.LABEL" | translate }}</th>
                      <th>{{ "COLUMNS.LOT" | translate }}</th>
                      <th>{{ "COLUMNS.QTY_LOSS" | translate }}</th>
                      <th>{{ "COLUMNS.PRICE" | translate }}</th>
                      <th>{{ "COLUMNS.TOTAL" | translate }}</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      ng-repeat="row in configuration.rows"
                      ng-class="{'incomplete-outline': !row.code || !row.validQuantity, 'complete-outline' : !(!row.code || !row.validQuantity)  }">
                      <td width="20%">
                        <input
                          class="form-invoice"
                          type="text"
                          typeahead-template-url="lotList.html"
                          ng-model="row.code"
                          typeahead="inv.code for inv in model.inventory | filter:$viewValue | limitTo:8"
                          typeahead-on-select="updateLigne(row.code, $index)"
                          placeholder="{{ 'DISTRIBUTION_SERVICE.TAPE' | translate }}"
                        >
                      </td>
                      <td width="35%">
                        <div class="form-group">
                          <select
                            class="col-xs-2 form-bhima"
                            ng-model="row.lot"
                            ng-options="lot as '(' + lot.lot_number + ')' + '  ' + lot.text  for lot in configuration.rows[$index].lots"
                            ng-change="getItemPrice(row.lot, $index)"
                          >
                          </select>
                        </div>
                      </td>
                      <td width="15%">
                        <div class="input-group" >
                          <span class="input-group-addon">
                            <span
                              ng-class=
                                "{
                                  'glyphicon-remove-circle error' : !row.validQuantity,
                                  'glyphicon-ok-circle correct' : row.validQuantity
                                }"
                              class="glyphicon"></span>
                            </span>
                            <input class="form-bhima" ng-disabled="!row.code" ng-model="row.quantity" type="number" min="0" ng-change="handleQuantity(row, $index)" required>
                        </div>
                      </td>
                      <td>

                        <div class="input-group">
                          <span class="input-group-addon">
                            <span
                            ng-class=
                            "{
                              'glyphicon-remove-circle error' : !row.price || row.price < 0,
                              'glyphicon-ok-circle correct' : row.price >= 0 && row.price
                            }"
                            class="glyphicon">
                            </span>
                          </span>

                          <input class="form-bhima" ng-disabled="true" ng-model="row.price" type="number" min="0" required>

                          <span class="input-group-addon">
                            {{model.currency.data[0].symbol}}
                          </span>
                        </div>
                      </td>

                      <td>
                        {{(row.price * row.quantity) | currency}}
                      </td>
                      <td>
                        <a ng-click="removeRow($index)">
                          <span class="glyphicon glyphicon-trash"></span>
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td
                        colspan="4"
                        style="margin-right = 50px; text-align: right;">
                        <b> {{ "DISTRIBUTION_SERVICE.TOTAL" | translate }}</b>
                      </td>
                      <td colspan="2">
                        <b>{{ calculateTotal() | currency }}</b>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>

<footer>
  <div class="pull-right">
    <a ng-disabled="verifyLoss()" ng-click="submit()" class="btn btn-default">
      <i class="glyphicon glyphicon-floppy-open"></i>
      {{ "STOCK.LOSS.SUBMIT" | translate }}
    </a>
  </div>
</footer>

<script type="text/ng-template" id="lotList.html">
  <a>
    <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
    <span><i>{{match.model.text}}</i></span>
  </a>
</script>

