/*This should be moved to cards own CSS file*/
.bhima-card {
	background: rgb(255, 255, 56) ;
	padding: 10px;
}

.bhima-card-id {
/*	float: left;	
	clear: right;*/
}
.bhima-card-age { 
	/*float: right;*/
}
.bhima-card-name { 
	/*padding-bottom: 20px;*/
}

.card-table { 
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid black;
}

.card-table thead > tr > th {
  border-bottom: 2px solid black;
}

.card-table tbody > tr > td { 
  padding: 5px;
}

.card-table thead > tr > th { 
  padding-left: 5px;
}
/*card style end*/
/*Override modal style - this is bad*/
.modal-body { 
	padding: 0;
	margin: 0;
}

.p-grid {
    /*border: 1px solid rgb(212,212,212);*/
    height: 600px;
}

.rowSelected {
  background-color: #dff0d8;
}

.bika-header {
  padding-bottom: 9px;
  margin: 40px 0 5px;
  border-bottom: 1px solid #eeeeee;
}

/*Not optimal to control utils layout on two different elements*/
.util {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.util-bottom {
  border-top: 1px solid #eeeeee;
  padding-top: 5px;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 5px
}

.patient-table {
  /*FIXME pretty gross*/
  /* max-height: 580px; */
  /* overflow-y: auto; */
}

/*FIXME*/
.hack-left {
  margin-left: -15px; !important
}
