<header>
  {{ "PATIENT_RECORDS.TITLE" | translate }}
</header>


<nav>
  	<div class="pull-right">
      <a ng-click="fetchAll()" class="btn btn-default">
        <span class="glyphicon glyphicon-user"></span> {{ "PATIENT_RECORDS.VIEW_ALL" | translate }}
      </a>
  </div>
</nav>

<main>
<!-- Advanced Search -->
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div ng-click="model.patient.data=[]" class="panel-heading">
          <span class="glyphicon glyphicon-search"></span> {{ "PATIENT_RECORDS.ADVANCED_SEARCH" | translate }} {{searchParams}}
          <!-- <div class="pull&#45;right"> -->
            <!-- <a><span class="glyphicon glyphicon&#45;search"></span></a> -->
          <!-- </div> -->
        </div>
        
        <div ng-show="!model.patient.data.length || model.patient.data.length===0" class="panel-body">
          <div class="row">
            <div class="col-xs-12">
              <div class="alert alert-info">
                <span class="glyphicon glyphicon-info-sign"></span> Any fields left blank will not be included in the search, <b>included fields will be marked with an</b> <span class="glyphicon glyphicon-saved error"></span>
          </div>

            </div>
          </div>
          <div class="row">
          
          <div class="col-xs-6">
            <div class="form-group">
              <span 
                ng-if="searchParams.first_name.length"
                class="glyphicon glyphicon-saved error"></span> 
               <label class="control-label"> {{ "PATIENT_RECORDS.FIRST_NAME" | translate }}</label>
              <input class="form-bhima" ng-model="searchParams.first_name"></input>
            </div>

            <div class="form-group">
              <span 
                ng-if="searchParams.last_name.length"
                class="glyphicon glyphicon-saved error"></span> 

              <label class="control-label">{{ "PATIENT_RECORDS.LAST_NAME" | translate }}</label>
              <input class="form-bhima" ng-model="searchParams.last_name"></input>
            </div>
            
            <!-- TODO Implement convert year to date / allow full date to be entered -->
            <div class="form-group">
              <span 
                ng-if="searchParams.yob.length"
                class="glyphicon glyphicon-saved error"></span> 

              <label class="control-label">{{ "PATIENT_RECORDS.YOB" | translate }}</label>
              <input class="form-bhima" ng-model="searchParams.yob"></input>
            </div>

            <div class="form-group">
              <span 
                    ng-if="searchParams.sex.length"
                    class="glyphicon glyphicon-saved error"></span> 

              <label class="control-label">{{ "PATIENT_RECORDS.SEX" | translate }}</label>
              <div class="col-xs-12">
                <div class="radio-inline">
                  
                  <label>
                    <input
                      type="radio"
                      name="sex_select"
                      id="male"
                      value="M"
                      checked
                      ng-model="searchParams.sex"
                      required>
                    {{ "PATIENT_RECORDS.MALE" | translate }} 
                  </label>
                </div>
                <div class="radio-inline">
                  <label>
                    <input type="radio" name="sex_select" id="female" value="F" ng-model="searchParams.sex" required>
                    {{ "PATIENT_RECORDS.FEMALE" | translate }}
                  </label>
                </div>
              </div>
            </div>

          </div>
        
          <div class="col-xs-6">
            
            <fieldset>
              <legend>
                Location Search
                <div class="pull-right">
                <button 
                  class="btn btn-default btn-sm"
                  ng-click="session.locationSearch=!session.locationSearch">
                  <span class="glyphicon glyphicon-globe" ng-class="{'error' : !session.locationSearch, 'correct' : session.locationSearch}"></span> {{session.locationSearch ? 'Remove Location Search' : 'Include Location Search'}}</button>
                </div>

              </legend>
            <div class="form-group">
              <span 
                    ng-if="session.locationSearch"
                    class="glyphicon glyphicon-saved error"></span> 

              <label for="location-country" class="control-label">
                {{ "LOCATION.COUNTRY" | translate }}
              </label>
              <select ng-disabled="!session.locationSearch" class="form-bhima" id="location-country"> 
                <!-- <option value="" disabled="disabled">&#45;&#45; Patient Country&#45;&#45;</option> -->
              </select>
            </div>

            <div class="form-group">
              <span 
                    ng-if="session.locationSearch"
                    class="glyphicon glyphicon-saved error"></span> 

              <label for="location-province" class="control-label">
                {{ "LOCATION.PROVINCE" | translate }}
              </label>
              <select ng-disabled="!session.locationSearch" class="form-bhima" id="location-province"> 
                <!-- <option value="" disabled="disabled">&#45;&#45; Patient Province &#45;&#45;</option> -->
              </select>
            </div>

            <div class="form-group">
              <span 
                    ng-if="session.locationSearch"
                    class="glyphicon glyphicon-saved error"></span> 

              <label for="location-sector" class="control-label">
                {{ "LOCATION.SECTOR" | translate }}
              </label>
                <select ng-disabled="!session.locationSearch" class="form-bhima" id="location-sector">
                  <!-- <option value="" disabled="disabled">&#45;&#45; Patient Sector &#45;&#45;</option> -->
                </select>
            </div>

            <div class="form-group">
              <span 
                    ng-if="session.locationSearch"
                    class="glyphicon glyphicon-saved error"></span> 

              <label for="location-village" class="control-label">
                {{ "LOCATION.VILLAGE" | translate }}
              </label>
                <select ng-disabled="!session.locationSearch" class="form-bhima" id="location-sector">
                  <!-- <option value="" disabled="disabled">&#45;&#45; Patient Sector &#45;&#45;</option> -->
                </select>
            
              </div>
            </fieldset>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <button ng-click="patientSearch(searchParams)" class="btn btn-default btn-sm">
                {{ "PATIENT_RECORDS.SEARCH" | translate }} 
              </button>
            </div>  
          </div>
        </div>
      </div>
    </div>
  </div>
    
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default" ng-class="{'panel-danger': model.patient.data.length<=0, 'panel-success': model.patient.data.length>0}">
        <div class="panel-heading">
          {{ "PATIENT_RECORDS.RESULTS" | translate }}
          <div class="pull-right">
            <span class="glyphicon" ng-class="{'glyphicon-eye-open': model.patient.data && model.patient.data.length!==0, 'glyphicon-eye-close': !model.patient.data.length}"></span>
          </div>
        </div>
        <div class="panel-body"> 
          <div ng-show="model.patient.data.length && model.patient.data.length!==0" class="patient-table">
            <table class="table table-condensed table-bordered">
              <thead>
              <tr>
                <th>#</th>
                <th>{{ "COLUMNS.NAME" | translate }}</th>
                <th>{{ "COLUMNS.DOB" | translate }}</th>
                <th>{{ "COLUMNS.PARENT" | translate }}</th>
                <th>{{ "COLUMNS.SEX" | translate }}</th>
                <th>{{ "COLUMNS.DATE_REGISTERED" | translate }}</th>
                <th></th>
              </tr>
              </thead>

              <tbody>
                <tr ng-class='{rowSelected: selected.uuid==patient.uuid}' ng-click="select(patient.uuid)" ng-repeat="patient in model['patient'].data | orderBy:'registration_date':true">
                  <td><b>{{patient.hr_id}}</b></td>
                  <td>{{ patient.name }}</td>
                  <td>{{ patient.dob | date : 'dd/MM/yyyy' }}</td>
                  <td>{{ patient.father_name }}</td>
                  <td>{{ patient.sex | uppercase }}</td>
                  <!-- <td>{{ patient.email }}</td> -->
                  <td>{{patient.registration_date | date}}</td>
                  <td><a href="#/invoice/patient/{{patient.uuid}}"><span class="glyphicon glyphicon-list-alt"></span> {{"PATIENT_RECORDS.VIEW_PATIENT_CARD" | translate}}</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
