<div class="modal-header">
  <h3>New Account</h3>
</div>
<div class="modal-body">
  <form class="simple-form">
    <div class="form-group" ng-repeat="columns in columns">
      {{CANYOUSEEME}}
      <label for="{{column.map}}">{{column.label}}</label>
      <input id="modal-{{column.map}}" ng-model="formvalues">
    </div>
  
   <div ng-model="formvalues">{{formvalues}}</div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn" ng-click="hide()">Close</button>
  <button class="btn btn-primary" ng-click="modal.saved=true;hide()">Save changes</button>
</div>
