<div class="modal-header">
  <h3>New Account</h3>
</div>
<div class="modal-body">
  <form role="form" class="form-horizontal" name="addAccount" novalidate>
    <div class="form-group" ng-repeat="input in values">
      <label class="col-xs-2 control-label" for="{{input.map}}">{{input.label}}</label>
      <div class="col-xs-10">
        <input class="form-control" placeholder="{{input.label}}" id="{{input.map}}" required ng-model="input.value">
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-danger" ng-click="close()">Close</button>
  <button class="btn btn-primary" ng-click="submit()">Save changes</button>
</div>
