<header> 
  <span>{{ "UPDATE_STOCK.TITLE" | translate }}</span>
</header>

<section class="top-nav"></section>

<div class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="panel square" ng-class="{'panel-success' : selectedStock, 'panel-default' : !selectedStock}">
        <div class="panel-heading square">
          <span class="glyphicon" ng-class="{'glyphicon-search' : session.search, 'glyphicon-list-alt' : !session.search}"></span> 
          <span ng-show="session.search">{{'UPDATE_STOCK.FIND_STOCK' | translate}}</span>
              <span ng-show="!session.search">
                <b>{{selectedStock.code}}</b> 
                {{selectedStock.text}}
              </span>

          <div class="pull-right" ng-hide="session.search">
            <span ng-click="refreshSession()" class="glyphicon glyphicon-refresh"></span>
          </div>
        </div>
        <div class="panel-body" ng-show="session.search">
          <div class="input-group"> 
            <input 
              class="form-kapok" 
              type="text"
              ng-model="session.stockSearch"
              typeahead="stock as stock.text for stock in model.inventory.data | filter: $viewValue | limitTo:10"
              typeahead-on-select="selectStock(session.stockSearch.uuid)"
              typeahead-template-url="stockItem.html"
              placeholder="{{'UPDATE_STOCK.SEARCH_TEXT' | translate}}">
            <div class="input-group-btn"> 
              <button class="btn btn-default btn-sm" ng-click="loadStock(selectedStock.uuid)" ng-disabled="!selectedStock">{{'FORM.SUBMIT' | translate}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <div class="panel panel-default square">
        <div class="panel-heading sqaure">
          <span class="glyphicon glyphicon-list-alt"></span> 
          {{'UPDATE_STOCK.STOCK_HISTORY' | translate}}
        </div>
        
        <!-- ng-show="!session.search" -->  
        <div class="panel-body" ng-hide="session.search">
          <table class="table table-bordered table-condensed">
            <thead>
              <tr>
                <td>{{'UPDATE_STOCK.TIMESTAMP' | translate}}</td>
                <td>{{'COLUMNS.PRICE' | translate}}</td>
                <td>{{'COLUMNS.CODE' | translate}}</td>
                <td>{{'COLUMNS.TEXT' | translate}}</td>
              </tr>
            </thead>
            <tbody>
              <!--Experimenting with ng-repeat-start-->
              <!-- <tr ng&#45;repeat&#45;start="record in model.history.data"> -->
                <!-- <td colspan="4" style="text&#45;align: left;">{{record.uuid}}</td>  -->
              <!-- </tr> -->
            <!-- <tr ng&#45;repeat&#45;end> -->
            <tr ng-repeat="record in model.history.data | orderBy : 'log_timestamp'">
                <td>{{record.log_timestamp | date}}</td>
                <td>{{record.price | currency}}</td>
                <td>{{record.code}}</td>
                <td>{{record.text}}</td>
              </tr>
            </tbody>

          </table>
          
        </div>
      </div>
    </div>

    <div class="col-xs-6">
      <div class="panel panel-default square">
        <div class="panel-heading square">
          <span class="glyphicon glyphicon-pencil"></span> 
          {{'UPDATE_STOCK.TITLE' | translate}}
        </div>

        <div ng-show="!session.search" class="panel-body">
          <div class="form-group">
            <span>{{'LOCATION.CURRENT' | translate}} {{'COLUMNS.SALE_PRICE' | translate}}</span>
            <br>
            <span><b>{{cachePrice | currency}}</b></span>
            <br>
            <span>{{'LOCATION.CURRENT' | translate}} {{'COLUMNS.PURCHASE_PRICE' | translate}}</span>
            <br>
            <span><b>{{cachePurchasePrice | currency}}</b></span>
            
          </div>

          <div class="form-group"> 
            <label>{{'COLUMNS.SALE_PRICE' | translate}}</label>
            <input class="form-kapok" ng-model="selectedStock.price">
          </div>

          <div class="form-group">
            <label>{{'COLUMNS.PURCHASE_PRICE' | translate}}</label>
            <input class="form-kapok" ng-model="selectedStock.purchase_price">
          </div>

          <div class="form-group">
            <label>{{'COLUMNS.CODE' | translate}}</label>
            <input class="form-kapok" ng-model="selectedStock.code">
          </div>

          <div class="form-group">
            <label>{{'COLUMNS.DESCRIPTION' | translate}}</label>
            <input class="form-kapok" ng-model="selectedStock.text">
          </div>
        </div>

        <div ng-show="!session.search" class="panel-footer">
          <!-- Text should read - Update Stock -->
          <button ng-click="submitUpdate()" class="btn btn-sm btn-success">{{'UPDATE_STOCK.SUBMIT' | translate}}</button>
        </div>
    </div>
  </div>
</div>

<script type="text/ng-template" id="stockItem.html">
  <a>
    <span><b>[{{match.model.code}}]</b></span>
    <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
  </a>
</script>
