<header>
  {{ 'PROVINCE.TITLE' | translate }}
</header>

<section class="top-nav">
  <a href="" class="btn btn-default btn-sm" ng-click="setOp('Add')"><span class="glyphicon glyphicon-plus"></span> {{ 'PROVINCE.ADD' | translate}}</a>
  <div class="pull-right">
    <a href="#/location/" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-tag"></span> {{'PROVINCE.LOCATION_MANAGER' | translate}}</a>
  </div>
</section>

<div class="content">
  <div class="row">

    <div class="col-xs-6">
      <div class="panel panel-default" style="max-height: 500px; overflow: auto;">
        <div class="panel-heading">
          {{'PROVINCE.REGISTERED' | translate}}
        </div>
        <table class="table table-striped table-condensed">
          <thead>
            <tr>
              <th>{{ 'PROVINCE.NAME' | translate}}</th>
              <th>{{ 'PROVINCE.COUNTRY' | translate}}</th>
              <th colspan="2">{{ 'PROVINCE.ACTIONS' | translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="province in provinces.data">
              <td>{{ province.province }}</td>
              <td>{{ province.country_en }}</td>
              <td><a href="" ng-click="setOp('Edit', province)"><i class="glyphicon glyphicon-pencil"></i></a></td>
              <td><a href="" ng-click="removeProvince(province.uuid)" class="danger"><i class="glyphicon glyphicon-trash"></i></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-xs-6" ng-switch="op">
      <div ng-switch-default>
         <div class="alert alert-info">
             <b>{{'PROVINCE.CONFIGURATION' | translate}} </b>
             <p>{{'PROVINCE.DESCRIPTION' | translate}}
             </p>
         </div>
       </div>

       <div ng-switch-when="Add">
         <form class="form-horizontal">
            <fieldset>
              <legend>{{'PROVINCE.REGISTER' | translate}}</legend>
              <div class="form-group">
                <label class="col-xs-2"> {{'PROVINCE.COUNTRY' | translate}}</label>
                <div class="col-xs-10">
                  <select
                    required
                    class="form-kapok"
                    name="countryname"
                    id="countryID"
                    ng-model="add.country_uuid"
                    ng-options="cou.uuid as cou.country_en for cou in countries.data"
                  >
                    <option value="" disable="disabled">-- {{'SELECT.COUNTRY' | translate}} -- </option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                 <label class="col-xs-2 control-label">{{'PROVINCE.PROVINCE_NAME' | translate}}</label>
                 <div class="col-xs-10">
                    <input class="form-kapok" ng-model="add.name" required>
                 </div>
              </div>
            </fieldset>

            <button class="btn btn-default btn-success" ng-click="addProvince(add)" ng-disabled="form.$invalid">
              {{'FORM.ADD' | translate}}
            </button>
            <button class="btn btn-default btn-sm">
              {{'FORM.NEW_FORM' | translate}}
            </button>
          </form>
        </div>

        <div ng-switch-when="Edit">
          <form class="form-horizontal">
            <fieldset>
              <legend>{{'PROVINCE.EDIT' | translate}}</legend>
              <div class="form-group">
                <label class="col-xs-2"> {{'PROVINCE.COUNTRY' | translate}}</label>
                <div class="col-xs-10">
                  <select
                    required
                    class="form-kapok"
                    name="countryname"
                    id="countryID"
                    ng-model="province.country_uuid"
                    ng-options="cou.uuid as cou.country_en for cou in countries.data"
                  >
                    <option value="" disable="disabled">-- {{'SELECT.COUNTRY' | translate}} -- </option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                 <label class="col-xs-2 control-label">{{'PROVINCE.PROVINCE_NAME' | translate}}</label>
                 <div class="col-xs-10">
                    <input class="form-kapok" ng-model="province.province" required>
                 </div>
              </div>
            </fieldset>
            <button class="btn btn-default btn-success" ng-click="editProvince(province)" ng-disabled="form.$invalid">
              {{'FORM.ADD' | translate}}
            </button>
            <button class="btn btn-default btn-sm">
              {{'FORM.NEW_FORM' | translate}}
            </button>
          </form>
       </div>
     </div>
   </div>
</div>
