<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>bika /angularproto/</title>
    <link rel="stylesheet" href="css/app.css"/>
    <link rel="stylesheet" href="css/bootstrap/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="css/tree.css"/>
  </head>
  <body ng-app="bika">
    <!--not required in placeholder rewrite-->
    <div ng-controller="appController">

          <!--Bootstrap container, any content inside div can be split into 12 columns-->
    <div id="bika-sidebar" class="container">
      <div class="row" id="bika-header">
        <div class="col-xs-12">
          <h2><span class="glyphicon glyphicon-ban-circle ban"></span></h2>
        </div>
        </div>

        <div class="row" id="bika-tree" ng-controller="treeController" >
          <div data-angular-treeview="true" data-tree-id="navtree" data-tree-model="treeData" data-node-id="id" data-node-label="label" data-node-children="children"></div>
        </div>

      <div class="row" id="bika-util" ng-controller="utilController">
        <div id="bika-app-select">
          <select class="form-control" ng-model="e_select" ng-options="enterprise.name for enterprise in enterprise_model">
          </select>
          <select class="form-control" ng-model="f_select" ng-options="year.fiscal_year_txt for year in fiscal_model">
          </select>
          <select class="form-control" ng-model="p_select" ng-options="'Du '+period.period_start+' A '+period.period_stop for period in period_model" ng-click="select($index)">
          </select>
        </div>
         <div class="btn-group-justified"><!--class="btn-group"-->
            <a type="button" class="btn btn-default">
              <span class="glyphicon glyphicon-user"></span>
            </a>
            <a type="button" class="btn btn-default">
              <span class="glyphicon glyphicon-cog"></span>
            </a>
            <a type="button" class="btn btn-default" href="/logout">
              <span class="glyphicon glyphicon-log-out"></span>
            </a>
        </div>
      </div>
    </div>
    <div id="bika-container" ng-controller="viewController">
      <div ng-view id="bika-view"><!--Content populated with angular--></div>
       <div ng-controller="userController"></div>
  </div>
    <!-- required for ng-grid -->
    <link rel="stylesheet" type="text/css" href="css/ng-grid.css"/>
    <script src="lib/jquery-1.10.2.js"></script>
    <!--Scripts loaded in body to prevent page form 'hanging'-->
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/ng-grid-2.0.7.debug.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services/services.js"></script>
    <script src="js/filters/filters.js"></script>
    <script src="js/controllers/controllers.js"></script>
    <script src="js/directives/angular.chkbox.js"></script>
    <script src="js/directives/angular.treeview.js"></script>
    <!--script src="lib/ui-bootstrap-custom-tpls-0.6.0.min.js"></script-->
    <script src="lib/ui-bootstrap-custom-tpls-0.6.0.js"></script>
  </body>
</html>
