<header> 
  <span>Register Patient</span> <small>{{patient.first_name}} {{patient.last_name}}</small>
</header>

<section class="underline">
  <div class="pull-right">
    <a href="#/debitor/debitor_group" class="capital btn btn-default btn-sm"><span class="glyphicon glyphicon-tag"></span> {{'CREATE' | translate}} {{'DEBTOR_GROUP' | translate}}</a>
    <a href='/#/patient_records/' class="btn btn-default btn-sm"><span class="glyphicon glyphicon-list"></span> View Patient Records</a>
    <a href='/#/patient_group_assign/' class="btn btn-default btn-sm"><span class="glyphicon glyphicon-transfer"></span> Patient Group Assigning</a>
  </div>
</section>

<div class="content">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-7">
        <div class="row">
          <div class="panel panel-primary">
            <div class="panel-heading"><span class="glyphicon glyphicon-user"></span> Patient Details</div>
            <div class="panel-body">

              <form name="form" role="form" class="form-horizontal">
                <fieldset>
                <legend>Patient</legend>
                  <div class="form-group">
                    <label for="first-name" class="control-label col-xs-3">First Name</label>
                    <div class="col-xs-9">
                      <input type="text" class="form-kapok" id="first-name" ng-model="patient.first_name" required>
                    </div>  
                  </div>

                  <div class="form-group">
                    <label for="second-name" class="control-label col-xs-3">Second Name</label>
                    <div class="col-xs-9">
                      <input type="text" class="form-kapok" id="second-name" ng-model="patient.last_name" required>
                    </div> 
                  </div>

                  <div class="form-group">
                    <label for="yob" class="control-label col-xs-3">Year of Birth</label>
                    <div class="col-xs-9">
                      <div class="input-group">
                        <input type="text" class="form-kapok" id="yob" ng-model="patient.yob">
                        <span class="input-group-btn"> 
                          <button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-calendar"></span> Enter Full Date</button>
                        </span>
                      </div>
                    </div>
                  </div>
                
                  <!-- Use ng-show to display this only if enter full date is disabled -->
                  <div class="form-group">
                    <label for="dob" class="col-xs-3 control-label">Date of Birth</label>
                    <div class="col-xs-9">
                      {{"xxxx-xx-xx"}} 
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-xs-3">Gender</label>
                    <div class="col-xs-9">
                      <div class="radio-inline">
                        <label>
                          <input
                            type="radio"
                            name="sex_select"
                            id="male"
                            value="M"
                            checked
                            ng-model="patient.sex"
                            required>
                          Male
                        </label>
                      </div>
                      <div class="radio-inline">
                        <label>
                          <input type="radio" name="sex_select" id="female" value="F" ng-model="patient.sex" required>
                          Female
                        </label>
                      </div>
                    </div>
                  </div>
                </fieldset>

                <fieldset>
                <legend>Origin</legend>
                  <div class="form-group">
                    <label for="location-country" class="capital control-label col-xs-3">{{ 'COUNTRY' | translate }}</label>
                    <div class="col-xs-9">
                      <select required class="form-kapok" id="location-country" ng-model="data.country_id"
                              ng-options="c.id as c.country_en for c in model.country.data">
                        <option value="" disabled="disabled">-- Select Country--</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="location-province" class="capital control-label col-xs-3">{{ 'PROVINCE' | translate }}</label>
                    <div class="col-xs-9"> 
                      <select required class="form-kapok" id="location-province" ng-model="data.province_id"
                              ng-options="p.id as p.name for p in model.province.data">
                        <option value="" disabled="disabled">-- Select Province --</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="location-sector" class="capital control-label col-xs-3">{{ 'SECTOR' | translate }}</label>
                    <div class="col-xs-9"> 
                      <select required class="form-kapok" id="location-sector" ng-model="data.sector_id"
                              ng-options="s.id as s.name for s in model.sector.data">
                        <option value="" disabled="disabled">-- Select Sector --</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="location-village" class="capital control-label col-xs-3">{{ 'VILLAGE' | translate }}</label>
                    <div class="col-xs-9">
                      <input
                        type="text"
                        class="form-kapok col-xs-9"
                        id="location-country"
                        ng-model="data.village_id"
                        typeahead="v.id as v.name for v in model.village.data | filter:$viewValue | filter:villageFilter | limitTo: 10"
                        typeahead-on-select="selectLocation()"
                        typeahead-input-formatter="formatTypeAhead()"
                        required >
                    </div>
                  </div>
                </fieldset>

                <fieldset>
                <legend>Finance</legend>
                  <div class="form-group">
                    <label for="debtor-group" class="col-xs-3 control-label">{{'DEBTOR_GROUP' | translate}}</label>
                    <div class="col-xs-9"> 
                      <select required class="form-kapok" id="debtor-group" ng-model="debtor.debtor_group" ng-options="g.name for g in model.debtorGroup.data">
                        <option value="" disabled="disabled">-- Select Debtor Group --</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="patient-group" class="col-xs-3 control-label">Patient Group</label>
                    <div class="col-xs-9"> 
                      <select multiple class="form-kapok" id="patient-group" ng-model="debtor.patient_group">
                        <option value="" disabled="disabled">-- Select Patient Group --</option>
                      </select>
                    </div>
                  </div>
                  
                  <div class="form-group">
                    <label for="convention" class="col-xs-3 control-label">Convention</label>
                    <div class="col-xs-9"> 
                      <select class="form-kapok" id="convention" ng-model="debtor.convention_id" ng-options="conv.id as formatConvention(conv) for conv in models.convention">
                        <option value="" disabled="disabled">-- Select Convention --</option>
                      </select>
                    </div>
                  </div>

                </fieldset>
              </form>

            </div> <!-- End panel body -->
          </div> <!-- End panel -->
        </div> <!-- End patient details row -->
        <div class="row">
          <div class="panel panel-default">
            <div class="panel-heading">Optional Information</div>
            <div class="panel-body">
              <form role="form">
                <div class="form-group">
                  <label for="phone">Phone No.</label>
                  <input type="text" class="form-kapok" id="phone" ng-model="patient.phone">
                </div>
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" class="form-kapok" id="email" ng-model="patient.email">
                </div>

                <div class="form-group">
                  <label for="parent">Parent's Name</label>
                  <input type="text" class="form-kapok" id="parent" ng-model="patient.parent_name">
                </div>
                <div class="form-group">
                  <label for="religion">Religion</label>
                  <input type="text" class="form-kapok" id="religion" ng-model="patient.religion">
                </div>
                <div class="form-group">
                  <label for="marital">Marital Status</label>
                  <input type="text" class="form-kapok" id="marital" ng-model="patient.marital_status">
                </div>
              </form>
            </div>
          </div> <!-- End panel -->
        </div> <!-- End other info row -->
      </div> <!-- End main column 7 -->

      <div class="col-xs-5">
        <!-- <div class="col&#45;xs&#45;12"> -->
          <div class="row hack-right">
            <div class="panel panel-default">
              <div class="panel-heading"><span class="glyphicon glyphicon-camera"></span></div>
              <div class="panel-body">
                <div class="image_container">
                  <video autoplay="false" id="patientImage"></video>
                </div>
              </div>
            </div> <!-- End panel -->
          </div> <!-- End column 5 row -->
          <div class="row hack-right">
            <div class="panel panel-default">
              <div class="panel-heading"><span class="glyphicon glyphicon-pencil"></span> Patient Notes</div>
              <!-- <div class="panel&#45;body"> -->
                <textarea type="text" multiline class="form-kapok note"></textarea>
              <!-- </div> -->
            </div> <!-- End panel -->
          </div> <!-- End column 5 row -->
        </div>
      <!-- </div> <!&#45;&#45;End main column 5 &#45;&#45;> -->
    </div><!-- End row -->
  </div>
</div>

<section class="bar-bottom">
  <div class="pull-right">
    <a ng-click="update(patient)" ng-disabled="form.$invalid || checkChanged(patient) || checkSubmitted()" class="btn btn-success btn-sm">
      <span class="glyphicon glyphicon-pencil"></span> Register Patient
    </a>
  </div>
</section>
