<link rel="stylesheet" href="partials/patient_registration/patient.css"/>

<header> 
  <span>Register Patient</span> <small>{{patient.first_name}} {{patient.last_name}}</small>
</header>

<section class="underline">
  <div class="pull-right">
    <a href="#/debitor/debitor_group" class="capital btn btn-default btn-sm"><span class="glyphicon glyphicon-tag"></span> {{'CREATE' | translate}} {{'DEBTOR_GROUP' | translate}}</a>
    <a href='/#/patient_records/' class="btn btn-default"><span class="glyphicon glyphicon-list"></span> View Patient Records</a>
  </div>
</section>

<div class="content">
  <div class="row">
    <div class="col-xs-4">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <span class="glyphicon glyphicon-user"></span> Details
          </div>
          <div class="panel-body"><!--style="overflow: auto" for image-->
            <!--div class="col-xs-6 hack-left"> for image-->
            <form role="form" name="form">
              <div class="form-group">
                <label for="first-name">First Name</label>
                <input type="text" class="form-kapok" id="first-name" ng-model="patient.first_name" required>
              </div>

              <div class="form-group">
                <label for="second-name">Second Name</label>
                <input type="text" class="form-kapok" id="second-name" ng-model="patient.last_name" required>
              </div>

              <div class="form-group">
                <label for="dob">Date of Birth</label>
                <input type="month" class="form-kapok" id="dob" ng-model="patient.dob">
              </div>

              <div class="form-group">
                <div class="radio-inline">
                  <label>
                    <input
                      type="radio"
                      name="sex_select"
                      id="male"
                      value="M"
                      checked
                      ng-model="patient.sex"
                      required>
                    Male
                  </label>
                </div>
                <div class="radio-inline">
                  <label>
                    <input type="radio" name="sex_select" id="female" value="F" ng-model="patient.sex" required>
                    Female
                  </label>
                </div>
              </div>

              <div class="form-group">
                <label for="location_select">location</label>
                <select required class="form-kapok" id="location_select" ng-model="patient.location_id"
                        ng-options="l.id as formatLocation(l) for l in location_model.data">
                  <option value="">-- Select Location --</option>
                </select>
              </div>

              <div class="form-group">
                <label for="debtor-group">{{'DEBTOR_GROUP' | translate}}</label>
                <select required class="form-kapok" id="debtor-group" ng-model="debtor.debtor_group" ng-options="g.name for g in debtor_group_model.data">
                  <option value="">-- Select Group --</option>
                </select>
              </div>

              <!--div class="form-group">
                <label for="village">Village</label>
                <input type="text" class="form-kapok" id="village" ng-model="patient.village" required>
              </div>

              <div class="form-group">
                <label for="region">Region</label>
                <input type="text" class="form-kapok" id="region" ng-model="patient.zone" required>
              </div>
            </form-->
            </form>
              </div>

            <!--div class="col-xs-6">

              <div id="image-placeholder">
                <img src="assets/placeholder.gif"  width="300" height="300">
              </div>
            </div-->
          <!--/div> for image-->

        </div>
      </div>
      <div class="col-xs-5">
        <div class="panel panel-default">
          <div class="panel-heading">
            Optional Information
          </div>
          <div class="panel-body">
            <form role="form">
              <div class="form-group">
                <label for="phone">Phone No.</label>
                <input type="text" class="form-kapok" id="phone" ng-model="patient.phone">
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-kapok" id="email" ng-model="patient.email">
              </div>

              <div class="form-group">
                <label for="parent">Parent's Name</label>
                <input type="text" class="form-kapok" id="parent" ng-model="patient.parent_name">
              </div>
              <div class="form-group">
                <label for="religion">Religion</label>
                <input type="text" class="form-kapok" id="religion" ng-model="patient.religion">
              </div>
              <div class="form-group">
                <label for="marital">Marital Status</label>
                <input type="text" class="form-kapok" id="marital" ng-model="patient.marital_status">
              </div>
            </form>
          </div>
        </div>

      </div>
      <!--Move back inside previous column for final (with image)-->
      <div class="col-xs-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            Notes
          </div>
          <textarea class="form-kapok note"></textarea>
        </div>
      </div>
  </div>
</div>

<section class="underline overline">
  <div class="pull-right">
    <a ng-click="update(patient)" ng-disabled="form.$invalid || checkChanged(patient) || checkSubmitted()" class="btn btn-default btn-sm">
      <span class="glyphicon glyphicon-pencil"></span> Register Patient
    </a>
  </div>
</section>

