<header> 
  <span>{{ "PATIENT_REG.TITLE" | translate }}</span> <small>{{patient.first_name}} {{patient.last_name}}</small>
</header>

<section class="top-nav">
  <div class="pull-right">
    <a href="#/debitor/debitor_group" class="capital btn btn-default btn-sm">
      <span class="glyphicon glyphicon-tag"></span> {{ "PATIENT_REG.CREATE_DEBTOR_GROUP" | translate }}
    </a>
    <a href='/#/patient_records/' class="btn btn-default btn-sm">
      <span class="glyphicon glyphicon-list"></span> {{ "PATIENT_REG.VIEW_PATIENT_RECORDS" | translate }}
    </a>
  </div>
</section>

<div class="content">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-7">
        <div class="row">
          <div id="patientDetails" class="panel panel-primary">
            <div class="panel-heading">
              <span class="glyphicon glyphicon-user"></span> {{ "PATIENT_REG.PATIENT_DETAILS" | translate }}
            </div>
            <div class="panel-body">

              <form name="details" role="form" class="form-horizontal">
                <fieldset>
                  <legend>{{ "PATIENT_REG.PATIENT" | translate }}</legend>
                  <div class="form-group">
                    <label for="first-name" class="control-label col-xs-3">{{ "PATIENT_REG.FIRST_NAME" | translate }}</label>
                    <div class="col-xs-9">
                      <input type="text" class="form-kapok" id="first-name" ng-model="patient.first_name">
                    </div>  
                  </div>

                  <div class="form-group">
                    <label for="second-name" class="control-label col-xs-3">{{ "PATIENT_REG.SECOND_NAME" | translate }}</label>
                    <div class="col-xs-9">
                      <input type="text" class="form-kapok" id="second-name" ng-model="patient.last_name" required>
                    </div> 
                  </div>

                  <div class="form-group" ng-show="!sessionProperties.fullDateEnabled">
                    <label for="yob" class="control-label col-xs-3"> {{ "PATIENT_REG.YOB" | translate }}</label>
                    <div class="col-xs-9">
                      <div class="input-group">
                        <input type="text" class="form-kapok" id="yob" ng-model="sessionProperties.yob">
                        <span class="input-group-btn"> 
                          <button ng-click="enableFullDate()" type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-calendar"></span>{{ "PATIENT_REG.ENTER_FULL_DATE" | translate }}</button>
                        </span>
                      </div>
                    </div>
                  </div>
                
                  <!-- Use ng-show to display this only if enter full date is disabled -->
                  <div class="form-group" >
                    <label for="patient-dob" class="col-xs-3 control-label">{{ "PATIENT_REG.DOB" | translate }}</label>
                    <div class="col-xs-9">
                      <input id="patient-dob" type="date" class="form-kapok" ng-disabled="!sessionProperties.fullDateEnabled" ng-model="patient.dob"> 
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-xs-3"> {{ "PATIENT_REG.SEX" | translate }}</label>
                    <div class="col-xs-9">
                      <div class="radio-inline">
                        <label>
                          <input type="radio" name="sex_select" id="male" value="M" checked ng-model="patient.sex" required>
                          {{ "PATIENT_REG.MALE" | translate }} 
                        </label>
                      </div>
                      <div class="radio-inline">
                        <label>
                          <input type="radio" name="sex_select" id="female" value="F" ng-model="patient.sex" required>
                          {{ "PATIENT_REG.FEMALE" | translate }} 
                        </label>
                      </div>
                    </div>
                  </div>
                </fieldset>
              </form>

              <form name="location" class="form">
                <fieldset>
                  <legend>{{ "LOCATION.LOCATION" | translate }}</legend>
                  <div class="col-xs-6">
                    <fieldset>
                      <legend>{{ "LOCATION.ORIGIN" | translate }}</legend>

                      <div class="form-group">
                        <label for="location-country" class="control-label">
                          {{ "LOCATION.COUNTRY" | translate }}
                        </label>
                        <select required class="form-kapok" id="location-country" ng-model="country.country_id" ng-options="c.id as c.country_en for c in model.country.data" ng-change="handleOriginCountryChange()">
                          <option value="" disabled="disabled">-- {{ "SELECT.COUNTRY" | translate }} --</option>
                        </select>
                      </div>

                      <div class="form-group">
                        <label for="location-province" class="control-label">
                          {{ "LOCATION.PROVINCE" | translate }}
                        </label>
                        <select required class="form-kapok" id="location-province" ng-model="province.province_id" ng-options="p.id as p.name for p in model.province.data">
                          <option value="" disabled="disabled">-- {{ "SELECT.PROVINCE" | translate }} --</option>
                        </select>
                      </div>

                      <div class="form-group">
                        <label for="location-sector" class="control-label">
                          {{ "LOCATION.SECTOR" | translate }}
                        </label>
                        <select class="form-kapok" id="location-sector" ng-model="sector.sector_id" ng-options="s.id as s.name for s in model.sector.data" required>
                          <option value="" disabled="disabled">-- {{ "SELECT.SECTOR" | translate }}--</option>
                        </select>
                      </div>

                      <div class="form-group">
                        <label for="location-village" class="control-label">
                          {{ "LOCATION.VILLAGE" | translate }}
                        </label>
                        <input class="form-kapok" id="location-country" ng-model="village.name" required>
                    </fieldset>
                  </div>

                  <div class="col-xs-6">
                    <fieldset>
                      <legend> {{ "LOCATION.CURRENT" | translate }}</legend>
                      <div class="form-group">
                        <label for="location-country" class="control-label">
                          {{ "LOCATION.COUNTRY" | translate }}
                        </label>
                        <select required class="form-kapok" id="location-country" ng-model="current_country.country_id" ng-options="c.id as c.country_en for c in model.country.data">
                          <option value="" disabled="disabled">-- {{ "SELECT.COUNTRY" | translate }} --</option>
                        </select>
                      </div>

                      <div class="form-group">
                        <label for="location-province" class="control-label">
                          {{ "LOCATION.PROVINCE" | translate }}
                        </label>
                        <select required class="form-kapok" id="location-province" ng-model="current_province.province_id" ng-options="p.id as p.name for p in model.province.data">
                          <option value="" disabled="disabled">-- {{"SELECT.PROVINCE" | translate }} --</option>
                        </select>
                      </div>

                      <div class="form-group">
                        <label for="location-sector" class="control-label">
                          {{ "LOCATION.SECTOR" | translate }}
                        </label>
                        <select required class="form-kapok" id="location-sector" ng-model="current_sector.sector_id" ng-options="s.id as s.name for s in model.sector.data">
                          <option value="" disabled="disabled">-- {{ "SELECT.SECTOR" | translate }} --</option>
                        </select>
                      </div>

                      <div class="form-group">
                        <label for="location-village" class="control-label">
                          {{ "LOCATION.VILLAGE" | translate }}
                        </label>
                        <input class="form-kapok" id="location-country" ng-model="current_village.name" ng-change="inChange()" required>
                      </div>
                    </fieldset>
                  </div>
                </fieldset>

                <fieldset>
                  <legend>{{ "PATIENT_REG.FINANCE" | translate }}</legend>
                  <div class="form-group">
                    <label for="debtor-group" class="col-xs-3 control-label">{{ "PATIENT_REG.DEBTOR_GROUP" | translate }}</label>
                    <div class="col-xs-9"> 
                      <select required class="form-kapok" id="debtor-group" ng-model="debtor.debtor_group" ng-options="g.name for g in model.debtorGroup.data">
                        <option value="" disabled="disabled">-- {{"SELECT.DEBITOR_GROUP" | translate }} --</option>
                        <option id="selectme" value="15">Selectableson</option>
                      </select>
                    </div>
                  </div>
                </fieldset>
              </form>

            </div> <!-- End panel body -->
          </div> <!-- End panel -->          
        </div> <!-- End patient details row -->
        <div class="row">
          <div class="panel panel-default">
            <div class="panel-heading">{{ "PATIENT_REG.OPTIONAL_INFO" | translate }}</div>
            <div class="panel-body">
              <form role="form">

                <div class="form-group">
                  <label for="phone">{{ "PATIENT_REG.PHONE_NO" | translate }}</label>
                  <input type="text" class="form-kapok" id="phone" ng-model="patient.phone">
                </div>

                <div class="form-group">
                  <label for="email">{{ "PATIENT_REG.EMAIL" | translate }}</label>
                  <input type="email" class="form-kapok" id="email" ng-model="patient.email">
                </div>

                <div class="form-group">
                  <label for="email">{{ "PATIENT_REG.AVENUE" | translate }}</label>
                  <input type="email" class="form-kapok" id="avenue" ng-model="patient.address_1">
                </div>

                <div class="form-group">
                  <label for="parent">{{ "PATIENT_REG.PARENT_NAME" | translate }}</label>
                  <input type="text" class="form-kapok" id="father_name" ng-model="patient.father_name">
                </div>

                <div class="form-group">
                  <label>{{ "PATIENT_REG.MOTHER_NAME" | translate }}</label>
                  <input class="form-kapok" id="mother_name" ng-model="patient.mother_name">
                </div>

                <div class="form-group">
                  <label for="religion">{{ "PATIENT_REG.RELIGION" | translate }}</label>
                  <input type="text" class="form-kapok" id="religion" ng-model="patient.religion">
                </div>

                <div class="form-group">
                  <label for="marital">{{ "PATIENT_REG.MARITAL_STATUS" | translate }}</label>
                  <input class="form-kapok" id="marital" ng-model="patient.marital_status">
                </div>

                <div class="form-group">
                  <label>{{ "PATIENT_REG.PROFESSION" | translate }}</label>
                  <input class="form-kapok" id="profession" ng-model="patient.profession">
                </div>

                <div class="form-group">
                  <label>{{ "PATIENT_REG.EMPLOYER" | translate }}</label>
                  <input class="form-kapok" id="employer" ng-model="patient.employer">
                </div>

                <div class="form-group">
                  <label>{{ "PATIENT_REG.SPOUSE" | translate }}</label>
                  <input class="form-kapok" id="spouse" ng-model="patient.spouse">
                </div>

                <div class="form-group">
                  <label>{{ "PATIENT_REG.SPOUSE_PROFESSION" | translate }}</label>
                  <input class="form-kapok" id="spouse_profession" ng-model="patient.spouse_profession">
                </div>

                <div class="form-group">
                  <label>{{ "PATIENT_REG.SPOUSE_EMPLOYER" | translate }}</label>
                  <input class="form-kapok" id="spouse_employer" ng-model="patient.spouse_employer">
                </div>

              </form>
            </div>
          </div> <!-- End panel -->
        </div> <!-- End other info row -->
      </div> <!-- End main column 7 -->

      <div class="col-xs-5">
        <!-- <div class="col&#45;xs&#45;12"> -->
          <div class="row hack-right">
            <div class="panel panel-default">
              <div class="panel-heading">
                <span class="glyphicon glyphicon-camera"></span>
                <div class="pull-right">
                  <span class="glyphicon glyphicon-eye-close"></span>
                </div>
              </div>
              <div class="panel-body">
                <div class="image_container">
                  <video autoplay="false" id="patientImage"></video>
                </div>
              </div>
            </div> <!-- End panel -->
          </div> <!-- End column 5 row -->
          <div class="row hack-right">
            <div class="panel panel-default">
              <div class="panel-heading"><span class="glyphicon glyphicon-pencil"></span> {{ "PATIENT_REG.PATIENT_NOTES" | translate }}</div>
              <!-- <div class="panel&#45;body"> -->
                <textarea type="text" multiline class="form-kapok note"></textarea>
              <!-- </div> -->
            </div> <!-- End panel -->
          </div> <!-- End column 5 row -->
        </div>
      <!-- </div> <!&#45;&#45;End main column 5 &#45;&#45;> -->
    </div><!-- End row -->
  </div>
</div>

<section class="bar-bottom">
  <div class="pull-right">
    <a id="submitPatient" ng-click="registerPatient(patient)" ng-disabled="form.$invalid || checkChanged(patient)" class="btn btn-success btn-sm">
      <span class="glyphicon glyphicon-pencil"></span> {{ "PATIENT_REG.REGISTER_PATIENT" | translate }}
    </a>
  </div>
</section>


