.panel-bika { 
  border-color: #01AC07;
}

.note { 
  min-height: 10em;
}

.bika-header {
  padding-bottom: 9px;
  margin: 40px 0 5px;
  border-bottom: 1px solid #eeeeee;
}
/*Not optimal to control utils layout on two different elements*/
.util {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.util-bottom {
  border-top: 1px solid #eeeeee;
  padding-top: 5px;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 5px
}

/*FIXME*/
.hack-left {
  margin-left: -15px; !important
}

#image-placeholder {
  background: grey;
  width: 300px;
  height: 300px;
}
