<header data-header>
  {{ "TAXES.TITLE" | translate }}
</header>

<nav>
  <button class="btn btn-sm btn-default" ng-click="new()">
    <span class="glyphicon glyphicon-briefcase"></span>
     {{ "TAXES.ADD" | translate }}
  </button>
</nav>

<main>
  <div class="row">

    <div class="col-xs-7">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <span class="glyphicon glyphicon-briefcase"></span>
          {{ "TAXES.REGISTERED" | translate }}
        </div>
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>{{ "COLUMNS.LABEL" | translate}}</th>
              <th>{{ "COLUMNS.STAFF_COST" | translate}}</th>
              <th>{{ "COLUMNS.IS_PERCENT" | translate}}</th>
              <th>{{ "COLUMNS.FOUR_ACCOUNT" | translate}}</th>
              <th>{{ "COLUMNS.SIX_ACCOUNT" | translate}}</th>
              <th>{{ "COLUMNS.VALUE" | translate}}</th>
              <th colspan="4">{{ "COLUMNS.ACTIONS" | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="tax in taxes.data">
              <td>{{ tax.label }}</td>
              <td>{{ tax.is_employee }}</td>
              <td>{{ tax.is_percent }}</td>
              <td>{{ accounts.get(tax.four_account_id).account_number }}</td>
              <td>{{ accounts.get(tax.six_account_id).account_number }}</td>
              <td>{{ tax.value }}</td>
              <td><a class="action" ng-click="edit(tax)"><span class="glyphicon glyphicon-pencil"></span></a></td>
              <td><a class="action danger" ng-click="delete(tax)"><span class="glyphicon glyphicon-trash"></span></a></td>
            </tr>
            <tr ng-if="!taxes.data.length">
              <td colspan="4">{{ "TAXES.NO_TAXES" | translate }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-xs-5" ng-switch="session.action">
      <div class="alert alert-info" ng-switch-default>
        <h4>{{ "TAXES.TITLE" | translate }}</h4>
        <p>{{ "TAXES.ALERT" | translate }}</p>
      </div>

      <div ng-switch-when="new">
        <form novalidate class="form-horizontal">
          <legend><h3>{{ "TAXES.NEW_TAX" | translate }} </h3></legend>

          <div class="form-group">
            <label class="control-label col-xs-4 required">{{ "COLUMNS.LABEL" | translate }}</label>
            <div class="col-xs-7">
              <input ng-model="session.new.label" class="form-bhima" required="required">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-xs-4 required">{{ "COLUMNS.STAFF_COST" | translate }}</label>
            <div class="col-xs-7">
              <input type="checkbox" id="internationalID" ng-model="session.new.is_employee">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-xs-4 required">{{ "COLUMNS.IS_PERCENT" | translate }}</label>
            <div class="col-xs-7">
              <input type="checkbox" id="internationalID" ng-model="session.new.is_percent">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-xs-4 required">{{ "COLUMNS.VALUE" | translate }}</label>
            <div class="col-xs-7">
              <input ng-model="session.new.value" class="form-bhima" required="required">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-xs-4 required">{{ "COLUMNS.ACCOUNT" | translate }}</label>
            <div class="col-xs-7">
              <!--<input ng-model="session.new.account_id" class="form-bhima" required="required"> -->

              <select class="form-bhima" ng-model="session.new.account_id">
                <option ng-repeat="account in accounts" ng-value="account.id">{{account.account_number}} --- {{account.account_txt}}</option>
              </select>

            </div>
          </div>

          <div class="form-group">
            <input type="submit" class="btn btn-sm btn-success" value="{{ 'FORM.SUBMIT' | translate }}" ng-click="save.new()">
            <input type="reset" class="btn btn-sm btn-default" value="{{ 'FORM.RESET' | translate }}" ng-click="reset()">
          </div>
        </form>
      </div>

      <div ng-switch-when="edit">
        <form novalidate class="form-horizontal">
          <legend><h3>{{ "TAXES.UPDATE" | translate }} </h3></legend>

          <div class="form-group">
            <label class="control-label col-xs-4 required">{{ "COLUMNS.LABEL" | translate }}</label>
            <div class="col-xs-7">
              <input ng-model="session.edit.label" class="form-bhima" required="required">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-xs-4 required">{{ "COLUMNS.STAFF_COST" | translate }}</label>
            <div class="col-xs-7">
              <input type="checkbox" id="internationalID" ng-model="session.edit.is_employee">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-xs-4 required">{{ "COLUMNS.IS_PERCENT" | translate }}</label>
            <div class="col-xs-7">
              <input type="checkbox" id="internationalID" ng-model="session.edit.is_percent">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-xs-4 required">{{ "COLUMNS.VALUE" | translate }}</label>
            <div class="col-xs-7">
              <input ng-model="session.edit.value" class="form-bhima" required="required">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-xs-4 required">{{ "COLUMNS.ACCOUNT" | translate }}</label>
            <div class="col-xs-7">
              <select class="form-bhima" ng-model="session.edit.account_id" ng-options="account.id as account.account_number + ' -- ' + account.account_txt for account in accounts">
                <option></option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <input type="submit" class="btn btn-sm btn-success" value="{{ 'FORM.SUBMIT' | translate }}" ng-click="save.edit()">
            <input type="reset" class="btn btn-sm btn-default" value="{{ 'FORM.RESET' | translate }}" ng-click="reset()">
          </div>
        </form>
      </div>
    </div>
  </div>
</main>


