<div class="panel panel-default" ng-class="{'panel-success': session.valid === true, 'panel-danger': session.valid === false }">
  <div class="panel-heading">

    <div ng-if="!session.submitted">
      <i class="glyphicon glyphicon-search"></i> {{ "FIND.TITLE" | translate }}
      <div class="pull-right">
        <a style="cursor:pointer;" ng-class="{'link-selected': findPatient.state==='id'}" ng-click="toggleSearch('id')">
          <i class="glyphicon glyphicon-pencil"></i> {{ "FIND.SEARCH_PATIENT_ID" | translate }}
        </a>
        <a style="cursor:pointer;" ng-class="{'link-selected': findPatient.state==='name'}" ng-click="toggleSearch('name')">
          <i class="glyphicon glyphicon-user"></i> {{ "FIND.SEARCH_NAME" | translate }}
        </a>
      </div>
    </div>

    <div ng-if="session.submitted">
      <!-- Style hack -->
      <i style="margin-right: 5px;" class="glyphicon glyphicon-user"></i> {{findPatient.debtor.name}} <small>({{findPatient.debtor.sex}} {{findPatient.debtor.age}})</small>
      <div class="pull-right" ng-if="enableRefresh">
        <i ng-click="refresh()" class="glyphicon glyphicon-repeat"></i>
      </div>
    </div>
  </div>

  <div class="panel-body find-collapse" ng-show="!findPatient.submitSuccess">
    <div ng-switch on="findPatient.state">

      <div ng-switch-when="name">
        <div class="input-group">
          <input
          id="findSearch"
          type="text"
          ng-model="findPatient.selectedDebtor"
          typeahead="patient as patient.name for patient in fuzzyNameSearch($viewValue)"
          placeholder="{{ 'FIND.PATIENT_NAME' | translate }}"
          typeahead-wait-ms="200"
          typeahead-on-select="loadDebitor(debitor.id)"
          typeahead-template-url="/partials/templates/debtorListItem.tmpl.html"
          class="form-bhima"
          size="25">
          <span class="input-group-btn">
            <button id="submitSearch" ng-disabled="validateNameSearch(findPatient.selectedDebtor)" ng-click="submitDebtor(findPatient.selectedDebtor)" class="btn btn-sm btn-default"> {{ "FORM.SUBMIT" | translate }}</button>
          </span>
        </div>
      </div> <!-- End searchName component -->

      <div ng-switch-when="id">
        <div class="input-group">
          <input
          type="text"
          ng-model="findPatient.debtorId"
          class="form-bhima"
          placeholder="{{ 'FIND.PATIENT_ID' | translate }}">
          <span class="input-group-btn">
            <button ng-click="uuidSearch(findPatient.debtorId)" class="btn btn-sm btn-default"> {{ "FORM.SUBMIT" | translate }} </button>
          </span>
        </div>
      </div>
    </div> <!--End find patient switch -->
  </div>
</div>
