<header data-header>
  {{ "STOCK_DASHBOARD.TITLE" | translate }}
</header>

<main>
	<div class="row">
	<div class="col-xs-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<i class="glyphicon glyphicon-th-large"></i> 
				<strong>{{ "STOCK_DASHBOARD.TITLE" | translate }}</strong>
			</div>
			<div class="panel-body primary">
				<div class="row">
					<div class="col-xs-4">
						<div class="panel panel-default">
							<div class="panel-heading">
								<i class="glyphicon glyphicon-signal"></i> 
								{{ "STOCK_DASHBOARD.MOST_CONSUMED" | translate }}
							</div>
							<div class="panel-body"></div>
						</div>

						<div class="panel panel-default">
							<div class="panel-heading">
								<i class="glyphicon glyphicon-file"></i> 
								{{ "STOCK_DASHBOARD.PURCHASE_ORDER.TITLE" | translate }}
							</div>
							<div class="panel-body">
								<div>
									<i class="glyphicon glyphicon-asterisk" style="color:green;"></i>
									<a href="">
										{{ "STOCK_DASHBOARD.PURCHASE_ORDER.PAYED" | translate }}
										<span class="pull-right"><strong>#</strong></span>
									</a>
								</div>
								<div>
									<i class="glyphicon glyphicon-asterisk" style="color:green;"></i>
									<a href="">
										{{ "STOCK_DASHBOARD.PURCHASE_ORDER.IN_WATING" | translate }}
										<span class="pull-right"><strong>#</strong></span>
									</a>
								</div>
								<div>
									<i class="glyphicon glyphicon-asterisk" style="color:green;"></i>
									<a href="">
										{{ "STOCK_DASHBOARD.PURCHASE_ORDER.RECEIVED" | translate }}
										<span class="pull-right"><strong>#</strong></span>
									</a>
								</div>
								<div>
									<i class="glyphicon glyphicon-asterisk" style="color:green;"></i>
									<a href="">
										{{ "STOCK_DASHBOARD.PURCHASE_ORDER.WATING_RECEPTION" | translate }}
										<span class="pull-right"><strong>#</strong></span>
									</a>
								</div>
							</div>
						</div>

						<div class="panel panel-default">
							<div class="panel-heading">
								<i class="glyphicon glyphicon-retweet"></i> 
								{{ "STOCK_DASHBOARD.MOVEMENT.TITLE" | translate }}
							</div>
							<div class="panel-body">
								<div>
									<i class="glyphicon glyphicon-asterisk" style="color:green;"></i>
									<a href="">
										{{ "STOCK_DASHBOARD.MOVEMENT.ENTER" | translate }}
										<span class="pull-right"><strong>#</strong></span>
									</a>
								</div>
								<div>
									<i class="glyphicon glyphicon-asterisk" style="color:green;"></i>
									<a href="">
										{{ "STOCK_DASHBOARD.MOVEMENT.EXIT" | translate }}
										<span class="pull-right"><strong>#</strong></span>
									</a>
								</div>
							</div>
						</div>
					</div>

					<div class="col-xs-4">
						<div class="panel panel-default">
							<div class="panel-heading">
								<i class="glyphicon glyphicon-tasks"></i> 
								{{ "STOCK_DASHBOARD.STOCK_BY_PRODUCT.TITLE" | translate }}
							</div>
							<div class="panel-body">
								<div>
									<i class="glyphicon glyphicon-asterisk" style="color:green;"></i>
									<a href="">
										{{ "STOCK_DASHBOARD.STOCK_BY_PRODUCT.OUT_OF_STOCK" | translate }}
										<span class="pull-right"><strong>#</strong></span>
									</a>
								</div>
								<div>
									<i class="glyphicon glyphicon-asterisk" style="color:green;"></i>
									<a href="">
										{{ "STOCK_DASHBOARD.STOCK_BY_PRODUCT.UNDER_MIN" | translate }}
										<span class="pull-right"><strong>#</strong></span>
									</a>
								</div>
								<div>
									<i class="glyphicon glyphicon-asterisk" style="color:green;"></i>
									<a href="">
										{{ "STOCK_DASHBOARD.STOCK_BY_PRODUCT.OVER_MAX" | translate }}
										<span class="pull-right"><strong>#</strong></span>
									</a>
								</div>
								<div>
									<i class="glyphicon glyphicon-asterisk" style="color:green;"></i>
									<a href="">
										{{ "STOCK_DASHBOARD.STOCK_BY_PRODUCT.IN_STOCK" | translate }}
										<span class="pull-right"><strong>#</strong></span>
									</a>
								</div>
								<div>
									<i class="glyphicon glyphicon-asterisk" style="color:green;"></i>
									<a href="">
										{{ "STOCK_DASHBOARD.STOCK_BY_PRODUCT.NO_LONGER" | translate }}
										<span class="pull-right"><strong>#</strong></span>
									</a>
								</div>
							</div>
						</div>

						<div class="panel panel-default">
							<div class="panel-heading">
								<i class="glyphicon glyphicon-dashboard"></i> 
								{{ "STOCK_DASHBOARD.EXPIRING_INVENTORY.TITLE" | translate }}
							</div>
							<div class="panel-body">
								<div>
									<i class="glyphicon glyphicon-asterisk" style="color:green;"></i>
									<a href="">
										{{ "STOCK_DASHBOARD.EXPIRING_INVENTORY.EXPIRED" | translate }}
										<span class="pull-right"><strong>#</strong></span>
									</a>
								</div>
								<div>
									<i class="glyphicon glyphicon-asterisk" style="color:green;"></i>
									<a href="">
										{{ "STOCK_DASHBOARD.EXPIRING_INVENTORY.WITHIN_30" | translate }}
										<span class="pull-right"><strong>#</strong></span>
									</a>
								</div>
								<div>
									<i class="glyphicon glyphicon-asterisk" style="color:green;"></i>
									<a href="">
										{{ "STOCK_DASHBOARD.EXPIRING_INVENTORY.WITHIN_90" | translate }}
										<span class="pull-right"><strong>#</strong></span>
									</a>
								</div>
								<div>
									<i class="glyphicon glyphicon-asterisk" style="color:green;"></i>
									<a href="">
										{{ "STOCK_DASHBOARD.EXPIRING_INVENTORY.WITHIN_180" | translate }}
										<span class="pull-right"><strong>#</strong></span>
									</a>
								</div>
								<div>
									<i class="glyphicon glyphicon-asterisk" style="color:green;"></i>
									<a href="">
										{{ "STOCK_DASHBOARD.EXPIRING_INVENTORY.WITHIN_365" | translate }}
										<span class="pull-right"><strong>#</strong></span>
									</a>
								</div>
							</div>
						</div>
					</div>

					<div class="col-xs-4">
						<div class="panel panel-default">
							<div class="panel-heading">
								<i class="glyphicon glyphicon-heart"></i> 
								{{ "STOCK_DASHBOARD.DONATIONS.TITLE" | translate }}
							</div>
							<div class="panel-body">
								
							</div>
						</div>

						<div class="panel panel-default">
							<div class="panel-heading">
								<i class="glyphicon glyphicon-list-alt"></i> 
								{{ "STOCK_DASHBOARD.REPORTS.TITLE" | translate }}
							</div>
							<div class="panel-body">
								<div>
									<i class="glyphicon glyphicon-asterisk" style="color:green;"></i>
									<a href="">
										{{ "STOCK_DASHBOARD.REPORTS.SITUATION_STOCK" | translate }}
										<span class="pull-right"><strong>#</strong></span>
									</a>
								</div>
								<div>
									<i class="glyphicon glyphicon-asterisk" style="color:green;"></i>
									<a href="">
										{{ "STOCK_DASHBOARD.REPORTS.EXPIRING_STOCK" | translate }}
										<span class="pull-right"><strong>#</strong></span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</main>