<header data-header>
  {{ "JOURNAL_VOUCHER.TITLE" | translate }}
</header>

<section class="top-nav underline">
  <div class="pull-left dropdown">
    <button class="btn btn-sm btn-primary dropdown-toggle square">
      {{ currencies.get(voucher.currency_id).symbol || "JOURNAL_VOUCHER.DEFAULT_CURRENCY" | translate }}
      <span class="caret" data-caret="&#9660;"></span>
    </button>
    <ul class="dropdown-menu square">
      <li ng-repeat="currency in currencies.data">
        <a href="" ng-click="voucher.currency_id=currency.id">{{ currency.symbol }}</a>
      </li>
    </ul>
  </div>

  <div class="pull-right">
    <a href="#/posting_journal" class="btn btn-sm btn-default square">
      <span class="glyphicon glyphicon-tag"></span> {{ "JOURNAL_VOUCHER.POSTING_JOURNAL" | translate}}
    </a>
  </div>
</section>

<div class="content">
  <div class="row col-xs-12">
    <form class="form-horizontal">
        <div class="form-group">
          <label class="col-xs-3">{{ 'COLUMNS.DATE' | translate }}</label>
          <div class="col-xs-9">
            <input class="form-kapok" type="date" ng-model="voucher.trans_date" max="{{ today }}">
          </div>
        </div>

        <div class="form-group">
          <label class="col-xs-3">{{ 'COLUMNS.DESCRIPTION' | translate }}</label>
          <div class="col-xs-9">
            <input type="text" ng-model="voucher.description" class="form-kapok" required>
          </div>
        </div>

        <div class="form-group">
          <label class="col-xs-3">{{'COLUMNS.INVPO_ID' | translate}}</label>
          <div class="col-xs-9">
            <input type="text" ng-model="voucher.inv_po_id" class="form-kapok"  min="10" required>
          </div>
        </div>
    </form>
  </div>
  <div class="row col-xs-12">
    <div class="pull-right">
      <a ng-click="addRow()" class="fieldset-util"><span class="glyphicon glyphicon-plus"></span> {{ "JOURNAL_VOUCHER.ADD_ROW" | translate }} </a>
    </div>
    <table class='table table-condensed'>
      <thead>
        <tr>
          <th>{{ "COLUMNS.ACCOUNT" | translate }}</th>
          <th>{{ "COLUMNS.DEBIT" | translate }}</th>
          <th>{{ "COLUMNS.CREDIT" | translate }}</th>
          <th>{{ "COLUMNS.DEBITOR" | translate }}/{{ "COLUMNS.CREDITOR" | translate }}</th>
          <th>{{ "COLUMNS.DC_TYPE" | translate }}</th>
          <th>{{ "COLUMNS.COMMENT" | translate }}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in voucher.rows" ng-class="{ 'incomplete-outline': !row.description || !row.account_id, 'complete-outline' : !!row.account_id }">
          <td>
            <select class="form-kapok" ng-model="row.account_id">
              <option value="{{ account.id }}" ng-repeat="account in accounts.data" ng-disabled="account.account_type_id==3">{{ account.account_number }} {{ account.account_txt }}</option>
            </select>
          </td>
          <td><input class="form-invoice" type="number" placeholder="0" ng-model="row.debit"></td>
          <td><input class="form-invoice" type="number" placeholder="0" ng-model="row.credit"></td>
          <td><input class="form-invoice" type="text" placeholder="{{ 'COLUMNS.DEBITOR' | translate }} / {{ 'COLUMNS.CREDITOR' | translate }}" ng-model="row.deb_cred_uuid" typeahead-template-url="debitorList.html" typeahead="debitor.text as debitor.uuid for debitor in debitors.data | filter:$viewValue | limitTo:8"></td>
          <td>
            <!--
            <select class="form-kapok" ng-model="row.deb_cred_type" ng-options="option for option in options">
              <option disabled>{{ "SELECT.DEB_CRED_TYPE" | translate }}</option>
            </select>
            -->
            <input class="form-invoice" type="text" placeholder="{{ 'COLUMNS.DEB_CRED_TYPE' | translate }}" ng-model="row.deb_cred_type">
          </td>
          <td><input class="form-invoice" type="text" placeholder="{{ 'COLUMNS.COMMENT' | translate }}" ng-model="row.comment" ></td>
          <td ng-click="removeRow($index)" style="cursor: pointer; color: red;"><span class="glyphicon glyphicon-trash"></span></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="1">{{ "COLUMNS.BALANCE" | translate }}</th>
          <th> {{ voucher.debitTotal }} {{ currencies.get(voucher.currency_id).symbol }}</th>
          <th colspan="5"> {{ voucher.creditTotal }} {{ currencies.get(voucher.currency_id).symbol }}</th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>

<section class="bar-bottom">
  <div class="pull-right">
    <a ng-disabled="!session.valid" ng-click="submit()" class="btn btn-default"><span class="glyphicon glyphicon-floppy-open"></span> {{ "JOURNAL_VOUCHER.SUBMIT" | translate }}</a>
  </div>
</section>

<script type="text/ng-template" id="debitorList.html">
  <a>
    <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
    <span><b>[ {{ match.model.text.split(' ').pop() }}]</b></span>
  </a>
</script>
