.group-crumbs { 
  margin-top: 10px;
  clear: both;
  float: left;
  display: inline-block;
}
/*Hacks*/
.group-crumbs :first-child { 
  margin-left : 10px;
}

.group-crumbs span { 
  color : blue;
  display: inline-block;
  
}

#kpk-ledger-general_ledger-grid,
#kpk-ledger-general_ledger-grid div {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
