<header data-header>
  {{ 'PURCHASE.CONFIRM.TITLE' | translate }}
</header>

<nav>
  <div class="pull-left">
    <ol class="breadcrumb">
      <span class="glyphicon glyphicon-home"></span>
      <li><a href="#/purchase_menu/">{{ "CONFIRM.PARENT" | translate }}</a></li>
      <li class="active">{{ "PURCHASE.CONFIRM.TITLE" | translate }}</li>
    </ol>
  </div>
</nav>

<main>
  <div class="row" style="margin-top: 10px">
    <div class="col-xs-5">

      <div class="panel panel-default square">
        <div class="panel-heading square">
          {{ "PURCHASE.CONFIRM.TITLE" | translate }}
        </div>

        <div class="panel-body">

          <div class="alert alert-info po-alert">
            <strong>{{ 'PURCHASE.PURCHASE_TYPE' | translate }} : </strong>
            <input type="radio" id="indirectPO" ng-model="session.purchase_type" value="indirect" ng-click="resetSelected()">
            <label for="indirectPO">{{ 'PURCHASE.INDIRECT' | translate }}</label>
            <span class="po-type-space"></span>
            <input type="radio" id="directPO" ng-model="session.purchase_type" value="direct"  ng-click="resetSelected()">
            <label for="directPO">{{ 'PURCHASE.DIRECT' | translate }}</label>
          </div>

          <div class="input-group" style="margin-bottom: 15px">
            <span class="input-group-btn">
              <button disabled class="btn btn-default btn-sm"><span class="glyphicon glyphicon-search"></span></button>
            </span>
             <input class="form-bhima" placeholder="{{'PURCHASE.CONFIRM.FILTER' | translate }}" ng-model="session.filter">
          </div>

          <table ng-if="session.purchase_type==='indirect'" class="table table-bordered table-condensed">
            <thead>
              <tr>
                <th>{{"COLUMNS.DATE" | translate}}</th>
                <th>{{"COLUMNS.REFERENCE" | translate}}</th>
                <th>{{"COLUMNS.EMPLOYEE" | translate}}</th>
                <th>{{ "COLUMNS.ACTIONS" | translate }}</th>
              </tr>
            </thead>

            <tr ng-if="!indirect_purchase.data.length">
              <td colspan="4">
                <div class="alert alert-warning square">{{ "PURCHASE.NOT_FOUND" | translate }}</div>
              </td>
            </tr>

            <tr ng-repeat="item in indirect_purchase.data | filter : session.filter"
                ng-class="{'selected-success': session.selected.uuid===item.uuid}">
                <td>{{item.purchase_date | date}}</td>
                <td><a href="/#/invoice/purchase/{{item.uuid}}">{{item.abbr}}{{item.reference}}</td>
                <td>{{item.name}}</td>
                <td><a class="menu-item" ng-click="confirmPurchase(item.uuid)"><span class="glyphicon glyphicon-arrow-right"></span></a></td>
            </tr>
            <tbody>
            </tbody>
          </table>

          <table ng-if="session.purchase_type==='direct'" class="table table-bordered table-condensed">
            <thead>
              <tr>
                <th>{{"COLUMNS.DATE" | translate}}</th>
                <th>{{"COLUMNS.REFERENCE" | translate}}</th>
                <th>{{"COLUMNS.ACCOUNT" | translate}}</th>
                <th>{{ "COLUMNS.ACTIONS" | translate }}</th>
              </tr>
            </thead>

            <tr ng-if="!direct_purchase.data.length">
              <td colspan="4">
                <div class="alert alert-warning square">{{ "PURCHASE.NOT_FOUND" | translate }}</div>
              </td>
            </tr>

            <tr ng-repeat="item in direct_purchase.data | filter : session.filter"
                ng-class="{'selected-success': session.selected.uuid===item.uuid}">
                <td>{{item.purchase_date | date}}</td>
                <td><a href="/#/invoice/purchase/{{item.uuid}}">{{item.abbr}}{{item.reference}}</td>
                <td><strong>{{item.account_number}}</strong> - {{ item.account_txt }}</td>
                <td><a class="menu-item" ng-click="confirmPurchase(item.uuid)"><span class="glyphicon glyphicon-arrow-right"></span></a></td>
            </tr>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-xs-7">
      <div class="panel square" ng-class="{'panel-success': session.selected, 'panel-default' : !session.selected}">
        <div class="panel-heading square">
          <span class="glyphicon glyphicon-list-alt"></span>
          {{ "PURCHASE.CONFIRM.CONFIRM_PAY" | translate }} <small>{{session.selected.uuid}}</small>
        </div>

        <div class="panel-body" ng-if="session.selected">
          <table class="table table-bordered table-condensed">
            <thead>
              <tr>
                <th colspan="2">{{ "PURCHASE.CONFIRM.DETAILS" | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{"COLUMNS.ID" | translate}}</td><td>{{session.selected.uuid}}</td>
              </tr>
              <tr>
                <td>{{"COLUMNS.NOTE" | translate}}</td><td>{{session.selected.note}}</td>
              </tr>
              <tr ng-if="session.purchase_type==='indirect'">
                <td>{{"COLUMNS.EMPLOYEE" | translate}}</td><td>{{session.selected.name}}</td>
              </tr>
              <tr ng-if="session.purchase_type==='direct'">
                <td>{{"COLUMNS.ACCOUNT" | translate}}</td><td><strong>{{session.selected.account_number}}</strong> - {{session.selected.account_txt}}</td>
              </tr>
              <tr>
                <td>{{"COLUMNS.COST" | translate}}</td><td><b>{{session.selected.cost | currency}}</b></td>
              </tr>
            </tbody>
          </table>

          <button ng-click="confirmPayment()" class="square btn btn-success btn-sm">  {{ "PURCHASE.CONFIRM.CONFIRM_PAY_OF" | translate }} <b>{{session.selected.cost | currency}}</b> {{ "PURCHASE.CONFIRM.BY" | translate }} 
          <b ng-if="session.purchase_type==='indirect'">{{session.selected.name}}</b>
          <b ng-if="session.purchase_type==='direct'">{{session.selected.account_number}}</b>
          </button>
        </div>
      </div>
    </div>
  </div>
</main>

