<header data-header>
  {{ "EXCHANGE.TITLE" | translate }}
</header>

<nav>
  <div class="pull-left">
    <ol class="breadcrumb">
      <li><a href="#/"><span class="glyphicon glyphicon-home"></span></a></li>
      <li class="active">{{ "EXCHANGE.TITLE" | translate }}</li>
    </ol>
  </div>
  <div class="pull-right">
    <button class="btn btn-sm btn-default" ng-click="ExchangeCtrl.setState('new')">
      <i class="glyphicon glyphicon-plus-sign"></i> {{ "EXCHANGE.NEW" | translate }}</a>
    </button>
    <button class="btn btn-sm btn-default" ng-click="ExchangeCtrl.setState('review')">
      <i class="glyphicon glyphicon-list"></i> {{ "EXCHANGE.REVIEW" | translate }}</a>
    </button>
</nav>

<main>
  <div class="row">
    <div class="col-xs-6">
      <h3 style="margin-top:inherit;">{{ EXCHANGE.PREV | translate }}</h3>
      <table class="table table-bordered table-condensed">
        <thead>
          <tr>
            <th>{{ "COLUMNS.DATE" | translate }}</th>
            <th>{{ "COLUMNS.ENTERPRISE_CURRENCY" | translate }}</th>
            <th>{{ "COLUMNS.OTHER_CURRENCY" | translate }}</th>
            <th>{{ "COLUMNS.RATE" | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="rate in ExchangeCtrl.rates.data | orderBy:'-date' | limitTo:12">
            <td>{{ rate.date | date }}</td>
            <td>{{ ExchangeCtrl.currency.get(rate.enterprise_currency_id).name }}</td>
            <td>{{ ExchangeCtrl.currency.get(rate.foreign_currency_id).name }}</td>
            <td>{{ rate.rate }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-xs-6" ng-switch="ExchangeCtrl.state">

      <div ng-switch-default>
        <div class="alert alert-info">
          <h4>{{ "EXCHANGE.TITLE" | translate }}</h4>
          <p>{{ "EXCHANGE.HELP_TXT_1" | translate }}</p>
        </div>
      </div>

      <div class="panel panel-default" ng-switch-when="review">
        <div class="panel-heading">
          <span>{{ 'EXCHANGE.TODAY_RATE' | translate }} <b>{{ ExchangeCtrl.today | date }}</b></span>
        </div>
        <div class="panel-body">
          <form class="form-horizontal">

            <div class="form-group" ng-repeat="rate in ExchangeCtrl.currentRates">
              <label class="control-label col-xs-4">
                {{ ExchangeCtrl.currency.get(rate.foreign_currency_id).name }} Rate
              </label>
              <div class="col-xs-4">
                <p class="form-control-static">{{ 100 | currency:rate.enterprise_currency_id }}</p>
              </div>
              <div class="col-xs-4">
                <p class="form-control-static">{{ rate.rate * 100 | currency:rate.foreign_currency_id }}</p>
              </div>
            </div>

            <div class="box box-error" ng-show="!ExchangeCtrl.currentRates.length">
              <h5>{{ "EXCHANGE.NO_RATES" | translate }}</h5>
            </div>

          </form>
        </div>
      </div>

      <div class="panel panel-default" ng-switch-when="new">
        <div class="panel-body">

          <form name="RateForm" class="form-horizontal" novalidate>
            <fieldset>
              <legend>{{ 'EXCHANGE.SET' | translate }}</legend>

              <div class="checkbox">
                <label>
                  <input name="isOld" type="checkbox" ng-model="ExchangeCtrl.form.isOld">
                  {{ "EXCHANGE.OLD_DATE" | translate}}
                </label>
              </div>

              <br />

              <div class="form-group" >
                <div class="col-xs-11">
                  <input type="date" class="form-bhima" ng-model="ExchangeCtrl.form.date" max="{{ ExchangeCtrl.today | date:'yyyy-MM-dd' }}" ng-disabled="!ExchangeCtrl.form.isOld">
                </div>
              </div>

              <div class="form-group">
                <div class="col-xs-5">
                  <p class="form-control-static text-center">
                    <strong>{{ ExchangeCtrl.currency.get(ExchangeCtrl.enterprise.currency_id).name }}</strong>
                  </p>
                </div>

                <div class="col-sm-offset-1 col-xs-5">
                  <select class="form-bhima" ng-model="ExchangeCtrl.form.foreign_currency_id" ng-options="c.id as c.name for c in ExchangeCtrl.currency.data | filter:ExchangeCtrl.fcurrency track by c.id" required>
                    <option value="" disabled>-- {{ 'SELECT.CURRENCY' | translate }} --</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <div class="col-xs-5 input-group">
                  <input class="form-bhima" value="100" readonly>
                  <span class="input-group-addon">
                    {{ ExchangeCtrl.currency.get(ExchangeCtrl.enterprise.currency_id).symbol }}
                  </span>
                </div>
                <label class="col-xs-1 control-label">
                  <i class="glyphicon glyphicon-arrow-right"></i>
                </label>
                <div class="col-xs-5 input-group">
                  <input
                    class="form-bhima"
                    name="rate"
                    type="number"
                    ng-model="ExchangeCtrl.form.rate"
                    min="0"
                    required>
                  <span class="input-group-addon">
                    {{ ExchangeCtrl.currency.get(ExchangeCtrl.form.foreign_currency_id).symbol }}
                  </span>
                </div>
              </div>
            </fieldset>

            <input type="submit" class="btn btn-sm btn-success" ng-click="ExchangeCtrl.submit()" ng-disabled="RateForm.$invalid" value="{{ 'FORM.SUBMIT' | translate }}">
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
