<header data-header>
  {{ "EXCHANGE.TITLE" | translate }}
</header>

<nav>
  <div class="pull-left">
    <ol class="breadcrumb">
      <li><a href="#/"><span class="glyphicon glyphicon-home"></span></a></li>
      <li class="active">{{ "EXCHANGE.TITLE" | translate }}</li>
    </ol>
  </div>
  <div class="pull-right">
    <button class="btn btn-sm btn-default" ng-click="action='new'">
      <i class="glyphicon glyphicon-plus-sign"></i> {{ "EXCHANGE.NEW" | translate }}</a>
    </button>
    <button class="btn btn-sm btn-default" ng-click="action='review'">
      <i class="glyphicon glyphicon-list"></i> {{ "EXCHANGE.REVIEW" | translate }}</a>
    </button>
</nav>

<main>
  <div class="row">
    <div class="col-xs-6">
      <h3 style="margin-top:inherit;">{{ EXCHANGE.PREV | translate }}</h3>
      <table class="table table-bordered table-condensed">
        <thead>
          <tr>
            <th>{{ "COLUMNS.DATE" | translate }}</th>
            <th>{{ "COLUMNS.ENTERPRISE_CURRENCY" | translate }}</th>
            <th>{{ "COLUMNS.OTHER_CURRENCY" | translate }}</th>
            <th>{{ "COLUMNS.RATE" | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="rate in rates.data | orderBy:'-date' | limitTo: 12">
            <td>{{ rate.date | date }}</td>
            <td>{{ currency.get(rate.enterprise_currency_id).name }}</td>
            <td>{{ currency.get(rate.foreign_currency_id).name }}</td>
            <td>{{ rate.rate }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-xs-6" ng-switch="action">

      <div ng-switch-default>
        <div class="alert alert-info">
          <h4>{{ "EXCHANGE.TITLE" | translate }}</h4>
          <p>{{ "EXCHANGE.HELP_TXT_1" | translate }}</p>
        </div>
      </div>

      <div class="panel panel-default" ng-switch-when="review">
        <div class="panel-heading">
          <span>{{ 'EXCHANGE.TODAY_RATE' | translate }} <b>{{ currentDate | date}}</b></span>
        </div>
        <div class="panel-body">
          <form class="form-horizontal">

            <div class="form-group" ng-repeat="rate in currentRates">
              <label class="control-label col-xs-4">
                {{ currency.get(rate.foreign_currency_id).name }} Rate
              </label>
              <div class="col-xs-4">
                <p class="form-control-static">{{ 100 | currency:rate.enterprise_currency_id }}</p>
              </div>
              <div class="col-xs-4">
                <p class="form-control-static">{{ rate.rate * 100 | currency:rate.foreign_currency_id }}</p>
              </div>
            </div>

            <div class="box box-error" ng-show="!currentRates || !currentRates.length">
              <h5>{{ "EXCHANGE.NO_RATES" | translate }}</h5>
            </div>

          </form>
        </div>
      </div>

      <div class="panel panel-default" ng-switch-when="new">
        <div class="panel-body">
          <form name="exchangeForm" class="form-horizontal" novalidate>
            <fieldset>
              <legend>{{ 'EXCHANGE.SET' | translate }}</legend>

              <div class="form-group">
                <div class="checkbox">
                  <label class="col-xs-9 control-label">
                    {{"EXCHANGE.OLD_DATE" | translate}}
                    <input type="checkbox" value="{{session.is_oldDate}}" ng-model="session.is_oldDate" ng-change="commitValue()">
                  </label>
                </div>
              </div>

              <div class="form-group" >
                <div class="col-xs-11">
                  <input type="date" class="form-bhima" ng-model="session.oldDate" max="{{maxDate}}" ng-disabled="!is_oldDate">
                </div>
              </div>

              <div class="form-group">
                <div class="col-xs-5">
                  <div class="form-bhima" style="text-align: center;" readonly>
                    {{ currency.get(enterprise.currency_id).name }}
                  </div>
                </div>

                <div class="col-sm-offset-1 col-xs-5">
                  <select class="form-bhima" ng-model="newRate.foreign_currency_id" ng-options="c.id as c.name for c in currency.data | filter:fcurrency" required>
                    <option value="">-- {{ 'SELECT.CURRENCY' | translate }} --</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <div class="col-xs-5 input-group">
                  <input class="form-bhima" value="100" readonly>
                  <span class="input-group-addon">
                    {{ currency.get(enterprise.currency_id).symbol }}
                  </span>
                </div>
                <label class="col-xs-1 control-label">
                  <i class="glyphicon glyphicon-arrow-right"></i>
                </label>
                <div class="col-xs-5 input-group">
                  <input class="form-bhima" ng-model="newRate.rate" min="0" required placeholder="1.00" type="number" required>
                  <span class="input-group-addon">
                    {{ currency.get(newRate.foreign_currency_id).symbol }}
                  </span>
                </div>
              </div>
            </fieldset>

            <input type="submit" class="btn btn-success btn-sm" ng-click="submit()" ng-disabled="checkValidity()" value="{{ 'FORM.SUBMIT' | translate }}">
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
