<div >
	gggghuguhg
	<div class="container">
		<div class="row">
			<div class="col-xs-6">
				<button ng-click="createUser()">Create User</button>
				<button ng-click="updateUser()" ng-disabled='!isSelected()'>Update User</button>
				<table class="table-bordered table-striped table">
					<thead>
					<tr><th>First Name</th><th>Second Name</th><th>Email</th></tr>
					</thead>
					<tbody>
					<!--This is populated with angular-->
					<tr ng-click="select($index)" ng-repeat="user in model">
						<td>{{user.first}}</td>
						<td>{{user.last}}</td>
						<td>{{user.email}}</td>
					</tr>
					</tbody>
				</table>
			</div>

			<div class="col-xs-6" ng-show="isSelected()">
				<div class="form-group">
				<label for="first">First Name:</label>
				<input ng-model="selected.first" id="first">
				</div>

				<div class="form-group">
				<label for="last">Last Name:</label>
				<input ng-model="selected.last" id="second">
				</div>

				<div class="form-group">
				<label for="email">Email:</label>
				<input ng-model="selected.email" id="email">
				</div>

				<div class="form-group">
				<label for="username">User Name:</label>
				<input ng-model="selected.username" id="username">
				</div>

				<div class="form-group">
				<label for="pw">Password:</label>
				<input type ="password" ng-model="selected.password" id="password">
				</div>

				<div class="form-group">
				<label for="cpw">Confirm Password:</label>
				<input id="cpw" type="password">
				</div>

				<div class="form-group">
				<button ng-click="valider()">valider</button>
				</div>

				<div class="role">
					<table>
						<tr>
						<td>
							<label for="tous">Tous</label>
							<input type="checkbox" id="tous" ng-model = "chkTous" ng-click="changeAll()">
						</td>
							<td ng-repeat="role in roles" id='{{role.id}}'>
								<div ng-repeat="unit in getUnits(role.id)">
									<label for="{{unit.id}}">{{unit.name}}</label>
									<input type="checkbox" id="{{unit.id}}" ng-model = "unit.chkUnitModel" ng-click = "manageClickUnit(unit.id)">
								</div>
							</td>
						</tr>
					</table>
				</div>				
			</div>
		</div>
	</div>
</div>