
<header>
  <span>{{'ANALYSIS_CENTER.TITLE' | translate}}</span>
</header>

<section class="top-nav">
  <div class="pull-left">
    <ol class="breadcrumb" style="float: right;">
      <span class="label label-success square">{{ "ANALYSIS_CENTER.NAVIGATION" | translate }}</span>
      <li><a href="#/cost_center">{{ "ANALYSIS_CENTER.PARENT" | translate }}</a></li>
      <li><a href="" ng-click="loadPath('/cost_center/center/')">{{ "ANALYSIS_CENTER.TITLE" | translate }}</a></li>
    </ol>
  </div>

  <button ng-click="setAction('register')" class="btn btn-sm btn-default pull-right">
    <i class="glyphicon glyphicon-file"></i>{{'ANALYSIS_CENTER.NEW' | translate}}
  </button>
</section>

<div class="content">
  <div class="col-xs-5">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <span>{{'ANALYSIS_CENTER.REGISTERED' | translate}}</span>
      </div>
      <table class="table table-condensed table-striped">
        <thead>
          <tr><th>{{'COLUMNS.NAME' | translate}}</th><th>{{'COLUMNS.COST' | translate}}</th><th>{{'COLUMNS.PROJECT' | translate}}</th><th>{{'COLUMNS.ACTIONS' | translate}}</th></tr>
        </thead>
        <tbody>
          <tr ng-repeat="cc in model.cost_centers.data">
            <td>{{cc.text}}</td>

            <td>{{cc.cost | currency}}</td>

            <td>{{cc.name}}</td>

            <td><button class="btn btn-sm btn-default" ng-disabled="true" ng-click="edit(grp)"><i class="glyphicon glyphicon-pencil"></i></button></td>

            <td><button class="btn btn-sm btn-default" ng-disabled="true" ng-click="remove(grp)"><i class="glyphicon glyphicon-trash"></i></button></td>

            <td><button class="btn btn-sm btn-default" ng-click="setAction('configure', $index)"><i class="glyphicon glyphicon-cog"></i></button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-xs-7" ng-switch="action">
    <div ng-switch-default>
      <div class="alert alert-info">
        <b>{{'ANALYSIS_CENTER.INFO' | translate}}</b>
        <p>
          {{'ANALYSIS_CENTER.INFO_DESCRIPTION' | translate}}
        </p>
      </div>
    </div>

    <div ng-switch-when="register">
      <form class="form-horizontal" name="newForm" novalidate>
        <fieldset>
          <legend>{{'ANALYSIS_CENTER.REGISTER' | translate}}</legend>
          <div class="form-group required">
            <label class="col-xs-2 control-label">{{'ANALYSIS_CENTER.TEXT' | translate}}</label>
            <div class="col-xs-10">
              <input class="form-kapok" ng-model="register.text" required>
            </div>
          </div>

          <div class="form-group required">
            <label class="col-xs-2 control-label">{{'ANALYSIS_CENTER.COST' | translate}}</label>
            <div class="col-xs-10">
              <input type="number" class="form-kapok" ng-model="register.cost">
            </div>
          </div>

          <div class="form-group required">
            <label class="col-xs-2 control-label">{{'ANALYSIS_CENTER.IS_PROFIT' | translate}}</label>
            <div class="col-xs-10">
              <input type="checkbox" class="form-kapok" ng-model="register.pc">
            </div>
          </div>

          <div class="form-group">
            <label class="col-xs-2 control-label">{{'ANALYSIS_CENTER.NOTE' | translate}}</label>
            <div class="col-xs-10">
              <textarea class="form-control" ng-model="register.note" rows="3">
              </textarea>
            </div>
          </div>

          <input ng-click="saveRegistration()" ng-disabled="newForm.$invalid" class="btn btn-sm btn-success" type="submit" value="{{'FORM.SAVE' | translate}}">
          <input ng-click="resetRegistration()" class="btn btn-sm btn-default" type="button" value="{{'FORM.RESET' | translate}}">
        </fieldset>
      </form>
    </div>


    <div ng-switch-when="modify">
      <form class="form-horizontal">
        <fieldset>
          <legend>Modify a Principal Analysis Center</legend>

          <div class="form-group required">
            <label class="col-xs-2 control-label">Name</label>
            <div class="col-xs-10">
              <input class="form-kapok" ng-model="modify.text">
            </div>
          </div>


          <div class="form-group">
            <label class="col-xs-2 control-label">Note</label>
            <div class="col-xs-10">
              <textarea class="form-control" ng-model="modify.note" rows="3">
              </textarea>
            </div>
          </div>

          <input ng-click="saveModification()" class="btn btn-sm btn-success" type="submit" value="Save">
          <input ng-click="resetModification()" class="btn btn-sm btn-default" type="button" value="Reset Form">

        </fieldset>
      </form>
    </div>

    <div ng-switch-when="configure">

        <div class="panel panel-default">
              <div class="panel-heading">
                <span> Assignation Accounts To {{selected.text}} </span>
                <span class="pull-right">
                  <button type="submit" ng-click="associate()">Assign</button>
                </span>
              </div>
              <div class="panel-body principal-header">
                <table class="table table-condensed table-striped">
                <thead>
                  <tr>
                    <th>
                      <input type="checkbox" ng-model="acc.all" ng-change="checkAll()" />
                    </th>
                    <th>
                      Account Number
                    </th>
                    <th>
                        Account Name
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="account in models.availablesAccounts">
                    <td><input type="checkbox" ng-model ="account.checked"/></td>

                    <td>{{account.account_number}}</td>

                    <td>{{account.account_txt}}</td>
                  </tr>
                </tbody>
              </table>
              </div>
          </div>

        <div class="panel panel-primary">
            <div class="panel-heading">
              <span>
                Associeted Accounts To <b>{{selected.text}}</b>
              </span>
              <span class="pull-right">
                <button type="submit" ng-click="remove()"> Remove </button>
              </span>
            </div>

            <div class="panel-body principal-header">
              <table class="table table-condensed table-striped">
              <thead>
                <tr><th><input type="checkbox" ng-model="acc2"/></th><th>Account Number</th><th>Account Name</th></tr>
              </thead>
              <tbody>
                <tr ng-repeat="associatedAccount in models.associatedAccounts">
                  <td><input type="checkbox" ng-model="associatedAccount.checked"/></td>

                  <td>{{associatedAccount.account_number}}</td>

                  <td>{{associatedAccount.account_txt}}</td>
                </tr>
              </tbody>
            </table>
            </div>
        </div>

    </div>
  </div>
</div>
