<header data-header>
  {{ "DEPOT.TITLE" | translate }}
</header>

<section class="top-nav">
  <button class="btn btn-sm btn-default" ng-click="new()">
    <span class="glyphicon glyphicon-plus-sign"></span>
    {{ "DEPOT.ADD" | translate }}
  </button>
</section>

<div class="content">
  <div class="row">

    <div class="col-xs-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <span class="glyphicon glyphicon-home"></span> All Depots
        </div>
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>{{ "COLUMNS.ID" | translate }}</th>
              <th>{{ "COLUMNS.NAME" | translate }}</th>
              <th colspan="2" style="width:15%;">{{ "COLUMNS.ACTION" | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="depot in depots.data">
              <td>{{ depot.id }}</td>
              <td>{{ depot.text }}</td>
              <td><a class="action" ng-click="edit(depot)"><span class="glyphicon glyphicon-pencil"></span></a></td>
              <td><a class="action danger" ng-click="delete(depot)"><span class="glyphicon glyphicon-trash"></span></a></td>
            </tr>
            <tr ng-if="!depots.data.length">
              <td colspan="4">{{ "DEPOT.NO_DEPOTS" | translate }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-xs-6" ng-switch="session.action">
      <div class="alert alert-info" ng-switch-default>
        <h4>{{ "DEPOT.TITLE" | translate }}</h4>
        <p>{{ "DEPOT.ALERT" | translate }}</p>
      </div>

      <form ng-switch-when="new">
        <legend>{{ "DEPOT.NEW" | translate }}</legend>
        <div class="form-group">
          <label>{{ "COLUMNS.NAME" | translate }}</label>
          <input class="form-bhima" ng-model="session.new.text" required>
        </div>

        <button class="btn btn-sm btn-success" type="submit" ng-click="save.new()">{{ "FORM.SUBMIT" | translate }}</button>
        <button class="btn btn-sm btn-danger" type="reset">{{ "FORM.CLEAR" | translate }}</button>
      </form>

      <form ng-switch-when="edit">
        <legend>{{ "DEPOT.EDIT" | translate }}</legend>
        <div class="form-group">
          <label>{{ "COLUMNS.NAME" | translate }}</label>
          <input class="form-bhima" ng-model="session.edit.text" required>
        </div>

        <button class="btn btn-sm btn-success" type="submit" ng-click="save.edit()">{{ "FORM.SUBMIT" | translate }}</button>
        <button class="btn btn-sm btn-danger" type="reset">{{ "FORM.CLEAR" | translate }}</button>
      </form>

    </div>

  </div>
</div>
