<header data-header>
  {{ "PATIENT_REG.PAGE_TITLE" | translate }} <small>{{ patient.title }} {{ patient.first_name }} {{ patient.last_name }}</small>
</header>

<!-- TODO Application structural changes - flex structure + bootstrap style standard -->
<nav>
  <div class="pull-left">
    <ol class="breadcrumb">
      <li><a href="#/"><span class="glyphicon glyphicon-home"></span></a></li>
      <li class="active">{{ "PATIENT_REG.PAGE_TITLE" | translate }}</li>
    </ol>
  </div>
  
  <div class="pull-right">
    <a href="#/location" class="btn btn-default btn-sm">
      <span class="glyphicon glyphicon-globe"></span> {{ "PATIENT_REG.LOCATION" | translate }}
    </a>

    <a href='/#/patients/search' class="btn btn-default btn-sm">
      <span class="glyphicon glyphicon-search"></span> {{ "PATIENT_REG.VIEW_PATIENT_RECORDS" | translate }}
    </a>
  </div>
</nav>

<main>
  <div class="container-fluid">
    
    <div class="row">
      
      <!-- Patient Details Form -->
      <div class="col-md-7">
        <div id="patient-details" class="panel panel-primary">
          <div class="panel-heading">{{ "PATIENT_REG.PATIENT_DETAILS" | translate }}</div>
          <div class="panel-body">

            <form name="details"  class="form-horizontal">
              
              <!-- Last Name -->
              <div class="form-group">
                <label for="new-second-name" class="col-md-3 control-label">{{ "PATIENT_REG.SECOND_NAME" | translate }}</label>
                <div class="col-md-9">
                  <input id="new-second-name" class="form-control" ng-model="patient.last_name" required>
                </div>
              </div>
              
              <!-- Middle Name -->
              <div class="form-group">
                <label for="new-middle-name" class="col-md-3 control-label">{{ "INVOICE.MIDDLE_NAME" | translate }}</label>
                <div class="col-md-9">
                  <input id="new-middle-name" class="form-control" ng-model="patient.middle_name" required>
                </div>
              </div>
          
              <!-- First Name -->
              <div class="form-group">
                <label for="new-first-name" class="col-md-3 control-label">{{ "PATIENT_REG.FIRST_NAME" | translate }}</label>
                <div class="col-md-9">
                  <input id="new-first-name" class="form-control" ng-model="patient.first_name" required >
                </div>
              </div>

              <!-- Hospital File Number -->
              <div class="form-group">
                <label for="new-hospital-number" class="col-md-3 control-label">{{ "INVOICE.HOSPITAL_FILE_NR" | translate }} </label>
                <div class="col-md-9">
                  <input id="new-hospital-number" class="form-control" ng-model="patient.hospital_no">
                </div>
              </div>
              
              <!-- Year of Birth -->
              <div class="form-group" ng-if="!session.fullDateEnabled">
                <label for="new-yob" class="col-md-3 control-label">{{ "PATIENT_REG.YOB" | translate }}</label>
                <div class="col-md-9">
                  <div class="input-group">
                    <input id="yob" type="text" class="form-control" ng-model="session.yob">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button" ng-click="enableFullDate()">{{ "PATIENT_REG.ENTER_FULL_DATE" | translate }}</button>
                    </span>
                  </div>
                </div>
              </div>
              
              <!-- Full date of birth -->
              <div class="form-group">
                <label for="new-patient-dob" class="col-md-3 control-label">{{ "PATIENT_REG.DOB" | translate }}</label>
                <div class="col-md-9">
                  <input required id="new-patient-dob" type="date" class="form-control" ng-disabled="!session.fullDateEnabled" ng-model="patient.dob" min="{{ minDOB }}" max="{{ maxDOB }}">
                </div>
              </div>

              <!-- Gender -->
              <div id="gender" class="form-group">
                <label for="male" class="col-md-3 control-label">Gender</label>
                <div class="col-md-9">
                  <label class="radio-inline">
                    <input type="radio" name="genderOptions" id="male" value="M" ng-model="patient.sex" required>
                    {{ "PATIENT_REG.MALE" | translate }}
                  </label>

                  <label class="radio-inline">
                    <input type="radio" name="genderOptions" id="female" value="F" ng-model="patient.sex" required>
                    {{ "PATIENT_REG.FEMALE" | translate }}
                  </label>  
                </div>
              </div>
  
              <!-- Seperate location settings -->
              <hr>

              <!-- Location -->
              <!-- TODO Each individual select should be a form group -->
              <div class="row">
                <div class="col-md-6">
                  <h4>Origin Location</h4>
                  <div location-select select-village="setOriginLocation"></div>
                </div>
                
                <!-- Seperate location searches given a certain screen size -->
                <div class="visible-sm-block visible-xs-block"><hr></div>
                
                <div class="col-md-6">
                  <h4>Current Location</h4>
                  <div location-select select-village="setCurrentLocation"></div>
                </div>
              </div>
             
              <!-- Seperate finance settings -->
              <hr> 

              <!-- Debtor Group -->
              <div class="form-group">
                <label for="new-debtor-group" class="col-md-3 control-label">Debtor Group</label>
                <div class="col-md-9">
                  <select class="form-control" id="debtor-group" ng-model="debtor.debtor_group" ng-options="g.name for g in debtorGroup.data | orderBy:'name'" required>
                    <option value="" disabled="disabled">-- {{"SELECT.DEBITOR_GROUP" | translate }} --</option>
                  </select>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
  
      <!-- Optional Information Form -->
      <div class="col-md-5">
        <div id="registration-type" class="panel panel-default">
          <div class="panel-heading">{{ "PATIENT_REG.OPTIONAL_INFO" | translate }}</div>
          <div class="panel-body">
            <form class="form-horizontal">
                
              <div class="form-group">
                <label for="title" class="col-md-3 control-label">Title</label>
                <div class="col-md-9">
                  <input type="text" class="form-control" id="title" ng-model="patient.title">
                </div>
              </div>

              <div class="form-group">
                <label for="phone" class="col-md-3 control-label">{{ "PATIENT_REG.PHONE_NO" | translate }}</label>
                <div class="col-md-9">
                  <input type="text" class="form-control" id="form-control" ng-model="patient.phone">
                </div>
              </div>

              <div class="form-group">
                <label for="email" class="col-md-3 control-label">{{ "PATIENT_REG.EMAIL" | translate }}</label>
                <div class="col-md-9">
                  <input type="email" class="form-control" id="email" ng-model="patient.email">
                </div>
              </div>

              <div class="form-group">
                <label for="address1" class="col-md-3 control-label">{{ "PATIENT_REG.ADDRESS1" | translate }}</label>
                <div class="col-md-9">
                  <input type="text" class="form-control" id="address1" ng-model="patient.address_1">
                </div>
              </div>

              <div class="form-group">
                <label for="address2" class="col-md-3 control-label">{{ "PATIENT_REG.ADDRESS2" | translate }}</label>
                <div class="col-md-9">
                  <input type="text" class="form-control" id="address2" ng-model="patient.address_2">
                </div>
              </div>

              <div class="form-group">
                <label for="father_name" class="col-md-3 control-label">{{ "PATIENT_REG.FATHER_NAME" | translate }}</label>
                <div class="col-md-9">
                  <input type="text" class="form-control" id="father_name" ng-model="patient.father_name">
                </div>
              </div>

              <div class="form-group">
                <label for="mother_name" class="col-md-3 control-label">{{ "PATIENT_REG.MOTHER_NAME" | translate }}</label>
                <div class="col-md-9">
                  <input type="text" class="form-control" id="mother_name" ng-model="patient.mother_name">
                </div>
              </div>

              <div class="form-group">
                <label for="religion" class="col-md-3 control-label">{{ "PATIENT_REG.RELIGION" | translate }}</label>
                <div class="col-md-9">
                  <input type="text" class="form-control" id="religion" ng-model="patient.religion">
                </div>
              </div>

              <div class="form-group" >
                <label for="marital" class="col-md-3 control-label">{{ "PATIENT_REG.MARITAL_STATUS" | translate }}</label>
                <div class="col-md-9">
                  <input type="text" class="form-control" id="marital" ng-model="patient.marital_status">
                </div>
              </div>

              <div class="form-group">
                <label for="profession" class="col-md-3 control-label">{{ "PATIENT_REG.PROFESSION" | translate }}</label>
                <div class="col-md-9">
                  <input type="text" class="form-control" id="profession" ng-model="patient.profession">
                </div>
              </div>

              <div class="form-group">
                <label for="employer" class="col-md-3 control-label">{{ "PATIENT_REG.EMPLOYER" | translate }}</label>
                <div class="col-md-9">
                  <input type="text" class="form-control" id="employer" ng-model="patient.employer">
                </div>
              </div>

              <div class="form-group">
                <label for="spouse" class="col-md-3 control-label">{{ "PATIENT_REG.SPOUSE" | translate }}</label>
                <div class="col-md-9">
                  <input type="text" class="form-control" id="spouse" ng-model="patient.spouse">
                </div>
              </div>

              <div class="form-group">
                <label for="spouse_profession" class="col-md-3 control-label">{{ "PATIENT_REG.SPOUSE_PROFESSION" | translate }}</label>
                <div class="col-md-9">
                  <input type="text" class="form-control" id="spouse_profession" ng-model="patient.spouse_profession">
                </div>
              </div>

              <div class="form-group">
                <label for="spouse_employer" class="col-md-3 control-label">{{ "PATIENT_REG.SPOUSE_EMPLOYER" | translate }}</label>
                <div class="col-md-9">
                  <input type="text" class="form-control" id="spouse_employer" ng-model="patient.spouse_employer">
                </div>
              </div>

              <div class="form-group">
                <label for="notes" class="col-md-3 control-label">{{ "PATIENT_REG.NOTES" | translate }}</label>
                <div class="col-md-9">
                  <textarea class="form-control" id="notes" ng-model="patient.notes" rows="4"></textarea>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<footer>
  <div class="pull-right">
    <a id="submitPatient" ng-click="registerPatient()" ng-disabled="session.failedSessionValidation || details.$invalid" class="btn btn-success btn-sm">
      <span class="glyphicon glyphicon-pencil"></span> {{ "PATIENT_REG.REGISTER_PATIENT" | translate }}
    </a>
  </div>
</footer>
