<header>
  {{ "SALE.TITLE" | translate }}
</header>

<section class="top-nav underline">
  <div class="pull-right">
    <a ng-click="toggleTablock()" class="btn btn-default">
      <span ng-class="{'glyphicon-th': session.tablock===0, 'glyphicon-th-list' : session.tablock===-1}" class="glyphicon"></span> {{(session.tablock==-1) ? ("SALE.TAB_LOCK_LINE" | translate) : ("SALE.TAB_LOCK_ITEM" | translate)}}
    </a>

    <a ng-disabled="!session.recovered" ng-click="selectRecover()" ng-class="{'btn-default' : !session.recovered, 'btn-success': session.recovered}" class="btn">
      <span class="glyphicon glyphicon-refresh"></span> {{ "SALE.RECOVER" | translate}}
    </a>
  </div>
</section>

<div class="content">

  <div class="row">
    <div class="col-xs-12">
      <div find-patient on-search-complete="initialiseSaleDetails"></div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      {{'SALE.CHOOSE' | translate}}
    </div>
    <div class="panel-body">
      <form class="form">
        <div class="form-group">
          <select
            class="col-xs-2 form-bhima"
            ng-model="invoice.service"
            ng-options="serv as serv.name  for serv in model.services.data"
            ng-change="preparDistribution()"
          >
          </select>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
        <div ng-show="invoice.debtor && invoice.service">
          <div class="row">
            <div class="col-xs-12">
              <fieldset>
                <legend> {{ "SALE.SALE" | translate }}
                  <div class="pull-right">
                    <a class="fieldset-util"><span class="glyphicon glyphicon-pencil"></span> {{ "SALE.EDIT_SALE" | translate }} </a>
                  </div>
                </legend>
                <table class=' table-condensed table table-bordered'>
                  <thead>
                    <tr>
                      <th>{{ "COLUMNS.ID" | translate}}</th>
                      <th>{{ "COLUMNS.DATE" | translate}}</th>
                      <th>{{ "COLUMNS.DEBITOR" | translate}}</th>
                      <th>{{ "COLUMNS.NOTE" | translate}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{invoice.displayId}}</td>
                      <td>{{invoice.date}}</td>
                      <td>{{invoice.debtor.name}}</td>
                      <td>{{invoice.note}}</td>
                  </tbody>
                </table>
               </form>
              </fieldset>
            </div>
          </div>

         <!-- FIXME style hacks -->
         <div ng-class="{'alert alert-warning' : invoice.debtor.is_convention || invoice.priceList.length || invoice.debitorCaution >0}">
         <p ng-show="invoice.debitorCaution>0">Caution {{invoice.debitorCaution | currency}}</p>
         <p ng-show="invoice.debtor.is_convention">{{'SALE.PATIENT_COVERED' | translate}} {{invoice.debtor.account_id}}</p>
         <p ng-repeat="charge in invoice.priceList"><b> {{charge.is_discount ? '-' : '+'}} {{charge.value}}% '{{charge.description}}' - {{charge.is_global ? ('SALE.APPLIES_GLOBALLY' | translate) : ('SALE.APPLIES_TO_ITEM' | translate)}}</b></p>
         </div>

         <div class="alert alert-info" ng-if="session.displayRecover">
            {{"SALE.RECOVER_INFO" | translate}}
         </div>

         <div class="row">

            <div class="col-xs-12">
                <div class="pull-right">
                  <a ng-click="addInvoiceItem()" class="fieldset-util"><span class="glyphicon glyphicon-plus"></span> {{ "SALE.ADD_LINE_ITEM" | translate }} </a>
                </div>
                <table class=' table-condensed table'>
                  <thead>
                    <tr>
                      <th>{{ "COLUMNS.ITEM" | translate }}</th>
                      <th>{{ "COLUMNS.DESCRIPTION" | translate }}</th>
                      <th>{{ "COLUMNS.QTY" | translate }}</th>
                      <th>{{ "COLUMNS.UNIT_PRICE" | translate }}</th>
                      <th>{{ "COLUMNS.AMOUNT" | translate }}</th>
                      <th></th>
                    </tr>
                  </thead>

                  <tbody>
                    <!-- FIXME: strange filter -->
                    <tr ng-class="{'incomplete-outline': !invoiceItem.code, 'complete-outline': invoiceItem.code}" ng-repeat="invoiceItem in invoice.items">
                      <td>
                        <input
                        class="form-invoice"
                        type="text"
                        typeahead-template-url="invoiceListItem.html"
                        ng-model="invoiceItem.selectedReference"
                        typeahead="inventoryItem as inventoryItem.code for inventoryItem in inventory | filter:$viewValue | limitTo:8"
                        typeahead-on-select="updateInvoiceItem(invoiceItem, invoiceItem.selectedReference)"
                        placeholder="Search Inventory">
                      </td>

                      <!-- -1 for no tab, 0 to allow -->
                      <td><input ng-show="invoiceItem.isSet" class="form-invoice" disabled value="{{invoiceItem.text}}"></td>
                      <td><input ng-change="cacheQuantity(invoiceItem)" tabindex="{{session.tablock}}" ng-show="invoiceItem.isSet" class="form-invoice" ng-model="invoiceItem.quantity"></td>
                      <td><input tabindex="{{session.tablock}}" ng-show="invoiceItem.isSet" class="form-invoice" ng-model="invoiceItem.price"></td>
                      <td><input tabindex="{{session.tablock}}" ng-show="invoiceItem.isSet" class="form-invoice" disabled value="{{invoiceItem.quantity * invoiceItem.price | currency}}"></td>
                      <td><a ng-click="removeInvoiceItem($index)"><span class="glyphicon glyphicon-trash"></span></a></td>
                    </tr>

                    <!-- Patient groups -->

                    <!-- <tr ng&#45;show="invoice.priceList"> -->
                    <!--   <td><input class="form&#45;invoice" style="color: red;" value="Discount"></td> -->
                    <!--   <td><input class="form&#45;invoice" style="color: red;" value="Patient Group '{{invoice.priceList.name}}'" disabled></td> -->
                    <!--   <td><input class="form&#45;invoice" style="color: red;" value="1" disabled></td> -->
                    <!--   <td><input disabled class="form&#45;invoice" style="color: red;" value="{{invoice.priceList.discount}}"></td> -->
                    <!--   <td colspan="2"><input disabled class="form&#45;invoice" style="color: red;" value="{{&#45;invoice.priceList.discount | currency}}"></td> -->
                    <!-- </tr> -->

                    <tr ng-repeat="listItem in invoice.applyGlobal">
                      <td></td>
                      <td></td>
                      <td><input class="form-invoice" style="font-weight: bold;" value="{{listItem.description}}" disabled></td>
                      <td><input disabled class="form-invoice" style="font-weight: bold;" value="{{listItem.value}}%"></td>
                      <td colspan="2"><input disabled class="form-invoice" style="font-weight: bold;" value="{{listItem.currentValue | currency}}"></td>
                    </tr>

                    <tr>
                      <!-- Style hack -->
                      <td colspan="4" style="margin-right = 50px; text-align: right;"><b> {{ "SALE.TOTAL" | translate }}</b></td>
                      <td colspan="2"><b>{{ calculateTotal().totalToPay | currency }}</b></td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
      </div>
    <!-- </div> -->
    </div>
  </div>
</div>

<section class="bar-bottom">
  <div class="pull-right">
    <a ng-disabled="verifySubmission()" ng-click="submitInvoice()" class="btn btn-default"><span class="glyphicon glyphicon-floppy-open"></span> {{ "SALE.SUBMIT" | translate }}</a>
  </div>
</section>

<script type="text/ng-template" id="debtorListItem.html">
  <a>
    <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
    <span><b>[{{match.model.uuid}}]</b></span>
  </a>
</script>

<script type="text/ng-template" id="invoiceListItem.html">
  <a>
    <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
    <span><i>{{match.model.text}}</i></span>
  </a>
</script>
