<header data-header>
  {{'VERSEMENT.TITLE' | translate}}
</header>

<nav>
  <div class="pull-left">
    <ol class="breadcrumb">
      <li><a href="#/"><span class="glyphicon glyphicon-home"></span></a></li>
      <li><a href="#/cost_center">{{ "VERSEMENT.PARENT" | translate }}</a></li>
      <li class="active">{{ "VERSEMENT.TITLE" | translate }}</li>
    </ol>
  </div>
</nav>

<main>
  <div class="panel panel-default">
    <div class="panel-heading">
      {{'VERSEMENT.CHOOSE' | translate}}
    </div>
    <div class="panel-body">
      <form class="form">
        <div class="form-group">
          <select
            class="col-xs-2 form-bhima"
            ng-model="CenterCtrl.configuration.costCenter"
            ng-options="cc as cc.text for cc in CenterCtrl.cost_centers.data"
            ng-change="CenterCtrl.performChange()">
          </select>
        </div>
      </form>
    </div>
  </div>

  <div class="row">

    <div class="col-xs-6">
      <div class="panel panel-default">
        <div class="panel-heading" style="height: 50px;">
          <span> {{ 'VERSEMENT.AVAILABLE_ACCOUNT' | translate}} {{ CenterCtrl.selected.text }}</span>
          <span class="pull-right">
            <span ng-if="CenterCtrl.state === 'loading'">
              <loading-indicator></loading-indicator>
            </span>
            <button
              ng-disabled="!CenterCtrl.isAssignable()"
              ng-click="CenterCtrl.assign()" 
              ng-if="CenterCtrl.state !== 'loading'"
              class="btn btn-sm btn-default"
              type="submit">
              {{'VERSEMENT.VERSER' | translate}}
            </button>
          </span>
        </div>
        <div class="panel-body versement-header">
          <table class="table table-condensed table-striped">
            <thead>
              <tr>
                <th><input type="checkbox" ng-model="CenterCtrl.checkAvailable.all" ng-change="CenterCtrl.checkAllAvailable()"/></th>
                <th>Account Number</th>
                <th>Account Name</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="account in CenterCtrl.availableAccounts.data">
                <td><input type="checkbox" ng-model="account.checked"/></td>
                <td>{{ account.account_number }}</td>
                <td>{{ account.account_txt }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-xs-6">
      <div class="panel panel-primary">
        <div class="panel-heading" style="height: 50px;">
          {{ 'VERSEMENT.ASSOCIATED_TO' | translate }} <b>{{ CenterCtrl.selectedCostCenter.text }}
            <span ng-if="!CenterCtrl.selectedCostCenter">{{'VERSEMENT.PLEASE_SELECT' | translate}}</span></b>
          <span class="pull-right">
            <button ng-disabled="!CenterCtrl.isRemovable()" class="btn btn-sm btn-default" type="submit" ng-click="CenterCtrl.remove()">
              {{ 'VERSEMENT.REMOVE' | translate }}
            </button>
          </span>
        </div>

        <div class="panel-body versement-header">
          <table class="table table-condensed table-striped">
            <thead>
              <tr>
                <th><input type="checkbox" ng-model="CenterCtrl.checkAssociated.all" ng-change="CenterCtrl.checkAllAssociated()"/></th>
                <th>Account Number</th>
                <th>Account Name</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="associatedAccount in CenterCtrl.associatedAccounts.data">
              <td><input type="checkbox" ng-model="associatedAccount.checked"/></td>
              <td>{{ associatedAccount.account_number }}</td>
              <td>{{ associatedAccount.account_txt }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>
