<link rel="stylesheet" href="partials/cost_center/auxiliairy_center/auxiliairy_analysis_center.css"/>


<header>
  <span>Auxiliairy Analysis center</span>
</header>

<section class="underline">
  <button ng-click="setAction('register')" class="btn btn-sm btn-default">
    <i class="glyphicon glyphicon-file"></i> New Auxiliairy Analysis Center
  </button>
  <div class="pull-right">
    <a href="#/cost_center/" class="capital btn btn-default btn-sm"><span class="glyphicon glyphicon-tag"></span>Cost Center</a>
  </div>
</section>

<div class="content">
  <div class="col-xs-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <span>Registered Auxiliary Analysis Centers</span>
      </div>
      <table class="table table-condensed table-striped">
        <thead>
          <tr><th>Name</th><th>Enterprise</th><th>Action</th></tr>
        </thead>
        <tbody>
          <tr ng-repeat="pc in models.auxiliairy_centers">
            <td>{{pc.text}}</td>

            <td>{{pc.name}}</td>

            <td><button class="btn btn-sm btn-default" ng-disabled="true" ng-click="edit(grp)"><i class="glyphicon glyphicon-pencil"></i></button></td>

            <td><button class="btn btn-sm btn-default" ng-disabled="true" ng-click="remove(grp)"><i class="glyphicon glyphicon-trash"></i></button></td>

            <td><button class="btn btn-sm btn-default" ng-click="setAction('configure', $index)"><i class="glyphicon glyphicon-cog"></i></button></td>


          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-xs-7" ng-switch="action">
    <div ng-switch-default>
      <div class="alert alert-info">
        <b>Auxiliairy Analysis Center Configuration</b>
        <p>
          Auxiliairy Analysis Center is used to contain charges wich are inderects for a product or service .  Use this module to <b>register</b>, <b>modify</b>,
          and <b>remove</b> Auxiliairy analysis center.
        </p>
      </div>
    </div>

    <div ng-switch-when="register">
      <form class="form-horizontal">
        <fieldset>
          <legend>Register Auxiliairy Analysis Center</legend>
    
          <div class="form-group required">
            <label class="col-xs-2 control-label">Text</label>
            <div class="col-xs-10">
              <input class="form-kapok" ng-model="register.text">
            </div>
          </div>
    

          <div class="form-group">
            <label class="col-xs-2 control-label">Note</label>
            <div class="col-xs-10">
              <textarea class="form-control" ng-model="register.note" rows="3">
              </textarea>
            </div>
          </div>

          <input ng-click="saveRegistration()" class="btn btn-sm btn-success" type="submit" value="Save">
          <input ng-click="resetRegistration()" class="btn btn-sm btn-default" type="button" value="Reset Form">

        </fieldset>
      </form>
    </div>


    <div ng-switch-when="modify">
      <form class="form-horizontal">
        <fieldset>
          <legend>Modify a Auxiliairy Analysis Center</legend>
    
          <div class="form-group required">
            <label class="col-xs-2 control-label">Name</label>
            <div class="col-xs-10">
              <input class="form-kapok" ng-model="modify.text">
            </div>
          </div>
    

          <div class="form-group">
            <label class="col-xs-2 control-label">Note</label>
            <div class="col-xs-10">
              <textarea class="form-control" ng-model="modify.note" rows="3">
              </textarea>
            </div>
          </div>

          <input ng-click="saveModification()" class="btn btn-sm btn-success" type="submit" value="Save">
          <input ng-click="resetModification()" class="btn btn-sm btn-default" type="button" value="Reset Form">

        </fieldset>
      </form>
    </div>

    <div ng-switch-when="configure">
      <div class="col-xs-6 panel panel-default">
        <div class="panel-heading">
          <span> Availables Accounts </span>
          <span class="pull-right">
            <button type="submit" ng-click="associate()">Assign</button>
          </span>
        </div>
        <table class="table table-condensed table-striped">
          <thead>
            <tr><th><input type="checkbox" ng-model="acc.all" ng-change="checkAll()" /></th><th>Account Number</th><th>Account Name</th></tr>
          </thead>
          <tbody>
            <tr ng-repeat="account in models.availablesAccounts">
              <td><input type="checkbox" ng-model ="account.checked"/></td>

              <td>{{account.account_number}}</td>

              <td>{{account.account_txt}}</td>
            </tr>
          </tbody>
      </table>
      </div>

      <div class="col-xs-6 panel panel-primary">
        <div class="panel-heading">
        <span> Associeted Accounts To <b>{{selected.text}}</b></span>          
        </div>

        <table class="table table-condensed table-striped">
          <thead>
            <tr><th><input type="checkbox"/></th><th>Account Number</th><th>Account Name</th></tr>
          </thead>
          <tbody>
            <tr ng-repeat="associatedAccount in models.associatedAccounts">
              <td><input type="checkbox"/></td>

              <td>{{associatedAccount.account_number}}</td>

              <td>{{associatedAccount.account_txt}}</td>
            </tr>
          </tbody>
      </table>
      </div>

    </div>    
  </div>
</div>
