<link rel="stylesheet" href="partials/inventory/index.css">
<div class="container inventory">
  <div class="row">
    <div class="col-xs-3 opt-box">
      <div class="opt-header">
        <h3>Stock</h3>
      </div>
      <i class="glyphicon glyphicon-x"></i>
    </div>
    <div class="opt-content">
      <a href="#">
        Stock Entry
      </a>
      <a href="#">
        Stock Exit
      </a>
      <a href="#">
        Purchase Price List
      </a>
      <a href="#">
        Sales Price List
      </a>
      <a href="#">
        Availability
      </a>
    </div>
    <div class="col-xs-3 opt-box">
      <div class="opt-header">
        <h3>Administration</h3>
        <i class="glyphicon glyphicon-x"></i>
      </div>
      <div class="opt-content">
        <a href="#">
          Register a New Item
        </a>
        <a href="#">
          Change Sales Price List
        </a>
        <a href="#">
          Manage Item Types
        </a>
        <a href="#">
          Destinations
        </a>
      </div>
    </div>
    <div class="col-xs-3 opt-box">
      <div class="opt-header">
        <h3>Quick Report</h3>
        <i class="glyphicon glyphicon-x"></i>
      </div>
      <div class="opt-content">
        <a href="#">
          Export Price List
        </a>
        <a href="#">
          Export Inventory
        </a>
        <a href="#">
          Import Inventory
        </a>
        <a href="#">
          Export Stock Analysis
        </a>
      </div>
    </div>
  </div>
</div>
