<header>
  <span>Inventory View</span>
</header>

<section class="top-nav">
  <div class="pull-left" style="padding-right: 5px;">
    <input type="search" class="form-kapok" placeholder="filter inventory items" ng-model="flags.search" size="25">
  </div>
  <div class="pull-left dropdown">
    <button type="button" class="btn dropdown-toggle btn-default"><i class="glyphicon glyphicon-signal"></i> Group By</button>
    <ul class="dropdown-menu">
      <li><a href="" ng-click="groupby.type()">Type</a></li>
      <li><a href="" ng-click="groupby.group()">Group</a></li>
      <li><a href="" ng-click="groupby.unit()">Unit</a></li>
      <li><a href="" ng-click="groupby.consumable()">Consumable/Durable</a></li>
      <li><a href="" ng-click="groupby.price()">Price</a></li>
    </ul>
  </div>
</section>

<div class="content">
  <div class="grid">
    <div id="kpk-inventory-grid" style="max-height: 520px;"></div> 
  </div>
</div>

<section class="bar-bottom">
  <div class="pull-right">
    <a href="#/inventory/register" class="btn btn-default"><i class="glyphicon glyphicon-file"></i> Register Stock</a>
  </div>
</section>
