<header>
<span class="capitalize"> {{ 'SECTOR MANAGER' | translate }}</span>
  </header>

  <section class="top-nav">
    <div class="pull-right">
        <a href="#/location" class="capital btn btn-default btn-sm"><span class="glaphyicon glaphyicon-tag">Location Manager</span></a>
    </div>
    <div class="pull-left">
      <button class="btn btn-default btn-sm" ng-click="setOp('Add')">Add New Sector</button>
    </div>
  </section>

<article class="content">
  <div class="row">
    <div class="col-xs-4">
      <div class="panel panel-default" style="max-height: 525px;">
        <div class="panel-heading">
          <span>Registered Sector</span>
        </div>
        <div class="panel-body sector-size">
          <table class="table table-striped table-condensed">
          <thead>
            <tr>
              <th>Name</th>
              <th>Province</th>
              <th colspan="2" class="capital">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="sector in model.sector.data">
              <td>{{sector.sector}}</td>
              <td>{{sector.province}}</td>
              <td ng-click="setOp('Edit', sector)">
                <button class="btn btn-sm btn-default"><i class="glyphicon glyphicon-pencil"></i></button>
              </td>
              <td ng-click="removeSector(sector)">
                <button class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-trash"></i></button>
              </td>
            </tr>
          </tbody>
      </table>
    </div>

      </div>
    </div>

    <div class="col-xs-6" ng-switch="op">
      <div ng-switch-default>
         <div class="alert alert-info">                                                                          
             <b>Sector  Manager Configuration </b>                                                        
             <p>This module will help you to manage sectors, at the left you see availvables sectors and their locations. ⇉
             use this module to <b>create</b>, <b>modify</b> and <b>remove</b> sector.                                                        
             </p>                                                                                                  
         </div>  
       </div>

       <div ng-switch-when="Add">
         
           <form class="form-horizontal">                                                                          
              <fieldset>                                                                                            
                <legend>Register a Sector</legend>                                                           
                <div class="form-group">
                  <label class="col-xs-2"> Province</label>
                  <div class="col-xs-10">
                    <select
                      required
                      class="form-kapok"
                      name="provincename"
                      id="provinceID"
                      ng-model="add.province_id"
                      ng-options="pro.id as pro.name for pro in model.province.data"
                    >
                      <option value="" disable="disabled">-- select A Province -- </option>
                    </select>
                  </div>
                </div>

                <div class="form-group">                                                                   
                   <label class="col-xs-2 control-label">Sector Name</label>                                                
                   <div class="col-xs-10">                                                                           
                      <input class="form-kapok" ng-model="add.name" required>                                            
                   </div>                                                                                            
                </div>     
              </fieldset>
              <button class="btn btn-default btn-success" ng-click="addSector(add)" ng-disabled="form.$invalid " type="submit">Add</button>
              <button class="btn btn-default btn-sm"  type="reset">New Form</button>

            </form>
          </div>

      <div ng-switch-when="Edit">
         
           <form class="form-horizontal">                                                                          
              <fieldset>                                                                                            
                <legend>Edit a Sector</legend>                                                           
                <div class="form-group">
                  <label class="col-xs-2"> Province</label>
                  <div class="col-xs-10">
                    <select
                      required
                      class="form-kapok"
                      name="provincename"
                      id="provinceID"
                      ng-model="sector.province_id"
                      ng-options="pro.id as pro.name for pro in model.province.data"
                    >
                      <option value="" disable="disabled">-- select A Province -- </option>
                    </select>
                  </div>
                </div>

                <div class="form-group">                                                                   
                   <label class="col-xs-2 control-label">Sector Name</label>                                                
                   <div class="col-xs-10">                                                                           
                      <input class="form-kapok" ng-model="sector.sector" required>                                            
                   </div>                                                                                            
                </div>     
              </fieldset>
              <button class="btn btn-default btn-success" ng-click="editSector(sector)" ng-disabled="form.$invalid " type="submit">Add</button>
              <button class="btn btn-default btn-sm"  type="reset">New Form</button>

            </form>
       </div>

  </div>
  </article>


