<!-- Consumption template -->
<div ng-controller="receipt.consumption">
  <div class="row customer-details">
    <div class="col-xs-12">

      <small style="float: right; color: grey; font-size: 8px">{{ invoice.uuid }}</small>
      <h4 class="invoice-header">{{ 'INVOICE.PROOF_OF_PATIENT_CONSUMPTION' | translate }}</h4>
    </div>
  </div>
  <div class="row customer-details">
    <!-- Temporary style; needs official markup and CSS -->
    <div class="col-xs-4">
      <span>
        <b>{{project.enterprise_name}}</b>
      </span>
      <br>
      {{project.village}}
      <br>
      <!-- hah -->
      {{ project.po_box || 'B.P. 205'}}
      <br>
      {{project.sector}}
      <br>
      <i>TEL</i> {{project.phone}}
      <br>
      <i>FAX</i> {{project.email}}

    </div>
    <div class="col-xs-4">
      <b>{{recipient.first_name}} {{recipient.last_name}}</b>
      <br>
      <!-- Debtor group name -->
      {{recipient.name}}
      <br>
      <br>
      <i>{{ 'INVOICE.DATE_REGISTRATION' | translate }}</i>
      <br>
      {{recipient.registration_date | date}}
    </div>
    <div class="col-xs-4">
      <i>{{'INVOICE.DOCUMENT_REF' | translate}}</i> <b>{{invoice.hr_id}}</b>
      <br>
      <i>{{'INVOICE.CLIENT_ID' | translate}}</i> <b>{{recipient.hr_id}}</b>
      <br>
      <i>{{'INVOICE.DEPOT_REF' | translate}}</i> <b>{{depot.reference}}</b>
      <br>
      <i>{{ 'INVOICE.DATE_RECEIPT' | translate }}</i>
      <br>
      {{invoice.invoice_date | date}}
      <br>
    </div>

  </div>
  <div class="row">
    <div class="col-xs-12">
      <table class="invoiceTable">
        <thead>
          <tr>
            <th>{{'COLUMNS.DESCRIPTION' | translate}}</th>
            <th>{{'COLUMNS.CODE' | translate}}</th>
            <th>{{'COLUMNS.DEPOT' | translate}}</th>
            <th>{{'COLUMNS.LOT_NUMBER' | translate}}</th>
            <th>{{'COLUMNS.QUANTITY' | translate}}</th>
          </tr>
        </thead>
        <tbody class="items">
          <tr ng-repeat="item in consumption.data | orderBy : 'code'">
            <td>'{{ item.text }}'</td>
            <td>{{ item.code }}</td>
            <td>[{{depot.reference}}] {{ depot.text }}</td>
            <td>{{ item.lot_number }}</td>
            <td>{{ item.quantity }}</td>
          </tr>
        </tbody>
      </table>

      <div class="signatures">
        <h5>{{ "UTIL.SIGNATURES" | translate }}</h5>

        <div class="signature-box">
          <label>{{ "SIGNATURES.CUSTOMER" | translate }}</label> <label style="float: right;">{{ "UTIL.DATE" | translate }}</label>
          <div class="signature-line"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Consumption template -->
