<!-- distribution.html template -->
<div class="row customer-details">
  <div class="col-xs-12">
    <small style="float: right; color: grey; font-size: 8px">{{ invoice.uuid }}</small>
    <h4 class="invoice-header">{{ 'INVOICE.DISTRIBUTION_SERVICE' | translate }}</h4>
  </div>
</div>

<div class="row customer-details">
  <!-- Temporary style; needs official markup and CSS -->
  <div class="col-xs-4">
    <span>
      <b>{{invoice.enterprise_name}}</b>
    </span>
    <br>
    {{invoice.village}}
    <br>
    <!-- hah -->
    {{ invoice.postal || 'B.P. 205'}}
    <br>
    {{invoice.sector}}
    <br>
    <i>TEL</i> {{invoice.phone}}
    <br>
    <i>FAX</i> {{invoice.email}}
  </div>

  <div class="col-xs-4">
    <b>{{invoice.name}} </b>
    <br>
    <i>{{'INVOICE.DATE_REGISTRATION' | translate }}</i>
    <br>
    {{invoice.date | date}}
  </div>

  <div class="col-xs-4">
    <i>{{ 'INVOICE.DATE_RECEIPT' | translate }}</i>
    <br>
    {{invoice.date | date}}
    <br>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <table class="invoiceTable">
      <thead>
        <tr>
          <th>{{'COLUMNS.MEDECINE' | translate}}</th>
          <th>{{'COLUMNS.QTY' | translate}}</th>
          <th>{{'COLUMNS.UNIT_PRICE' | translate}}</th>
          <th>{{'COLUMNS.COST' | translate}}</th>
        </tr>
      </thead>
      <tbody class="items">
        <tr ng-repeat="rec in records">
          <td>{{ rec.text }}</td>
          <td>{{ rec.quantity}}</td>
          <td>{{ rec.purchase_price | currency }}</td>
          <td>{{ rec.quantity * rec.purchase_price | currency}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    <div class="pull-right">
      <b>{{"SIGNATURES.RESPONSABLE" | translate}}</b>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="pull-left">
     <b>{{"SIGNATURES.BENEFICIARY" | translate}}</b>
    </div>
  </div>
</div>
<!-- end distribution.html template  -->
