<!-- Purchase template -->
<div ng-controller="receipt.purchase">
  <div class="row customer-details">
    <div class="col-xs-12">
      <small style="float: right; color: grey; font-size: 8px">{{ model.common.purchases[0].uuid }}</small>
      <h4 class="invoice-header">{{ 'INVOICE.PURCHASE_ORDER' | translate }}</h4>
    </div>
  </div>

  <div class="row customer-details">
    <div class="col-xs-4">
      <span>
        <b>{{model.common.enterprise.name}}</b>
      </span>
      <br>
      {{model.common.location.name}}
      <br>
      {{ model.common.enterprise.po_box || 'B.P. 205'}}
      <br>
      {{model.common.location.sector_name}}
      <br>
      <i>TEL. : </i> {{model.common.enterprise.phone}}
      <br>
      <i>EMAIL : </i> {{model.common.enterprise.email}}
    </div>
    <div class="col-xs-4">
      <i>{{ "INVOICE.PURCHASE_RECIPIENT" | translate }}</i><br>
      <span><b>{{model.common.supplier[0].name}}</b></span><br>
      <br>
      <i>TEL. : </i> {{model.common.supplier[0].phone}}<br>
      <i>EMAIL : </i> {{model.common.supplier[0].email}}
    </div>
    <div class="col-xs-4">
      <i>{{'INVOICE.PURCHASE_ID' | translate}}</i> <b>{{ model.common.enterprise.abbr + model.common.purchases[0].reference}}</b>
      <br>
      <i>{{ 'INVOICE.PURCHASE_DATE' | translate }}</i> <b>{{ model.common.purchases[0].purchase_date | date }}</b>
      <br>
      <i>{{ 'INVOICE.DATE_RECEIPT' | translate}}</i> <b>{{ timestamp | date }}</b>
      <br>
      <div ng-if="model.common.purchases[0].is_direct === 0">
        <i>{{ 'INVOICE.EMPLOYEE_CONTACT' | translate }}</i><br>
        <b>{{model.common.purchases[0].prenom + ' ' + model.common.purchases[0].name + ' '+  model.common.purchases[0].postnom}}</b>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <table class="invoiceTable">
        <thead>
          <tr>
            <th>{{'COLUMNS.BHIMA_STOCK_CODE' | translate}}</th>
            <th>{{'INVOICE.DESCRIPTION' | translate}}</th>
            <th>{{'COLUMNS.QUANTITY' | translate}}</th>
            <th>{{'COLUMNS.PURCHASE_PRICE' | translate}}</th>
            <th>{{'INVOICE.AMOUNT' | translate}}</th>
          </tr>
        </thead>
        <tbody class="items">
          <tr ng-repeat="item in model.common.purchases | orderBy : 'code'">
            <td>{{ item.code }}</td>
            <td>{{ item.text }}</td>
            <td>{{ item.quantity }}</td>

            <td><span ng-bind-html="item.unit_price | intlcurrency:item.currency_id"></span></td>
            <td><span ng-bind-html="item.total | intlcurrency:item.currency_id"></span></td>
          </tr>
        </tbody>
        <tbody class="totals">
          <tr>
            <td colspan="4" class="no-border">{{'INVOICE.PURCHASE_TOTAL' | translate}}</td>
            <td>
              <span ng-bind-html="model.common.purchases[0].cost | intlcurrency:model.common.purchases[0].currency_id"></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- End purchase template -->
