<div ng-controller="receipt.generic_income">
  <div class="row customer-details">
    <div class="col-xs-12">
      <small style="float: right; color: grey; font-size: 8px">{{ model.common.InvoiceId }}</small>
      <h4 class="invoice-header">{{ 'INVOICE.GENERIC_INCOME' | translate }}</h4>
    </div>
  </div>

  <div class="row customer-details">
    <div class="col-xs-6">
      <span>
        <b>{{model.common.enterprise.name}}</b>
      </span>
      <br>
      {{model.common.location.name}}
      <br>
      {{ model.common.enterprise.postal || 'B.P. 205'}}
      <br>
      {{model.common.location.sector_name}}
      <br>
      <i>TEL</i> {{model.common.enterprise.phone}}
      <br>
      <i>FAX</i> {{model.common.enterprise.email}}
    </div>

    <div class="col-xs-6">
      <b>{{model.genericIncome.account_txt}} </b>
      <br>
      <i>{{ 'INVOICE.DATE_REGISTRATION' | translate }}</i>
      <br>
      {{model.genericIncome.date | date}}
    </div>          
  </div>

  <div class="row">
    <div class="col-xs-12">
      <table class="invoiceTable">
        <thead>
          <tr>
            <th>{{ 'COLUMNS.REFERENCE' | translate }}</th>
            <th>{{ 'INVOICE.DESCRIPTION' | translate}}</th>
            <th>{{ 'COLUMNS.COST' | translate }}</th>
            <th>{{ 'COLUMNS.BY' | translate }}</th>
          </tr>
        </thead>
        <tbody class="items">
          <tr>
            <td>{{ model.genericIncome.reference }}</td>
            <td>{{ model.genericIncome.description }}</td>
            <td><span ng-bind-html="model.genericIncome.cost | intlcurrency:model.genericIncome.currency_id"></span></td>
            <td>{{model.genericIncome.first + '  ' + model.genericIncome.last}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-4">
      <div>
        <b>{{"INVOICE.SIGN_HEADER_PRI" | translate}}</b>
      </div>
    </div>
    <div class="col-xs-4">
      <div>
       <b>{{"SIGNATURES.THIRD" | translate}}</b>
      </div>
    </div>
    <div class="col-xs-4">
      <div>
       <b>{{"SIGNATURES.CHIEF_ACCOUNTANT" | translate}}</b>
      </div>
    </div>  
  </div>
</div>
