<!-- Patient Invoice template -->
<div ng-controller="receipt.sale">
<div class="row customer-details">
  <div class="col-xs-12">

    <small style="float: right; color: grey; font-size: 8px">{{ model.sale.invoice.uuid }}</small>
    <h4 class="invoice-header">{{ 'INVOICE.PATIENT_INVOICE' | translate }}</h4>
  </div>
</div>

<div class="row customer-details">
  <!-- Temporary style; needs official markup and CSS -->
  <div class="col-xs-4">
    <span>
      <b>{{model.common.enterprise.name}}</b>
    </span>
    <br>
    {{model.common.location.name}}
    <br>
    <!-- hah -->
    {{ model.common.enterprise.postal || 'B.P. 205'}}
    <br>
    {{model.common.location.sector_name}}
    <br>
    <i>TEL</i> {{model.common.enterprise.phone}}
    <br>
    <i>MAIL</i> {{model.common.enterprise.email}}
  </div>
  <div class="col-xs-4">
    <b>{{model.sale.recipient.first_name}} {{model.sale.recipient.last_name}}</b>
    <br>
    <!-- Debtor group name -->
    {{model.sale.recipient.name}}
    <br>
    <br>
    <i>{{ 'INVOICE.DATE_REGISTRATION' | translate }}</i>
    <br>
    {{model.sale.recipient.registration_date | date}}
  </div>
  <div class="col-xs-4">
    <i>{{'INVOICE.INVOICE_ID' | translate}}</i> <b>{{model.sale.invoice.hr_id}}</b>
    <br>
    <i>{{'INVOICE.CLIENT_ID' | translate}}</i> <b>{{model.sale.recipient.hr_id}}</b>
    <br>
    <br>
    <i>{{ 'INVOICE.DATE_RECEIPT' | translate }}</i>
    <br>
    {{model.sale.invoice.invoice_date | date}}
    <br>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">

    <table class="invoiceTable">
      <thead>
        <tr>
          <th>{{'COLUMNS.CODE' | translate}}</th>
          <th>{{'INVOICE.DESCRIPTION' | translate}}</th>
          <th>{{'COLUMNS.QUANTITY' | translate}}</th>
          <th>{{'INVOICE.TRANSACTION_PRICE' | translate}}</th>
          <th>{{'INVOICE.AMOUNT' | translate}}</th>
        </tr>
      </thead>
      <tbody class="items">
        <tr ng-repeat="item in model.sale.allData['invoiceItem'].data | orderBy : 'code'">
          <td>{{ item.code }}</td>
          <td>{{ item.text }}</td>
          <td>{{ item.quantity }}</td>

          <td><span ng-bind-html="item.localeTransaction | intlcurrency:session.currentCurrency.id"></span></td>
          <td><span ng-bind-html="item.localeCost | intlcurrency:session.currentCurrency.id"></span></td>
        </tr>
      </tbody>
      <tbody class="totals">
        <tr><td colspan="4" class="no-border">{{'INVOICE.TOTAL' | translate}}</td><td><span ng-bind-html="model.sale.invoice.localeCost | intlcurrency:model.sale.currentCurrency.id"></span></td></tr>
        <tr><td colspan="4" class="no-border">{{'INVOICE.AMOUNT_RECEIVED' | translate}}</td><td><span ng-bind-html="model.sale.invoice.ledger.localeCredit | intlcurrency:model.sale.currentCurrency.id"></span></td></tr>
        <tr><td colspan="4" class="no-border">{{'INVOICE.BALANCE_DUE' | translate}}</td><td><span ng-bind-html="model.sale.invoice.localeBalance | intlcurrency:model.sale.currentCurrency.id"></span></td></tr>
      </tbody>

    </table>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    <div class="pull-right">
      <b>{{"INVOICE.SIGN_HEADER_BILLING" | translate}}</b>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="pull-left">
     <b>{{"INVOICE.SIGN_CLIENT" | translate}}</b>
    </div>
  </div>
</div>
</div>
<!-- End Patient Invoice template -->
