<!-- transfer template -->
<div class="row customer-details">
  <div class="col-xs-12">
    <h4 class="invoice-header">{{'INVOICE.TRANSFERT' | translate}}</h4>
  </div>
</div>

<div class="row customer-details">
  <div class="col-xs-4">
    <span>
      <b>{{invoice.enterprise_name}}</b>
    </span>
    <br>
    {{invoice.village}}
    <br>
    <!-- hah -->
    {{ invoice.postal || 'B.P. 205'}}
    <br>
    {{invoice.sector}}
    <br>
    <i>TEL</i> {{invoice.phone}}
    <br>
    <i>FAX</i> {{invoice.email}}
  </div>

  <div class="col-xs-4">

    <i>{{ 'INVOICE.BY' | translate }}</i>
    <br>
    {{transfert.first}} {{transfert.last}}
    <br>
    <i>{{ 'INVOICE.DATE' | translate }}</i>
    <br>
    {{transfert.date | date}}
  </div>

  <div class="col-xs-4">
    <i>{{ 'INVOICE.DATE_RECEIPT' | translate }}</i>
    <br>
    {{transfert.date | date}}
    <br>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <table class="invoiceTable">
      <thead>
        <tr><th>{{'INVOICE.DESIGNATION' | translate}}</th>
        <th>{{'INVOICE.AMOUNT' | translate}}</th></tr>
      </thead>
      <tbody class="items">
        <tr>
          <td>{{'INVOICE.LIBELLE_TRANSFERT_FROM' | translate}}{{transfert.account_txt}} {{'INVOICE.TO' | translate}} {{'INVOICE.PCASH' | translate}}</td>
          <td><span ng-bind-html="transfert.cost  | intlcurrency:transfert.currency_id"></span></td>
        </tr>
      </tbody>
      <tbody class="totals">
        <tr><td colspan="1" class="no-border">{{'INVOICE.TOTAL_TRANSFERT' | translate}}</td><td><span ng-bind-html="transfert.cost  | intlcurrency:transfert.currency_id"></span></td></tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-xs-6">
    <div class="pull-right">
      <b>{{"INVOICE.SIGN_HEADER_PRI" | translate}}</b>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="pull-left">
     <b>{{"INVOICE.SIGN_HEADER_AUXI" | translate}}</b>
    </div>
  </div>
</div>
<!-- End transfer template -->
