<link rel="stylesheet" href="partials/cost_center/assigning/assigning.css"/>


<header>
  <span>Assigning</span>
</header>

<section class="underline">
  <div class="pull-right">

     <a href="#/cost_center/" class="capital btn btn-default btn-sm"><span class="glyphicon glyphicon-tag"></span>Cost Center</a>

  </div>
</section>

<div class="content">
	<div class="row">
		<div class="col-xs-3">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<span> Select An Auxiliairy Center Here</span>
				</div>
				<div class="panel-body principal-header">
					<table class="table table-condensed table-striped">
				        <thead>
				          <tr><th>Name</th></tr>
				        </thead>
				        <tbody>
				          <tr ng-repeat="auxi in auxiliairy_centers" ng-click="setAction('clicked', $index)">
				            <td>{{auxi.text}}</td>
				          </tr>
				        </tbody>
	      			</table>
      			</div>

				
			</div>		
		</div>

		<div class="col-xs-3" ng-switch="action">
			<div ng-switch-default>
		      <div class="alert alert-info">
		        <b>Information</b>
		        <p>
		          There is not auxiliairy center selected, Selected an auxiliary center at left to do assigning.
		        </p>
		      </div>
    		</div>


			<div ng-switch-when="clicked">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<span> Select Principal Center</span>
						<span class="pull-right">
							<button type="submit" ng-click="start()">Start</button>
						</span>

					</div>
					<table class="table table-condensed table-striped">
				        <thead>
				          <tr><th><input type="checkbox" ng-model="selection.all" ng-change="checkAll()"/></th><th>Name</th></tr>
				        </thead>
				        <tbody>
				          <tr ng-repeat="princ in principal_centers">
				          	<td><input type="checkbox" ng-model="princ.checked"/></td>
				            <td>{{princ.text}}</td>
				          </tr>
				        </tbody>
	      			</table>				
				</div>
			</div>		
		</div>

		<div class="col-xs-6" ng-switch="go">
			<div ng-switch-when="ok">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<span>
						 	Auxiliairy Center : <b>{{auxiliairy_center_selected.text}}</b>
						 	Cost : <b>{{auxiliairy_center_selected.cost | currency}}</b>
						</span>							
						<span class="pull-right">							
							<button type="submit" ng-click="apply()">Apply</button>
						</span>

					</div>
					<div class="panel-body principal-header">
						<span class="pull-right">
							<select 
						 		ng-model="critere.critere_id" 
						 		ng-options="critere.id as critere.critere_txt for critere in models.criteres">
						 		<option 
						 		value="" 
						 		disabled="true">
						 		-- choose Criteria --
						 		</option>
						 	</select>
						</span><br/>

		                <table class="table table-condensed table-bordered">
			              <thead>
			                <tr>
				                <th>Principals Centers</th><th>Initial Cost</th>
				                <th>Critere Value</th><th>Allocated Cost</th>
				                <th>Total Cost</th>
			                </tr>
			              </thead>
			              <tbody>			 	

			                <tr ng-repeat="pcs in principal_centers_selected">
			                  <td>{{pcs.text}}</td>
			                  <td>{{pcs.initialCost}}</td>
			                  <td><input type="number" ng-model="pcs.criteriaValue" ng-change="calculate()"></td>
			                  <td>{{pcs.allocatedCost}}</td>
			                  <td>{{pcs.totalCost}}</td>
			                </tr>			                
			              </tbody>
		            	</table>
            		</div>

				</div>
				
			</div>			
		</div>

	</div>	
</div>




