<div id="welcome">
<h2><img src="assets/icon.png" width="100" height="100"></h2>
<h1>{{ "WELCOME.IMA" | translate }}</h1>
<h3>
  <strong>{{ "WELCOME.HMS" | translate }}</strong> - {{ "WELCOME.HMS_LONG" | translate }} 
</h3>
</div>
<hr>
<div class="container">
  <div class="row">
    <div class="panel panel-default panel-welcome" ng-repeat="item in unit.data">
      <div class="panel-heading">
        <strong>
          <i class="glyphicon glyphicon-folder-close"></i> {{ item.key | translate }}
        </strong>
      </div>
      <div class="panel-body">
        <ul>
          <li ng-repeat="child in item.children">
            <a ng-href="#{{child.path}}">
              <i class="glyphicon glyphicon-file"></i> {{ child.key | translate }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>