<link rel="stylesheet" type="text/css" href="partials/user_permission/permissions.css"/>
<header>
	<span>User Permission Management</span>
</header>

<section class="underline">
	<div class="pull-right">
		<button ng-click="cancel()" class="btn btn-sm btn-default" ng-disabled="form.$invalid">Cancel</button>
		<button ng-click="delete()" class="btn btn-sm btn-danger" ng-disabled="form.$invalid">Delete User</button>
		<button ng-click="valider()" class="btn btn-sm btn-default" ng-disabled="form.$invalid">Save User</button>
	</div>
</section>

<div class="content">
	<div class="row">
		<div class="col-xs-4" id="divformID">
			<div class="panel panel-primary">
				<div class="panel-body">
					<form role="form" name="form">
						<div class="form-group">
							<label for="first">First Name:</label>
							<input ng-model="selected.first" id="first" class="form-control" placeholder="First Name" required>
						</div>

						<div class="form-group">
							<label for="last">Last Name:</label>
							<input ng-model="selected.last" id="last" class="form-control" placeholder="Last Name" required>
						</div>

						<div class="form-group">
							<label for="email">Email:</label>
							<input ng-model="selected.email" id="email" class="form-control" placeholder="Email" required>
						</div>
						<small id="bademail" ng-show="showbademail"><font color="red">email incorrect</font></small>

						<div class="form-group">
							<label for="username">User Name:</label>
							<input ng-model="selected.username" id="username" class="form-control" placeholder="User Name" required>
						</div>
						<small id="badusername" ng-show="showbadusername"><font color="red">username already existe</font></small>

						<div class="form-group">
							<label for="pw">Password:</label>
							<input type ="password" ng-model="selected.password" id="pw" class="form-control" placeholder="Password">
						</div>

						<div class="form-group">
							<label for="cpw">Confirm Password:</label>
							<input id="cpw" ng-model = "confirmpw" type="password" class="form-control" placeholder="Confirm your password">
						</div>
						<small id="badpassword" ng-show="showbadpassword"><font color="red">password incorrect</font></small>
					</form>
				</div>
			</div>
		</div>

		<div class="col-xs-8" id="divuserID">
			<div class="panel panel-default">
				<div class="panel-heading"> 
					Registered Users
				</div>
				<div class="table-responsive">
					<table class="table table-bordered  table-striped table-hover">
						<thead>
							<tr><th>First Name</th><th>User Name</th><th>Email</th></tr>
						</thead>
						<tbody>
							<!--This is populated with angular-->
							<tr ng-click="select($index)" ng-repeat="user in model">
								<td>{{user.first}}</td>
								<td>{{user.username}}</td>
								<td>{{user.email}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class ="col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					Check units which user <b>{{selected.first}}</b> will access
				</div>

				<div class="panel-body"  id="divroleID">
			<div class="table-responsive">
				<table class="table table-bordered table-condensed">
					<tr>
						<td>
							<label for="tous">Tous</label>
							<input type="checkbox" id="tous" ng-model = "chkTous" ng-click="changeAll()">
						</td>
						<td ng-repeat="role in roles" id='{{role.id}}'>
							<div ng-repeat="unit in getUnits(role.id)" class="container">
								<div class="checkbox">
									<label>
										{{unit.name}}
										<input type="checkbox" id="{{unit.id}}" ng-model = "unit.chkUnitModel" ng-click = "manageClickUnit(unit.id)">
									</label>
								</div>
							</div>
						</td>
					</tr>
				</table>
			</div>
		</div>
		</div>
	</div>
</div>
</div>