<header>
  Cash Payment
</header>

<section class="underline">
  <div style="position: absolute; right: 5px;">
    <button class="btn btn-sm btn-primary dropdown-toggle">
      {{ formatTitle(data.box) }}
      <!-- TODO make this a caret -->
      <i class="glyphicon glyphicon-chevron-down"></i>
    </button> 
    <ul class="dropdown-menu pull-right">
      <li ng-repeat="box in models.currency_account">
        <a href="" ng-click="data.box=box"> {{ formatTitle(box) }} </a>
        </li>
    </ul>
  </div>
</section>

<div class="content">

  <div class="row">
    <!-- patient search panel -->
    <div class="col-xs-5">
      <div find-patient on-search-complete="loadInvoices"></div>
    </div>


    <!-- search panel -->
    <div class="col-xs-6">
      <div class="panel panel-info">
        <div class="panel-heading">
          <span>Invoice &amp Patient Search</span>
        </div>
      <table class="table table-condensed table-bordered">
        <thead>
          <tr><th>Invoice ID</th><th>Debitor</th><th>Balance</th><th>Date</th></tr>
        </thead>
        <tbody>
          <tr ng-repeat="invoice in models.ledger" ng-click="add($index)">
            <td>{{invoice.inv_po_id}}</td>
            <td>{{invoice.debitor}}</td>
            <td ng-bind-html="invoice.locale | intlcurrency:data.box.currency_id"></td>
            <td>{{invoice.trans_date | date}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

    <div class="col-xs-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <span>Payment | <small>{{data.debitor}}</small></span>
        </div>
        <table class="table table-condensed">
          <thead>
            <tr>
              <td><label>Invoice Number</label></td>
              <td><label>Date</label></td>
              <td><label>Balance</label></td>
              <td style="width: 20%;"><label>Paid</label></td>
              <td><label>Remaining</label></td>
              <td style="width:5%;"></td>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="invoice in data.paying">
              <td>{{invoice.inv_po_id}}</td>
              <td>{{invoice.trans_date | date }}</td>
              <td ng-bind-html="invoice.locale | intlcurrency:data.box.currency_id"></td>
              <td><input type="number" class="form-kapok" ng-class="{'has-error' : invoice.allocated > data.payment}" ng-model="invoice.allocated" required></td>
              <td ng-bind-html="invoice.remaining | intlcurrency:data.box.currency_id"></td>
              <td><button class="btn btn-sm btn-danger" ng-click="remove($index)"><i class="glyphicon glyphicon-trash"></i></button></td>
            </tr>
          </tbody>
        </table>
        <hr style="padding:0;margin:0;" />
        <div class="panel-body">
          <label>Total Due: <span ng-bind-html="data.total | intlcurrency:data.box.currency_id"></span></label>
          <label class="pull-right" ng-show="data.excess > 0">Overdue: <span ng-bind-html="data.excess | intlcurrency:data.box.currency_id"></span></label>
          <div class="input-group">
            <input type="number" ng-model="data.payment"  class="form-kapok" min="0">
            <span class="input-group-addon">
              {{ data.box.symbol }}
            </span>
          </div>
        </div>
        <div class="panel-footer">
          <button type="button" class="btn btn-success btn-sm" ng-click="pay()" ng-disabled="!data.payment">
            Pay Invoice(s)
          </button>
          <button type="button" class="btn btn-default btn-sm" ng-click="clearSelection()">
            Clear Selection
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="bar-bottom">
  <div class="pull-right">
    <button class="btn btn-default"><i class="glyphicon glyphicon-list"></i> Posting Journal</button>
  </div>
</section>


<script type="text/ng-template" id="debtorListItem.html">
  <a>
    <span><b>[{{match.model.debitor_id}}]</b></span>
    <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
  </a>
</script>
