<header>
  <h3 style="margin: 0">Cash Box <small> {{ formatTitle(data.box) }}</small></h3>
</header>

<section class="underline">
  <div class="pull-left">
    <input type="text" ng-model="debitor" typeahead="debitor as debitor.first_name+' '+debitor.last_name for debitor in models.debitors | filter:$viewValue | limitTo:8" placeholder="Find a Debitor" typeahead-on-select="loadDebitor(debitor.id)" class="form-kapok" size="25">
  </div>
  <div style="position: absolute; right: 5px;">
    <button class="btn btn-sm btn-primary dropdown-toggle">{{ formatTitle(data.box) }}<i class="glyphicon glyphicon-chevron-down"></i></button> <!-- TODO make this a caret -->
    <ul class="dropdown-menu pull-right">
      <li ng-repeat="box in models.currency_account"><a href="" ng-click="data.box=box"> {{ formatTitle(box) }} </a></li>
    </ul>
  </div>
</section>

<div class="content">
  <!-- search panel -->
  <div class="row">
    <div class="col-xs-6">
      <div class="panel panel-info">
        <div class="panel-heading">
          <span>Invoice &amp Patient Search</span>
        </div>
      <table class="table table-condensed table-bordered">
        <thead>
          <tr><th>Invoice ID</th><th>Debitor</th><th>Balance</th><th>Date</th></tr>
        </thead>
        <tbody>
          <tr ng-repeat="invoice in models.ledger" ng-click="add($index)">
            <td>{{invoice.inv_po_id}}</td>
            <td>{{invoice.debitor}}</td>
            <td ng-bind-html="invoice.locale | intlcurrency:data.box.currency_id"></td>
            <td>{{invoice.trans_date | date}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

    <div class="col-xs-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <span>Payment | <small>{{data.debitor}}</small></span>
        </div>
        <table class="table table-condensed">
          <thead>
            <tr>
              <td><label>Invoice Number</label></td>
              <td><label>Date</label></td>
              <td><label>Balance</label></td>
              <td style="width: 20%;"><label>Paid</label></td>
              <td><label>Remaining</label></td>
              <td style="width:10px;"></td>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="invoice in data.paying">
              <td>{{invoice.inv_po_id}}</td>
              <td>{{invoice.trans_date | date }}</td>
              <td ng-bind-html="invoice.locale | intlcurrency:data.box.currency_id"></td>
              <td><input type="number" class="form-kapok" ng-class="{'has-error' : invoice.allocated > data.payment}" ng-model="invoice.allocated" required></td>
              <td ng-bind-html="invoice.remaining | intlcurrency:data.box.currency_id"></td>
              <td ng-click="remove($index)"><i class="glyphicon glyphicon-remove"></i></td>
            </tr>
          </tbody>
        </table>
        <hr style="padding:0;margin:0;" />
        <div class="panel-body">
          <label>Total Due: <span ng-bind-html="data.total | intlcurrency:data.box.currency_id"></span></label>
          <label class="pull-right" ng-show="data.excess > 0">Overdue: <span ng-bind-html="data.excess | intlcurrency:data.box.currency_id"></span></label>
          <div class="input-group">
            <input type="number" ng-model="data.payment"  class="form-kapok" min="0">
            <span class="input-group-addon">
              {{ data.box.symbol }}
            </span>
          </div>
        </div>
        <div class="panel-footer">
          <button type="button" class="btn btn-success btn-sm" ng-click="pay()" ng-disabled="!data.payment">
            Pay Invoice(s)
          </button>
          <button type="button" class="btn btn-default btn-sm" ng-click="clearSelection()">
            Clear Selection
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="bar-bottom">
  <div class="pull-right">
    <button class="btn btn-default"><i class="glyphicon glyphicon-list"></i> Posting Journal</button>
  </div>
</section>
