<header data-header>
  {{ "STOCK.ENTRY.REVIEW" | translate }}
</header>

<div class="report">
  <div class="reportBody">
    <div class="reportFrame">
      <h4>{{ "STOCK.ENTRY.ENTRY_MANIFEST" | translate }} <small> {{ session.cfg.document_id }}</small></h4>

      <label>{{ "STOCK.ENTRY.ENTRY_DATE" | translate }}</label>  {{ session.timestamp | date }}

      <table class="reportTable">
        <thead>
          <tr>
            <th>{{ "COLUMNS.TRACKING_NUMBER" | translate }}</th>
            <th>{{ "COLUMNS.LOT_NUMBER" | translate }}</th>
            <th>{{ "COLUMNS.INVENTORY_CODE" | translate }}</th>
            <th>{{ "COLUMNS.PURCHASE_PRICE" | translate }}</th>
            <th>{{ "COLUMNS.PURCHASE_DATE" | translate }}</th>
            <th>{{ "COLUMNS.EXPIRATION_DATE" | translate }}</th>
            <th>{{ "COLUMNS.QUANTITY" | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="movement in receipt.data | orderBy:'code'">
            <td>{{ movement.tracking_number }}</td>
            <td>{{ movement.lot_number }}</td>
            <td>{{ movement.code }}</td>
            <td ng-bind-html="lot.purchase_price | intlcurrency:project.currency_id"></td>
            <td>{{ lot.date | date }}</td>
            <td>{{ lot.expiration_date | date }}</td>
            <td>{{ lot.quantity }}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th colspan="6">
              <span class="glyphicon glyphicon-list-alt"></span>
              {{ session.lots.length }}
            </th>
            <th>{{ session.totals.quantity }}</th>
          </tr>
        </tfoot>
      </table>

      <div class="signatures">
        <h5>{{ "TRIAL_BALANCE.SIGNATURES" | translate }}</h5>

        <div class="signature-box">
          <label>{{ "TRIAL_BALANCE.CHIEF_ACCOUNTANT" | translate }}</label> <label style="float: right;">{{ "UTIL.DATE" | translate }}</label>
          <div class="signature-line"></div>
        </div>

        <div class="signature-box">
          <label>{{ "TRIAL_BALANCE.FINANCE_OFFICER" | translate }}</label> <label style="float: right;">{{ "UTIL.DATE" | translate }}</label>
          <div class="signature-line"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="bar-bottom">
  <div class="pull-right">
    <button class="btn btn-sm btn-success" ng-click="submit()">
      {{ "FORM.SIGN_AND_SUBMIT" | translate }}
    </button>
  </div>
</section>
