<header data-header>
  {{ "STOCK.ENTRY.REVIEW" | translate }}
</header>

<nav>
  <div class="pull-left">
    <ol class="breadcrumb">
      <li><span class="glyphicon glyphicon-home"></span></li>
      <li><a href="#/stock/">{{ "STOCK.MAIN.TITLE" | translate }}</a></li>
      <li><a href="#/stock/entry/start/">{{ "STOCK.ENTRY.TITLE" | translate }}</a></li>
      <li><a href="#/stock/entry/report/">{{ "STOCK.ENTRY.REPORT" | translate }}</a></li>
    </ol>
  </div>

  <div class="pull-right">
    <button class="btn btn-sm btn-default" ng-click="print()">
      <span class="glyphicon glyphicon-print"></span>
      {{ "UTIL.PRINT" | translate }}
    </button>
  </div>
</nav>

<div class="report" style="height:calc(100% - 87px);">
  <div class="reportBody">
    <div class="reportFrame">
      <h4>{{ "STOCK.ENTRY.ENTRY_MANIFEST" | translate }} <small class="pull-right"> {{ session.documentId }}</small></h4>

      <label>{{ "STOCK.ENTRY.ENTRY_DATE" | translate }}</label>  {{ session.timestamp | date }}

      <table class="reportTable">
        <thead>
          <tr>
            <th>{{ "COLUMNS.DEPOT" | translate }}</th>
            <th>{{ "COLUMNS.TRACKING_NUMBER" | translate }}</th>
            <th>{{ "COLUMNS.LOT_NUMBER" | translate }}</th>
            <th>{{ "COLUMNS.INVENTORY_CODE" | translate }}</th>
            <th>{{ "COLUMNS.PURCHASE_DATE" | translate }}</th>
            <th>{{ "COLUMNS.EXPIRATION_DATE" | translate }}</th>
            <th>{{ "COLUMNS.QUANTITY" | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="movement in receipt.data | orderBy:'code'">
            <td>{{ movement.text }}</td>
            <td>{{ movement.tracking_number }}</td>
            <td>{{ movement.lot_number }}</td>
            <td>{{ movement.code }}</td>
            <td>{{ movement.date | date }}</td>
            <td>{{ movement.expiration_date | date }}</td>
            <td>{{ movement.quantity }}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th colspan="6">
              <span class="glyphicon glyphicon-list-alt"></span>
              {{ receipt.data.length }}
            </th>
            <th>{{ session.total }}</th>
          </tr>
        </tfoot>
      </table>

      <div class="signatures">
        <h5>{{ "TRIAL_BALANCE.SIGNATURES" | translate }}</h5>

        <div class="signature-box">
          <label>{{ "SIGNATURES.WAREHOUSE_MANAGER" | translate }}</label> <label style="float: right;">{{ "UTIL.DATE" | translate }}</label>
          <div class="signature-line"></div>
        </div>

      </div>
    </div>
  </div>
</div>
