<header data-header>
  {{ "STOCK.ENTRY.TITLE" | translate }}
</header>

<div class="content">
  <div class="row">

    <div class="col-xs-4">
      <div class="panel panel-default square" ng-class="{'panel-success': !!find.valid, 'panel-danger': find.valid==false}" ng-switch="find.valid">
        <div class="panel-heading" ng-click="find.fn.activate()" ng-class="{ 'action' : !find.active }">
          <span>{{ session.cfg.order_id || "STOCK.ENTRY.FIND_PURCHASE_ORDER" | translate }}</span>
          <span class="pull-right glyphicon" ng-class="{'glyphicon-list-alt' : !!find.active, 'glyphicon-refresh' : !find.active}"></span>
        </div>
        <div ng-if="!!find.active">
          <div class="form-group" style="margin-bottom:0;">
            <div class="input-group">
              <input type="text" class="form-bhima" ng-model="session.order" typeahead="order as order.label for order in names.data | filter:$viewValue | limitTo: 8">
              <span class="input-group-btn btn btn-sm btn-default square" ng-click="find.fn.commit(session.order)">
                <span class="glyphicon glyphicon-find"></span>
                {{ "STOCK.ENTRY.SELECT" | translate }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-8">
      <form class="form-horizontal form-condensed">

        <div class="col-xs-4">
          <div class="form-group">
            <label class="control-label col-xs-6">{{ "COLUMNS.PURCHASE_ORDER" | translate }}</label>
            <p class="form-control-static col-xs-6">{{ session.cfg.label }}</p>
          </div>

          <div class="form-group">
            <label class="control-label col-xs-6">{{ "COLUMNS.ORDER_DATE" | translate }}</label>
            <p class="form-control-static col-xs-6">{{ session.cfg.order_date | date }}</p>
          </div>
        </div>

        <div class="col-xs-6">
          <div class="form-group">
            <label class="control-label col-xs-6">{{ "STOCK.ENTRY.REQUESTED_BY" | translate }}</label>
            <p class="form-control-static col-xs-6">{{ session.cfg.employee_name }}</p>
          </div>

          <div class="form-group">
            <label class="control-label col-xs-6">{{ "STOCK.ENTRY.NUM_ITEMS" | translate }}</label>
            <p class="form-control-static col-xs-6">{{ session.order.data.length }}</p>
          </div>
        </div>

      </form>
    </div>
  </div>

  <div class="row col-xs-12">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th style="width:3%;"><span class="glyphicon glyphicon-th"></span></th>
          <th>{{ "COLUMNS.INVENTORY_CODE" | translate }}</th>
          <th>{{ "COLUMNS.LABEL" | translate }}</th>
          <th>{{ "COLUMNS.GROUP" | translate }}</th>
          <th>{{ "COLUMNS.QUANTITY" | translate }}</th>
          <th>{{ "COLUMNS.UNIT_PRICE" | translate }}</th>
          <th>{{ "COLUMNS.TOTAL_PRICE" | translate }}</th>
          <th style="width:3%;">{{ "COLUMNS.ACTIONS" | translate }}</th>
        </tr>
      </thead>
      <tbody ng-repeat-start="drug in session.order.data | orderBy:'code'">
        <tr ng-class="{'highlight-grey' : !drug.isCollapsed }">
          <td><a ng-click="expand(drug)" class="action"><span class="glyphicon" ng-class="{ 'glyphicon-circle-arrow-right' : !!drug.isCollapsed, 'glyphicon-circle-arrow-up': !drug.isCollapsed }"></span></a></td>
          <td>{{ drug.code }}</td>
          <td>{{ drug.text }}</td>
          <td>{{ drug.name }}</td>
          <td>{{ drug.quantity }}</td>
          <td ng-bind-html="drug.unit_price | intlcurrency:drug.currency_id"></td>
          <td ng-bind-html="drug.quantity * drug.unit_price | intlcurrency:drug.currency_id"></td>
          <td>
            <div ng-show="!drug.isCollapsed">
              <a ng-click="addLot(drug)" class="action" style="margin: 0 5px;"><span class="glyphicon glyphicon-plus"></span></a>
              <a ng-click="toggleEdit(drug)" class="action" ng-disabled="!drug.validLots"><span class="glyphicon" ng-class="{ 'glyphicon-floppy-disk' : drug.edittable, 'glyphicon-pencil' : !drug.edittable }"></span></a>
            </div>
          </td>
        </tr>
      </tbody>
      <tbody ng-repeat-end>

        <!-- header row -->

        <tr ng-class="{ 'row-collapse' : drug.isCollapsed, 'success' : drug.validLots }">
          <th colspan="3">
            <div collapse="drug.isCollapsed"><span class="glyphicon" ng-class="{ 'glyphicon-ok-circle' : drug.validLots }"></span></div>
          </th>
          <th><div collapse="drug.isCollapsed">{{ "COLUMNS.LOT_NUMBER" | translate }}</div></th>
          <th><div collapse="drug.isCollapsed">{{ "COLUMNS.QUANTITY" | translate }}</div></th>
          <th colspan="3"><div collapse="drug.isCollapsed">{{ "COLUMNS.EXPIRATION_DATE" | translate }}</div></th>
        </tr>

        <!-- data rows -->

        <tr ng-repeat="lot in drug.lots.data" ng-class="{ 'row-collapse' : drug.isCollapsed }">
          <td colspan="3"></td>
          <td>
            <div collapse="drug.isCollapsed">
              <input ng-model="lot.lot_number" ng-if="drug.edittable">
              <div ng-if="!drug.edittable">{{ lot.lot_number }}</div>
            </div>
          </td>
          <td>
            <div collapse="drug.isCollapsed">
              <input ng-model="lot.quantity" type="number" ng-if="drug.edittable">
              <span ng-if="!drug.edittable">{{ lot.quantity }}</span>
            </div>
          </td>
          <td colspan="2">
            <div collapse="drug.isCollapsed">
              <input ng-model="lot.expiration_date" type="date" ng-if="drug.edittable">
              <span ng-if="!drug.edittable">{{ lot.expiration_date | date }}</span>
            </div>
          </td>
          <td style="text-align: right;">
            <div collapse="drug.isCollapsed">
              <a ng-click="removeLot(drug, $index)" class="action danger">
                <span class="glyphicon glyphicon-trash"></span>
              </a>
            </div>
          </td>
        </tr>

        <!-- footer row -->

        <tr ng-class="{ 'row-collapse' : drug.isCollapsed }">
          <th colspan="4"><div collapse="drug.isCollapsed"><span class="glyphicon glyphicon-stats"></span></div></th>
          <th>
            <div collapse="drug.isCollapsed" ng-class="{ 'error' : drug.totalQuantity > drug.quantity }">
              {{ drug.totalQuantity }}
            </div>
          </th>
          <th colspan="3">
            <div collapse="drug.isCollapsed">
              {{ drug.lots.data.length }}
            </div>
          </th>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="4">{{ "COLUMNS.SUMMARY" | translate }}</th>
          <th colspan="2">{{ session.totals.quantity }}</th>
          <th colspan="2">{{ session.totals.price | currency }}</th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>

<section class="bar-bottom">
  <div class="pull-right">
    <button class="btn btn-sm btn-success square" ng-disabled="!session.valid" ng-click="review()">
      {{ "STOCK.ENTRY.REVIEW" | translate }}
    </button>
  </div>
</section>
