.nav, .pagination, .carousel a { cursor: pointer; }

.hide {
  display: none;
}

.table-container {
  height: 100%;
}

#bika-view {
  height: 675px;
}

.tbody {
  display: block;
  overflow: scroll;
  height: 500px;
  width: 100%;
  max-height: 500px;
}
