<link rel="stylesheet" type="text/css" href="../css/transaction.css"/>
<div class="row">
	<div class="col-md-6">
		Accounts : <select class="form-control" ng-model="a_select" ng-options="account.id+' - '+account.account_txt for account in account_model"></select>
	</div>
	<div class="col-md-3">
		Date From : <select class="form-control" ng-model="df_select" ng-options="period.period_start for period in periodFroms"></select>
	</div>
	<div class="col-md-3">
		Date To : <select class="form-control" ng-model="dt_select" ng-options="period.period_stop for period in periodTos"></select>
	</div>
</div><br/>
<div class="row" id="tabtransactionID">
	<div class="col-md-12">
		<div class="table-responsive">
			<table class="table table-bordered  table-striped table-hover">
				<thead>
					<tr>
						<th>Num Trans</th>
						<th>id</th>
						<th>Desciption</th>
						<th>Account ID</th>
						<th>Debit</th>
						<th>Credit</th>
						<th>Symbol</th>
						<th>Rate</th>
						<th>Date</th>
					</tr>
				</thead>
				<tbody>
				<!--This is populated with angular-->
					<tr ng-repeat="infotrans in infostran">
						<td>{{infotrans.transaction_id}}</td>
						<td>{{infotrans.id}}</td>
						<td>{{infotrans.desc}}</td>
						<td>{{infotrans.account_id}}</td>
						<td>{{infotrans.debit}}</td>
						<td>{{infotrans.credit}}</td>
						<td>{{infotrans.symbol}}</td>
						<td>{{infotrans.rate}}</td>
						<td>{{infotrans.date}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<div class ="container" id="divactionID"><button id="addID" class="btn btn-success btn-sm">Add</button></div>
