<link rel="stylesheet" type="text/css" href="../css/transaction.css"/>
<div>
	Accounts : <select class="selects" ng-model="a_select" ng-options="account.id+' - '+account.account_txt for account in account_model"></select>
	Date From : <select class="selects" ng-model="df_select" ng-options="period.period_start for period in periodFroms"></select>
	Date To : <select class="selects" ng-model="dt_select" ng-options="period.period_stop for period in periodTos"></select>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="table-responsive">
			<table class="table table-bordered  table-striped table-hover">
				<thead>
					<tr>
						<th>Num Trans</th>
						<th>id</th>
						<th>Desciption</th>
						<th>Account ID</th>
						<th>Debit</th>
						<th>Credit</th>
						<th>Symbol</th>
						<th>Date</th>
					</tr>
				</thead>
				<tbody>
				<!--This is populated with angular-->
					<tr ng-repeat="infotrans in infostran">
						<td>i</td>
						<td>d</td>
						<td>f</td>
						<td>i</td>
						<td>d</td>
						<td>f</td>
						<td>i</td>
						<td>d</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
