<link rel="stylesheet" type="text/css" href="../css/transactionform.css"/>
<div class="container">
	<div class="row">
		<div class="container col-xs-3">
			<label>
				Date transaction : <input class="form-control" type="date"/>
			</label>
			<label>
				Currency : <select class="form-control" ng-model="currenceSelected" ng-options="currency.name+' - '+currency.symbol for currency in currencies"></select>
			</label>
			<label>
				Description :<input class="form-control" type="textbox"/>
			</label>
			<div class="checkbox">
				<label>
					Operation Diverse <input type="checkbox"/>
				</label>
			</div>
		</div>
	</div><br/>
	<div class"container">
		<div class="row">
			<div class = "col-xs-8 container" id="tabcompteID" >
				<small>Cocher les comptes concernes par la transaction</small>
				<table class="table table-bordered table-condensed table-striped table-hover uniform">
					<thead>
						<tr><th>Selected</th><th>Account Texte</th><th>Account Code</th></tr>
					</thead>
					<tbody>
						<tr ng-repeat="compte in comptes">
							<td align="center">
								<input ng-model="compte.sltd" type="checkbox"/>
							</td>
							<td>
								{{compte.account_txt}}
							</td>
							<td>
								{{compte.id}}
							</td>
						</tr>
					</tbody>
				</table>
			</div>			
		</div>	
		<div id="divactionID"><button class="btn btn-success btn-sm" ng-click="showDialog()">suivant</button></div>
	</div>	
</div>

