<div class="modal-content" style="width: 50%; margin: 10% auto; display:block; z-index:9999;">
  <div class="modal-header">
    <h3>New Transaction</h3>
  </div>
  <div class="modal-body">
    <form role="form" class="form-horizontal" name="addTransaction" novalidate>
      
      <div class="form-group" ng-repeat="champ in champs">
        <label class="col-xs-2 control-label"> {{champ.text}}</label>
        <div class="col-xs-5">
          <input 
            class="form-control"
            placeholder="Debit du compte : e.g. 100000"
            type="text"
            model="debit"
            >
        </div>

        <div class="col-xs-5">
          <input 
            class="form-control"
            placeholder="Credit du compte :e.g. 100000"
            type="text"
            model="credit"
            >
        </div>
      </div>  

    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" ng-click="close()">Close</button>
    <button class="btn btn-primary" ng-click="submit()">Save changes</button>
  </div>
</div>
