<header>
  {{ 'PRIMARY_CASH.TITLE' | translate }}
</header>

<section class="top-nav underline">
  <div class="pull-right">
    <select class="form-kapok">

    </select>
  </div>
  
  <!-- FIXME style hack -->
  <div 
    class="pull-right"
    style="padding-right: 10px; margin-top: 6px;">
    {{ 'PRIMARY_CASH.CONFIGURE' | translate }} 
  </div>

</section>

<div class="content">
  <div class="row">
    <div class="col-xs-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          {{ 'PRIMARY_CASH.INCOME' | translate }}
        </div>

        <div class="panel-body">

        </div>
      </div>
    </div>

    <div class="col-xs-6">
      <div class="panel panel-default"> 
        <div class="panel-heading">
          {{ 'PRIMARY_CASH.EXPENSE' | translate }}
        </div>

        <div class="panel-body">

        </div>
      </div>
    </div>
  </div>
</div>
