<!-- TODO -->

<header data-header>
  {{ "DISTRIBUTION.TITLE" | translate }}
</header>

<nav>
  <div class="pull-left">
    <ol class="breadcrumb" style="float: right;">
      <li><span class="glyphicon glyphicon-home"></span></li>
      <li><a tabindex="-1" href="#/stock/">{{ "STOCK.MAIN.TITLE" | translate }}</a></li>
      <li><a tabindex="-1" href="">{{ "STOCK.DISTRIBUTE" | translate }}</a></li>
    </ol>
  </div>
  
  <div class="pull-right" style="margin-top: 1px">
    <span ><b>{{depot.reference ? '[' + depot.reference + ']' : ''}} </b>
      {{depot.text}}</span>
  </div>
</nav>

<main>

<!-- Section Header -->
  <div 
    class="row"
    ng-repeat-start="section in moduleDefinition">
    <div 
      class="col-xs-12"  
      style="padding-bottom : 5px; margin-bottom: 5px;">
      <div class="underline">
        <span 
          class="label"
          ng-class="
            {'label-success' : session.index===$index,
             'label-primary' : session.index<$index,
             'label-default' : session.index>$index
            }">
          {{$index + 1}}</span> 
        <span ng-class="{'strike' : session.index>$index}">{{section.title}}</span>
      </div>
    </div>
  </div>

  <!-- Section Body -->
  <!-- ng-if="session.currentModule > $index" -->
  <ng-include 
    ng-if="session.index >= $index"
    ng-repeat-end
    src="section.template"></ng-include>
</main>

<footer>
  <div class="pull-right">
    <a ng-disabled="!session.lotSelectionSuccess" ng-click="submit()" class="btn btn-default"><span class="glyphicon glyphicon-floppy-open"></span> {{ "DISTRIBUTION.SUBMIT" | translate }}</a>
  </div>
</footer>

<script type="text/ng-template" id="patientSearch.tmpl.html">
  <div class="row">
    <div class="col-xs-12">
      <div find-patient on-search-complete="initialiseDistributionDetails" data-enable-refresh="false"></div>
    </div>
  </div>
</script>

<script type="text/ng-template" id="selectSale.tmpl.html">
  <!-- Section complete -->
  <div ng-if="session.index>$index">
    <table class="table table-condensed table-bordered">
      <thead>
        <tr>
          <th>Sale</th>
          <th>Date</th>
          <th>Sale Status</th>
          <th>Sale Balance</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td width="10%"><b>'{{session.sale.abbr}} {{session.sale.reference}}'</b></td>
          <td width="20%">{{session.sale.trans_date | date}}</td>
          <td width="50%">
            <div>
              <div ng-if="session.sale.balance===session.sale.debit">
                <span 
                class="glyphicon"
                ng-class="{
                  'glyphicon-remove-sign error' : true
                }"
                ></span> Invoice has not been payed
              </div>
            
              <div ng-if="session.sale.balance===0">
                <span 
                class="glyphicon"
                ng-class="{
                  'glyphicon-ok-sign correct' : true
                }"
                ></span> Invoice has been fully payed
              </div>

              <div ng-if="session.sale.balance!==0&&session.sale.balance<session.sale.debit">
                <span 
                class="glyphicon"
                ng-class="{
                  'glyphicon-minus-sign warn' : true
                }"
                ></span> Invoice has been partially payed
              </div>
            </div>
          </td>
          <td width="20%">{{session.sale.balance | currency}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Section active -->
  <div ng-if="session.index===$index">
    <div class="row">
      <div class="col-xs-12">
        <div class="alert alert-info">
          <span class="glyphicon glyphicon-info-sign"></span> Showing all sales for patient <b>{{session.patient.name}}</b>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        
        
        <div class="panel panel-default">
          <div class="panel-heading">
            <span class="glyphicon glyphicon-th-list"></span> Available Prescriptions
          </div>

          <div class="panel-body">
            <div class="panel panel-default" ng-repeat="item in ledger.data | orderBy:['consumed', '-trans_date']">
              <div class="panel-body">
                <div class="pull-right">
                <span 
                  class="glyphicon"
                  ng-class="{
                    'glyphicon-ok-sign correct' : !item.consumed,
                    'glyphicon-minus-sign warn' : item.consumed}"></span>
                  <span>{{(item.consumed ? 'DISTRIBUTION.CONSUMED' : 'DISTRIBUTION.NOT_CONSUMED') | translate}}</span>
                </div>
                <table class="table table-condensed table-bordered">
                  <thead>
                    <tr>
                      <th>Sale</th>
                      <th>Date</th>
                      <th>Sale Status</th>
                      <th>Sale Balance</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                      <td width="10%"><b>'{{item.abbr}} {{item.reference}}'</b></td>
                      <td width="20%">{{item.trans_date | date}}</td>
                      <td width="50%">
                        <div>
                          <div ng-if="item.balance===item.debit">
                            <span 
                            class="glyphicon"
                            ng-class="{
                              'glyphicon-remove-sign error' : true
                            }"
                            ></span> Invoice has not been payed
                          </div>
                        
                          <div ng-if="item.balance===0">
                            <span 
                            class="glyphicon"
                            ng-class="{
                              'glyphicon-ok-sign correct' : true
                            }"
                            ></span> Invoice has been fully payed
                          </div>

                          <div ng-if="item.balance!==0&&item.balance<item.debit">
                            <span 
                            class="glyphicon"
                            ng-class="{
                              'glyphicon-minus-sign warn' : true
                            }"
                            ></span> Invoice has been partially payed
                          </div>
                        </div>
                      </td>
                      <td width="20%">{{item.balance | currency}}</td>
                    </tr>
                  </tbody>
                </table>
              
                <div ng-if="!item.consumed">
                  <button 
                    ng-click="selectSale(item)"
                    class="btn btn-default btn-sm"><span class="glyphicon glyphicon-circle-arrow-right correct"></span> Select sale for distribution</button>
                  <button class="btn btn-default btn-sm">View sale details</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</script>

<script type="text/ng-template" id="allocateLot.tmpl.html">
  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="glyphicon glyphicon-list"></span> Assign lots
    </div>

    <div class="panel-body">
      <table 
        class="table table-bordered"
        ng-repeat="inventoryItem in session.sale.details | orderBy:'-consumable'">
        <thead>
        </thead>

        <tbody>
          <tr 
            ng-class="{'invalid' : !inventoryItem.consumable}"
            >
            <td colspan="2">
              <span class="glyphicon glyphicon-tag"></span> 
              <span 
                ng-if="inventoryItem.consumable"><b>{{inventoryItem.quantity}} x </b></span> 
              <span>{{inventoryItem.text}} </span>
              <span ng-if="!inventoryItem.consumable">(Not consumable)</span>
            </td>
          </tr>
        
          <tr ng-if="inventoryItem.stockStatus">
            <td colspan="2">
              <span class="glyphicon {{inventoryItem.stockStatus.icon}}"></span> {{inventoryItem.stockStatus.alert}}
            </td>
          </tr>

          <tr 
            ng-if="inventoryItem.recomendedLots">
            <td><span class="glyphicon glyphicon-ok-sign correct"></span> <b>Recomended Lot</b></td> 
            <td><b>Quantity <small>(Selected from lot)</small></b></td>
          </tr>

          <tr 
            ng-if="inventoryItem.recomendedLots"
            ng-repeat="recomended in inventoryItem.recomendedLots">
            <td>
              <table class="reportTable">
                <tbody>
                  <tr>
                    <td width="30%">Lot Number</td><td>{{recomended.details.lot_number}}</td>
                  </tr>
                  <tr>
                    <td width="30%">Quantity Remaining</td><td>{{recomended.details.quantity}}</td>
                  </tr>
                  <tr>
                    <td width="30%">Expiration Date</td><td>{{recomended.details.expiration_date | date}}</td>
                  </tr>
                </tbody>
              </table>
            <td>{{recomended.quantity}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</script>

<script type="text/ng-template" id="newfile.html">
  <p>Included</p>
</script>
