<!-- TODO -->

<header data-header>
  {{ "DISTRIBUTION.TITLE" | translate }}
</header>

<nav>
  <div class="pull-left">
    <ol class="breadcrumb" style="float: right;">
      <!-- <span class="label label&#45;success square">{{ "UTIL.NAVIGATION" | translate }}</span> -->
      <li><span class="glyphicon glyphicon-home"></span></li>
      <li><a href="#/stock/">{{ "STOCK.MAIN.TITLE" | translate }}</a></li>
      <li><a href="">{{ "STOCK.DISTRIBUTE" | translate }}</a></li>
    </ol>
  </div>
  
  <div class="pull-right" style="margin-top: 1px">
    <span ><b>{{depot.reference ? '[' + depot.reference + ']' : ''}} </b>
      {{depot.text}}</span>
  </div>
</nav>

<main>

    
  <!-- Step 1 Header -->
  <div class="row">
    <div class="col-xs-12"  style="padding-bottom : 5px; margin-bottom: 5px;">
      <div class="underline">
      <span 
        class="label"
        ng-class="{'label-primary' : session.state.key!=='init',
                   'label-success' : session.state.key==='init'}"
        >1</span> Locate patient
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">

      <div ng-include src="newfile.html"></div>

      <div find-patient on-search-complete="initialiseDistributionDetails"></div>
    </div>
  </div>

  <!-- Step 2 Header -->
  <div class="row">
    <div class="col-xs-12"  style="padding-bottom : 5px; margin-bottom: 5px;">
    <div class="underline">
      <span class="label label-primary">2</span> Select prescription sale
    </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="alert alert-info">
        <span class="glyphicon glyphicon-info-sign"></span> Showing undistributed sales for Patient
      </div>
    </div>
  </div>

  <div class="row" ng-repeat="item in ledger.data">
    <div class="col-xs-12">

      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="glyphicon glyphicon-th-list"></span> Available Prescriptions
        </div>

        <div class="panel-body">
          <div class="panel panel-danger">
            <div class="panel-body">
              
              <div class="col-xs-3">
                <b>Sale '{{item.abbr}} {{item.reference}}'</b>
              </div>
              <div class="col-xs-3" ng-switch on="somevar=1">
                

                <div ng-switch-when="1">
                  <span 
                  class="glyphicon"
                  ng-class="{
                    'glyphicon-remove-sign error' : true
                  }"
                  ></span> Invoice has not been payed
                </div>
              
                <div ng-switch-when="2">
                  <span 
                  class="glyphicon"
                  ng-class="{
                    'glyphicon-ok-sign correct' : true
                  }"
                  ></span> Invoice has been fully payed
                </div>

                <div ng-switch-when="3">
                  <span 
                  class="glyphicon"
                  ng-class="{
                    'glyphicon-minus-sign warn' : true
                  }"
                  ></span> Invoice has been partially payed
                </div>
              </div>
                
              
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- Step 3 Header -->
  <div class="row">
    <div class="col-xs-12"  style="padding-bottom : 5px; margin-bottom: 5px;">
      <div class="underline">
        <span class="label label-primary">3</span> Allocate medicine
      </div>
    </div>
  </div>

<!--  -->
<!--   <div class="row"> -->
<!--     <div class="col&#45;xs&#45;6" ng&#45;switch="ready"> -->
<!--       <div ng&#45;switch&#45;default> -->
<!--         <div class="alert alert&#45;info"> -->
<!--           <b>Information Generale sur la distribution des medicaments</b> -->
<!--           <p> -->
<!--             Les ventes aparaittront ici -->
<!--           </p> -->
<!--         </div> -->
<!--       </div> -->
<!--  -->
<!--       <div class="panel panel&#45;primary" ng&#45;switch&#45;when="ready"> -->
<!--         <div class="panel&#45;heading"> -->
<!--           {{ "DISTRIBUTION.SALE_DETAILS" | translate }} -->
<!--         </div> -->
<!--         <div class="row panel&#45;body" style="height: 180px; overflow: auto;"> -->
<!--           <div class="col&#45;xs&#45;12"> -->
<!--             <table class="table table&#45;bordered table&#45;condensed"> -->
<!--               <thead> -->
<!--                 <tr> -->
<!--                   <th>{{ "COLUMNS.REFERENCE" | translate }}</th> -->
<!--                   <th>{{ "COLUMNS.DESCRIPTION" | translate }}</th> -->
<!--                   <th>{{ "COLUMNS.DATE" | translate }}</th> -->
<!--                   <th>{{ "COLUMNS.STATE" | translate }}</th> -->
<!--                 </tr> -->
<!--               </thead> -->
<!--               <tbody> -->
<!--                 <tr ng&#45;repeat="sale in distribution.sales" ng&#45;click="add($index)" style="cursor : pointer;"> -->
<!--                   <td>{{sale.reference}}</td> -->
<!--                   <td>{{sale.description}}</td> -->
<!--                   <td>{{sale.trans_date | date}}</td> -->
<!--                   <td>{{sale.etat}}</td> -->
<!--                 </tr> -->
<!--               </tbody> -->
<!--             </table> -->
<!--           </div> -->
<!--         </div> -->
<!--       </div> -->
<!--     </div> -->
<!--     <div class="col&#45;xs&#45;6"> -->
<!--       <div class="panel panel&#45;primary"> -->
<!--           <div class="panel&#45;heading" > -->
<!--             {{ "DISTRIBUTION.SELECTED_SALE_DETAILS" | translate }} <b>:{{selectedSale.reference}}</b><span ng&#45;click="remove()" class="glyphicon glyphicon&#45;repeat pull&#45;right" style="cursor : pointer;"></span> -->
<!--           </div> -->
<!--  -->
<!--           <div class="col&#45;xs&#45;12 panel&#45;body" style="height: 180px; overflow: auto;"> -->
<!--             <table class="table table&#45;bordered table&#45;condensed"> -->
<!--               <thead> -->
<!--                 <tr> -->
<!--                   <th>{{ "COLUMNS.CODE" | translate }}</th> -->
<!--                   <th>{{ "COLUMNS.ITEM" | translate }}</th> -->
<!--                   <th>{{ "COLUMNS.QTY_ASKED" | translate }}</th> -->
<!--                   <th>{{ "COLUMNS.QTY_AVAIL" | translate }}</th> -->
<!--                   <th>{{ "COLUMNS.AVAILABLE" | translate }}</th> -->
<!--                 </tr> -->
<!--               </thead> -->
<!--               <tbody> -->
<!--                 <tr -->
<!--                   ng&#45;repeat="item in selectedSale.sale_items" -->
<!--                   ng&#45;click="add($index)" -->
<!--                   style="cursor : pointer;" -->
<!--                   ng&#45;class="{'incomplete&#45;outline': item.avail=='NO', 'complete&#45;outline': item.avail=='YES'}"> -->
<!--                   <td>{{item.code}}</td> -->
<!--                   <td>{{item.text}}</td> -->
<!--                   <td>{{item.quantity}}</td> -->
<!--                   <td>{{item.stock}}</td> -->
<!--                   <td><b>{{item.avail}}</b></td> -->
<!--                 </tr> -->
<!--               </tbody> -->
<!--             </table> -->
<!--           </div> -->
<!--       </div> -->
<!--     </div> -->
<!--   </div> -->
<!--  -->
<!--   <div class="panel panel&#45;primary"> -->
<!--     <div ng&#45;click="distribution.visible=!distribution.visible" class="panel&#45;heading"> -->
<!--       {{ "DISTRIBUTION.LOT_DETAILS" | translate }} -->
<!--       <div class="pull&#45;right"> -->
<!--         <span  class="glyphicon" ng&#45;class="{'glyphicon&#45;eye&#45;close': !distribution.visible, 'glyphicon&#45;eye&#45;open': distribution.visible}"></span> -->
<!--       </div> -->
<!--     </div> -->
<!--     <div ng&#45;show="distribution.visible"> -->
<!--       <div class="row"> -->
<!--         <div class="col&#45;xs&#45;12"> -->
<!--           <table class="table table&#45;bordered table&#45;condensed"> -->
<!--             <thead> -->
<!--               <tr ng&#45;show="resolve()"> -->
<!--                 <th colspan="4"><small style="color : red;"><b>{{'DISTRIBUTION.EMPTY_MESSAGE' | translate}}</b></small></th> -->
<!--               </tr> -->
<!--               <tr> -->
<!--                 <th>{{ "COLUMNS.CODE_ITEM" | translate }}</th> -->
<!--                 <th>{{ "COLUMNS.DESCRIPTION" | translate }}</th> -->
<!--                 <th>{{ "COLUMNS.LOT" | translate }}</th> -->
<!--               </tr> -->
<!--             </thead> -->
<!--             <tbody> -->
<!--               <tr ng&#45;repeat="item in selectedSale.sale_items"> -->
<!--                 <td>{{item.code}}</td> -->
<!--                 <td>{{item.text}}</td> -->
<!--                 <td> -->
<!--                   <!&#45;&#45;select -->
<!--                     required -->
<!--                     class="form&#45;bhima" -->
<!--                     name="lotname" -->
<!--                     id="lotID" -->
<!--                     ng&#45;model="item.tracking_number" -->
<!--                   > -->
<!--                   <option ng&#45;repeat="lot in item.lots" value='{{lot.tracking_number}}' ng&#45;selected="{{lot.setted==true}}">{{lot.tracking_number}} &#45; {{lot.expiration_date | date}} &#45; {{lot.quantity}}<input type"checkbox"/></option> -->
<!--                   </select&#45;&#45;> -->
<!--  -->
<!--                   <div id="checkboxlistID" style="border:0px; background&#45;color:#fff; color:#000; width:100%; height: 80px; overflow&#45;y: scroll;"> -->
<!--                     <div ng&#45;repeat="lot in item.lots"> -->
<!--                       <label> -->
<!--                       <input type="checkbox" ng&#45;model="lot.setted" ng&#45;change="checkStockAvailability(lot)"/> -->
<!--                         <span>{{lot.tracking_number}} &#45; {{lot.expiration_date | date}} &#45; {{lot.quantity}}</span> -->
<!--                       </label> -->
<!--                     </div> -->
<!--                   </div> -->
<!--  -->
<!--                   <!&#45;&#45;div class="col&#45;xs&#45;12"  > -->
<!--  -->
<!--                     <button class="btn btn&#45;sm btn&#45;primary dropdown&#45;toggle"> -->
<!--                       {{ item.lots[0].tracking_number || "S" | translate }} -->
<!--                       <span class="caret" data&#45;caret="&#38;#9660;"></span> -->
<!--                     </button> -->
<!--                     <ul class="dropdown&#45;menu"> -->
<!--                       <li ng&#45;repeat="lot in item.lots"> -->
<!--                         <label> -->
<!--                           <input type="checkbox" ng&#45;model="lot.isSelected"> -->
<!--                             <span>{{lot.tracking_number}} &#45; {{lot.expiration_date | date}} &#45; {{lot.quantity}}</span> -->
<!--                         </label> -->
<!--                       </li> -->
<!--                     </ul> -->
<!--                   </div&#45;&#45;> -->
<!--                 </td> -->
<!--               </tr> -->
<!--             </tbody> -->
<!--           </table> -->
<!--         </div> -->
<!--       </div> -->
<!--     </div> -->
<!--   </div> -->
</main>

<footer>
  <div class="pull-right">
    <a ng-disabled="verifySubmission()" ng-click="submit()" class="btn btn-default"><span class="glyphicon glyphicon-floppy-open"></span> {{ "DISTRIBUTION.SUBMIT" | translate }}</a>
  </div>
</footer>

<script type="text/ng-template" id="/newfile.html">
  <p>A thing</p>
</script>
