<header>
  {{ 'COST_CENTER.TITLE' | translate }}
</header>


<section class="top-nav">
  <div class="pull-left">
    <ol class="breadcrumb" style="float: right;">
      <span class="label label-success square">{{ "COST_CENTER.NAVIGATION" | translate }}</span>
      <li><a href="#/cost_center">{{ "COST_CENTER.TITLE" | translate }}</a></li>
    </ol>
  </div>
</section>

<div class="content">

  <div class="row" style="margin-top: 10px">
    <div class="col-xs-6">

      <div class="panel panel-default square">
        <div class="panel-heading square">
          <span class="glyphicon glyphicon-import"></span> {{ 'COST_CENTER.OPERATION' | translate }}
        </div>

        <div class="panel-body">
          <ul class="primary_cash_list">
            <li ng-repeat="item in configuration.operations">
              <span style="color: rgb(7, 150, 35);" class="glyphicon glyphicon-thumbs-up"></span>
              <a class="menu-item" ng-click="loadPath(item.link)">{{item.key | translate}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-xs-6">
    </div>
  </div>
</div>





