<link rel="stylesheet" href="partials/cost_center/cost_center.css"/>


<header>
  <span>Cost Center</span>
</header>

<section class="underline">
  <div class="pull-right">

    <a href="#/cost_center/center/" class="capital btn btn-default btn-sm"><span class="glyphicon glyphicon-tag"></span>Create Analysis Center</a>

    <a href="#/cost_center/assigning/" class="capital btn btn-default btn-sm"><span class="glyphicon glyphicon-tag"></span>Secondary Assigning</a>

  </div>
</section>

<div class="content">
	<div class="row">
	</div>	
</div>




