<div  style="margin-top: 5em;">
  <div class="col-sm-offset-4 col-xs-4" style="margin-top:5%;">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="pull-right dropdown">
          <a class="btn btn-sm btn-default dropdown-toggle" style="color:#000;"><i class="glyphicon glyphicon-cog"></i></a>
          <ul class="dropdown-menu">
            <li ng-repeat="lang in LoginCtrl.languages track by lang.key">
              <a ng-click="LoginCtrl.setLanguage(lang)">{{ lang.name }}</a>
            </li>
          </ul>
        </div>
        <h6>{{ "AUTH.LOGIN_TO_BHIMA" | translate }}</h6>
      </div>
      <div class="panel-body">

        <form name="LoginForm" ng-submit="LoginCtrl.login(LoginForm.$invalid, LoginCtrl.credentials)" novalidate>

          <!-- display the server-sent error as an alert -->
          <div class="alert alert-danger" ng-if="!!LoginCtrl.error">
            <strong><i class="glyphicon glyphicon-exclamation-sign"></i> {{ LoginCtrl.error | translate }}</strong>
          </div>

          <!-- client-side validation error: requires both username and password -->
          <div class="alert alert-danger" ng-if="LoginForm.$submitted && LoginForm.$invalid">
            <b><i class="glyphicon glyphicon-exclamation-sign"></i> {{ "AUTH.ERR_MISSING_DATA" | translate }}</b>
          </div>

          <fieldset>
            <div class="form-group">
              <label for="username">{{ "COLUMNS.USERNAME" | translate }}</label>
              <div class="input-group">
                <span class="input-group-addon" style="background-color: #fff;">
                  <span class="glyphicon glyphicon-user"></span>
                </span>
                <input name="username" ng-model="LoginCtrl.credentials.username" class="form-bhima" placeholder="{{ 'AUTH.LOGIN_PLACEHOLDER_USERNAME' | translate }}" type="text" autofocus required />
              </div>
            </div>

            <div class="form-group">
              <label for="password">{{ "COLUMNS.PASSWORD" | translate }}</label>
              <div class="input-group">
                <span class="input-group-addon" style="background-color: #fff;">
                  <span class="glyphicon glyphicon-lock"></span>
                </span>
                <input name="password" ng-model="LoginCtrl.credentials.password" class="form-bhima" placeholder="{{ 'AUTH.LOGIN_PLACEHOLDER_PASSWORD' | translate }}" "" type="password" required />
              </div>
            </div>

            <div class="form-group">
              <label for="password">{{ "COLUMNS.PROJECT" | translate }}</label>
              <div class="input-group">
                <span class="input-group-addon" style="background-color: #fff;">
                  <i class="glyphicon glyphicon-home"></i>
                </span>
                <select name="project" class="form-bhima" ng-model="LoginCtrl.credentials.project" ng-options="proj.id as proj.name for proj in LoginCtrl.projects">
                  <option value="" disabled="disabled"> -- {{ "SELECT.PROJECT" | translate }} --</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <input id="submit" class="btn btn-sm btn-success" type="submit" value="{{ 'AUTH.LOGIN' | translate }}"/>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
