<header>
  Credit Note
</header>

<div class="content"> 
  <div class="row">
    <div class="col-xs-12">
      Sale Details
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <table class="table table-bordered table-condensed"> 
        <thead>
          <tr>
            <th>Date</th>
            <th>#</th>
            <th>Patient</th>
            <th>Total Debit</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <table class="table table-bordered table-condensed">
        <thead>
          <tr>
            <th>Description</th>
            <th>Quantity</th>
            <th>Unit Price</th>
            <th>Cost</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      Credit Note
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <table class="table table-condensed table-bordered">
        <tr>
          <th>Debtor Id</th>
          <th>Sale Reference</th>
          <th>Total Credit</th>
        </tr>
      </table>
    </div>
  </div>
</div>
