/* 
 * CSS rules to define the look of BHIMA PDF documents
 * - these styles are in development any may change significantly
 */
body { 
 
  /* Typography rules */
  font-family: 'Tinos', FreeSerif, TimesNewRoman, 'Times New Roman', Times, serif;
  font-weight : 400;
  font-size : 12px;
}

/* h1, h2, h3, h4, h5, h6 { */
  /* margin-top: 0; */
  /* margin-bottom: 2rem; */
  /* font-weight: 300; } */
/* } */
/* h1 { font-size: 4.0rem; line-height: 1.2; } */  
/* h2 { font-size: 3.6rem; line-height: 1.25;} */
/* h3 { font-size: 3.0rem; line-height: 1.3;} */
/* h4 { font-size: 2.4rem; line-height: 1.35;} */
/* h5 { font-size: 1.8rem; line-height: 1.5;} */
/* h6 { font-size: 1.5rem; line-height: 1.6;} */

html { 
  /* font-size : 62.5%; */
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 300; 
}

h1 { font-size: 1.8rem; line-height: 1.3; }  
h2 { font-size: 1.2rem; line-height: 1.35;}
h3 { font-size: 1.2rem; line-height: 1.35;}  
/* h1 { font-size: 5.0rem; line-height: 1.2; } */  
/* h2 { font-size: 4.2rem; line-height: 1.25;} */
/* h3 { font-size: 3.6rem; line-height: 1.3;} */
/* h4 { font-size: 3.0rem; line-height: 1.35;} */
/* h5 { font-size: 2.4rem; line-height: 1.5;} */
/* h6 { font-size: 1.5rem; line-height: 1.6;} */

/* h5 { font-size: 14px; } */

body { 
  color : #222;
}

#title { 
  text-align : center;
}

#heading { 
  font-weight : bold;
}

table { 
  width : 100%;  
}

thead {
  border-bottom : 2px black solid;
}

th { 
  text-align : left;
  white-space : nowrap;
  overflow : hidden;
}

tr > th { 
  padding-right : 0.5em;
}

tr > td { 
  line-height : 1.3em;
}

tr > th:last-child { 
  padding-right : 0;
}

.rowTitle { 
  text-decoration: underline;
}

.total > td { 
  background-color : grey;
  border-top : 1px solid black;
  border-bottom : 1px solid black;
}
