body {
  font-size : 12px;
}

table {
  width : 100%;
}

/*
 * Invoice table style
 */
.invoice {
  border-collapse : collapse;
  border-spacing : 0;
  border : 1px solid #9F9F9F;
  border-top : 0;
}

.invoice thead > tr > th {
  border       : 1px solid #9F9F9F;
  padding-left : 5px;
}

.invoice tbody > tr > td {
  border         : 1px solid #9F9F9F;
  vertical-align : right;
}

/*
 * Balance sheet style
 */
.balance thead > tr > th {
  border-bottom : 1px solid #9f9f9f;
  text-align    : center;
}

.variation thead > tr > th {
  border-bottom : 1px solid #9f9f9f;
  text-align    : center;
}

.variation tbody > tr > td {
  border-bottom : 1px solid #9f9f9f;
  text-align    : center;
}

.parent-backgroud {
  background-color: #F3F3F3;  
}

.parent-content{
  font-weight: bold;
}


.balance thead > tr > th,
.balance tbody > tr > td {
  margin : 0 1px; /* don't shove text right up against the border */
}

tr.outline {
  border-top : 1px solid #9f9f9f;
  border-bottom : 1px solid #9f9f9f;
}

/* TODO remove this rule */
.center-text : {
  text-align : center;
  margin: 0 auto;
}

.contenu td {
  text-align : center;
}

.total : {
  font-weight: bold;
}

.front-matter h4,
.front-matter h5 {
  text-align    : center;
  margin-bottom : 0;
}

.text-right {
  text-align : right;
}

.text-center {
  text-align : right;
}

.text-left {
  text-align : left;
}

.text-condensed {
  font-size : 0.75em;
}

.text-underline {
  text-decoration : underline;
}
