body { 
  font-size : 12px;
}

table {
  border-collapse : collapse;
  border-spacing : 0;
  border : 1px solid #9F9F9F;
  border-top : 0;
  width      : 100%;
}

table thead > tr > th {
  border       : 1px solid #9F9F9F;
  padding-left : 5px;
}

table tbody > tr > td {
  border         : 1px solid #9F9F9F;
  vertical-align : right;
}

.title {
  font-size   : 110%;
  font-weight : bold;
}
