<div class="panel panel-success" ng-controller="fiscal.create" ng-switch="step.id">
  <div class="panel-heading">
    <i class="glyphicon glyphicon-calendar"></i>
    <b>{{ 'FISCAL_YEAR.NEW' | translate }}</b> {{ 'FISCAL_YEAR.STEP' | translate }} {{ step.id }}: {{ step.key | translate }}
  </div>

  <!-- step one : set up fiscal year details -->
  <div ng-switch-when="1">
    <div class="panel-body">

      <form novalidate name="detailsForm" class="col-xs-6">

        <div class="form-group">
          <label for="fiscalNote" class="required">{{ 'FISCAL_YEAR.DESC' | translate }}</label>
          <input id="fiscalDescription" class="form-bhima" ng-model="data.fiscal_year_txt" required>
        </div>

        <div class="form-group">
          <label for="startMonth" class="required">{{ 'FISCAL_YEAR.START_MONTH' | translate }}</label>
          <input type="month" id="startMonth" class="form-bhima" ng-model="data.start" ng-change="calculateEndDate()" required >
        </div>

        <div class="form-group">
          <div class="radio">
            <label>
              <input type="radio" name="option_year" id="one" value="true" ng-model="data.year" checked>
              {{ 'FISCAL_YEAR.ONE_YEAR' | translate }}
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="option_year" id="custom" value="false" ng-model="data.year">
              {{ 'FISCAL_YEAR.SPECIFY' | translate }}
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="endMonth" class="required">{{ 'FISCAL_YEAR.END_MONTH' | translate }}</label>
          <input ng-disabled="isFullYear()" type="month" id="endMonth" class="form-bhima" ng-model="data.end" required >
        </div>

        <div class="form-group" ng-if="fiscal.data.length > 0">
          <label class="required">{{ 'FISCAL_YEAR.PREVIOUS_YEAR' | translate }}</label>
          <select class="form-bhima" ng-model="data.previous_fiscal_year" ng-options="year.id as year.fiscal_year_txt for year in fiscal.data" required>
            <option value="" disabled="disabled" selected="selected">--- {{ 'SELECT.FISCAL_YEAR' | translate }} ---</option>
          </select>
        </div>

        <button class="btn btn-sm btn-success" ng-disabled="detailsForm.$invalid" ng-click="stepTwo()">
          {{ 'UTIL.SUBMIT' | translate }}
        </button>
      </form>
    </div>
  </div>

  <!-- step 2a: Import beginning balances from previous fiscal year -->
  <div ng-switch-when="2a">
    <form class="form-horizontal" name="balanceForm">
      <div style="padding:10px;">
        <h4>{{ 'FISCAL_YEAR.CONFIG_CLOSING_ACCOUNT' | translate }}</h4>
        <p>{{ 'FISCAL_YEAR.CLOSING_ACCOUNT_MESSAGE' | translate }}</p>
      </div>

      <div class="form-group">
        <label class="col-xs-3 control-label">{{ 'FISCAL_YEAR.CLOSING_ACCOUNT' | translate }}</label>
        <div class="col-xs-5">
          <select class="form-bhima" ng-model="data.closing_account" ng-options="account.id as labelAccount(account) for account in accounts.data" rows="20" required>
            <option value="" disabled="disabled" selected="selected">--- {{ 'SELECT.ACCOUNT' | translate }} ---</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-1 col-xs-11">
          <button class="btn btn-sm btn-success" ng-disabled="balanceForm.$invalid" ng-click="submitFiscalYearData()">
            {{ 'UTIL.SUBMIT' | translate }}
          </button>
        </div>
      </div>

    </form>
  </div>

  <!-- step 2b: Create new beginning balances for a new fiscal year -->
  <div ng-switch-when="2b">
    <table class="table table-condensed" style="margin-bottom:0">
      <thead>
        <tr>
          <th style="width:15%;">{{ 'COLUMNS.ACCOUNT_NUMBER' | translate }}</th>
          <th style="width:70%;">{{ 'COLUMNS.LABEL' | translate }}</th>
          <th style="width:15%">{{ 'COLUMNS.BALANCE' | translate }}</th>
        </tr>
      </thead>
    </table>
    <div class="panel-body" style="max-height:450px;overflow-y:scroll;padding:0;">
      <table class="table table-condensed" style="font-size: 10px; margin-bottom:0;">
        <tbody>
          <tr ng-repeat="account in accounts.data">
            <th style="width:15%; border-right: 1px solid #ddd;">{{ account.account_number }}</th>
            <td style="width:70%;">
              <span ng-style="{'padding-left': (account.depth * 20) + 'px'}">{{ account.account_txt }}</span>
            </td>
            <td style="width:15%" ng-if="account.type !== 'title'">
              <input type="number" ng-model="account.balance" required>
            </td>
            <td style="width:15%" ng-if="account.type === 'title'">
            </td>
          </tr>
        </thead>
      </table>
    </div>
    <div class="panel-footer">
      <button class="btn btn-sm btn-success" ng-click="submitFiscalYearData()">
        {{ 'FISCAL_YEAR.SUBMIT_YEAR' | translate }}
      </button>
    </div>
  </div>

  <!-- step 3: report success or error -->
  <div ng-switch-when="3">
    YAY! All done!
  </div>
</div>
